.filter-ctrl {
  position: absolute !important;
  top: 16px !important;
  left: 16px !important;
  right: 16px !important;
  z-index: 1 !important;
  max-width: 480px !important;
  transition: outline 200ms ease-in-out; 
}

@media screen and (min-width: 1023px) {
  .filter-ctrl {
    top: 32px !important;
    left: 32px !important;
    right: 32px !important;
    width: 100% !important;
  }
}

.filter-ctrl input[type=text] {
  font-size: 16px;
  width: 100%;
  border: 0;
  background-color: $white;
  height: 48px;
  margin: 0;
  color: rgba(0,0,0,.5);
  padding: 16px;
  box-shadow: none !important;
  border-radius: 0;
}

.filter-ctrl input[type=text]:focus {
  outline: solid 2px $dcdw-primary;
}