@mixin grid {
	display: grid;
	grid-gap: 32px;
}

@mixin container {
	max-width: 1680px;
	margin: 0 auto !important;
}

@mixin grid-four-col {
	@include container;
	grid-template-columns: repeat(4, 1fr);
}

@mixin sub-grid-four-col {
	grid-template-columns: repeat(4, 1fr);
}
