/* quick and dirty animation pulled from here: http://codepen.io/helenvholmes/pen/pecdI */
.floaty {
  animation: floaty 4000ms ease-in-out infinite;
}

@keyframes floaty {
  50% { transform: translate(0, 40px); }
}

.reverse-floaty {
  animation: reverse-floaty 4000ms ease-in-out infinite;
}

@keyframes reverse-floaty {
  50% { transform: translate(0, -40px); }
}