// generic colors
.white {
  color: $white;
}

.black {
  color: $black;
}

.charcoal {
  color: $charcoal;
}

// generic background colors
.bg-white {
  background-color: $white;
}

.bg-black {
  background-color: $black;
}

.bg-charcoal {
  background-color: $charcoal;
}

// brand colors
.dcdw-primary {
  color: $dcdw-primary;
}

.dcdw-secondary {
  color: $dcdw-secondary;
}

.dcdw-buffered {
  color: $dcdw-buffered;
}

.dcdw-monte-carlo {
  color: $dcdw-monte-carlo;
}

.dcdw-rose-bud {
  color: $dcdw-rose-bud;
}

.dcdw-mindaro {
  color: $dcdw-mindaro;
}

.dcdw-flamingo {
  color: $dcdw-flamingo;
}

.dcdw-loblolly {
  color: $dcdw-loblolly;
}

.dcdw-mint {
  color: $dcdw-mint;
}

.dcdw-cloud {
  color: $dcdw-cloud;
}

// background brand colors
.bg-dcdw-primary {
  background-color: $dcdw-primary;
}

.bg-dcdw-secondary {
  background-color: $dcdw-secondary;
}

.bg-dcdw-buffered {
  background-color: $dcdw-buffered;
}

.bg-dcdw-monte-carlo {
  background-color: $dcdw-monte-carlo;
}

.bg-dcdw-rose-bud {
  background-color: $dcdw-rose-bud;
}

.bg-dcdw-mindaro {
  background-color: $dcdw-mindaro;
}

.bg-dcdw-flamingo {
  background-color: $dcdw-flamingo;
}

.bg-dcdw-loblolly {
  background-color: $dcdw-loblolly;
}

.bg-dcdw-mint {
  background-color: $dcdw-mint;
}

.bg-dcdw-cloud {
  background-color: $dcdw-cloud;
}