// generic colors
.white { color: $white; }
.black { color: $black; }
.charcoal { color: $charcoal; }

// brand colors
.dcdw-blue { color: $dcdw-blue; }
.dcdw-orange { color: $dcdw-orange; }

// generic background colors
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }

// brand backgtound colors
.bg-dcdw-blue { background-color: $dcdw-blue; }
.bg-dcdw-orange { background-color: $dcdw-orange; }