// Color Variables

$opaque-white: rgba(255,255,255,0.95);
$white: #fff;
$black: #000;

$dcdw-blue: RGBA(22, 0, 250, 1.00);

///////////////////////////////////////////////////////////////////////////////

.white { color: $white; }
.black { color: $black; }

.dcdw-blue { color: $dcdw-blue; }

.bg-dcdw-blue { background-color: $dcdw-blue; }
.bg-opaque-white { background-color: $opaque-white; }
.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
