/*=============================================>>>>>
= DCDW Global Variables =
===============================================>>>>>*/

@import "typography";

/*= End of DCDW Global Variables =*/
/*=============================================<<<<<*/

/*=============================================>>>>>
= DCDW Global Classes & Styles =
===============================================>>>>>*/
html, body{
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

/* sets the max width of the container for the site */
.container {
  max-width: 72em !important;
  margin: 0 auto;
}

.header-container {
  max-width: 84em !important;
  margin: 0 auto;
}

.padding-large-y {
  padding-top: 500px;
  padding-bottom: 500px;
}

.padding-large-top {
  padding-top: 500px;
}

.padding-large-bottom {
  padding-bottom: 500px;
}

.margin-large-y {
  margin-top: 500px;
  margin-bottom: 500px;
}

.margin-large-top {
  margin-top: 500px;
}

.margin-large-bottom {
  margin-bottom: 500px;
}
body {
  font-size: 100%;
  line-height: 1.6em;
  font-family: $sans;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* removes the initial padding on any UL elements */
ul {
	-webkit-padding-start: 0 !important;
}

/* fixed top bar that contains the nav links */
.global-header {

}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
}

.logo-wrapper img,
.logo-wrapper-mobile img {
  width: 100%;
  vertical-align: middle;
}

.logo-wrapper img {
  max-width: 200px;
}

.logo-wrapper-mobile img {
  max-width: 100px;
}

article.page-introduction {
  margin-top: 40px;
}

@media screen and (min-width: 831px) {
  article.page-introduction {
    margin-top: 175px;
  }
}

article { padding-bottom: 4em; }

article h1 {
  font-size: $text-headline;
  font-family: $bbroller;
  line-height: normal;
  margin: 0;
}

article p {
  font-size: $text-default;
  font-family: $sans;
  line-height: 1.75em;
}

article hr,
.title-divider {
  width: 100%;
  max-width: 100px;
  border: solid 2.5px $black;
}

article hr { margin: 3.5em 0; }
.title-divider { margin: 2em 0; }

@media screen and (min-width: 831px) {
  article h1 { font-size: $text-billboard; }

  /* adds the dcdw block after the page title */
  article h1:after {
    content: url('/uploads/dc-design-week-snippet.png');
    position: absolute;
  }

  article p { font-size: $text-medium; }
  .global-header { position: fixed; }
}

/* Home Partners */
.sponsor-logo {
  min-height: 110px;
  width: 100%;
  text-align: center;
  margin: 2em 0;
}

@media screen and (min-width:640px) {
  .sponsor-logo {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width:831px) {
  .sponsor-logo {
    width: 25%;
    text-align: left;
  }
}

/* wrapper for the underlying grid */
.grid {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* gives ever column a left border that spans 100% of the viewport height */
.grid-line {
	min-height: 100vh;
	border-left: solid 0.01px #eaeaea;
}

/* adds a right border to the last column in the grid */
.grid-line:last-child { border-right: solid 0.01px #eaeaea; }

@media screen and (max-width: 1024px) {
  .grid-line:nth-child(6) {
  	border-right: solid 0.01px #eaeaea;
  }
}


/*= End of DCDW Global Classes & Styles =*/
/*=============================================<<<<<*/
