/*=============================================>>>>>
= DCDW Global Variables =
===============================================>>>>>*/

@import "typography";

/*= End of DCDW Global Variables =*/
/*=============================================<<<<<*/

/*=============================================>>>>>
= DCDW Global Classes & Styles =
===============================================>>>>>*/

/* sets the max width of the container for the site */
.container {
  max-width: 72em !important;
  margin: 0 auto;
}

.padding-large-y {
  padding-top: 500px;
  padding-bottom: 500px;
}

.padding-large-top {
  padding-top: 500px;
}

.padding-large-bottom {
  padding-bottom: 500px;
}

.margin-large-y {
  margin-top: 500px;
  margin-bottom: 500px;
}

.margin-large-top {
  margin-top: 500px;
}

.margin-large-bottom {
  margin-bottom: 500px;
}
body {
  font-size: 100%;
  line-height: 1.6em;
  font-family: $sans;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* removes the initial padding on any UL elements */
ul {
	-webkit-padding-start: 0 !important;
}

/* fixed top bar that contains the nav links */
.global-header {
  height: 60px;
}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
}

.logo-wrapper {
  top: 17.5px;
}

.logo-wrapper img {
  max-width: 200px;
  width: 100%;
}


.logo-wrapper-mobile {
  top: 15px;
}

.logo-wrapper-mobile img {
  max-width: 100px;
  width: 100%;
}

.main-nav {
  top: 17.5px;
}

article {
  margin-top: 160px;
}

article h1 {
  font-size: $text-xx-large;
  line-height: 1em;
  font-family: $courier;
  margin: 0;
}

/* adds the dcdw block after the page title */
article h1:after {
  content: url('/uploads/dc-design-week-snippet.png');
  position: absolute;
}

article p {
  font-size: $text-default;
  font-family: $sans;
  text-align: $align-justify;
  font-weight: $text-light;
  line-height: 1.75em;
}

article hr,
.title-divider {
  width: 100%;
  max-width: 100px;
  border: solid 2px $black;
}

article hr {
	margin: 2em 0 3.5em 0;
}

.title-divider {
	margin: 2em 0;
}

@media screen and (max-width: 1024px) {
  /* removes the dcdw block after the page title */
  article h1:after {
    content: '';
  }
}

@media screen and (max-width: 831px ) {
  /* removes the fixed positioning on smaller tablets/mobile devices */
  .global-header {
    position: relative;
  }

  article {
    margin-top: 60px;
  }

  article h1 {
    font-size:$text-x-large;
  }

  article hr {
  	margin: 2em 0 2.5em 0;
  }
}

/* Home Partners */
.sponsor-card {
  min-height: 150px;
}

@media screen and (max-width:831px) {
  .sponsor-card {
    text-align: center;
  }
}

/* wrapper for the underlying grid */
.grid {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* gives ever column a left border that spans 100% of the viewport height */
.grid-line {
	min-height: 100vh;
	border-left: solid 0.01px #eaeaea;
}

/* adds a right border to the last column in the grid */
.grid-line:last-child {
	border-right: solid 0.01px #eaeaea;
}

.blue-shadow {
  box-shadow: 15px 20px blue;
}

@media screen and (max-width: 1024px) {
  .grid-line:nth-child(6) {
  	border-right: solid 0.01px #eaeaea;
  }
}

/*= End of DCDW Global Classes & Styles =*/
/*=============================================<<<<<*/
