/* sets the max width of the container for the site */
.container {
  max-width: 72em !important;
  margin: 0 auto;
}

body {
  font-size: 100%;
  line-height: 1.6em;
  font-family: $sans;
}

a {
  text-decoration: none;
}

/* removes the initial padding on any UL elements */
ul {
	-webkit-padding-start: 0 !important;
}

.single-event-header-container {
  margin: 10% auto 5% auto;
  max-width: 72em !important;
}

article.page-introduction {
  margin-top: 80px;
}

@media screen and (min-width: 831px) {
  article.page-introduction {
    margin-top: 125px;
  }
}

article {
  padding-bottom: 2.5em;
}

article a {
  text-decoration: underline;
  font-weight: 700;
  color: blue;
  transition: color 100ms ease-in-out;
}

article a:hover {
  color: black;
}

article h1 {
  font-size: $text-headline;
  font-family: $bbroller;
  line-height: normal;
  margin: 0;
}

article h2 {
  font-size: $text-x-large;
  font-family: $bbroller;
  line-height: normal;
  padding-bottom: 0.5em;
  margin: 0;
}

article p {
  font-size: $text-medium;
  font-family: $sans;
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

article ul {
  list-style-type: circle;
  margin-left: 1.75em;
}

article li {
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

article hr,
.title-divider {
  width: 100%;
  max-width: 100px;
  border: solid 2.5px $black;
}

article hr {
  margin: 2em 0 2.5em 0;
}

article em {
  font-style: italic;
}

article img {
  width: 30%;
}

.title-divider {
  margin: 1em 0;
  max-width: 74px;
}

@media screen and (min-width: 831px) {
  article h1 {
    font-size: $text-billboard;
  }

  article p {
    font-size: $text-x-medium;
  }
}

span.made-in-dc-heart {
  top: 7.5px;
}

.social-footer-links {
  transition: opacity 100ms ease-in;
}

.social-footer-links:hover {
  opacity: 0.8;
}