body {
  font-family: $sans;
  font-size: 16px;
}

a {
  text-decoration: none;
}

main a {
  text-decoration: underline;
  font-weight: 700;
  color: $dcdw-monte-carlo;
  transition: color 100ms ease-in-out;
}

main h1,
.wysiwyg h1  {
  font-size: 80px;
  font-family: $monospace;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.hero__video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

/* vertically aligns feather icons */
.feather {
  vertical-align: middle;
}