/* dcdw global variables */
@import "typography";

/* sets the max width of the container for the site */
.container {
  max-width: 72em !important;
  margin: 0 auto;
}

body {
  font-size: 100%;
  line-height: 1.6em;
  font-family: $sans;
}

a {
  text-decoration: none;
}

/* removes the initial padding on any UL elements */
ul {
	-webkit-padding-start: 0 !important;
}

/* ensures that the fixed header will remain on top of all other elements */
.global-header {
  z-index: 9999;
}

.logo-wrapper img,
.logo-wrapper-mobile img {
  width: 100%;
  vertical-align: middle;
}

.logo-wrapper img {
  max-width: 200px;
}

.logo-wrapper-mobile img {
  max-width: 100px;
}

.menu-btn {
  cursor: pointer;
}

.py2-half {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.single-event-header-container {
  margin: 10% auto 5% auto;
  max-width: 72em !important;
}

article.page-introduction {
  margin-top: 80px;
}

@media screen and (min-width: 831px) {
  article.page-introduction {
    margin-top: 125px;
  }
}

article {
  padding-bottom: 2.5em;
}

article h1 {
  font-size: $text-headline;
  font-family: $bbroller;
  line-height: normal;
  margin: 0;
}

article h2 {
  font-size: $text-x-large;
  font-family: $bbroller;
  line-height: normal;
  padding-bottom: 0.5em;
  margin: 0;
}

article p {
  font-size: $text-default;
  font-family: $sans;
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

article ul {
  list-style-type: circle;
  margin-left: 1.75em;
}

article ul li {
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

article hr {
  width: 100%;
  max-width: 100px;
  border: solid 2.5px $black;
}

article hr {
  margin: 2em 0 2.5em 0;
}

article em {
  font-style: italic;
}

article img {
  width: 30%;
}

.title-divider {
  margin: 1em 0;
  max-width: 74px;
}

@media screen and (min-width: 831px) {
  article h1 {
    font-size: $text-billboard;
  }

  article p {
    font-size: $text-medium;
  }
}

/* controls how sponsors look across the site */
.sponsor-logo {
  min-height: 215px;
  width: 100%;
  text-align: center;
  margin: 2.2em 0;
}

/* ensures image fills space of container */
.sponsor-logo img {
  width: 100%;
}

@media screen and (min-width:640px) {
  .sponsor-logo {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width:831px) {
  .sponsor-logo {
    width: 25%;
    text-align: left;
  }
}

span.made-in-dc-heart {
  top: 7.5px;
}

.dcdw-footer-statement p {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 18px;
}

.social-footer-links {
  transition: opacity 100ms ease-in-out;
}

.social-footer-links:hover {
  opacity: 0.8;
}

a.aiga-email,
.aiga-copyright,
ul.social-icons {
  text-align: center;
}

@media screen and (min-width: 831px) {
  a.aiga-email {
    text-align: left;
  }

  .aiga-copyright {
    text-align: right;
  }
}

/* wrapper for the underlying grid */
.grid {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

/* gives ever column a left border that spans 100% of the viewport height */
.grid-line {
	min-height: 100vh;
	border-left: solid 0.01px #eaeaea;
}

/* adds a right border to the last column in the grid */
.grid-line:last-child {
  border-right: solid 0.01px #eaeaea;
}

@media screen and (max-width: 1024px) {
  .grid-line:nth-child(6) {
  	border-right: solid 0.01px #eaeaea;
  }
}
