/*=============================================>>>>>
= DCDW Typography Variables =
===============================================>>>>>*/

// font families
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$sans: 'Work Sans', sans-serif;

// font sizes
$text-xx-small: 0.5em;
$text-x-small: 0.75em;
$text-small: 1em;
$text-default: 1.125em; // 18px: Used for body copy, card components
$text-medium: 1.5em;
$text-x-medium: 1.75em;
$text-xx-medium: 2em;
$text-large: 2.25em;
$text-x-large: 4em; // used for page headers on smaller devices
$text-xx-large: 8em; //used for page headers

// text transforms
$uppercase: uppercase;
$lowercase: lowercase;

// font weights
$text-thin: 100;
$text-light: 300;
$text-regular: 400;
$text-medium: 500;
$text-bold: 700;
$text-black: 900;

// text alignments
$align-left: left;
$align-right: right;
$align-center: center;
$align-justify: justify;

/*= End of DCDW Typography Variables =*/
/*=============================================<<<<<*/

/*=============================================>>>>>
= DCDW Typography Classes =
===============================================>>>>>*/

/* font families */
.courier { font-family: $courier; }
.sans { font-family: $sans; }

/* font sizes */
.text-xx-small { font-size: $text-xx-small; }
.text-x-small { font-size: $text-x-small; }
.text-small { font-size: $text-small; }
.text-default { font-size: $text-default; }
.text-medium { font-size: $text-medium; }
.text-x-medium { font-size: $text-x-medium; }
.text-xx-medium { font-size: $text-xx-medium; }
.text-large { font-size: $text-large; }
.text-x-large { font-size: $text-x-large; }
.text-xx-large { font-size: $text-xx-large; }

/* text transforms */
.text-uppercase { text-transform: $uppercase; }
.text-lowercase { text-transform: $lowercase; }

/* font weights */
.text-thin { font-weight: $text-thin; }
.text-light { font-weight: $text-light; }
.text-regular { font-weight: $text-regular; }
.text-medium { font-weight: $text-medium; }
.text-bold { font-weight: $text-bold; }
.text-black { font-weight: $text-black; }

/* text alignment */
.text-right { text-align: $align-right; }
.text-left { text-align: $align-left; }
.text-center { text-align: $align-center; }
.text-justify { text-align: $align-justify; }

/*= End of DCDW Typography Classes =*/
/*=============================================<<<<<*/
