/*
 * typography
 */

// font families
$sans: 'Work Sans', sans-serif;
$bbroller: 'BBRollerMono-Headline', courier, sans-serif;

// font sizes
$text-xx-small: 0.8125rem;
$text-x-small: 1.125rem;
$text-small: 1.25rem;
$text-default: 1.3125rem;
$text-medium: 1.375rem;
$text-x-medium: 1.625rem;
$text-large: 1.875rem;
$text-x-large: 2.25rem;
$text-headline: 3.0625rem;
$text-billboard: 7.375rem;

// line-heights
$lh-normal: normal;
$lh-tight: 1.4em;
$lh-loose: 2em;

// text transforms
$uppercase: uppercase;
$lowercase: lowercase;

// font weights
$fw-hairline: 100;
$fw-thin: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

// text alignments
$align-left: left;
$align-right: right;
$align-center: center;
$align-justify: justify;

/* license and information for using bb roller mono on a website */

/*
Font: 		BB Roller Mono
Style: 		Headline
URL: 		https://www.youworkforthem.com/font/T5988/bb-roller-mono
Foundry: 	Studio BB
Foundry: 	https://www.youworkforthem.com/designer/541/studio-bb
Copyright:	Copyright © 2015 by Ben Bold. All rights reserved.
Version: 	17
Created:	September 13, 2015
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'BBRollerMono-Headline';
	src: url('/uploads/bb-roller-mono-headline.eot');
	src: url('/uploads/bb-roller-mono-headline.eot?#iefix') format('embedded-opentype'),
             url('/uploads/bb-roller-mono-headline.woff2') format('woff2'),
	     url('/uploads/bb-roller-mono-headline.woff') format('woff'),
	     url('/uploads/bb-roller-mono-headline.ttf') format('truetype'),
	     url('/uploads/bb-roller-mono-headline.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* font families */
.bbroller { font-family: $bbroller; }
.sans { font-family: $sans; }

/* font sizes */
.text-small { font-size: $text-small; }
.text-default { font-size: $text-default; }
.text-medium { font-size: $text-medium; }
.text-x-medium { font-size: $text-x-medium; }
.text-large { font-size: $text-large; }
.text-x-large {
	font-size: $text-x-large;
	line-height: 48px;
}
.text-headline {
	font-size: $text-headline;
	line-height: 56px;
}
.text-billboard { font-size: $text-billboard; }

/* line heights */
.lh-normal { line-height: $lh-normal; }
.lh-loose { line-height: $lh-loose; }
.lh-tight { line-height: $lh-tight; }

/* text transforms */
.text-uppercase { text-transform: $uppercase; }
.text-lowercase { text-transform: $lowercase; }

/* font weights */
.fw-hairline { font-weight: $fw-hairline; }
.fw-light { font-weight: $fw-light; }
.fw-regular { font-weight: $fw-regular; }
.fw-medium { font-weight: $fw-medium; }
.fw-semibold { font-weight: $fw-semibold; }
.fw-bold { font-weight: $fw-bold; }
.fw-extrabold { font-weight: $fw-extrabold; }
.fw-black { font-weight: $fw-black; }

/* text alignment */
.text-right { text-align: $align-right; }
.text-left { text-align: $align-left; }
.text-center { text-align: $align-center; }
.text-justify { text-align: $align-justify; }
