@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Work+Sans:400,700');

/* Generic Colors */
$white: #ffffff;
$black: #000000;
$charcoal: #5a5a5a;

/* Off-Season Brand */
$dcdw-buffered: #D7D7D7;

/* 2017 Brand - These should be removed after confirmation */
$dcdw-primary: #3e07d0;
$dcdw-secondary: #ffae84;

/* 2018 Brand */
$dcdw-monte-carlo: #87C5B7;
$dcdw-rose-bud: #FDAB96;
$dcdw-mindaro: #D8ED62;
$dcdw-flamingo: #EF6546;
$dcdw-loblolly: #B5B6BA;
$dcdw-mint: #E1FDF8;
$dcdw-cloud: #202653;

// font families
$sans: 'Work Sans', sans-serif;
$monospace: 'Roboto Mono', monospace;
$bbroller: $monospace;

// font sizes
$text-xx-small: 0.8125rem;
$text-x-small: 1.125rem;
$text-small: 1.25rem;
$text-default: 1.3125rem;
$text-medium: 1.375rem;
$text-x-medium: 1.625rem;
$text-large: 1.875rem;
$text-x-large: 2.25rem;
$text-headline: 3.0625rem;
$text-billboard: 7.375rem; // 118px
// line-heights
$lh-normal: normal;
$lh-tight: 1.4em;
$lh-spaced: 1.75em;
$lh-loose: 2em;
// viewport heights
$vh-85: 85vh;