// generic colors
$white: #ffffff;
$black: #000000;
$charcoal: #5a5a5a;
// brand colors
$dcdw-buffered: #D7D7D7;
$dcdw-primary: #3e07d0;
$dcdw-secondary: #ffae84;
// font families
$sans: 'Work Sans', sans-serif;
$bbroller: 'BBRollerMono-Headline', courier, sans-serif;
// font sizes
$text-xx-small: 0.8125rem;
$text-x-small: 1.125rem;
$text-small: 1.25rem;
$text-default: 1.3125rem;
$text-medium: 1.375rem;
$text-x-medium: 1.625rem;
$text-large: 1.875rem;
$text-x-large: 2.25rem;
$text-headline: 3.0625rem;
$text-billboard: 7.375rem; // 118px
// line-heights
$lh-normal: normal;
$lh-tight: 1.4em;
$lh-spaced: 1.75em;
$lh-loose: 2em;
// viewport heights
$vh-85: 85vh;