.wysiwyg h1 {
  font-size: 80px;
  font-family: $monospace;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.wysiwyg h1,
.wysiwyg h1 > p {
  font-size: 24px;
  line-height: 32px;
}

.wysiwyg h2 > p {
  font-size: 20px;
  line-height: 24px;
}

.wysiwyg p {
  font-size: 16px;
  line-height: 32px;
}

.wysiwyg p:not(last-child) {
  margin: 0 0 24px 0;
}

@media screen and (min-width: 799px) {
  .wysiwyg h1,
  .wysiwyg h1 > p {
    font-size: 32px;
    line-height: 48px;
  }

  .wysiwyg h2 > p {
    font-size: 40px;
    line-height: 32px;
  }

  .wysiwyg p {
    font-size: 20px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1023px) {
  .wysiwyg h1,
  .wysiwyg h1 > p {
    font-size: 48px;
    line-height: auto;
  }

  .wysiwyg h2 > p {
    font-size: 40px;
    line-height: 32px;
  }

  .wysiwyg p {
    font-size: 20px;
    line-height: 40px;
  }
}

.wysiwyg h2 {
  font-family: $monospace;
  padding-bottom: 0.5em;
  margin: 0;
}

.wysiwyg ul {
  list-style-type: circle;
  margin-left: 1.75em;
}

.wysiwyg li {
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

.title-divider {
  border: solid 4px $dcdw-monte-carlo;
  margin: 1em 0;
  width: 100%;
  max-width: 72px;
}

.wysiwyg hr {
  margin: 2em 0 2.5em 0;
}

.wysiwyg img {
  width: 30%;
}