.about-layout .hero-standard h1 {
    font-size: var(--font-size-72);
}

.about-layout .hero-standard figure {
    display: none;
}

.about-layout .hero-standard .ornament-diagonal-red-shape {
    position: absolute;
    top: -10px;
    left: -320px;
}

@media screen and (min-width: 768px) {
    .about-layout .hero-standard h1 {
        font-size: var(--font-size-88);
    }

    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: -20px;
        left: -450px;
    }
}

@media screen and (min-width: 1024px) {
    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: 10px;
        left: -400px;
    }
}

@media screen and (min-width: 1366px) {
    .about-layout .hero-standard h1 {
        font-size: var(--font-size-168);
    }

    .about-layout .hero-standard figure {
        display: block;
        right: 75px;
        top: -300px;
    }

    .about-layout .hero-standard img {
        min-width: 700px;
        position: absolute;
    }

    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: 90px;
        left: -140px;
    }
}
