.about-layout .hero-standard h1 {
    font-size: var(--font-size-72);
}

.about-layout .hero-standard figure {
    display: none;
}

.about-layout .hero-standard .ornament-diagonal-red-shape {
    position: absolute;
    top: -10px;
    left: -320px;
}

.about-layout .ornament-purple-sticker-and-tape {
    position: absolute;
    top: -55px;
    z-index: var(--index-9) !important;
    right: 10px;
    max-width: 200px;
}

@media screen and (min-width: 768px) {
    .about-layout .hero-standard h1 {
        font-size: var(--font-size-88);
    }

    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: -20px;
        left: -450px;
    }

    .about-layout .ornament-purple-sticker-and-tape {
        top: -65px;
        right: 60px;
        max-width: 300px;
    }
}

@media screen and (min-width: 1024px) {
    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: 10px;
        left: -400px;
    }
}

@media screen and (min-width: 1366px) {
    .about-layout .hero-standard h1 {
        font-size: var(--font-size-136);
    }

    .about-layout .hero-standard figure {
        display: block;
        right: 50px;
        top: -300px;
    }

    .about-layout .hero-standard img {
        min-width: 750px;
        position: absolute;
    }

    .about-layout .hero-standard .ornament-diagonal-red-shape {
        top: 90px;
        left: -140px;
    }

    .about-layout .ornament-purple-sticker-and-tape {
        top: -100px;
        right: 175px;
        max-width: 450px;
    }
}
