.accessibility-layout .hero-standard h1 {
    font-size: var(--font-size-72);
    line-height: 0.8;
}

.accessibility-layout .hero-standard figure,
.accessibility figure {
    display: none;
}

@media screen and (min-width: 768px) {
    .accessibility-layout .hero-standard h1 {
        font-size: var(--font-size-88);
    }
}

@media screen and (min-width: 1366px) {
    .accessibility-layout .hero-standard h1 {
        font-size: var(--font-size-136);
    }

    .accessibility-layout .hero-standard figure,
    .accessibility figure {
        display: block;
        right: 140px;
        top: -330px;
    }

    .accessibility-layout .hero-standard img,
    .accessibility img {
        min-width: 780px;
        position: absolute;
    }
}
