.events-layout .events-filter {
    border: solid 1px var(--black);
    margin-bottom: var(--space-32);
}

/* date filters */
.events-layout .events-filter__dates .mixitup-control-active {
    border-top: solid 8px var(--dcdw-2020);
}

.events-layout .events-filter__dates span {
    display: block;
    text-transform: uppercase;
}

.events-layout .events-filter__dates .control-text-1 {
}

.events-layout .events-filter__dates .control-text-3 {
}

.events-layout .events-filter__date--occurred {
    opacity: 0.5;
}

/* additional filters */
.events-filter__additional-filters {
    display: none;
}

.events-filter__additional-header {
    display: flex;
    align-items: center;
}

.events-filter__additional-title {
    flex-grow: 1;
}

.events-filter__additional-header .houdini-heading {
    text-align: left !important;
}

.filter-events__additional-header {
    grid-template-columns: 1fr max-content !important;
}

.events-filter__additional-header .houdini-heading span {
    text-transform: uppercase;
}

.events-filter__additional-header .houdini-toggle {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.events-filter__additional-content {
    border-top: solid 1px var(--black);
    padding: var(--space-16);
}

.events-filter__additional-content p {
    margin-bottom: var(--space-8);
}

.events-layout .houdini-toggle-icon img {
    min-width: 16px;
}

.filter-events__dates > *:not(:first-child) {
    margin-left: -1px;
}

.control {
    background: none;
    border: solid 1px var(--black);
    border-top: solid 4px var(--black);
    cursor: pointer;
    color: var(--black);
    padding: var(--space-16);
    transition: background 100ms;
    text-align: center;
    position: relative;
}

.mixitup-control-active {
    border: solid 1px var(--dcdw-2021-cinnabar);
    border-top: solid 4px var(--dcdw-2021-cinnabar);
    z-index: var(--index-5);
}

.events-filter__reset .control {
    padding: var(--space-16);
    border-top: none;
    text-transform: uppercase;
}

.events-filter__additional-title .houdini-toggle {
    padding: var(--space-16) !important;
    cursor: pointer !important;
}

.events-filter__status.control-group.grid.grid__4-column {
    font-size: 16px;
}

.mix-it-up-container {
    overflow: hidden;
    position: relative;
}

.mixitup-container {
    position: relative;
}

.mixitup-container-failed::after {
    content: "No results, please refine your search:";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.events__list {
    display: grid;
    grid-gap: var(--space-32);
    grid-template-columns: 1fr;
}

@media screen and (min-width: 799px) {
    /* listing */
    .events__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1280px) {
    .events-filter__dates {
        grid-template-columns: repeat(8, 1fr);
    }

    .events-filter__additional-filters {
        display: block;
        border-top: solid 1px var(--black);
    }

    /* listing */
    .events__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
