.events-layout .filter-events {
    border: solid 1px $white;
    margin-bottom: $spacing-32;
}

/* date filters */
.events-layout .filter-events__dates .mixitup-control-active {
    border-top: solid 8px $green;
}

.events-layout .filter-events__dates span {
    display: block;
    font-size: $font-size-16;
    text-transform: uppercase;
}

.events-layout .filter-events__dates .control-text-1 {
    font-family: $font-poppins;;
}

.events-layout .filter-events__dates .control-text-3 {
    font-family: $font-poppins;;
}

.events-layout .filter-events__date--occurred {
    opacity: 0.5;
}

/* additional filters */
.filter-events__additional-filters {
    display: none;
}

.filter-events__additional-header {
    display: flex;
    align-items: center;
}

.filter-events__additional-title {
    flex-grow: 1;
}

.filter-events__additional-header .houdini-heading {
    text-align: left !important;
    font-family: $font-poppins;;
    font-size: $font-size-16;
}

.filter-events__additional-header .houdini-heading span {
    text-transform: uppercase;
}

.filter-events__additional-header .houdini-toggle {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.filter-events__additional-content {
    border-top: solid 1px $white;
    padding: $spacing-16;
}

.filter-events__additional-content p {
    margin-bottom: $spacing-8;
}

.events-layout .houdini-toggle-icon img {
    min-width: 16px;
}

.control {
    background: none;
    border-top: solid 8px transparent;
    border-right: none;
    border-bottom: none;
    border-left: none;
    cursor: pointer;
    color: $white;
    padding: $spacing-16;
    transition: background 100ms;
    text-align: center;
}

.filter-events__reset .control {
    padding: $spacing-16;
    border-top: none;
    font-family: $font-poppins;;
    text-transform: uppercase;
    font-size: $font-size-16;
}

.filter-events__additional-title .houdini-toggle {
    padding: $spacing-16 !important;
    cursor: pointer !important;
}

.filter-events__status.control-group.grid.grid__4-column {
    font-size: 16px;
}

.mix-it-up-container {
    overflow: hidden;
    position: relative;
}

.mixitup-container {
    position: relative;
}

.mixitup-container-failed::after {
    content: "No results, please refine your search";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.events__list {
    display: grid;
    grid-gap: $spacing-32;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 799px) {

    /* listing */
    .events__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1023px) {
    .filter-events__dates {
        grid-template-columns: repeat(8, 1fr);
    }

    .filter-events__additional-filters {
        display: block;
        border-top: solid 1px $white;
    }

    /* listing */
    .events__list {
        grid-template-columns: repeat(3, 1fr);
    }
}
