.faqs-layout .hero-standard h1 {
    font-size: var(--font-size-72);
}

.faqs-layout .hero-standard figure {
    display: none;
}

@media screen and (min-width: 768px) {
    .faqs-layout .hero-standard h1 {
        font-size: var(--font-size-88);
    }
}

@media screen and (min-width: 1366px) {
    .faqs-layout .hero-standard h1 {
        font-size: var(--font-size-168);
    }

    .faqs-layout .hero-standard figure {
        display: block;
        right: 98px;
        top: -160px;
    }

    .faqs-layout .hero-standard img {
        min-width: 750px;
        position: absolute;
    }
}

.faq-contact {
    position: sticky;
    top: 144px;
}

.faq-contact li {
    list-style: none;
}
