.hyperlocal figure {
    display: none;
}

@media screen and (min-width: 1366px) {
    .hyperlocal figure {
        display: block;
        left: -150px;
        top: -325px;
    }

    .hyperlocal img {
        min-width: 750px;
        position: absolute;
    }
}
