.section-posters .artist-name {
    font-size: var(--font-size-20);
}

.section-posters .poster-title {
    font-size: var(--font-size-20);
    font-family: var(--font-poppins);
    text-transform: uppercase;
}

.section-posters .poster-link {
    display: block;
}

.section-posters .artist-portrait {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border: solid 1px var(--white);
}
