.sponsors-tier h3 {
    color: var(--black);
    font-size: var(--font-size-48);
    position: relative;
}

.sponsors-tier h3 span {
    position: relative;
    z-index: var(--index-7);
}

.sponsors-tier-1 h3 svg,
.sponsors-tier-2 h3 svg,
.sponsors-tier-3 h3 svg,
.sponsors-tier-4 h3 svg {
    position: absolute;
    max-width: 250px;
    z-index: var(--index-6);
}

.sponsors-tier-1 h3 svg {
    top: -37px;
    left: -48px;
}

.sponsors-tier-2 h3 svg {
    top: -46px;
    left: -25px;
}

.sponsors-tier-3 h3 svg {
    top: -23px;
    left: -30px;
}

.sponsors-tier-4 h3 svg {
    top: -33px;
    left: -25px;
}

.sponsors-tier-1 h3 figure,
.sponsors-tier-2 h3 figure,
.sponsors-tier-3 h3 figure,
.sponsors-tier-4 h3 figure {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 48px;
    z-index: var(--index-7);
}

.sponsors-tier-1 h3 figure,
.sponsors-tier-3 h3 figure {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.sponsors-tier-2 h3 figure,
.sponsors-tier-4 h3 figure {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
}

.sponsors-tier-1 ul svg,
.sponsors-tier-2 ul svg,
.sponsors-tier-3 ul svg,
.sponsors-tier-4 ul svg {
    position: absolute;
}

.sponsors-tier-1 ul svg,
.sponsors-tier-2 ul svg,
.sponsors-tier-3 ul svg,
.sponsors-tier-4 ul svg {
    top: -112px;
}

.sponsors-tier-1 .card-image,
.sponsors-tier-2 .card-image,
.sponsors-tier-3 .card-image,
.sponsors-tier-4 .card-image {
    border: none;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}

.sponsors-tier-1 .card-image img,
.sponsors-tier-2 .card-image img,
.sponsors-tier-3 .card-image img,
.sponsors-tier-4 .card-image img {
    min-height: 88px;
    margin: auto;
    object-fit: contain;
}

@media screen and (min-width: 768px) {
    .sponsors-tier h3 {
        font-size: var(--font-size-72);
    }

    .sponsors-tier-1 h3 svg,
    .sponsors-tier-2 h3 svg,
    .sponsors-tier-3 h3 svg,
    .sponsors-tier-4 h3 svg {
        max-width: 400px;
    }

    .sponsors-tier-1 h3 svg {
        top: -26px;
        left: -76px;
    }

    .sponsors-tier-2 h3 svg {
        top: -36px;
        left: -60px;
    }

    .sponsors-tier-3 h3 svg {
        top: -13px;
        left: -56px;
    }

    .sponsors-tier-4 h3 svg {
        top: -19px;
        left: -50px;
    }

    .sponsors-tier-1 h3 figure,
    .sponsors-tier-2 h3 figure,
    .sponsors-tier-3 h3 figure,
    .sponsors-tier-4 h3 figure {
        max-width: 72px;
        z-index: var(--index-7);
    }
}

@media screen and (min-width: 1366px) {
    .sponsors-tier h3 {
        font-size: var(--font-size-88);
    }

    .sponsors-tier-1 h3 svg,
    .sponsors-tier-2 h3 svg,
    .sponsors-tier-3 h3 svg,
    .sponsors-tier-4 h3 svg {
        max-width: 480px;
    }

    .sponsors-tier-1 h3 svg {
        top: -18px;
        left: -118px;
    }

    .sponsors-tier-2 h3 svg {
        top: -27px;
        left: -68px;
    }

    .sponsors-tier-3 h3 svg {
        top: -4px;
        left: -86px;
    }

    .sponsors-tier-4 h3 svg {
        top: -6px;
        left: -79px;
    }

    .sponsors-tier-1 ul svg,
    .sponsors-tier-2 ul svg,
    .sponsors-tier-3 ul svg,
    .sponsors-tier-4 ul svg {
        top: -72px;
    }

    .sponsors-tier-1 h3 figure,
    .sponsors-tier-2 h3 figure,
    .sponsors-tier-3 h3 figure,
    .sponsors-tier-4 h3 figure {
        max-width: 120px;
        top: -16px;
    }
}
