<section class="homepage-partners relative bg-white fl w-100 pb5">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="fl w-100 w-50-l">
      <h2 class="bbroller ma0 f3 f2-ns">
        {{page.home-partners-header-text}}
      </h2>
      <hr class="title-divider">
      <span class="m0 f5 f4-ns lh-copy">
        {{page.home-partners-sub-header-text}}
      </span>
    </div>
  </div>

  <div class="mw8 center cf pa4 pa3-ns">
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="fl w-100 w-90-ns mt4">
      <ul class="list ma0 pa0">
        {% comment %}
        =====
        The sponsors content block will display the sponsors that have been designated as being "featured on homepage".
        =====
        {% endcomment %}
        {% for posts in site.sponsors %}
          {% if posts.is-featured-on-home-page == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
      <a class="blue-underline dib ma0 bbroller" href="{{page.home-sponsors-link}}">
        {{page.home-sponsors-link-text}}
      </a>
    </div>
  </div>
</section>
