.border-0 {
    border: none !important;
}

.wrapper {
    padding: $spacing-16;
}

@media screen and (min-width: 639px) {
    .wrapper {
        padding: $spacing-16;
    }
}

.section {
    padding: $spacing-120 $spacing-16;
    position: relative;
}

@media screen and (min-width: 639px) {
    .section {
        padding: $spacing-80 $spacing-32;
    }
}

@media screen and (min-width: 1023px) {
    .section {
        padding-bottom: $spacing-120;
        padding-top: $spacing-120;
    }
}

// Page Specific
.section--volunteers svg {
    fill: $white;
    max-width: 40px;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.flex-justify-between {
    justify-content: space-between;
}

.grid {
    align-items: start;
    display: grid;
    grid-gap: $spacing-32;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    position: relative;
}

.events-layout .grid {
    grid-gap: 80px 32px;
}

.events-filter .grid {
    grid-gap: 0;
}

.grid--one-columns,
.grid--two-columns,
.grid--three-columns,
.section--posters .grid--three-columns,
.grid--four-columns,
.grid--five-columns,
.grid--six-columns {
    grid-template-columns: 1fr;
}

.grid--eight-columns {
    grid-template-columns: repeat(4, 1fr);
}

.column {
    position: relative;
}

.column>div {
    height: 100%;
}

.column--hide {
    display: none;
}

.column--max-content {
    grid-column: max-content;
}

.column--min-content {
    grid-column: min-content;
}

.column--span-1,
.column--span-2,
.column--span-3,
.column--span-4,
.column--span-5,
.column--span-6 {
    grid-column: span 1;
}

.column--width-40,
.column--width-50,
.column--width-60,
.column--width-70,
.column--width-80 {
    width: 100%;
}

@media screen and (min-width: 799px) {

    .grid--two-columns,
    .grid--four-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .column--span-2 {
        grid-column: span 2;
    }

    .column--span-4 {
        grid-column: span 4;
    }

    .column--span-5 {
        grid-column: span 5;
    }

    .column--span-6 {
        grid-column: span 6;
    }
}

@media screen and (min-width: 1023px) {
    .grid--three-columns {
        grid-template-columns: repeat(3, 1fr);
    }

    .section--posters .grid--three-columns {
        grid-template-columns: 1fr 0.5fr 1fr;
    }

    .grid--four-columns {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--five-columns {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid--six-columns {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid--eight-columns {
        grid-template-columns: repeat(8, 1fr);
    }

    .column--span-3 {
        grid-column: span 3;
    }

    .column--hide {
        display: block;
    }
}

@media screen and (min-width: 1279px) {
    .column--width-40 {
        width: 40%;
    }

    .column--width-50 {
        width: 50%;
    }

    .column--width-60 {
        width: 60%;
    }

    .column--width-70 {
        width: 70%;
    }

    .column--width-80 {
        width: 80%;
    }
}

.flow-small>*+*,
.flow-small>* {
    margin-top: $spacing-8;
}

.wysiwyg>*+*:not(:first-child),
.wysiwyg>*:not(:first-child),
.flow-medium>*+*,
.flow-medium>* {
    margin-top: $spacing-16;
}

.flow-large>*+*:not(:first-child),
.flow-large>*:not(:first-child) {
    margin-top: $spacing-32;
}

.flow-extra-large>*+*,
.flow-extra-large>* {
    margin-top: $spacing-64;
}

.flow-none {
    margin-top: 0;
}

.gap-none {
    grid-gap: 0;
}

.align-items-start {
    align-items: start;
}

.align-items-center {
    align-items: center;
}
