<section class="partners--organizations mb5">
  <div class="fl w-100">
    <h2 class="ma0 f4 f3-ns lh-copy">
      {{ page.second-tier-header-text }}
    </h2>
    <hr class="title-divider">
    <div class="ma0 f5 f4-ns lh-copy">
      {{page.second-tier-sub-header-text | markdownify}}
    </div>

    <ul class="list ma0 pa0 flex flex-column flex-row-l flex-wrap">
      {% assign sorted_sponsors = site.sponsors %}
      {% for posts in sorted_sponsors %}
      {% if posts.is-second-tier == true %}
      {% include partials/sponsors/content.html %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>