/* hero */

.event-single__hero-content p {
	font-weight: 700;
}

.event-single__hero-content a.button {
	margin-top: 0;
}

.event-single__hero-content a:first-of-type {
	margin-bottom: $spacing-16;
}

.event-single__hero-content a:last-of-type {
	margin-bottom: $spacing-32;
}

/* details */

.event-single__details {
	background-color: $green;
}

.event-single__details-content h3 {
	font-family: $brand-font-terminus;
	font-size: $font-size-20;
	font-weight: 700;
	margin-bottom: $spacing-16;
}

.event-single__details-content p:first-of-type {
	margin-bottom: $spacing-8;
}

.event-single__details-content p:last-of-type {
	margin-bottom: 0;
}

/* content */

.event-single__content video {
	margin-bottom: $spacing-32;
}

.event-single__content ul,
ol {
	margin-left: $spacing-32;
	margin-bottom: $spacing-32;
}

/* speakers */

.event-single__speakers-list {
	display: grid;
	grid-gap: $spacing-8;
	grid-template-columns: 1fr;
}

.event-single__speaker {
	font-size: $font-size-16;
}

.event-single__speaker h3 {
	font-size: $font-size-24;
}

.event-single__learn {
	background-color: $green;
	margin-bottom: -$spacing-32;
	padding: $spacing-48 0;
}

.event-single__learn hr {
	border-color: $green;
}

.event-single__learn p:last-of-type {
	margin-bottom: 0;
}

@media screen and (min-width: 1023px) {
	.event-single__hero-content a:first-of-type {
		margin-bottom: 0;
	}

	.event-single__speakers-list {
		grid-template-columns: repeat(2, 1fr);
	}
}


/* New */
.events-landing-layout {
	background: $white;
	color: $black;
}

.events-landing-layout h1 span:nth-child(2n+1),
.events-landing-layout h1 span:nth-child(2n),
.events-landing-layout h2 span:nth-child(2n+1),
.events-landing-layout h2 span:nth-child(2n) {
	color: $black;
}

.events-landing-layout .section:not(:first-of-type) {
	border-top: solid 1px $black;
}

.event-landing-hero__content {
	display: flex;
	align-items: center;
	padding: 32px;
	color: $white;
	width: 100%;
}

.event-landing-hero__details {
	position: relative;
	z-index: $index-2;
}

.event-landing-hero__overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: $black;
	opacity: 0.5;
}

.events-landing-layout .site-footer {
	background-color: $black;
	color: $white;
}

.events-landing-layout .site-footer a {
	color: $white;
}
