// Page Specific Houdini Styling
.faqs-layout .houdini-heading,
.faqs-layout .houdini-toggle,
.faqs-layout .houdini.is-expanded {
	display: block !important;
}

.faqs-layout .houdini-toggle,
.faqs-layout .houdini.is-expanded {
	border: solid 1px $white !important;
	padding: $spacing-32 !important;
}

.faqs-layout .houdini-toggle {
	cursor: pointer;
	font-size: $font-size-20 !important;
	font-weight: 400 !important;
	text-align: left !important;
	text-transform: uppercase;
	width: 100% !important;
}

.faqs-layout .houdini.is-expanded {
	font-family: $brand-font-heebo;
	position: relative !important;
	top: -1px !important;
}

.faqs-layout .faq-contact {
	position: sticky;
	top: 116px;
}

.faqs-layout .faq-contact h3 {
	margin-bottom: $spacing-16;
}

.faqs-layout .faq-contact li {
	display: block;
}
