.emerging-designers-posters {
	display: flex;
}

.emerging-designers-posters__image--left,
.emerging-designers-posters__image--right {
	position: relative;
	width: 100%;
}

.emerging-designers-posters__image--left {
	margin-right: $spacing-32;
}

.emerging-designers-posters__image--left img {
	margin-left: auto;
}

.emerging-designers-posters__image--right img {
	margin-right: auto;
}

.gallery-maker-grid {
	max-width: 400px;
	width: 100%;
	margin: auto;
}

@media screen and (min-width: 799px) {
	.gallery-maker-grid {
		max-width: 500px;
	}
}

@media screen and (min-width: 1023px) {
	.emerging-designers-posters {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.emerging-designers-posters__image--left img,
	.emerging-designers-posters__image--right img {
		max-width: 240px;
	}

	.emerging-designers-posters__image--right {
		left: -32px;
		top: 144px;
	}

	.emerging-designers-posters__image--left {
		right: -32px;
	}

	.gallery-maker-grid {
		max-width: 600px;
	}
}

@media screen and (min-width: 1439px) {
	.gallery-maker-grid {
		max-width: 800px;
	}
}
