.border {
    border: solid 4px transparent;
    &--mauve {
        border-color: $mauve;
    }
    &--crusta {
        border-color: $crusta;
    }
    &--hot-pink {
        border-color: $hot-pink;
    }
    &--lightning-yellow {
        border-color: $lightning-yellow;
    }
    &--aquamarine {
        border-color: $aquamarine;
    }
    &--black {
        border-color: $black;
    }
}
