$colors: (
	full-white: $white,
	full-black: $black,
	charcoal: $charcoal,
	mauve: $mauve,
	crusta: $crusta,
	hot-pink: $hot-pink,
	lightning-yellow: $lightning-yellow,
	"aquamarine": $aquamarine,
	mauve-light: $mauve-light,
	crusta-light: $crusta-light,
	hot-pink-light: $hot-pink-light,
	lightning-yellow-light: $lightning-yellow-light,
	"aquamarine-light": $aquamarine-light,
);

@mixin color-modifiers($attribute: 'color', $prefix: '--') {
	@each $name, $value in $colors {
		&#{$prefix}#{$name} {
			#{$attribute}: $value;
		}
	}
}

@mixin background-color-modifiers($attribute: 'background-color', $prefix: '--') {
	@each $name, $value in $colors {
		&#{$prefix}#{$name} {
			#{$attribute}: $value;
		}
	}
}

.color {
	@include color-modifiers;
}

.bg-color {
	@include background-color-modifiers;
}
