.white {
	color: $white;
}
.black {
	color: $black;
}
.charcoal {
	color: $charcoal;
}
.mauve {
	color: $mauve;
}
.mauve-light {
	color: $mauve-light;
}
.crusta {
	color: $crusta;
}
.crusta-light {
	color: $crusta-light;
}
.hot-pink {
	color: $hot-pink;
}
.hot-pink-light {
	color: $hot-pink-light;
}
.lightning-yellow {
	color: $lightning-yellow;
}
.lightning-yellow-light {
	color: $lightning-yellow-light;
}
.aquamarine {
	color: $aquamarine;
}
.aquamarine-light {
	color: $aquamarine-light;
}
.bg-white {
	background-color: $white;
}
.bg-black {
	background-color: $black;
}
.bg-charcoal {
	background-color: $charcoal;
}
.bg-mauve {
	background-color: $mauve;
}
.bg-mauve-light {
	background-color: $mauve-light;
}
.bg-crusta {
	background-color: $crusta;
}
.bg-crusta-light {
	background-color: $crusta-light;
}
.bg-hot-pink {
	background-color: $hot-pink;
}
.bg-hot-pink-light {
	background-color: $hot-pink-light;
}
.bg-lightning-yellow {
	background-color: $lightning-yellow;
}
.bg-lightning-yellow-light {
	background-color: $lightning-yellow-light;
}
.bg-aquamarine {
	background-color: $aquamarine;
}
.bg-aquamarine-light {
	background-color: $aquamarine-light;
}
