<section class="dcdw-get-out-the-vote py4 overflow-hidden">
  <div class="container clearfix p3 relative">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
    <div class="dcdw-get-out-the-vote-content sm-col sm-col-12 md-col-12 lg-col-6 p3 z4 bg-white">
      <h1 class="bbroller m0 text-x-medium ">
        {{ page.get-out-vote-header-text | markdownify }}
      </h1>
      <hr class="title-divider">
      <p class="m0  text-default">
        {{ page.get-out-vote-body-text | markdownify }}
      </p>
    </div>
    <div class="get-out-the-vote-bg-wrapper absolute" style="z-index: -9999;">
      <img src="/uploads/dcdw-get-out-vote.png">
    </div>
  </div>
</section>
