<section class="dcdw-get-out-the-vote py4 overflow-hidden">
  <div class="container clearfix p3 relative">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
    <div class="sm-col sm-col-12 md-col-12 lg-col-6 p4 z4 bg-white blue-shadow" style="border: solid 3px blue;">
      <h1 class="m0 text-x-medium ">
        Get Out the Vote Gallery
      </h1>
      <hr class="title-divider">
      <p class="m0  text-default">
        In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.
      </p>
    </div>
    <div class="get-out-the-vote-bg-wrapper absolute" style="z-index: -9999;">
      <img src="/uploads/dcdw-get-out-vote.png">
    </div>
  </div>
</section>
