<section class="dcdw-pop-up-shop py4 overflow-hidden">
  <div class="container clearfix p3 relative">
    <div class="sm-col sm-col-12 md-col-3 py1 xs-hide sm-hide"></div>
    <div class="dcdw-pop-up-shop-content sm-col md-col-12 lg-col-6 p3 bg-white">
      <h1 class="bbroller m0 text-x-medium">
        {{ page.pop-up-shop-header-text }}
      </h1>
      <hr class="title-divider">
      <p class="m0 text-medium lh-spaced">
        {{ page.pop-up-shop-body-text }}
      </p>
    </div>
    <div class="pop-up-shop-bg-wrapper absolute" style="z-index: -9999;">
      <img src="/uploads/dcdw-pop-up-shop.png">
    </div>
  </div>
</section>
