<section class="dcdw-pop-up-shop mt5 overflow-hidden">
  <div class="mw8 center cf pa4 pa3-ns relative">
    <div class="fl w-100 w-20-l pa1 dn db-l"></div>
    <div class="dcdw-pop-up-shop-content fl w-100 w-50-ns pa4 mt4 bg-white">
      <h2 class="bbroller ma0 f3">
        {{ page.pop-up-shop-header-text }}
      </h2>
      <hr class="title-divider">
      <span class="ma0 f4 f3-ns lh-copy">
        {{ page.pop-up-shop-body-text }}
      </span>
    </div>
    <div class="pop-up-shop-bg-wrapper absolute" style="z-index: -9999;">
      <img class="v-mid w-100" src="/uploads/dcdw-pop-up-shop.png">
    </div>
  </div>
</section>
