<!-- Event Speakers -->
<section class="event-speakers-pane py4">
  <div class="container clearfix relative p3">
    <div class="sm-col sm-col-12 text-medium">
      <div class="event-speaker-wrapper clearfix py4">
        <div class="sm-col sm-col-12 md-col-2">
          <div class="diamond-border" style="border: solid 4px #000;">
            <div class="diamond m0 overflow-hidden relative">
             <div class="los1">
               <img src="{{ page.gallery-opening-image }}" />
             </div>
            </div>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-10">
          <h3 class="bbroller m0 mb1 text-x-medium ">
            {{ page.gallery-opening-header-text | markdownify }}
          </h3>
          <hr class="title-divider">
          <p class="m0 mb3 text-medium">
            {{ page.gallery-opening-body-text | markdownify }}
          </p>
          <a href="{{ page.gallery-opening-button-link }}" target="_blank" class="bbroller blue-underline m0 text-default inline-block mt3">
            {{ page.gallery-opening-button-text }}
          </a>
        </div>
      </div>
  </div>
</section>
