<!-- You Are Voting -->
<section class="dcdw-you-are-voting relative py4 overflow-hidden">
  <div class="container clearfix p3">
    <div class="dcdw-you-are-voting-wrapper sm-col sm-col-12 md-col-2 lg-col-3 mb3">
      <img src="/uploads/dcdw-you-are-voting.png" style="max-height: 500px;">
    </div>
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide sm-hide"></div>
    <div class="sm-col sm-col-12 md-col-8 lg-col-9">
      <h1 class="bbroller m0 text-x-medium ">
        {{ page.you-are-voting-header-text | markdownify }}
      </h1>
      <hr class="title-divider">
      <p class="m0 mb4 text-small">
        {{ page.you-are-voting-body-text | markdownify }}
      </p>
      <a href="#" class="bbroller blue-underline m0 inline-block text-default ">
        Submit a poster
      </a>
    </div>
  </div>
</section>
