<div class="container">
  {% comment %}{% endcomment %}
  <div class="mix day-1">
    {% include partials/events/agenda/day-1.html %}
  </div>
  <div class="mix day-2">
    {% include partials/events/agenda/day-2.html %}
  </div>
  <div class="mix day-3">
    {% include partials/events/agenda/day-3.html %}
  </div>
  <div class="mix day-4">
    {% include partials/events/agenda/day-4.html %}
  </div>
  <div class="mix day-5">
    {% include partials/events/agenda/day-5.html %}
  </div>
  <div class="mix day-6">
    {% include partials/events/agenda/day-6.html %}
  </div>
  <div class="mix day-7">
    {% include partials/events/agenda/day-7.html %}
  </div>
  <div class="mix day-8">
    {% include partials/events/agenda/day-8.html %}
  </div>
  <div class="mix day-9">
    {% include partials/events/agenda/day-9.html %}
  </div>
</div>