body {
	background-color: $black;
	color: $white;
	font-family: $brand-font-heebo;
	font-size: $font-size-16;
	overflow-x: hidden;
}

hr {
	border: solid 2px $white;
	border-radius: 0;
	margin: $spacing-32 auto;
	max-width: 40px;
}

ul {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	display: block;
	line-height: initial;
	text-rendering: optimizeLegibility;
}

h1,
h2 {
	font-size: $font-size-24;
	line-height: 1;
	position: relative;
	text-transform: uppercase;
}

h1 span:after,
h2 span:after {
	background-color: $white;
	content: "";
	display: inline-block;
	height: 4px;
	margin-left: $spacing-4;
	width: 20px;
}

h1 span:nth-child(odd),
h1 span:nth-child(even),
h2 span:nth-child(odd),
h2 span:nth-child(even) {
	color: $white;
}

h1 span:nth-child(odd),
h2 span:nth-child(odd) {
	font-family: $brand-font-fk-grotesk;
	font-weight: 400;
}

h1 span:nth-child(even),
h2 span:nth-child(even) {
	font-family: $brand-font-sometimes;
	font-weight: 200;
}

.wysiwyg h2,
h3,
h4 {
	font-family: $brand-font-terminus;
	font-size: $font-size-16;
	text-transform: uppercase;
}

h4 {
	font-size: $font-size-14;
}

@media screen and (min-width: 799px) {

	h1,
	h2 {
		font-size: $font-size-40;
	}
}

@mixin anchor {
	color: $green;
	cursor: pointer;
	text-decoration: underline;
	transition: opacity $timing-default ease-in;
}

@mixin state-active {
	outline: 1px dashed $green !important;
	outline-offset: 1px !important;
}

@mixin state-focus {
	outline: 1px dashed $green !important;
	outline-offset: 1px !important;
}

a {
	@include anchor;
}

a:active,
button:active,
input:active,
.houdini-heading:active {
	@include state-active;
}

a:focus,
button:focus,
input:focus,
video:focus,
.houdini-heading:focus {
	@include state-focus;
}

::selection {
	background-color: $green;
	color: $black;
}

/* The emerging W3C standard that is currently Firefox-only */
* {
	scrollbar-width: auto;
	scrollbar-color: $green $black;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: $black;
}

*::-webkit-scrollbar-thumb {
	background-color: $green;
}

@media screen and (min-width: 1023px) {
	body {
		font-size: $font-size-18;
	}
}
