/* The emerging W3C standard that is currently Firefox-only */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--cinnabar) var(--celeste);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--celeste);
    border-left: 1px solid var(--black);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cinnabar);
}

::selection {
    background-color: var(--cinnabar);
    color: var(--black);
}

#skip-to-content {
    scroll-margin-top: 80px;
}

.skip-to-content:not(:focus):not(:hover) {
    transform: translateY(-200px);
    opacity: 0;
    -webkit-transform: translateY(-200px);
    -moz-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    -o-transform: translateY(-200px);
}

.skip-to-content {
    align-items: center;
    background-color: var(--cinnabar);
    color: var(--black);
    display: flex;
    font-weight: 700;
    height: 74px;
    justify-content: space-around;
    margin: auto;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    z-index: var(--index-10);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
}

a {
    color: var(--cinnabar);
    cursor: pointer;
    transition: opacity var(--timing-default) ease-in;
}

a:active {
    outline: 4px dashed var(--cinnabar);
    outline-offset: 4px;
}

*:focus,
a:focus {
    outline: 4px dashed var(--cinnabar);
    outline-offset: 4px;
}

body {
    background-color: var(--beige);
    color: var(--black);
    font-family: var(--font-poppins);
    font-size: var(--font-size-16);
    margin: auto;
    max-width: 1366px;
}

@media (prefers-reduced-data: no-preference) {
    body {
        background-image: url("/uploads/brick.png");
        background-size: contain;
    }
}

@media (prefers-reduced-data: reduce) {
    body {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Ubuntu, Roboto, Cantarell, Noto Sans, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
}

main {
    background-color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
    display: block;
    line-height: initial;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: var(--font-size-32);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

legend,
ul {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
}

svg {
    display: block;
    vertical-align: middle;
    width: 100%;
}

@media screen and (min-width: 1366px) {
    body {
        font-size: var(--font-size-18);
        line-height: 32px;
    }
}
