/* SECTION - animations */
$timing-slow: 300ms;
$timing-default: 200ms;
$timing-quick: 100ms;

/* SECTION - breakpoints */
$small: 479px;
$medium: 767px;
$large: 1023px;
$extra-large: 1439px;

/* SECTION - colors */
// generic
$white: #fff;
$black: #000;

// 2020
$red: #ff0000;
$green: #4ae725;

// 2019 colors
$mauve: #c396ff;
$crusta: #fd813f;
$hot-pink: #fb7eb8;
$lightning-yellow: #f2c22e;
$aquamarine: #65ecb1;
$mauve-light: rgba($mauve, 0.15);
$crusta-light: rgba($crusta, 0.15);
$hot-pink-light: rgba($hot-pink, 0.15);
$lightning-yellow-light: rgba($lightning-yellow, 0.15);
$aquamarine-light: rgba($aquamarine, 0.15);

// past editions
$dcdw-2016: #0000ff;
$dcdw-2017: #3e07d0;
$dcdw-2018: #297b76;
$dcdw-2019: $hot-pink;

/* SECTION - depth */
$index-10: 1000;
$index-9: 900;
$index-8: 800;
$index-7: 700;
$index-6: 600;
$index-5: 500;
$index-4: 400;
$index-3: 300;
$index-2: 200;
$index-1: 100;

/* SECTION - spacing */
$spacing-96: 6rem; // 96px
$spacing-64: 4rem; // 64px
$spacing-48: 3rem; // 48px
$spacing-40: 2.5rem; // 40px
$spacing-32: 2rem; // 32px
$spacing-24: 1.5rem; // 24px
$spacing-16: 1.25rem; // 20px
$spacing-8: 0.5rem; // 8px
$spacing-4: 0.25rem; // 4px

/* SECTION - spacing */
$spacing-96: 6rem; // 96px
$spacing-64: 4rem; // 64px
$spacing-48: 3rem; // 48px
$spacing-40: 2.5rem; // 40px
$spacing-32: 2rem; // 32px
$spacing-24: 1.5rem; // 24px
$spacing-16: 1.25rem; // 20px
$spacing-8: 0.5rem; // 8px
$spacing-4: 0.25rem; // 4px

/* SECTION - typography */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&family=Source+Sans+Pro:wght@400;700&display=swap");

$sans: "Source Sans Pro", sans-serif;
$mono: "Source Code Pro", monospace;
$font-size-64: 4rem; // 64px
$font-size-56: 3.5rem; // 56px
$font-size-48: 3rem; // 48px
$font-size-40: 2.5rem; // 40px
$font-size-32: 2rem; // 32px
$font-size-24: 1.5rem; // 24px
$font-size-20: 1.25rem; // 20px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem; // 12px
$font-size-10: 0.625rem; // 10px
