@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

/* SECTION - animations */
$timing-slow: 300ms;
$timing-default: 200ms;
$timing-quick: 100ms;

/* SECTION - colors */
$white: #fff;
$black: #000;
$green: #4ae725;
$dcdw-2016: #0000ff;
$dcdw-2017: #3e07d0;
$dcdw-2018: #297b76;
$dcdw-2019: #fb7eb8;
$dcdw-2020: #4ae725;
$dcdw-2021-yellow: #f9ff84;
$dcdw-2021-red: #EC0100;
$dcdw-2021-purple: #7e48d9;

/* SECTION - depth */
$index-4: 400;
$index-3: 300;
$index-2: 200;
$index-1: 100;

/* SECTION - spacing */
$spacing-120: 120px;
$spacing-80: 80px;
$spacing-60: 60px;
$spacing-48: 48px;
$spacing-32: 32px;
$spacing-16: 16px;
$spacing-8: 8px;
$spacing-4: 4px;

/* SECTION - typography */
$brand-font-fk-grotesk: "fk_groteskregular",
sans-serif;
$brand-font-terminus: "Termina",
sans-serif;
$brand-font-heebo: "heebo",
sans-serif;
$brand-font-sometimes: "sometimes-times-regular",
serif;

$font-sans: "Poppins", sans-serif;

$font-size-64: 4rem; // 64px
$font-size-56: 3.5rem; // 56px
$font-size-48: 3rem; // 48px
$font-size-40: 2.5rem; // 40px
$font-size-32: 2rem; // 32px
$font-size-24: 1.5rem; // 24px
$font-size-20: 1.25rem; // 20px
$font-size-18: 1.125rem; // 18px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem; // 12px
$font-size-10: 0.625rem; // 10px
