<footer class="site-footer white bg-dcdw-buffered">
  <div class="mw7 center pv5 pa3 wysiwyg">
    {% for content in site.data.footer.landing-page %}
      <h2 class="ma0 mb2 f4 f3-ns fw4 lh-copy tc black">
        {{ content.header }}
      </h2>
      <p class="ma0 mb2 f5 f4-ns fw3 lh-copy tc black">
        {{ content.text | markdownify }}
      </p>
    {% endfor %}

    {% include 3rd-party/mailchimp/form.html %}
    {% include 3rd-party/mailchimp/scripts.html %}
  </div>

  <div class="site-footer__social bg-black flex flex-column flex-row-l items-center pa3">
    <div class="w-100 w-third-l tc tl-l">
      <a href="mailto:{{ site.email }}" target="_top" class="ma0 f6 f5-ns white">
        {{ site.email }}
      </a>
    </div>
    <div class="w-100 w-third-l pv3 pv0-l tc">
      <ul class="list ma0 pl0">
        {% for link in site.data.navigation.social-nav %}
          <li class="dib dim link">
            <a href="{{ link.url }}" class="ph2 v-mid white">{{ link.icon }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="w-100 w-third-l tc tr-l">
      <p class="ma0 f6 f5-ns white">
        {{ site.copyright }}
      </p>
    </div>
  </div>

  {% if site.ppast-editions == "true" %}
  <div class="social-footer_past-editions bg-dcdw-buffered flex flex-column flex-row-l items-center pa3">
    <p class="ma0 f7 charcoal">
      Past Editions: <a href="https://github.com/AIGAdc/2016.dcdesignweek.org" class="charcoal dib">2016</a>, <a href="https://github.com/AIGAdc/2017.dcdesignweek.org" class="charcoal dib">2017</a>
    </p>
  </div>
  {% endif %}
</footer>