  </div>
</body>

<!-- scripts -->
<script type="text/javascript" src="/assets/js/app.js"></script>

<script>
  $(document).ready(function() {
    $('.illustration-1').scrollToFixed({
      marginTop: $('.global-header').outerHeight() + 25,
      //limit: $('.home-partners').offset().top - $('.illustration-3').outerHeight() - -400,
      zIndex: -9999
    });
    $('.illustration-2').scrollToFixed({
      marginTop: $('.global-header').outerHeight() + 40,
      //limit: $('.home-partners').offset().top - $('.illustration-3').outerHeight() - -400,
      zIndex: -9999
    });
    $('.illustration-3').scrollToFixed({
      marginTop: $('.global-header').outerHeight() + 80,
      //limit: $('.home-partners').offset().top - $('.illustration-3').outerHeight() - 0,
      zIndex: -9999
    });
  });
</script>

<script>
  // Accepts any class name
  var rellax = new Rellax('.rellax');
</script>
</html>
