<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if (IE 7)&!(IEMobile) ]><html class="ie7"> <![endif]-->
<!--[if (IE 8)&!(IEMobile) ]><html class="ie8"> <![endif]-->
<!--[if (IE 9)&!(IEMobile) ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name='description' content='{{ site.meta.description }}'>
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <link rel='shortcut icon' type='image/x-icon' href='/assets/favicon.png' />

    <!-- begin styles, fonts, icon fonts -->
      <link href="/assets/css/base.css" media="all" rel="stylesheet" type="text/css"/>

      <!-- google/typekit fonts -->
      <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

    <!-- end styles, fonts, icon fonts -->

    <!-- begin scripts -->
      <!-- smart browser detection -->
      <script type="text/javascript">
        if ('visibilityState' in document) {
          var doc = document.getElementsByTagName("html");
          doc[0].className = 'modern-browser';
        }
      </script>

      <!-- jquery -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

      <!-- html5shiv -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>

      <!-- google analytics -->
      <!-- will have to ask dan if they want to track analytics on the dcdw page for this year -->
    <!-- end scripts -->
  </head>

  <!-- Pushy Menu -->
  <!-- Menu Button -->

  <nav class="pushy pushy-right xs-show sm-show md-show">
    <ul>
      <!-- Submenu -->
      <li class="pushy-submenu">
        <a href="#">Submenu</a>
        <ul>
          <li class="pushy-link white"><a href="#">Item 1</a></li>
          <li class="pushy-link white"><a href="#">Item 2</a></li>
          <li class="pushy-link white"><a href="#">Item 3</a></li>
        </ul>
      </li>
      <li class="pushy-link"><a href="#">Item 1</a></li>
      <li class="pushy-link"><a href="#">Item 2</a></li>
    </ul>
  </nav>

  <!-- Site Overlay -->
  <div class="site-overlay"></div>

    <body>
      <!-- Your Content -->
      <div id="container" class="relative">
        {% include header.html %}
        <!-- Background Grid -->
        <section class="grid absolute fixed top-0 left-0 right-0 overflow-hidden" style="z-index: -9999; opacity: .9;">
        	<div class="container clearfix p3">
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-1 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        	</div>
        </section>
