  </div>
  {% include footer.html %}
</body>

<!-- scripts -->
<script type="text/javascript" src="/assets/js/app.js"></script>

<!-- settings for interlocking illustrations on homepage -->
<script type="text/javascript">
$(document).ready(function() {
  $('.illustration-1-wrapper').scrollToFixed({
    marginTop: $('.global-header').outerHeight() + -50,
    limit: $('.homepage-partners').offset().top - 850,
    zIndex: -999,
  });
  $('.illustration-2-wrapper').scrollToFixed({
    marginTop: $('.global-header').outerHeight() + -50,
    limit: $('.homepage-partners').offset().top - 850,
    zIndex: -999,
  });
  $('.illustration-3-wrapper').scrollToFixed({
    marginTop: $('.global-header').outerHeight() + -50,
    limit: $('.homepage-partners').offset().top - 850,
    zIndex: -999,
  });
});
</script>

<script type="text/javascript">
  instafetch.init({
    accessToken: '1692373042.1677ed0.0b5d80208b9a48d1b79820c807e86a4e',
    target: 'instafetch',
    numOfPics: 18,
    caption: false
  });
</script>
</html>
