<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if (IE 7)&!(IEMobile) ]><html class="ie7"> <![endif]-->
<!--[if (IE 8)&!(IEMobile) ]><html class="ie8"> <![endif]-->
<!--[if (IE 9)&!(IEMobile) ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js"> <!--<![endif]-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name='description' content='{{ site.meta.description }}'>
    <title>{{site.title}} | {{page.title}}</title>
    <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    <link rel='shortcut icon' type='image/x-icon' href='{{site.favicon-image}}' />

    <meta property="og:url" content="{{site.meta-og-url}}" />
    <meta property="og:title" content="{{site.meta-og-title}}" />
    <meta property="og:description" content="{{site.meta-og-description}}" />
    <meta property="og:image"content="{{site.meta-og-image}}" />

    <!-- styles & icons -->
    <link href="/assets/css/base.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">

    <script src="https://use.fontawesome.com/569e61da3d.js"></script>
    <!-- end styles & icons -->

    <!-- begin scripts -->
      <!-- smart browser detection -->
      <script type="text/javascript">
        if ('visibilityState' in document) {
          var doc = document.getElementsByTagName("html");
          doc[0].className = 'modern-browser';
        }
      </script>

      <!-- jquery -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

      <!-- html5shiv -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>

      <!-- google analytics -->
      {{site.google-analytics}}
      <!-- end google analytics -->
    <!-- end scripts -->
  </head>

  <!-- Pushy Menu -->
  <nav class="pushy pushy-right xs-show sm-show md-show">
    <ul>
      <li class="pushy-link">
        <a href="/">Home</a>
      </li>
      <li class="pushy-link">
        <a href="/events/">Events</a>
      </li>
      <li class="pushy-link">
        <a href="/shops-and-galleries/">Shops &amp; Galleries</a>
      </li>
      <li class="pushy-link">
        <a href="/sponsors/">Sponsors</a>
      </li>
      <li class="pushy-link">
        <a href="/about/">About</a>
      </li>
      <li class="pushy-link">
        <a href="/volunteers/">Volunteers</a>
      </li>
    </ul>
  </nav>

  <!-- site overlay when pushy menu is activated  -->
  <div class="site-overlay"></div>

    <body>
      <!-- Your Content -->
      <div id="container" class="relative">
        {% include header.html %}
        <!-- Background Grid -->
        <section class="grid absolute fixed top-0 left-0 right-0 overflow-hidden" style="z-index: -9999; opacity: .9;">
        	<div class="container clearfix p3">
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-2 lg-col-1 xs-hide sm-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 md-col-1 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        		<div class="sm-col sm-col-12 lg-col-1 xs-hide sm-hide md-hide grid-line">
        		</div>
        	</div>
        </section>
