/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
}
.flickity-enabled:focus {
    outline: none;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* ---- page dots ---- */

.flickity-page-dots {
    padding: 0;
    margin: 8px;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.flickity-rtl .flickity-page-dots {
    direction: rtl;
}
.flickity-page-dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 8px;
    background-color: $crusta;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
}
.flickity-page-dots .dot.is-selected {
    opacity: 1;
}