.blur-up {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    transition: filter $timing-default, -webkit-filter $timing-default;
}
.blur-up.lazyloaded {
    -webkit-filter: blur(0);
    filter: blur(0);
}
