.control {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: background 150ms;
    flex-grow: 1;
    cursor: pointer !important;
}

/* Target Elements
---------------------------------------------------------------------- */
.mixitup-control-active {
    background-color: $mauve;
}
.mix-it-up-container {
    overflow: hidden;
    position: relative;
}
.mixitup-container {
    position: relative;
        margin-bottom: $spacing-40;
}
.mixitup-container-failed::after {
    content: 'No Result 😬';
    padding: 32px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}