/* Controls
---------------------------------------------------------------------- */

.control-group {
    border: none;
    display: flex;
    vertical-align: top;
}
.control {
    background: none;
    border: none;
    cursor: pointer;
    padding: 16px;
    transition: background 150ms;
    flex-grow: 1;
}
span.control-text-1 {
    font-size: 24px;
    font-weight: 700;
}
span.control-text-1 {
    font-size: 24px;
    font-weight: 400;
}
.mixitup-control-active {
    background: $mauve;
}
/* Target Elements
---------------------------------------------------------------------- */

.mix {
    background: $white;
    display: block;
    width: 100%;
}


.grid:empty {
  background-color: lime;
  height: 40px;
  width: 200px;
  content:'HIIIIII';
  position: absolute;
}