/* Controls
---------------------------------------------------------------------- */

.control-group {
    border: none;
    display: flex;
    vertical-align: top;
        padding: 32px;
}
.controls {
  position: sticky;
  top: 74px;
  z-index: $index-4;
  background-color: $white;
}
.control {
    background: none;
    border: none;
    cursor: pointer;
    padding: 16px;
    transition: background 150ms;
    flex-grow: 1;
    cursor: pointer !important;
}
span.control-text-1 {
    font-size: 24px;
    font-weight: 700;
}
span.control-text-1 {
    font-size: 24px;
    font-weight: 400;
}
.mixitup-control-active {
    background: $mauve;
}
/* Target Elements
---------------------------------------------------------------------- */
.mix-it-up-container {
  overflow: hidden;
  z-index: $index-4;
}
.mixitup-container-failed::after {
    content: 'No Results';
    padding: 32px;
}