{% include global/head-open.html %}
{% include header.html %}
  <section class="single-event-header bg-cover bg-center py4 overflow-hidden" style="background-image: url('{{ page.single-event-header-image }}');">
    <div class="single-event-header-container clearfix relative py4">
      <div class="sm-col sm-col-12 md-col-11 relative">
        <span class="event-title-header bg-white px3 py2-half block relative">
          <h1 class="bbroller m0 text-headline">{{ page.title }}</h1>
        </span>
        <span class="p3 block relative mb1">
          <h2 class="bbroller m0 text-x-large white lh-tight">{{ page.event-date | date: "%A / %B %d / %I %p"}}</h2>
        </span>
        <a href="#" class="bbroller m0 ml3 px3 py1 button button-white">
          Grab Your Ticket
        </a>
      </div>
    </div>
  </section>

  <article class="single-event pt4">
    <div class="container clearfix relative p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide"></div>
      <div class="sm-col sm-col-12 md-col-10 text-medium">
        {{ content | markdownify }}
      </div>
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide"></div>
    </div>
  </article>

  <section class="single-event-details py2">
    <div class="container clearfix relative p3">
      <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
      <div class="sm-col sm-col-12 md-col-8 text-medium">
        <h3 class="bbroller m0 text-large">Details</h3>
        <hr class="title-divider">
        <div class="sm-col sm-col-12 md-col-6">
          <h4 class="bbroller m0 text-lowercase text-small py2">
            Date &amp; Time
          </h4>
          <p class="m0 text-small">
            Test
          </p>
        </div>
        <div class="sm-col sm-col-12 md-col-6">
          <h4 class="bbroller m0 text-lowercase text-small py2">
            Venue
          </h4>
          <p class="m0 text-small">
            Test
          </p>
        </div>
      </div>
      <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
    </div>
  </section>

  <section class="single-event-speakers py2">
    <div class="container clearfix relative p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
      <div class="sm-col sm-col-12 md-col-10 text-medium">
        <h1 class="bbroller m0 text-large">Speakers</h1>
        <hr class="title-divider">
        <div class="event-speaker-wrapper clearfix py3">
          <div class="sm-col sm-col-12 md-col-3">
            <div class="diamond-image-border mt4">
              <div class="diamond overflow-hidden">
               <div class="diamond-los1">
                 <img src="http://placecorgi.com/250" />
               </div>
              </div>
            </div>
          </div>
          <div class="sm-col sm-col-12 md-col-9 px3">
            <h3 class="bbroller m0 mb1 ml2">Speaker Name</h3>
            <h6 class="m0 mb2 text-uppercase ml2">Speaker Title</h6>
            <p class="m0 ml2">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
          </div>
        </div>
      </div>
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
    </div>
  </section>
  {% include partials/partners.html %}


{% include footer.html %}
{% include global/head-closed.html %}
