{% include global/head-open.html %}
{% include header.html %}

<section class="single-event-header border bg-cover bg-center py4 overflow-hidden" style="background-image: url('{{ page.event-bg-image }}');">
  <div class="container clearfix relative py4">
    <div class="sm-col sm-col-12 md-col-11 relative">
      <span class="event-title-header bg-white p3 py4 block relative">
        <h2 class="bbroller m0 text-xx-large">
          {{ page.title }}
          <span class="dcdw-logo absolute ml2 xs-hide" style="top: 42.5px;"><img src="/uploads/dc-design-week.svg" style="max-width:115px; max-height: 115px;"></span>
        </h2>
      </span>
      <span class="p3 block relative mb4">
        <h2 class="bbroller m0 text-large page-sub-header white">Friday-Saturday / October 21-22</h2>
      </span>
      <a href="#" class="m0 ml3 px3 py1 button button-white text-default ">
        Grab Your Ticket
      </a>
    </div>
  </div>
</section>

<article class="article-events py4">
  <div class="container clearfix relative p3">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide"></div>
    <div class="sm-col sm-col-12 md-col-10 text-medium">
      {{ content }}
    </div>
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide"></div>
  </div>
</article>

<section class="event-details-pane">
  <div class="container clearfix relative p3">
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
    <div class="sm-col sm-col-12 md-col-8 text-medium">
      <h1 class="bbroller m0 text-large">Details</h1>
      <hr class="title-divider">
      <div class="sm-col sm-col-12 md-col-3">
        <h4 class="bbroller m0 text-uppercase text-small py2">
          Time
        </h4>
        <p class="m0">
          Test
        </p>
      </div>
      <div class="sm-col sm-col-12 md-col-6">
        <h4 class="bbroller m0 text-uppercase text-small py2">
          Venue
        </h4>
        <p class="m0">
          Test
        </p>
      </div>
      <div class="sm-col sm-col-12 md-col-3">
        <h4 class="bbroller m0 text-uppercase text-small py2">
          Price
        </h4>
        <p class="m0">
          Test
        </p>
      </div>
    </div>
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
  </div>
</section>

<section class="event-speakers-pane py4">
  <div class="container clearfix relative p3">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
    <div class="sm-col sm-col-12 md-col-10 text-medium">
      <h1 class="bbroller m0 text-large">Speakers</h1>
      <hr class="title-divider">
      <div class="event-speaker-wrapper clearfix py3">
        <div class="sm-col sm-col-12 md-col-2">
          <div class="diamond-border" style="border: solid 4px #000;">
            <div class="diamond m0 overflow-hidden relative">
             <div class="los1">
               <img src="http://placecorgi.com/250" />
             </div>
            </div>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-10">
          <h3 class="bbroller text-default m0 mb1 ml2">Speaker Name</h3>
          <h6 class="m0 mb2 text-small text-uppercase ml2">Speaker Title</h6>
          <p class="m0 ml2 text-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
        </div>
      </div>
      <div class="event-speaker-wrapper clearfix py3">
        <div class="sm-col sm-col-12 md-col-2">
          <div class="diamond-border" style="border: solid 4px #000;">
            <div class="diamond m0 overflow-hidden relative">
             <div class="los1">
               <img src="http://placecorgi.com/250" />
             </div>
            </div>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-10">
          <h3 class="bbroller text-default m0 mb1 ml2">Speaker Name</h3>
          <h6 class="m0 mb2 text-small text-uppercase ml2">Speaker Title</h6>
          <p class="m0 ml2 text-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
        </div>
      </div>
      <div class="event-speaker-wrapper clearfix py3">
        <div class="sm-col sm-col-12 md-col-2">
          <div class="diamond-border" style="border: solid 4px #000;">
            <div class="diamond m0 overflow-hidden relative">
             <div class="los1">
               <img src="http://placecorgi.com/250" />
             </div>
            </div>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-10">
          <h3 class="bbroller text-default m0 mb1 ml2">Speaker Name</h3>
          <h6 class="m0 mb2 text-small text-uppercase ml2">Speaker Title</h6>
          <p class="m0 ml2 text-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
        </div>
      </div>
    </div>
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
  </div>
</section>
  {% include partials/partners.html %}


{% include footer.html %}
{% include global/head-closed.html %}
