<section>
    {% for details in staff.details %}
    <div>
        <h2>
            {{ details.staff_header }}
        </h2>
        <hr aria-hidden="true" class="divider divider--black">
        <div>
            {{ details.staff_body }}
        </div>
    </div>

    {% if details.show_staff_image == true %}
    <div>
        <figure>
            <img alt="{{ details.staff_image_alt }}" src="{{ details.staff_image }}">
            <figcaption>
                {{ details.staff_image_alt }}
            </figcaption>
        </figure>
    </div>
    {% endif %}
    {% endfor %}

    <ul>
        {% for member in staff.members %}
        {% include 'components/card-staff.html' %}
        {% endfor %}
    </ul>
</section>
