/* 

👋🏾 Shoutout: Special thanks to Andy Bell for his helpful responsive grid and wrapper utilities:
https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/

*/

.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding: $spacing-16;
}

.wrapper--loose {
	max-width: 192ch;
}

.wrapper--default {
	max-width: 96ch;
}

.wrapper--tight {
	max-width: 48ch;
}

.full-bleed {
	background-color: var(--theme-color-2);
	margin-left: calc(50% - 50vw);
	margin-top: var(--theme-spacing-default);
	width: 100vw;
}