/* special shout out to Andy Bell for this his snippet */
.o-grid {
    display: grid;
    grid-gap: $spacing-32;
}
.o-grid.o-grid__1-columns {
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
}
.o-grid.o-grid__2-columns {
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}
.o-grid.o-grid__3-columns {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
.o-grid.o-grid__4-columns {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
}
.o-grid>* {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}
.o-grid>*+* {
    margin-top: $spacing-32;
}
.o-grid--items-center {
	align-items: center;
}
@supports (display: grid) {
    .o-grid>* {
        max-width: unset;
        margin: 0;
    }
}