/* Box sizing rules */

* {
	box-sizing: border-box;
}
*:before,
*:after {
	box-sizing: inherit;
}
/* Remove margin and padding from elements */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
dd,
figure,
figcaption,
dl,
dd,
dt,
fieldset {
	margin: 0px;
	padding: 0px;
}
body {
	/* Hide persistent scrollbar in IE (10/11) and Edge */
	-ms-overflow-style: -ms-autohiding-scrollbar;
	/* Anchor links will transition rather than skip */
	scroll-behavior: smooth;
	/* Reset font size to 1rem, in case it has a pixel value */
	min-height: 100vh;
}
/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
}
/* A elements that don't have a class get default styles */

a:not([class]) {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
	cursor: pointer;
}
.button > a:focus,
a:focus {
	outline: dotted medium $aquamarine !important;
	outline-offset: medium !important;
}
/* Turn off the recent search in WebKit. */

::-webkit-search-decoration {
	display: none;
}
/* Normalise form field line-height in WebKit */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
	line-height: normal;
}
/* Make a search box appear like a text box */

input[type="search"] {
	-webkit-appearance: textfield;
}
/* Make images responsive */

img,
svg,
video {
	max-width: 100%;
	display: block;
	width: 100%;
}
/* Remove _all_ animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
	* {
		-webkit-animation: none !important;
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}
/* Legacy Firefox syntax (version 61 and below) */

::-moz-selection {
	background-color: $mauve;
}
::selection {
	background-color: $mauve;
}
