body {
	color: $black;
	font-family: $sans;
	font-size: $font-size-16;
	font-weight: 300;
	line-height: 1.6;
}
a {
	font-weight: 700;
	text-decoration: none;
	color: $black;
	cursor: pointer;
	transition: opacity 150ms ease-in;
}
a:hover {
	opacity: 0.6;
}
button:active,
button:focus,
input:active,
input:focus,
a:active,
a:focus {
	outline: dotted medium $aquamarine !important;
	outline-offset: medium !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
	font-family: $sans;
	font-stretch: normal;
	font-style: normal;
	font-weight: 700;
	line-height: initial;
	margin: 0;
	text-rendering: optimizeLegibility;
}
hr {
	border: solid 4px $crusta;
	border-radius: 50px;
	margin: 0.5rem 0 2rem 0;
	max-width: 120px;
	text-align: left;
}
h1 {
	font-size: $font-size-40;
}
h2 {
	font-size: $font-size-32;
}
h3 {
	font-size: $font-size-24;
}
strong,
.font-weight-700 {
	font-weight: 700;
}
.font-weight-300 {
	font-weight: 300;
}
.font-weight-400 {
	font-weight: 400;
}
@media screen and (min-width: $break-3) {
	body {
		font-size: $font-size-20;
	}
	.site-container .headline {
		font-size: 80px;
		margin-top: -16px;
		margin-bottom: -36px;
	}
	h1 {
		font-size: $font-size-56;
	}
}
/* font family */

.script {
	font-family: $script;
}
.sans {
	font-family: $sans;
}
.font-size-1 {
	font-size: $font-size-48;
}
.font-size-2 {
	font-size: $font-size-40;
}
.font-size-3 {
	font-size: $font-size-32;
}
.font-size-4 {
	font-size: $font-size-24;
}
.font-size-5 {
	font-size: $font-size-20;
}
.font-size-6 {
	font-size: $font-size-16;
}
.font-size-7 {
	font-size: $font-size-14;
}
.font-size-8 {
	font-size: $font-size-12;
}
.font-size-9 {
	font-size: $font-size-10;
}
/*
.font-weight-300 {
    font-weight: 300;
}
.font-weight-400 {
    font-weight: 400;
}
.font-weight-700, strong {
    font-weight: 700;
}
.text-transform-upper {
    text-transform: uppercase;
}
.text-transform-lower {
    text-transform: lowercase;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
.text-align-justify {
    text-align: justify;
}
.site-container .headline {
    font-size: 32px;
}
h1, .site-container h1 {
    font-size: $font-size-32;
}
h2, .site-container h2 {
    font-size: $font-size-24;
}
h3, .site-container h3 {
    font-size: $font-size-20;
}
p, .site-container p {
    margin: $spacing-32 0 0 0;
}
.block-featured-events .card hr, .block-committee .card hr {
    border: solid 4px $black;
}
@media screen and (min-width: 1024px) {
    .site-container .headline {
        font-size: 80px;
        margin-top: -16px;
        margin-bottom: -36px;
    }
    h1, .site-container h1 {
        font-size: $font-size-48;
    }
    h2, .site-container h2 {
        font-size: $font-size-40;
    }
    h3, .site-container h3 {
        font-size: $font-size-32;
    }
}*/
