{% include global/head-open.html %}
<div class="job-intro">
  <section class="introduction relative" style="background-image: url('/uploads/dcdw-pattern-38c20d.jpg'); background-position: center center; background-size: cover;">
    <div class="mw8 center cf">
      <span class="white-bar left-0 absolute bg-white pa3">
        <img class="design-week fr" src="/uploads/dcdw-lockup-new.svg">
      </span>
    </div>
  </section>
</div>

<div class="white-wrap">
  <div class="mw8 center cf pa4 pa3-ns job--wrap job--list_wrap">
    {% assign sorted_jobs = site.jobs | sort:"position" %}
    <div class="fl w-100 w-50-l ph3">
      {% for job in sorted_jobs limit: 7 %}
      <a href="{{ job.url }}">
        <div class="
        {% if job.exec == false %} sub-com fl w-100 w-80-l {% endif %}
        {% if job.title == "Programming Director" %} job--program {% endif %}
        job--card">
          <div class="diamond-image-border job--avatar">
            <div class="diamond overflow-hidden">
               <div class="diamond-los1">
                 <div class="color-overlay"></div>
                 <img src="{{ job.avatar }}">
               </div>
            </div>
          </div>
          <div class="job--card__title">
            <h2 class="ma0 bbroller">{{ job.title }}</h2>
            <p class="ma0">{{ job.name }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    <div class="fl w-100 w-50-l ph3">
      {% for job in sorted_jobs offset: 7 %}
      <a href="{{ job.url }}">
        <div class="
        {% if job.exec == false %} sub-com fl w-100 w-80-l  {% endif %}
        {% if job.title == "Development Director" %} job--dev {% endif %}
        {% if job.title == "C&M Director" %} job--marketing {% endif %}
        job--card">
          <div class="diamond-image-border job--avatar">
            <div class="diamond overflow-hidden">
               <div class="diamond-los1">
                 <div class="color-overlay"></div>
                 <img src="{{ job.avatar }}">
               </div>
            </div>
          </div>
          <div class="job--card__title">
            <h2 class="ma0 bbroller">{{ job.title }}</h2>
            <p class="ma0">{{ job.name }}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% include global/head-closed.html %}
