---
layout: default
---

<main class="page-thank-you overflow-hidden cf relative">
  <div class="vh-50 vh-75-l flex tc mt5 relative pa3 bg-black">
    <div class="flex-auto self-center">
      <div class="mw9 center cf pa3">
        <h1 class="bbroller ma0 mb4 f3 f2-m f-subheadline-l white lh-title">
          {{ page.hero-header }}
        </h1>
        <p class="bbroller white">
          {{ page.hero-subheader }}
        </p>
      </div>
    </div>
  </div>
  <div class="tc mv6 pa3 bg-white">
    <div class="mw8 center cf pa3">
      <h1 class="bbroller ma0 f3 f2-l black lh-title">
        {{ content }}
      </h1>
    </div>
  </div>
</main>
