{% include _doctype/open.html %}
  <article class="page-home overflow-hidden cf relative">
    <section class="landing-hero vh-75 flex tc mt5 relative noise overflow-hidden">
      <div class="flex-auto self-center">
        <span class="center pa4 pa0-l db">
          <img class="v-mid relative" src="/uploads/logo_hero_date(1).png" style="z-index:9999;">
        </span>
      </div>
    </section>

    <section class="">
      <div class="cf">
        {% include partials/home/dc-is-design.html %}
        {% include partials/events/content.html %}
        {% include partials/sponsors/content.html %}
      </div>
    </section>
  </article>
{% include _doctype/closed.html %}
