{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <section class="introduction bg-white">
      <div class="container clearfix px3">
        <div class="design-week-wrapper relative sm-col sm-col-12 md-col-5 lg-col-4 px1">
          <img class="design-week" src="/uploads/dc-design-week.svg">
        </div>
        <div class="introduction-illustration-wrapper relative sm-col sm-col-12 md-col-7 lg-col-8 px1 xs-hide">
          <img class="introduction-illustration" src="/uploads/group-7.svg">
        </div>
      </div>
    </section>

    <section class="dc-design bg-white pb4 z4">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
      	<div class="paragraph-1 sm-col sm-col-12 md-col-4 lg-col-3 px1 pt4">
  				<h1 class="m0 text-large courier">
            {{ page.dc-design-header-text }}
          </h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-justify text-default">
  				  {{ page.dc-design-paragraph-1-text }}
  				</p>
  			</div>
        <div class="sm-col sm-col-12 md-col-7 rellax xs-hide sm-hide" data-rellax-speed="-1">
          <div class="top-illustration absolute">
            <img src="/uploads/earthswatch-2.svg">
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-7 rellax xs-hide sm-hide" data-rellax-speed="-1">
          <div class="left-illustration absolute">
            <img src="/uploads/screen-shot-2016-07-28-at-82030-pm-copy.svg">
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-7 rellax xs-hide sm-hide" data-rellax-speed="-1">
          <div class="right-illustration absolute">
            <img src="/uploads/earthswatch.svg">
          </div>
        </div>
      </div>

      </br class="xs-show">

      <div class="container clearfix px3">
        <div class="sm-col sm-col-12 md-col-5  lg-col-4 py1 xs-hide"></div>
      	<div class="paragraph-2 sm-col sm-col-12 md-col-4 lg-col-3 px1 mb4 relative">
  				<p class="m0 courier text-justify text-default">
            {{ page.dc-design-paragraph-2-text }}
  				</p>
  			</div>
      </div>
    </section>

    <section class="home-events">
      <div class="container clearfix px3">
      	<div class="sm-col sm-col-12 md-col-4">
  				<h1 class="m0 text-large courier">
            {{ page.home-events-header-text }}
          </h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default">
    				{{ page.home-events-sub-header-text }}
  				</p>
  			</div>
      </div>
      <div class="container clearfix py3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <ul>
          {% for posts in site.events limit:6 %}
            <!-- Event Link to Single Page -->
            <a href="{{ posts.url }}" class="card-link">
              {% if posts.is-featured-on-home-page == true %}
              <div class="sm-col sm-col-6 md-col-4 px2">
                {% if posts.is-even-on-home-page == true %}
                  <li class="featured-event-card card card-2nd-row relative">
                {% else %}
                  <li class="featured-event-card card relative">
                {% endif %}
                  <!-- Event Day of Week: Mobile -->
                  <span class="card-day absolute text-x-small p1 bg-black white courier m0 xs-show sm-hide md-hide lg-hide">
                    {{ posts.event-date | date: "%A, %B %d"}}
                  </span>
                  <!-- Event Day of Week -->
              		<span class="card-day absolute text-x-small p1 bg-black white courier m0 xs-hide">
                    {{ posts.event-date | date: "%A"}}
                  </span>
                  <!-- Event Date -->
              		<span class="card-date absolute text-x-small p1 bg-black white courier m0 xs-hide">
                    {{ posts.event-date | date: "%B %d"}}
                  </span>
                  <!-- Event BG Image -->
                  <div class="card-image bg-cover bg-center" style="background-image: url('{{ posts.event-bg-image }}')">
              		</div>
              		<div class="card-details p3">
                    <!-- Event Title -->
              			<h1 class="m0 black text-default courier">
                      {{ posts.title }}
                    </h1>
              	    <hr class="title-divider">
                    <!-- Event Time -->
              			<p class="m0 black courier text-default">
                      <i class="icon ion-clock mr1 dcdw-blue"></i>
                      {{ posts.event-date | date: "%I, %p"}}
                    </p>
                    <!-- Event Venue -->
              			<a href="{{ posts.event-venue-directions | strip_html }}" class="m0 courier black text-default">
                      <i class="icon ion-map mr1 dcdw-blue"></i>
                      {{posts.event-venue-name}}
                    </a>
              		</div>
              	</li>
              </div>
              {% endif %}
            </a>
          {% endfor %}
          </ul>
        </div>
      </div>

      <div class="container clearfix px3 py3">
        <div class="sm-col sm-col-12 md-col-1 px2 py1 sm-show"></div>
        <div class="sm-col sm-col-12 md-col-11 px2">
          <a href="#" class="schedule-link m0 text-default courier">
            {{page.home-events-button-text}}
          </a>
        </div>
      </div>
    </section>

    <section class="home-partners bg-white relative py4">
      <div class="container clearfix px3">
        <div class="sm-col sm-col-12 md-col-6 px1">
          <h1 class="m0 text-large courier">Partners</h1>
          <hr class="title-divider">
          <p class="m0 courier text-default" style="text-align: justify;">
          DC Design Week is produced by a 501(3)c non-profit and therefore relies on the goodness of others. Major thanks to the following partners for supporting us so that we can continue to deliver this event year after year to the DC design community!
          </p>
        </div>
      </div>
      <div class="events-row-1 container clearfix px3 py4">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for post in site.sponsors limit:8 %}
            <div class="sm-col sm-col-2 md-col-3 inline-block px2">
              <div class="">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include footer.html %}

  </main>
{% include global/head-closed.html %}
