{% include global/head-open.html %}
<!-- Page: Home -->
  <main class="relative">
    <section class="introduction relative bg-center cover" style="background-image: url('{{ page.homepage-hero-image }}')">
      <div class="mw8 center cf">
        <span class="white-bar left-0 absolute bg-white pa3">
          <img class="design-week fr" src="/uploads/dcdw-lockup-new.svg">
        </span>
      </div>
    </section>
    <div class="illustration-1-wrapper container cf relative dn db-l">
      <img class="illustration-1 absolute floaty" src="/uploads/1-MonumentPiece.png">
    </div>
    {% include partials/home/dc-is-design.html %}
    <div class="illustration-2-wrapper container cf relative dn db-l">
      <img class="illustration-2 absolute reverse-floaty" src="/uploads/2-ComputerPiece.png">
    </div>
    {% include partials/events/events.html %}
    <div class="illustration-3-wrapper container cf relative dn db-l">
      <img class="illustration-3 absolute floaty" src="/uploads/3-MetroPiece.png">
    </div>
    {% include partials/sponsors/sponsors.html %}
  </main>
{% include global/head-closed.html %}
<!-- End Page: Home -->
