{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}
      {% include partials/introduction.html %}
      <section class="events relative">
        <!-- event-calendar: time of day -->
        <div class="container clearfix px3">
          <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
          <div class="sm-col sm-col-12 md-col-2 mb3">
            <h4 class="m0 bbroller">Morning</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 mb3">
            <h4 class="m0 bbroller">Lunch</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 mb3">
            <h4 class="m0 bbroller">Evening</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 mb3">
            <h4 class="m0 bbroller">Late Evening</h4>
          </div>
        </div>

        <!-- fri 21 -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Fri</br>21</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-10" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 ">
              TedX MidAtlantic
            </h4>
          </div>
        </div>

        <!-- sat 22nd -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Sat</br>22</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-6" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 ">
              TedX MidAtlantic
            </h4>
          </div>
        </div>

        <!-- sun 23rd -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Sun</br>23</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
          <div class="sm-col sm-col-12 md-col-4" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
        </div>

        <!-- mon 24th -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0  text-left mr2">Mon</br>24</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>

        <!-- tue 25th -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Tue</br>25</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>

        <!-- wed 26th -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Wed</br>26</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>

        <!--
        thu 27th
      ` -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0  bbrollertext-left mr2">Thu</br>27</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 ">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>

        <!-- fri 28th -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Fri</br>28</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>

        <!-- sat 29th -->
        <div class="container clearfix px3 py2">
          <div class="sm-col sm-col-12 md-col-1">
            <h4 class="m0 bbroller text-left mr2">Sat</br>29</h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
          <div class="sm-col sm-col-12 md-col-3" style="padding-bottom: 1em; border-bottom: solid 3px blue;">
            <h4 class="m0 bbroller">
              Gallery Opening
            </h4>
          </div>
          <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
        </div>
      </section>
      {% include partials/events.html %}
    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
