{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="about relative mb4">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-10">
          {{ page.content }}
        </div>
      </div>
    </article>

    <section class="dcdw-about py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p3 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">
            AIGA DC
          </h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default text-justify pb3">
            DC Design Week is produced by AIGA DC, the professional association for design. AIGA is the oldest and largest membership association for professionals engaged in the discipline, practice and culture of designing.
            </br></br>
            The Washington DC chapter of AIGA is one of the biggest and most active in the country. Run a volunteer board of directors, the organization celebrates design and provides unparalleled opportunities for networking within the local design community and a variety of resources to advance professionalism and broaden knowledge. AIGA DC’s events stimulate discourse and enrich the collective experience of design.
          </p>
          <a href="#" class="schedule-link m0 text-default courier">
            Visit aigadc.org
          </a>
  			</div>
        <div class="dcdw-about-bg-wrapper absolute" style="z-index: -9999;">
          <img src="{{ page.about-image }}">
        </div>
      </div>
    </section>

    <section class="dcdw-committee-members">
      <div class="container clearfix relative">
        <div class="sm-col sm-col-12 md-col-11 p3 courier text-medium">
          <h1 class="m0 text-large">
            {{page.dcdw-committee-header-text}}
          </h1>
          <hr class="title-divider">
          <!--

          For every dcdw-committee-member located within site.dcdw-committee-members, a committee member will be printed onto the about page.

          -->
          <ul class="">
            {% for posts in site.dcdw-committee-members %}
              <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
              <div class="sm-col sm-col-12 md-col-3 p1">
                <li class="committee-member inline-block" style="min-height: 200px;">
                  <div class="commitee-diamond-wrapper relative left">
                    <div class="committee-diamond-border">
                      <div class="committee-diamond m0 overflow-hidden relative">
                       <div class="committee-los1">
                         <img src="{{ posts.committee-member-headshot-image }}" />
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="committee-member-details-wrapper left">
                    <h3 class="m0 text-small">
                      {{ posts.committee-member-name }}
                    </h3>
                    <h6 class="m0 mb2 text-x-small">
                      {{ posts.committee-member-title }}
                    </h6>
                    <p class="m0 text-x-small courier dcdw-blue">
                      {{ posts.committee-member-email }}
                    </p>
                  </div>
                </li>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <section class="dcdw-creative-team">
      <div class="container clearfix relative">
        <div class="sm-col sm-col-12 md-col-11  p3 courier text-medium">
          <h1 class="m0 text-large">
            {{page.dcdw-committee-header-text}}
          </h1>
          <hr class="title-divider">
          <!--

          For every dcdw-committee-member located within site.dcdw-committee-members, a committee member will be printed onto the about page.

          -->
          <ul class="">
            {% for posts in site.dcdw-creative-team %}
              <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
              <div class="sm-col sm-col-12 md-col-3 p1">
                <li class="committee-member inline-block" style="min-height: 200px;">
                  <div class="commitee-diamond-wrapper mb4">
                    <div class="committee-diamond-border">
                      <div class="committee-diamond m0 overflow-hidden relative">
                       <div class="committee-los1">
                         <img src="{{posts.creative-team-member-headshot-image}}" />
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="committee-member-details-wrapper left">
                    <h3 class="m0 text-small">
                      {{ posts.creative-team-member-name }}
                    </h3>
                    <h6 class="m0 mb2 text-x-small">
                      {{ posts.creative-team-member-title }}
                    </h6>
                    <p class="m0 mb2 courier text-x-small">
                      {{ posts.content }}
                    </p>
                    <p class="m0 text-x-small courier dcdw-blue">
                      {{ posts.creative-team-member-portfolio }}
                    </p>
                  </div>
                </li>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
