{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="about relative mb4">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-10">
          {{ page.content }}
        </div>
      </div>
    </article>

    <section class="dcdw-about py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p3 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">
            AIGA DC
          </h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default text-justify pb3">
            DC Design Week is produced by AIGA DC, the professional association for design. AIGA is the oldest and largest membership association for professionals engaged in the discipline, practice and culture of designing.
            </br></br>
            The Washington DC chapter of AIGA is one of the biggest and most active in the country. Run a volunteer board of directors, the organization celebrates design and provides unparalleled opportunities for networking within the local design community and a variety of resources to advance professionalism and broaden knowledge. AIGA DC’s events stimulate discourse and enrich the collective experience of design.
          </p>
          <a href="#" class="schedule-link m0 text-default courier">
            Visit aigadc.org
          </a>
  			</div>
        <div class="dcdw-about-bg-wrapper absolute" style="z-index: -9999;">
          <img src="{{ page.about-image }}">
        </div>
      </div>
    </section>

    <section class="event-speakers-pane pb3">
      <div class="container clearfix relative">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
        <div class="sm-col sm-col-12 md-col-10 p3 courier text-medium">
          <h1 class="m0 text-large">Speakers</h1>
          <hr class="title-divider">
          <div class="event-speaker-wrapper clearfix py3">
            <div class="sm-col sm-col-12 md-col-2">
              <div class="diamond-border" style="border: solid 4px #000;">
                <div class="diamond m0 overflow-hidden relative">
                 <div class="los1">
                   <img src="http://placecorgi.com/250" />
                 </div>
                </div>
              </div>
            </div>
            <div class="sm-col sm-col-12 md-col-10">
              <h3 class="m0 mb1 ml2">Speaker Name</h3>
              <h6 class="m0 mb2 text-x-small text-uppercase ml2">Speaker Title</h6>
              <p class="m0 ml2 text-x-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
            </div>
          </div>
          <div class="event-speaker-wrapper clearfix py3">
            <div class="sm-col sm-col-12 md-col-2">
              <div class="diamond-border" style="border: solid 4px #000;">
                <div class="diamond m0 overflow-hidden relative">
                 <div class="los1">
                   <img src="http://placecorgi.com/250" />
                 </div>
                </div>
              </div>
            </div>
            <div class="sm-col sm-col-12 md-col-10">
              <h3 class="m0 mb1 ml2">Speaker Name</h3>
              <h6 class="m0 mb2 text-x-small text-uppercase ml2">Speaker Title</h6>
              <p class="m0 ml2 text-x-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
            </div>
          </div>
          <div class="event-speaker-wrapper clearfix py3">
            <div class="sm-col sm-col-12 md-col-2">
              <div class="diamond-border" style="border: solid 4px #000;">
                <div class="diamond m0 overflow-hidden relative">
                 <div class="los1">
                   <img src="http://placecorgi.com/250" />
                 </div>
                </div>
              </div>
            </div>
            <div class="sm-col sm-col-12 md-col-10">
              <h3 class="m0 mb1 ml2">Speaker Name</h3>
              <h6 class="m0 mb2 text-x-small text-uppercase ml2">Speaker Title</h6>
              <p class="m0 ml2 text-x-small">est. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerbest. Body copy blerb</p>
            </div>
          </div>
        </div>
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
