{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <section class="shops relative" style="margin-top:60px;">
      <div class="container clearfix p3">
      	<div class="sm-col sm-col-12 md-col-10">
  				<h1 class="m0 text-x-large courier">Shops &amp; Galleries</h1>
  				<hr class="title-divider">
          <p class="courier m0">DC Design Week is produced by a 501(3)c non-profit and therefore relies on the goodness of others. Major thanks to the following partners for supporting us so that we can continue to deliver this event year after year to the DC design community!</p>
  			</div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
