{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <section class="introduction">
      <div class="container clearfix px3">
        <div class="design-week-wrapper relative sm-col sm-col-12 md-col-5 lg-col-4 px1">
          <img class="design-week" src="/uploads/dc-design-week.svg">
        </div>
      </div>
    </section>

    <section style="">
      <div class="illustration-1 introduction-illustration-wrapper absolute sm-col sm-col-12 md-col-6 xs-hide">
        <img class="introduction-illustration" src="/uploads/grid-block_A.png">
      </div>
    </section>

    {% include partials/home/dc-is-design.html %}

    <section>
      <div class="illustration-2 introduction-illustration-wrapper absolute sm-col sm-col-12 md-col-6 xs-hide">
        <img class="introduction-illustration" src="/uploads/grid-block_A.png">
      </div>
    </section>

    {% include partials/events.html %}

    <section style="">
      <div class="illustration-3 introduction-illustration-wrapper absolute sm-col sm-col-12 md-col-6 xs-hide">
        <img class="introduction-illustration" src="/uploads/grid-block_A.png">
      </div>
    </section>

    {% include partials/partners.html %}
    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
