{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="sponsors relative mb4">
      <div class="container clearfix p3">
      	<div class="sm-col sm-col-12 md-col-10">
  				{{ page.content }}
  			</div>
      </div>
    </article>

    <section class="tiered-sponsors relative">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="m0 text-large courier">
            {{page.1st-tier-header-text}}
          </h1>
          <hr class="title-divider">
          <p class="m0 courier text-default" style="text-align: justify;">
            {{page.home-partners-sub-header-text}}
          </p>
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <!--

          For every sponsor located within site.sponsors, a sponsor will be printed onto the homepage. Using the limit filter, I've limited the amount of sponsors to 8.

        -->
          {% for post in site.sponsors limit:8 %}
            <div class="sm-col sm-col-6 md-col-3">
              <div class="sponsor-card">
                <!-- Sponsor Logo -->
                <img src="{{ post.sponsor-image }}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="partners bg-white relative py4">
      <div class="events-row-1 container clearfix px3 py4">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="page-sub-header m0 pb4">Tier One Sponsors</h1>
          {% for post in site.sponsors limit:8 %}
            <div class="sm-col sm-col-2 md-col-3 inline-block px2">
              <div class="">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="events-row-1 container clearfix px3 py4">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="page-sub-header m0 pb4">Tier Two Sponsors</h1>
          {% for post in site.sponsors limit:8 %}
            <div class="sm-col sm-col-2 md-col-3 inline-block px2">
              <div class="">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="events-row-1 container clearfix px3 py4">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="page-sub-header m0 pb4">Tier Three Sponsors</h1>
          {% for post in site.sponsors limit:8 %}
            <div class="sm-col sm-col-2 md-col-3 inline-block px2">
              <div class="">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="container clearfix px3 py3">
        <div class="sm-col sm-col-12 md-col-1 mxn3 py1 sm-show"></div>
        <div class="sm-col sm-col-12 md-col-11 px2">
          <a href="#" class="button button-blue p1 m0 text-default courier">
            Become a Design Week Sponsor
          </a>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
