{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="sponsors relative mb4">
      <div class="container clearfix p3">
      	<div class="sm-col sm-col-12 md-col-10">
  				{{ page.content }}
  			</div>
      </div>
    </article>

    <section class="1st-tier py4">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="m0 text-large courier">
            {{page.1st-tier-header-text}}
          </h1>
          <hr class="title-divider">
          <p class="m0 courier text-default" style="text-align: justify;">
            {{page.1st-tier-sub-header-text}}
          </p>
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for posts in site.sponsors limit:8 %}
            {% if posts.is-1st-tier == true %}
              <div class="sm-col sm-col-6 md-col-3">
                <div class="sponsor-card">
                  <!-- Sponsor Logo -->
                  <img src="{{ posts.sponsor-image }}">
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <a href="{{page.1st-tier-button-link}}" class="courier text-default">
            {{page.1st-tier-button-text}}
          </a>
        </div>
      </div>
    </section>

    <section class="2nd-tier py4" style="background-color: #fafafa;">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="m0 text-large courier">
            {{page.2nd-tier-header-text}}
          </h1>
          <hr class="title-divider">
          <p class="m0 courier text-default" style="text-align: justify;">
            {{page.2nd-tier-sub-header-text}}
          </p>
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for posts in site.sponsors limit:8 %}
            {% if posts.is-1st-tier == true %}
              <div class="sm-col sm-col-6 md-col-3">
                <div class="sponsor-card">
                  <!-- Sponsor Logo -->
                  <img src="{{ posts.sponsor-image }}">
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <a href="{{page.2nd-tier-button-link}}" class="courier text-default">
            {{page.2nd-tier-button-text}}
          </a>
        </div>
      </div>
    </section>

    <section class="3rd-tier py4">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <h1 class="m0 text-large courier">
            {{page.3rd-tier-header-text}}
          </h1>
          <hr class="title-divider">
          <p class="m0 courier text-default" style="text-align: justify;">
            {{page.3rd-tier-sub-header-text}}
          </p>
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for posts in site.sponsors limit:8 %}
            {% if posts.is-1st-tier == true %}
              <div class="sm-col sm-col-6 md-col-3">
                <div class="sponsor-card">
                  <!-- Sponsor Logo -->
                  <p class="m0 courier text-default">{{ posts.title}}</p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          <a href="{{page.3rd-tier-button-link}}" class="courier text-default">
            {{page.3rd-tier-button-text}}
          </a>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
