{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="shops relative mb4">
      <div class="container clearfix p3">
      	<div class="sm-col sm-col-12 md-col-10">
  				{{ page.content }}
  			</div>
      </div>
    </article>

    <section class="dcdw-pop-up-shop py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p4 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">DCDW Pop-Up Shop</h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default align-justify">
  				In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.</p>
  			</div>
        <div class="pop-up-shop-bg-wrapper absolute" style="z-index: -9999;">
          <img src="/uploads/dcdw-pop-up-shop.png">
        </div>
      </div>
    </section>

    <section class="event-speakers-pane py4">
      <div class="container clearfix relative">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
        <div class="sm-col sm-col-12 md-col-11 p3 courier text-medium">
          <div class="event-speaker-wrapper clearfix py3">
            <div class="sm-col sm-col-12 md-col-2">
              <div class="diamond-border" style="border: solid 4px #000;">
                <div class="diamond m0 overflow-hidden relative">
                 <div class="los1">
                   <img src="http://placecorgi.com/250" />
                 </div>
                </div>
              </div>
            </div>
            <div class="sm-col sm-col-12 md-col-10">
              <h3 class="m0 mb1 text-x-medium courier">Gallery Opening</h3>
              <hr class="title-divider">
              <p class="m0 text-default align-justify">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. </p>
            </div>
          </div>
      </div>
    </section>

    <section class="dcdw-get-out-the-vote py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p4 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">Get Out the Vote Gallery</h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default align-justify">
  				In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.</p>
  			</div>
        <div class="get-out-the-vote-bg-wrapper absolute" style="z-index: -9999;">
          <img src="/uploads/dcdw-get-out-vote.png">
        </div>
      </div>
    </section>

    <section class="dcdw-you-are-voting py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-3">
          <img src="/uploads/dcdw-you-are-voting.png" style="max-height: 500px;">
        </div>
        <div class="sm-col sm-col-12 md-col-9 p4">
          <h1 class="m0 text-x-medium courier">Join the Fight/Make a Poster</h1>
          <hr class="title-divider">
          <p class="m0 courier text-small align-justify">
          This civic engagement initiative wields the power of design to motivate the American public to register and turn out to vote in the 2016 general election, as well as local elections to come. The core of the campaign is an online gallery of original, nonpartisan posters generated by AIGA members for printing and public distribution. It is vital to the spirit, impact, and accessibility of this campaign that posters are nonpartisan and in window card format (portrait, 11x17 inches).</p>
        </div>
      </div>
    </section>

    <section class="partners bg-white relative py4">
      <div class="container clearfix px3">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-6 px1">
          <h1 class="m0 text-x-medium courier">Partners</h1>
          <hr class="title-divider">
        </div>
      </div>
      <div class="events-row-1 container clearfix px3 py4">
        <div class="sm-col sm-col-12 md-col-1 px2 py1"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for post in site.sponsors limit:3 %}
            <div class="sm-col sm-col-2 md-col-4 inline-block pr2">
              <div class="">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
