{% include global/head-open.html %}
  <main class="overflow-hidden">
    {% include header.html %}

    <article class="shops relative mb4">
      <div class="container clearfix p3">
      	<div class="sm-col sm-col-12 md-col-10">
  				{{ page.content }}
  			</div>
      </div>
    </article>

    <section class="dcdw-pop-up-shop py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p4 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">DCDW Pop-Up Shop</h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default align-justify">
  				In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.</p>
  			</div>
        <div class="pop-up-shop-bg-wrapper absolute" style="z-index: -9999;">
          <img src="/uploads/dcdw-pop-up-shop.png">
        </div>
      </div>
    </section>

    <section class="dcdw-get-out-the-vote py3 relative overflow-hidden">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
      	<div class="sm-col sm-col-12 md-col-12 lg-col-6 p4 z4 bg-white" style="border: solid 3px blue;">
  				<h1 class="m0 text-x-medium courier">Get Out the Vote Gallery</h1>
  				<hr class="title-divider">
  				<p class="m0 courier text-default align-justify">
  				In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group.</p>
  			</div>
        <div class="get-out-the-vote-bg-wrapper absolute" style="z-index: -9999;">
          <img src="/uploads/dcdw-get-out-vote.png">
        </div>
      </div>
    </section>

    {% include footer.html %}
  </main>
{% include global/head-closed.html %}
