{% include global/head-open.html %}
  {% include partials/introduction.html %}
      <section class="first-tier py4">
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-1 py1"></div>
          <div class="sm-col sm-col-12 md-col-11">
            <h2 class="bbroller text-x-medium m0">{{page.first-tier-header-text}}</h2>
            <hr class="title-divider">
            <p class="text-default m0">{{page.first-tier-sub-header-text}}</p>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-2 py1"></div>
          <div class="sm-col sm-col-12 md-col-10">
            <ul class="overflow-hidden">
              {% for posts in site.sponsors limit:8 %}
                {% if posts.is-first-tier == true %}
                  <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
                    <img src="{{ posts.sponsor-image }}">
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-3 py1"></div>
          <div class="sm-col sm-col-12 md-col-9">
            <a href="{{page.first-tier-button-link}}" class="bbroller text-default blue-underline m0">
              {{page.first-tier-button-text}}
            </a>
          </div>
        </div>
      </section>

      <section class="second-tier py4" style="background-color: {{page.second-tier-bg-color}}">
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-1 py1"></div>
          <div class="sm-col sm-col-12 md-col-11">
            <h2 class="bbroller text-x-medium m0">{{page.second-tier-header-text}}</h2>
            <hr class="title-divider">
            <p class="text-default m0">{{page.second-tier-sub-header-text}}</p>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-2 py1"></div>
          <div class="sm-col sm-col-12 md-col-10">
            <ul class="overflow-hidden">
              {% for posts in site.sponsors limit:8 %}
                {% if posts.is-second-tier == true %}
                  <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
                    <img src="{{ posts.sponsor-image }}">
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-3 py1"></div>
          <div class="sm-col sm-col-12 md-col-9">
            <a href="{{page.second-tier-button-link}}" class="bbroller text-default blue-underline m0">
              {{page.second-tier-button-text}}
            </a>
          </div>
        </div>
      </section>

      <section class="third-tier py4" style="background-color: {{page.third-tier-bg-color}}">
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-1 py1"></div>
          <div class="sm-col sm-col-12 md-col-11">
            <h2 class="bbroller text-x-medium m0">{{page.third-tier-header-text}}</h2>
            <hr class="title-divider">
            <p class="text-default m0">{{page.third-tier-sub-header-text}}</p>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-2 py1"></div>
          <div class="sm-col sm-col-12 md-col-10">
            <ul class="overflow-hidden">
              {% for posts in site.sponsors limit:8 %}
                {% if posts.is-third-tier == true %}
                  <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
                    <img src="{{ posts.sponsor-image }}">
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="container clearfix p3">
          <div class="sm-col sm-col-12 md-col-3 py1"></div>
          <div class="sm-col sm-col-12 md-col-9">
            <a href="{{page.third-tier-button-link}}" class="bbroller text-default blue-underline m0">
              {{page.third-tier-button-text}}
            </a>
          </div>
        </div>
      </section>
{% include global/head-closed.html %}
