{% include global/head-open.html %}
<article class="">
  <div class="mw8 center cf pa3 pa4-ns">
    {% include partials/introduction.html %}
    {% include partials/pop-up-shop/introduction.html %}
    {% comment %}
    {% include partials/pop-up-shop/shop-events.html %}
    {% include partials/pop-up-shop/get-out-vote.html %}
    {% include partials/pop-up-shop/you-are-voting.html %}
    {% include partials/sponsors/sponsors.html %}
    {% endcomment %}
  </div>
</article>
{% include global/head-closed.html %}
