{% include _doctype/open.html %}
<!-- Page: Thank You -->

<section class="thank-you py4">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12">
      <h1 class="bbroller" style="line-height: initial;">Thank You!</h1>
    </div>
  </div>
</section>

<section class="thank-you-instagram">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12">

      <div id="instafetch" class=""></div>
    </div>
  </div>
</section>

{% include _doctype/closed.html %}
<!-- End Page: Thank You -->
