{% include _doctype/open.html %}
<section class="page-thank-you overflow-hidden cf relative">
  <!-- hero -->
  <div class="vh-50 vh-75-l flex tc mt5 relative overflow-hidden pa3">
    <div class="flex-auto self-center">
      <div class="mw9 center cf pa3">
        <h1 class="relative bbroller ma0 mb4 f3 f2-m f-subheadline-l text-shadow white lh-title db" style="z-index:999;">We had a great time.</h1>
        <span class="btn-container relative" style="z-index:999;">
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaQmExkyyVNE7qua_PxHMXdd9lbPJ_D8_g5A3ksCLINbRdVw/viewform?usp=sf_link" target="_blank" class="bbroller ma0 btn btn--white-solid dib">Tell Us What You Think</a>
        </span>
      </div>
    </div> 
    <video class="hero__video-bg" src="https://player.vimeo.com/external/235337094.hd.mp4?s=86e6efbb649b67d627b2b300e96f940e3f19a0f4&profile_id=175" poster="/uploads/bg-hero.jpg" autoplay="autoplay" loop="">
    </video>
  </div>

  <!-- content -->
  <div class="mw8 center pa3">
    <div class="vh-50 flex tc">
      <div class="flex-auto self-center">
        <h2 class="relative bbroller ma0 mb4 f3 f2-ns f1-l lh-title db">
          Interested in partnering or hosting an event next year?
        </h2>
        <span class="btn-container relative" style="z-index:999;">
          <a href="mailto:dan@dc.aiga.org" class="bbroller ma0 btn btn--blue-solid white dib">Apply Here</a>
        </span>
      </div>
    </div>
  </div>  
</section>
{% include _doctype/closed.html %}
