/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
#mc_embed_signup form {
	display: block !important;
	position: relative !important;
	text-align: left !important;
}

#mc_embed_signup .mc-field-group label {
	display: block !important;
	font-weight: 900 !important;
	font-size: $font-size-14;
	font-family: $brand-sans-interactive;
	text-transform: uppercase;
	padding: $spacing-8 0 !important;
}

#mc_embed_signup .mc-field-group input {
	background-color: $black;
	border: solid 1px $white !important;
	color: $white;
	display: block !important;
	font-size: $font-size-16;
	font-weight: 400;
	font-family: $sans;
	padding: $spacing-8 !important;
	width: 100% !important;
}

#mc_embed_signup .asterisk {
	color: $green !important;
	font-weight: 900;
}

#mc_embed_signup .asterisk,
#mc_embed_signup .indicates-required {
	font-size: $font-size-16 !important;
	margin-bottom: 32px;
}

#mc_embed_signup .clear {
	clear: both !important;
}

#mc_embed_signup div#mce-responses {
	clear: both;
}

#mc_embed_signup div.response {
	background-color: $green !important;
	padding: $spacing-16 !important;
	z-index: 1 !important;
}

#mc_embed_signup div.response a {
	color: $white !important;
	font-weight: bold !important;
}

#mc_embed_signup #mce-error-response,
#mc_embed_signup #mce-success-response {
	color: $white !important;
	display: block;
}

#mc_embed_signup #num-subscribers span {
	padding: 0.5em !important;
	border: 1px solid #ccc !important;
	margin-right: 0.5em !important;
	font-weight: bold !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	background-color: $green !important;
	display: block !important;
	color: $black !important;
	line-height: 1.7rem !important;
	font-size: $font-size-14 !important;
	font-weight: normal !important;
	margin: 0 !important;
	padding: $spacing-8 !important;
	z-index: 1 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
	border: 1px solid $green !important;
}

#mc_embed_signup input.mce_inline_error {
	border-color: $green !important;
}

#mc_embed_signup input.button {
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.mailchimp-grid {
	@include grid;
	grid-template-columns: 1fr;
}

.mailchimp-button {
	align-self: start;
}

.mailchimp-button label {
	display: none;
	min-height: 40px;
}

.mailchimp-button input {
	font-size: $font-size-14;
	padding: $spacing-4 $spacing-16;
	font-weight: 800;
	min-height: 44px;
}

.mailchimp-button input {
	margin-top: 0 !important;
}

@media screen and (min-width: 767px) {
	#mc_embed_signup input.button {
		width: auto !important;
	}
}

@media screen and (min-width: 1142px) {
	.mailchimp-grid {
		grid-template-columns: 1fr 1fr -webkit-min-content;
		grid-template-columns: 1fr 1fr min-content;
	}
	
	.mailchimp-button label {
		display: block;
	}
}
