<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport">
<link rel='shortcut icon' type='image/x-icon' href='/uploads/favicon.ico' />

<title>{{ page.title }} - {{site.title}}</title>

{% if page.seo.description %}
<meta name="description" content="{{ page.seo.description | strip_html }}" />
{% else %}
<meta name="description" content="{{ site.description | strip_html }}" />
{% endif %}
<meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
{% if page.seo.description %}
<meta property="og:description" content="{{ page.seo.description | strip_html }}" />
{% else %}
<meta property="og:description" content="{{ site.description | strip_html }}" />
{% endif %}
<link rel="canonical" href="{{site.url}}{{page.url}}" />
<meta property="og:url" content="{{site.url}}{{page.url}}" />
<meta property="og:site_name" content="{{site.title}}" />
{% if page.seo.og-image %}
<meta property="og:image" content="{{ site.url }}{{ page.seo.og-image }}" />
{% else %}
<meta property="og:image" content="{{ site.url }}{{ site.og-image }}" />
{% endif %}
<meta property="og:type" content="article" />
<meta name=“twitter:card” content=“summary_large_image” />
<meta name=“twitter:site” content=“@dcdesignweek” />
<meta name=“twitter:creator” content=“dcdesignweek” />
<meta name=“twitter:title” content="{{ site.title }} | {{ page.title }}" />
{% if page.seo.description %}
<meta name=“twitter:description” content="{{ page.seo.description | strip_html }}" />
{% else %}
<meta name=“twitter:description” content="{{ site.description | strip_html }}" />
{% endif %}
{% if page.seo.og-image %}
<meta name=“twitter:image” content="{{ site.url }}{{ page.seo.og-image }}" />
{% else %}
<meta name=“twitter:image” content="{{ site.url }}{{ site.og-image }}" />
{% endif %}
<meta property="article:published_time" content="{{ page.date }}" />
<script type="application/ld+json"></script>

<!-- styles -->
{% if site.css_inline == true %}
{% include doctype/site-styles.html %}
{% else %}
<link href="/assets/css/base.css" media="all" rel="stylesheet" type="text/css" />
{% endif %}
{% if page.layout == "map" %}
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
{% endif %}

<!-- scripts -->
<script type="text/javascript" src="/assets/js/offside.min.js"></script>
<script type="text/javascript" src="/assets/js/lazysizes.min.js"></script>

{% if page.layout == "map" %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% if site.google-analytics %}
{{site.google-analytics}}
{% endif %}