<!DOCTYPE html>
<html lang="en">

<head>
  {% include doctype/head.html %}
</head>

<!-- offside menu -->
<nav id="mobile-menu" class="mobile-menu db dn-l bg-black">
  <ul class="mobile-menu__list list ma0 pl0 ma3">
    {% for link in site.data.navigation.landing-page-nav %}
    <li class="mobile-menu__item">
      <a href="{{ link.url }}" class="white pb3 db">{{ link.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>

<body>
  <!-- wrapper for site content that is shifted when mobile menu is triggered -->
  <div id="site-container" class="">
    {% include global/header.html %}