<!DOCTYPE html>
<html lang="en">

<head>
	{% include doctype/head.html %}
</head>

<!-- offside menu -->
<nav id="mobile-menu" class="mobile-menu db dn-l bg-dcdw-secondary">
	<ul class="mobile-menu__list list ma0 pl0 ma4">
		{% for link in site.data.navigation.primary-nav %}
		<li class="mobile-menu__item list-none">
			<a href="{{ link.url }}" class="monospace ttu white pb3 db">{{ link.title }}</a>
		</li>
		{% endfor %}
	</ul>
</nav>

<body>
	<!-- wrapper for site content that is shifted when mobile menu is triggered -->
	<main id="site-container">
		{% include components/header.html %}