<section class="section section--landing-content">
	<div class="grid">
		<div class="grid-col grid-col--span-4">
			<h2>
				<span>Code</span> <span>of</span> <span>Conduct</span>
			</h2>
		</div>
		<div class="grid-col grid-col--span-2">
			<div class="wysiwyg">
				<p>
					All AIGA DC events adhere to our <a aria-label="Learn more about AIGA DC's Code of Conduct"
						href="https://dc.aiga.org/events/code-of-conduct/" rel="noopener nofollow" target="_blank">
						Code of Conduct
					</a>.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="section section--landing-content">
	<div class="grid">
		<div class="grid-col grid-col--span-4">
			<h2>
				<span>More</span> <span>Information</span>
			</h2>
		</div>
		<div class="grid-col grid-col--span-2">
			<div class="wysiwyg">
				<p>
					Built by 100% volunteer power, DC Design Week is an annual celebration of this community, hosted by
					AIGA
					DC. AIGA Member On-Sale begins 9/5 at 10:00am and the General Public On-Sale begins 9/10 at 10:00am.
					100% of the proceeds from DCDW events go toward future AIGA DC programming and the Design Continuum
					Fund
					(DCF) scholarship fund. We believe in fostering the next generation of designers through helping
					local
					design-minded and underrepresented students as they pursue their education.
				</p>

				<p>
					Interested in becoming a member? To gain early access to our most exclusive events and year-long
					discounts, sign up to become a member today!
				</p>
			</div>
		</div>
		<div class="grid-col grid-col--span-4 margin-top-32">
			<a class="button button__border button__border--black shadow-reverse shadow-reverse--green" href="/faqs/">
				See FAQs
			</a>
		</div>
	</div>
</section>
