<section class="section section__landing-details">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<h2>
				Title
			</h2>
		</div>
	</div>
</section>
<section class="" style="position: relative;">
	<div>
		<style>
			#map {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100%;
			}

			.mapboxgl-popup-content {
				font-family: 'Work Sans', sans-serif;
				font-weight: 400;
				border-radius: 0 !important;
				box-shadow: 5px 5px 0px rgba(28, 41, 82, 0.33);
				max-width: 250px;
				font-size: 1rem;
			}

			.mapboxgl-popup-content h3 {
				font-family: 'Roboto Mono', monospace;
				font-weight: 700;
				font-size: 1rem;
			}

			.mapboxgl-popup-content p {
				margin: 12px 0;
			}

		</style>
		<div id="map" class="mapboxgl-map">
			<div class="mapboxgl-canary" style="visibility: hidden;"></div>
			<div
				class="mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate">
				<canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" width="1265" height="688"
					style="position: absolute; width: 1265px; height: 688px;"></canvas>
			</div>
			<div class="mapboxgl-control-container">
				<div class="mapboxgl-ctrl-top-left"></div>
				<div class="mapboxgl-ctrl-top-right"></div>
				<div class="mapboxgl-ctrl-bottom-left">
					<div class="mapboxgl-ctrl" style="display: block;">
						<a class="mapboxgl-ctrl-logo" target="_blank" href="https://www.mapbox.com/"
							aria-label="Mapbox logo" rel="noopener"></a>
					</div>
				</div>
				<div class="mapboxgl-ctrl-bottom-right">
					<div class="mapboxgl-ctrl mapboxgl-ctrl-attrib">
						<a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>
						<a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a>
						<a class="mapbox-improve-map"
							href="https://www.mapbox.com/feedback/?owner=rvondohlen&amp;id=cjnb3ki0p5f2n2rrw5o4c24e8&amp;access_token=pk.eyJ1IjoicnZvbmRvaGxlbiIsImEiOiJ0WHFyM1hRIn0.YNQ1RlsmSD6hAbSqmif7FA"
							target="_blank">Improve this map</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section section__landing-details">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<p>
				Button
			</p>
		</div>
	</div>
</section>
