{% if page.has-accessibility-notes == true %}
<section class="section section--landing-content">
	<div class="grid grid--four-columns">
		<div class="column column--span-4">
			<h2 class="column--width-50">
				<span>Accessibility</span> <span>and</span> <span>Accommodations</span>
			</h2>
		</div>
		<div class="column column--span-2">
			{% for note in page.accessibility-notes %}
			<div class="wysiwyg">
				{{ note.note | markdownify }}
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
