<section class="section section--landing-content" style="overflow: hidden;">
	<div class="grid grid--four-columns">
		<div class="column column--span-4">
			<h2>
				<span>Description</span>
			</h2>
		</div>
		<div class="column column--span-2">
			<div class="wysiwyg">
				{{ page.content | markdownify }}
			</div>
		</div>
	</div>
	<div class="column column--span-2 flow-none">
		<div class="column column--span-4">
			<img class="bubble-group-event-introduction-about" aria-hidden="true" src="/uploads/bubble-white-large-03.png"
				alt="Floating amorphous bubbles with DC Design Week text inside">
		</div>
	</div>
</section>
