<section class="[ section section__landing-hero ] [ spacing-0 ]" style="background-color: #000;">
	<div class="[ grid ]">
		<div class="[ grid-col grid-col--span-4 ] [ landing-hero__content ] [ vignette-radial ]"
			style="background-image:url('{{ page.image }}');">
			<div class="landing-hero__details">
				<h1
					id="{{ site.2020-presenting-sponsors.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
					{{ page.styled-title }}
				</h1>
				<p>
					{{ page.event-date | date: "%A | %B %d | %l:%M %p" }}
				</p>
				<div class="landing-hero__tickets">
					{% if page.tickets.has-member-button == true %}
					<a class="button button__solid button__solid button__solid--white shadow-reverse shadow-reverse--green {% if page.status.has-occurred == true %} disabled {% endif %}%"
						{% if page.status.has-occurred == true %} {% else %} href="{{ page.tickets.member-button-url }}"
						rel="noopener" target="_blank" {% endif %}>{{ page.tickets.member-button-label }}</a>
					{% endif %}
					{% if page.tickets.has-non-member-button == true %}
					<a class="button button__solid button__solid button__solid--white shadow-reverse shadow-reverse--green {% if page.status.has-occurred == true %} disabled {% endif %}%"
						{% if page.status.has-occurred == true %} {% else %}
						href="{{ page.tickets.non-member-button-url }}" rel="noopener" target="_blank"
						{% endif %}>{{ page.tickets.non-member-button-label }}</a>
					{% endif %}
				</div>
			</div>
			<div class="landing-hero__overlay spacing-0"></div>
		</div>
	</div>
	{% if page.status.is-sold-out == true and page.status.sold-out-message %}
	<div class="ticker ticker--sold-out">
		<p>{{ page.status.sold-out-message }}</p>
	</div>
	{% endif %}
</section>
