<section class="dcdw-get-out-the-vote fl w-100 mb5 mb6-ns">
  <div class="mw8 center cf relative">
    <div class="fl w-100 w-30-ns dn db-l"><!-- empty column --></div>
    <div class="dcdw-get-out-the-vote-content bg-white fl w-100 w-60-m w-50-l pa4 mt6">
      <h2 class="ma0 f4 f3-ns lh-copy">
        {{ page.get-out-vote-header }}
      </h2>
      <hr class="title-divider">
      <div class="ma0 f5 f4-ns lh-copy">
        {{ page.get-out-vote-body | markdownify }}
      </div>
    </div>
    <div class="get-out-the-vote-bg-wrapper absolute" style="z-index: -10;">
      <img class="lazyload blur-up v-mid w-100 relative" data-src="{{ page.pop-up-shop-image }}" src="{{ page.pop-up-shop-image }}" alt="{{ page.pop-up-shop-image-alt }}">
    </div>
  </div>
</section>
