<!-- section 2: gallery opening -->
<section class="gallery-opening mb5 mb6-ns cf relative">
  <div class="fl w-100 w-30-ns">
    <div class="diamond-image-border relative">
      <div class="diamond overflow-hidden">
        <div class="diamond-los1">
          <img class="lazyload blur-up v-mid" src="{{ page.gallery-opening-image }}" alt="{{ page.gallery-opening-image-alt }}" />
        </div>
      </div>
    </div>
  </div>
  <div class="fl w-100 w-70-ns">
    <h2>{{ page.gallery-opening-header }}</h2>
    <hr>
    {{ page.gallery-opening-body | markdownify }}
    <a href="{{ page.gallery-opening-button-url }}" target="_blank" class="btn btn--primary-border dib mt3">
      {{ page.gallery-opening-button }}
    </a>
  </div>
</section>