<!-- section 3: get out the vote -->
<section class="get-out-the-vote mb5 mb6-l cf relative">
  <div class="get-out-the-vote-bg" style="z-index: -10;">
    <img class="lazyload blur-up v-mid" data-src="{{ page.pop-up-shop-image }}" src="{{ page.pop-up-shop-image }}" alt="{{ page.pop-up-shop-image-alt }}">
  </div>
  <div class="get-out-the-vote-content fl w-100 w-60-l pa4 mv4 mb6-l bg-white border border--cloud shadow shadow--rose-bud">
    <h2>{{ page.get-out-vote-header }}</h2>
    <hr>
    {{ page.get-out-vote-body | markdownify }}
  </div>
</section>