<!-- section 3: get out the vote -->
<section class="get-out-the-vote fl w-100 mb5 mb6-ns cf relative">
  <div class="get-out-the-vote-bg absolute" style="z-index: -10;">
    <img class="lazyload blur-up v-mid w-100 relative" data-src="{{ page.pop-up-shop-image }}" src="{{ page.pop-up-shop-image }}"
      alt="{{ page.pop-up-shop-image-alt }}">
  </div>
  <div class="get-out-the-vote-content bg-white fl w-100 w-60-m w-50-l pa3 pa4-ns mt6 border border--cloud shadow shadow--rose-bud">
    <h2>
      {{ page.get-out-vote-header }}
    </h2>
    <hr>
    <div>
      {{ page.get-out-vote-body | markdownify }}
    </div>
  </div>
</section>