<!-- Event Speakers -->
<section class="gallery-opening mv6">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="gallery-opening-wrapper">
      <div class="fl w-100 w-30-ns">
        <div class="diamond-image-border relative">
          <div class="diamond overflow-hidden">
            <div class="diamond-los1">
              <div class="image-overlay"></div>
              <img class="image" src="{{ page.gallery-opening-image }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="fl w-100 w-70-ns">
        <h3 class="ma0 mb1 text-x-medium ">
          {{ page.gallery-opening-header-text | markdownify }}
        </h3>
        <hr class="title-divider">
        <span class="ma0 mb3 text-medium">
            {{ page.gallery-opening-body-text | markdownify }}
          </span>
        <a href="{{ page.gallery-opening-button-link }}" target="_blank" class="blue-underline ma0 text-default dib mt3">
            {{ page.gallery-opening-button-text }}
          </a>
      </div>
    </div>
  </div>
</section>