<section class="dcdw-you-are-voting relative mt6 overflow-hidden">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="dcdw-you-are-voting-wrapper fl w-100 w-30-ns pr0 pr4-ns mb3 relative">
      <img class="v-mid w-100" src="/uploads/dcdw-you-are-voting.png" style="max-height: 500px;">
    </div>`
    <div class="fl w-100 w-70-l">
      <h2 class="ma0 f3">
        {{ page.you-are-voting-header-text | markdownify }}
      </h2>
      <hr class="title-divider">
      <span class="ma0 f5 fw4">
        {{ page.you-are-voting-body-text | markdownify }}
      </span>
      <a href="https://www.aiga.org/get-out-the-vote/" target="_blank" class="blue-underline ma0 mt4 dib">
        Submit a poster
      </a>
    </div>
  </div>
</section>
