<section class="dcdw-you-are-voting relative mt6 overflow-hidden">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="dcdw-you-are-voting-wrapper fl w-100 w-30-ns pr0 pr4-ns mb3 relative">
      <img class="v-mid w-100" style="max-height: 500px;" src="{{ page.you-are-voting-image }}" alt="{{ page.you-are-voting-image-alt }}">
    </div>`
    <div class="fl w-100 w-70-l">
      <h2 class="bbroller ma0 f3">
        {{ page.you-are-voting-header | markdownify }}
      </h2>
      <hr class="title-divider">
      <span class="ma0 f5 fw4">
        {{ page.you-are-voting-body | markdownify }}
      </span>
      <a href="{{ page.you-are-voting-submission-url }}" target="_blank" class="bbroller blue-underline ma0 mt4 dib">
        Submit a poster
      </a>
    </div>
  </div>
</section>
