<!-- You Are Voting -->
<section class="you-are-voting relative mt6">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="you-are-voting-wrapper fl w-100 w-30-ns pr0 pr4-ns mb3 relative">
      <img class="lazyload blur-up v-mid w-100 relative" data-src="{{ page.pop-up-shop-image }}" src="{{ page.pop-up-shop-image }}"
        alt="{{ page.pop-up-shop-image-alt }}">
    </div>
    <div class="fl w-100 w-70-l">
      <h2 class="ma0 f4 f3-ns lh-copy">
        {{ page.you-are-voting-header }}
      </h2>
      <hr class="title-divider">
      <div class="ma0 f5 f4-ns lh-copy">
        {{ page.you-are-voting-body | markdownify }}
      </div>
      <a href="{{ page.you-are-voting-button-url }}" target="_blank" class="ma0 mt4 dib btn btn--primary-border">
        {{ page.you-are-voting-button }}
      </a>
    </div>
  </div>
</section>