{% if page.speaker-header %}
<section class="single-event-details wysiwyg">
{% else %}
<section class="single-event-details wysiwyg mb5">
{% endif %}
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-ns pa1 dn db-l"><!-- empy column --></div>
    <div class="fl w-100 w-80-ns">
      <span class="bbroller ma0 f3">Details</span>
      <hr class="title-divider">
      <div class="fl w-100 w-50-ns pr2">
        <span class="bbroller ma0 f4 py2">Date &amp; Time</span>
        <p class="ma0">{{ page.event-details.date | date: "%A, %B %d"}}</p>
        <p class="ma0">{{ page.event-details.start-time }} - {{ page.event-details.end-time }}</p>
      </div>
      <div class="fl w-100 w-50-ns pr2">
        <span class="bbroller ma0 f4 py2">Venue</span>
        <p class="ma0">{{ page.event-details.venue-name }}</p>
        <p class="ma0">
          <a href="{{ page.event-details.venue-directions }}" target="_blank">{{ page.event-details.venue-address }}</a>
        </p>
      </div>
    </div>
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
  </div>
</section>
