{% if page.has-speakers == true %}
<section class="single-event-details">
{% else %}
<section class="single-event-details mb4">
{% endif %}
  <div class="container clearfix relative p3">
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
    <div class="sm-col sm-col-12 md-col-8 text-medium">
      <h3 class="bbroller m0 text-large">Details</h3>
      <hr class="title-divider">
      <div class="sm-col sm-col-12 md-col-5 pr2">
        <h4 class="bbroller m0 text-lowercase text-small fw-extrabold py2">
          Date &amp; Time
        </h4>
        <p class="m0 mb1 text-small">
          {{ page.event-date | date: "%A"}}
        </p>
        <p class="m0 mb1 text-small">
         {{ page.event-date | date: "%B %d"}}
        </p>
        <p class="m0 mb1 text-small">
           {{ page.event-date | date: "%l:%M %p"}}
        </p>
        <p class="additional-event-detail m0 fw-bold charcoal">
          {{ page.doors-open }}
        </p>
        <p class="additional-event-detail m0 fw-bold charcoal">
          {{ page.event-start }}
        </p>
      </div>
      <div class="sm-col sm-col-12 md-col-7 pr2">
        <h4 class="bbroller m0 text-lowercase text-small fw-extrabold py2">
          Venue
        </h4>
        <p class="m0 mb1 text-small">
          {{ page.event-venue-name }}
        </p>
        <p class="m0 mb1 text-small">
          <a href="{{ page.event-venue-directions }}" target="_blank">{{ page.event-venue-address }}</a>
        </p>
      </div>
    </div>
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
  </div>
</section>
