<section class="single-event-header bg-cover bg-center py4 overflow-hidden" style="background-image: url('{{ page.image }}');">
  <div class="single-event-header-container clearfix relative py4">
    <div class="sm-col sm-col-12 md-col-11 relative">
      <span class="event-title-header bg-white px3 py2-half block relative">
        <h1 class="bbroller m0 text-headline pr4">{{ page.title }}</h1>
      </span>
      <span class="p3 block relative mb1">
        <h2 class="bbroller m0 text-shadow text-x-large white lh-tight">{{ page.event-date | date: "%A / %B %d / %l:%M %p"}}</h2>
      </span>
      <a href="{{ page.left-button-link }}" class="left-button bbroller m0 ml3 px3 py1 button button-white mb3">
        {{ page.left-button-text }}
      </a>
      {% if page.has-right-button == true %}
      <a href="{{ page.right-button-link }}" class="right-button bbroller m0 ml3 px3 py1 button button-white">
        {{ page.right-button-text }}
      </a>
      {% else %}
      {% endif %}
    </div>
  </div>
</section>
{% if page.is-sold-out == true %}
<div class="sold-out text-uppercase">
  <marquee>Sold Out!</marquee>
</div>
{% else %}
{% endif %}
