<section class="single-event-header bg-cover bg-center py4 overflow-hidden mt5" style="background-image: linear-gradient(HSL(259, 100%, 40%), HSL(259, 100%, 40%)), url('{{ page.image }}'); background-blend-mode: color, screen; background-size: cover; background-position: center; ">
    <div class="single-event-header-container mw8 center cf pa4 pa3-ns">
      <div class="sm-col sm-col-12 md-col-11 relative">
        <span class="event-title-header bg-white px3 py2-half block relative">
          <h1 class="bbroller ma0 f3 f2-m f1-l text-shadow pr4 white lh-title">
            {{ page.title }}
          </h1>
        </span>
        <span class="p3 block relative mb1">
          <h2 class="bbroller ma0 f4 f3-m f2-l text-shadow white lh-tight">
            {{ page.event-date | date: "%A / %B %d / %l:%M %p"}}
          </h2>
        </span> 
        {% comment %}
        <a href="{{ page.left-button-link }}" class="left-button bbroller m0 ml3 px3 py1 button button-white mb3 inline-block">
          {{ page.left-button-text }}
        </a> 
        {% if page.has-right-button == true %}
          <a href="{{ page.right-button-link }}" class="right-button bbroller m0 ml3 px3 py1 button button-white mb3 inline-block">
            {{ page.right-button-text }}
          </a> 
        {% endif %} 
        {% endcomment %}
      </div>
    </div>
  </section>
  
  {% if page.is-sold-out == true %}
  <div class="sold-out text-uppercase">
    <marquee>Sold Out!</marquee>
  </div>
  {% endif %}