{% if page.has-speakers == true %}
<section class="single-event-speakers mt5">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="fl w-100 w-80-ns">
      <h1 class="bbroller m0 text-large">{{page.presenter-section-header}}</h1>
      <hr class="title-divider">
      {% for speaker in page.speakers %}
        <div class="event-speaker-wrapper pv4">
          <div class="fl w-100 w-30-ns py3">
            <div class="diamond-image-border mt4">
              <div class="diamond overflow-hidden">
               <div class="speaker-background diamond-los1">
                 <a href="{{speaker.speaker-link}}" target="_blank">
                   <img class="speaker-portrait" src="{{ speaker.speaker-headshot-image }}" style="mix-blend-mode: screen;" />
                 </a>
               </div>
              </div>
            </div>
          </div>
          <div class="single-event-speaker-text fl w-100 w-70-ns text-center pa3">
            <h3 class="bbroller m0 mb1">
              {{ speaker.speaker-name }}
            </h3>
            <h6 class="m0 mb1 text-uppercase">
              {{ speaker.speaker-title }}
            </h6>
            {{ speaker.speaker-bio-text | markdownify }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
  </div>
</section>
{% endif %}
