<!-- section 1: hero -->
<section class="hero vh-50 vh-75-l flex bg-monte-carlo relative" style="background-image: url('{{ page.hero-bg }}'); background-size: contain; background-position: center center;">
  <div class="flex-auto self-center relative" style="z-index: 100;">
    <div class="mw8 mb4 center tc wysiwyg pa3">
      <h1 class="f1-headline white mb2">What a great year for <a class="white bb bw2 pb1" href="https://www.instagram.com/explore/tags/dcdesignweek/"
          target="_blank">#DCDesignWeek!</a></h1>
      <h2 class="f3 white mb2">{{ page.hero-closing-subheader }}</h2>
      <a href="{{ page.hero-closing-url }}" class="btn btn--secondary-solid white">{{ page.hero-closing-text }}</a>
    </div>
    <div class="mw6 center tc wysiwyg pa3">
      <h3 class="white mb2">{{ page.hero-next-year-header }}</h3>
      <a href="{{ page.hero-next-year-url }}" class="btn btn--secondary-solid white">{{ page.hero-next-year-text }}</a>
    </div>
  </div>
  <div class="hero-overlay absolute top-0 right-0 bottom-0 left-0 bg-cloud" style="opacity: 0.5;"></div>
</section>