<div class="">
    <div class="o-grid o-grid--items-center o-grid__2-columns">
        <div>
            <h2>
                {{ page.dc-is-factsinating-header }}
            </h2>
            <hr/>
            <p>
                {{ page.dc-is-factsinating-body | markdownify}}
            </p>
        </div>
        <div class="shadow shadow--crusta">
            <video autoplay="true" controls="true" loop="true" muted="true" poster="" src="/uploads/about-dcdw.mp4">
            </video>
        </div>
    </div>
</div>
