{% if page.layout == "home" %}
<div class="slider">
    <span class="slide__curtain--left">
        <svg data-name="slide__curtain" id="slide__curtain" preserveaspectratio="none" viewbox="0 0 1566 641" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <style>
                    .cls-1{fill:none;fill-rule:evenodd;}.cls-2{fill:#000000;}
                </style>
            </defs>
            <path class="cls-1" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0Z">
            </path>
            <path class="cls-2" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0V641">
            </path>
        </svg>
    </span>
    <span class="slide__curtain--right">
        <svg data-name="slide__curtain" id="slide__curtain" preserveaspectratio="none" viewbox="0 0 1566 641" xmlns="http://www.w3.org/2000/svg">
            <defs>
                <style>
                    .cls-1{fill:none;fill-rule:evenodd;}.cls-2{fill:#000000;}
                </style>
            </defs>
            <path class="cls-1" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0Z">
            </path>
            <path class="cls-2" d="M1566,641V0H0S223.22,207.65,537.44,287s407.29-11.94,673.35,72S1566,641,1566,641">
            </path>
        </svg>
    </span>
    <div class="slides">
        {% for slide in site.data.slider.slide %}
        <div class="slide slide--{{ slide.type }}" id="{{ slide.type }}">
            <div class="slide__content container--small">
                <p>
                    {{ slide.caption }}
                </p>
                <h2>
                    {{ slide.body | markdownify }}
                </h2>
                <a class="button button__border--black" href="{{ slide.button-url }}">
                    <i class="fas fa-chevron-double-right">
                    </i>
                    Next Fact
                    <i class="fas fa-chevron-double-right">
                    </i>
                </a>
            </div>
            <video autoplay="true" loop="true" muted="true" poster="{{ slide.poster }}" src="{{ slide.video }}">
            </video>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    // flickity
    var elem = document.querySelector('.slides');
    var flkty = new Flickity( elem, {
        // options
        cellAlign: 'center',
        contain: true,
        wrapAround: true,
        pageDots: false,
        draggable: false,
        prevNextButtons: false,
        hash: true,
        fade: true,
        imagesLoaded: true,
        setGallerySize: false
    });
    // element argument can be a selector string
    //  for an individual element
    var flkty = new Flickity( '.slides', {
        // options
    });
</script>
{% endif %}

{% if page.layout == "about" %}
<div class="slider">
    <div class="slides">
        {% for slide in site.data.slider.slide %}
        <div class="slide slide--{{ slide.type }}" id="{{ slide.type }}">
            <video autoplay="true" loop="true" muted="true" poster="{{ slide.poster }}" src="{{ slide.video }}">
            </video>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    // flickity
    var elem = document.querySelector('.slides');
    var flkty = new Flickity( elem, {
        // options
        cellAlign: 'center',
        contain: true,
        wrapAround: true,
        pageDots: true,
        draggable: false,
        prevNextButtons: false,
        hash: false,
        fade: true,
        imagesLoaded: true,
        setGallerySize: false,
        autoPlay: 3000,
        pauseAutoPlayOnHover: true
    });
    // element argument can be a selector string
    //  for an individual element
    var flkty = new Flickity( '.slides', {
        // options
    });
</script>
{% endif %}
