<div class="block block-featured-sponsors">
    <h2>
        {{ page.sponsors-header }}
    </h2>
    <hr class="border border--crusta"/>
    <p>
        {{ page.sponsors-body | markdownify }}
    </p>
    {% if page.layout == "home" %}
    {% else %}
    <ul class="grid grid--auto-4-columns">
        {% assign sorted_sponsors = site.sponsors %}
        {% for posts in sorted_sponsors %}
        {% if posts.is-featured == true %}
        <li>
            <a href="{{ posts.sponsor-url }}" rel="noopener" target="_blank">
                <img alt="{{ posts.sponsor-image-alt }}" class="lazyload blur-up" data-src="{{ posts.sponsor-image }}" src="{{ posts.sponsor-image }}">
                </img>
            </a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    <a class="button button__{{ page.sponsors-button-type }} button__{{ page.sponsors-button-type }}--{{ page.sponsors-button-color }}" href="{{ page.sponsors-button-url }}">
        {{ page.sponsors-button }}
    </a>
</div>