<div class="block-50-50-text-image">
    <div class="grid grid--items-center grid__2-column">
        <div>
            <h2>
                {{ page.dc-is-factsinating-header }}
            </h2>
            <hr/>
            <p>
                {{ page.dc-is-factsinating-body | markdownify}}
            </p>
        </div>
        <div>
            <video autoplay="true" controls="true" loop="true" muted="true" poster="" src="/uploads/about-dcdw.mp4">
            </video>
        </div>
    </div>
</div>
