<li class="card card-event mix {% include liquid/card-event-filter.html %}">
    <a aria-label="{{ event.aria-label }}" href="{{ event.url }}">
        <div class="card-aside">
            <figure class="card-image ">
                <img src="{{ event.image }}" alt="{{ event.image-alt }}" />
            </figure>
            {% include liquid/card-event-person-sticker.html %}
            {% include liquid/card-event-status.html %}
        </div>

        <div class="card-header gap-margin-top-200">
            <h3>{{ event.title }}</h3>
        </div>

        <div class="card-details gap-margin-top-500">
            <div class="card-date">
                <p class="day">{{ event.event-date | date: "%a" }}</p>
                <p class="date">{{ event.event-date | date: "%m.%d" }}</p>
            </div>
            <div class="card-info">
                <p>{{ event.start-time }}</p>
                <p>{{ event.venue.name }}</p>
            </div>
        </div>
    </a>
</li>
