<li class="card card--sponsors column--span-1">
    {% if content.title %}
    <div class="card__header">
        <h4 class="card__title" id="{{ content.title | downcase | replace: " ", " -" }}">
            H4: {{ content.title }}
        </h4>
    </div>
    {% endif %}
    <div class="card__aside">
        <a aria-label="{{ content.aria-label }}" href="{{ content.website }}" target="_blank" rel="noopener noferrer">
            <figure class="card-image ">
                <img src="{{ content.image }}" alt="{{ content.image-alt }}" />
            </figure>
        </a>
    </div>
</li>
