<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- Theme Color for Chrome, Firefox OS and Opera -->
<meta content="#c396ff" name="theme-color"/>
<title>
    {{ page.title }} - {{site.title}}
</title>
<link href="{{ site.uploadurl }}favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<!-- For IE 10 and below -->
<!-- Place favicon.ico in the root directory - no tag necessary -->
<!-- Icon in the highest resolution we need it for -->
<link href="/path/to/icon.png" rel="icon" sizes="192x192"/>
<!-- Apple Touch Icon (reuse 192px icon.png) -->
<link href="/path/to/apple-touch-icon.png" rel="apple-touch-icon"/>
<!-- Safari Pinned Tab Icon -->
<link color="#c396ff" href="/path/to/icon.svg" rel="mask-icon"/>
{% seo %}
<!-- styles -->
<link href="{{ site.asseturl }}styles/app.css" media="all" rel="stylesheet" type="text/css"/>
<!-- scripts -->
<script src="https://kit.fontawesome.com/2b8780d76f.js">
</script>
<script src="{{ site.asseturl }}scripts/offside.min.js" type="text/javascript">
</script>
<script src="{{ site.asseturl }}scripts/lazysizes.min.js" type="text/javascript">
</script>
{% if page.layout == "home" %}
<script src="{{ site.asseturl }}scripts/flickity.min.js" type="text/javascript">
</script>
<script src="{{ site.asseturl }}scripts/flickity-hash.js" type="text/javascript">
</script>
<script src="{{ site.asseturl }}scripts/flickity-fade.js" type="text/javascript">
</script>
{% endif %}
{{site.google-analytics}}
