<!DOCTYPE html>
<html lang="en">
    <head>
        {% include doctype-head.html %}
    </head>
    <!-- offside menu -->
    <nav class="mobile-menu db dn-l" id="mobile-menu">
        <ul class="mobile-menu__list list ma0 pl0 ma4">
            {% for link in site.data.navigation.primary-nav %}
            <li class="mobile-menu__item list-none">
                <a class="monospace ttu white pb3 db" href="{{ link.url }}">
                    {{ link.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <body>
        <!-- wrapper for site content that is shifted when mobile menu is triggered -->
        <main class="{{ page.layout }}-layout wysiwyg" id="site-container">
            <header class="site-header bg-white pv2 ph3">
                <nav class="flex flex-row items-center">
                    <div class="site-header__logo">
                        <a class="ma0" href="/">
                            <img src="{{ site.uploadurl }}site-logo.png">
                            </img>
                        </a>
                    </div>
                    <div class="site-header__links flex-auto">
                        <ul class="list flex-auto ma0 pl0 dn db-l tr">
                            {% for link in site.data.navigation.primary-nav %}
                            <li class="dib link">
                                <a class="button button__{{ link.button-type }} button__{{ link.button-type }}--{{ link.button-color }}" href="{{ link.url }}">
                                    {{ link.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="site-header__menu-button flex-auto fr dn">
                            <button id="mobile-menu-trigger" type="button">
                                <i class="fas fa-bars">
                                </i>
                            </button>
                        </div>
                    </div>
                </nav>
            </header>