<div class="container">
    <h2>
        {{ site.data.blocks.about-dcdw.header }}
    </h2>
    <hr/>
    {{ site.data.blocks.about-dcdw.text | markdownify }}
    <h3>
        {{ site.data.blocks.about-dcdw.accessibility-header }}
    </h3>
    {{ site.data.blocks.about-dcdw.accessibility-text | markdownify }}
    <h3>
        {{ site.data.blocks.about-dcdw.code-of-conduct-header }}
    </h3>
    {{ site.data.blocks.about-dcdw.code-of-conduct-text | markdownify }}
    <h3>
        {{ site.data.blocks.about-dcdw.questions-header }}
    </h3>
    {{ site.data.blocks.about-dcdw.questions-text | markdownify }}
</div>