<section class="section section-landing-details">
    <div class="container">
        <div class="grid grid--four-column">
            <div class="grid--three-column-span flow-2">
                <h2>
                    Platform and Prerequisites
                </h2>
                <hr class=" divider divider--cinnabar" aria-hidden="true">
                <p class="wysiwyg flow-2">
                    {{ page.venue.additional-info | markdownify }}
                </p>
            </div>
        </div>
    </div>
</section>
