<div class="events__filter">
	<form class="events-filter">
		<!-- filters -->
		<div class="events-filter__dates control-group" data-filter-group="">
			{% for control in site.data.agenda.filter-date %}
			<button
				class="events-filter__date-button control {{ control.class }} {% if control.has-occurred == true %} events-filter__date-button--past-event {% endif %}"
				data-filter="{{ control.filter }}"
				type="button"
			>
				<span class="control-text-1 font-size-4 script">
					{{ control.text-1 }}
				</span>
				<span class="control-text-2 font-size-6">
					{{ control.text-2 }}
				</span>
				<span class="control-text-3 font-size-5 font-weight-700">
					{{ control.text-3 }}
				</span>
			</button>
			{% endfor %}
		</div>
		<div class="events-filter__additional-filters">
			<div class="events-filter__additional-header">
				<span
					class="events-filter__additional-title font-size-6 font-weight-700 sans"
					data-houdini-toggle="additional-filters"
				>
					Additional Filters
				</span>
				<div class="events-filter__reset control-group">
					<button
						class="control control-text font-size-6 font-weight-700 sans"
						type="reset"
					>
						Reset
					</button>
				</div>
			</div>
			<div
				class="events-filter__additional-content"
				data-houdini-group="additional-filters"
				id="additional-filters"
			>
				<div
					class="events-filter__status control-group grid grid__4-column"
					data-filter-group=""
				>
					<div class="column">
						<span class="font-weight-700 font-size-5">
							Status
						</span>
						{% for control in site.data.agenda.filter-status %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value="{{ control.filter }}"
								/>
								{{ control.text-1 }}
							</label>
						</div>
						{% endfor %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value=".mix:not(.past-event)"
								/>
								Hide Past Events
							</label>
						</div>
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value=".mix:not(.sold-out)"
								/>
								Hide Sold Out
							</label>
						</div>
					</div>
					<div class="column">
						<span class="font-weight-700 font-size-5">
							Time
						</span>
						{% for control in site.data.agenda.filter-time-of-day %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value="{{ control.filter }}"
								/>
								{{ control.text-1 }}
							</label>
						</div>
						{% endfor %}
					</div>
					<div class="column">
						<span class="font-weight-700 font-size-5">
							Type
						</span>
						{% for control in site.data.agenda.filter-event-type %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value="{{ control.filter }}"
								/>
								{{ control.text-1 }}
							</label>
						</div>
						{% endfor %}
					</div>
					<div class="column">
						<span class="font-weight-700 font-size-5">
							Location
						</span>
						{% for control in site.data.agenda.filter-location %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input
									name="additional-filters"
									type="radio"
									value="{{ control.filter }}"
								/>
								{{ control.text-1 }}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
