<div class="block block__events-information">
    <h2>
        {{ site.data.events.about-dcdesignweek.header }}
    </h2>
    <hr/>
    <span>
        {{ site.data.events.about-dcdesignweek.text | markdownify }}
    </span>
    <h3>
        {{ site.data.events.about-dcdesignweek.accessibility-header }}
    </h3>
    <span>
        {{ site.data.events.about-dcdesignweek.accessibility-text | markdownify }}
    </span>
    <h3>
        {{ site.data.events.about-dcdesignweek.code-of-conduct-header }}
    </h3>
    <span>
        {{ site.data.events.about-dcdesignweek.code-of-conduct-text | markdownify }}
    </span>
    <h3>
        {{ site.data.events.about-dcdesignweek.questions-header }}
    </h3>
    <span>
        {{ site.data.events.about-dcdesignweek.questions-text | markdownify }}
    </span>
</div>