<div class="event-single__learn">
    <h2>
        {{ site.data.events.about-dcdesignweek.header }}
    </h2>
    <hr/>
    {{ site.data.events.about-dcdesignweek.text | markdownify }}
    <h3>
        {{ site.data.events.about-dcdesignweek.accessibility-header }}
    </h3>
    {{ site.data.events.about-dcdesignweek.accessibility-text | markdownify }}
    <h3>
        {{ site.data.events.about-dcdesignweek.code-of-conduct-header }}
    </h3>
    {{ site.data.events.about-dcdesignweek.code-of-conduct-text | markdownify }}
    <h3>
        {{ site.data.events.about-dcdesignweek.questions-header }}
    </h3>
    {{ site.data.events.about-dcdesignweek.questions-text | markdownify }}
</div>