<section class="section section-partners background-dcdw-2021-black color-dcdw-2021-celeste ">
    <div class="container grid grid--two-column grid--align-center">
        <div class="flow-2">
            <h2>
                FAQs
            </h2>
            <hr class="divider divider--cinnabar" aria-hidden="true">
            <div class="wysiwyg">
                Body Text
            </div>
            <a class="button button-solid--cinnabar" href="{{ site.partner.button-url }}" rel="noopener nofollow" target="_blank">
                {{ site.partner.button-label | markdownify }}
            </a>
        </div>
        <div>
            Image
        </div>
    </div>
</section>
