<form class="filter-events flow-2">
    <fieldset data-filter-group>
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading">
                Event Date
            </h2>
        </legend>
        <div class="flow-0">
            {% for control in site.filter-events.day %}
            <label class="radio-label custom-radio">
                <input class="{% if control.has-occurred == true %} filter-events__date--occurred {% endif %}" type="radio" name="color" value="{{ control.filter }}" />
                <span class="checkmark"></span>
                <span class="control-text-1">
                    {{ control.text-1 }} {{ control.text-3 }}
                </span>
            </label>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset data-filter-group>
        <legend>
            <h2>
                Event Status
            </h2>
        </legend>
        <div class="flow-0">
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value=".mix:not(.past-event)" />
                <span class="checkmark"></span>
                Hide Past Events
            </label>
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value=".mix:not(.sold-out)" />
                <span class="checkmark"></span>
                Hide Sold Out
            </label>
        </div>
    </fieldset>

    <fieldset data-filter-group>
        <legend>
            <h2>
                Event Time
            </h2>
        </legend>
        <div class="flow-0">
            {% for control in site.filter-events.time %}
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value="{{ control.filter }}" />
                <span class="checkmark"></span>
                {{ control.text-1 }}
            </label>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset data-filter-group>
        <legend>
            <h2>
                Event Type
            </h2>
        </legend>
        <div class="flow-0">
            {% for control in site.filter-events.type %}
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value="{{ control.filter }}" />
                <span class="checkmark"></span>
                {{ control.text-1 }}
            </label>
            {% endfor %}
        </div>
    </fieldset>

    <fieldset data-filter-group>
        <legend>
            <h2>
                Event Focus
            </h2>
        </legend>
        <div class="flow-0">
            {% for control in site.filter-events.focus %}
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value="{{ control.filter }}" />
                <span class="checkmark"></span>
                {{ control.text-1 }}
            </label>
            {% endfor %}
        </div>
    </fieldset>

    <div class="filter-events__reset control-group">
        <button class=" button button-solid--cinnabar" type="reset">
            Clear Filters
        </button>
    </div>
</form>
