<footer id="email-sign-up" class="global-footer white bg-black cover noise relative overflow-hidden" style="background-image: url('/uploads/dcdw-footer-bg.jpg');">
  {% if page.url == "/" or page.url == "/about/" or page.url == "/volunteers/" %}
    <div class="mw7 center cf pa3 relative" style="z-index: 100;">
      <div class="footer-content">
        {% for content in site.data.footer.holding-site-footer %}
          <span class="bbroller ma0 mb2 f4 f3-ns fw4 lh-copy tc">
            {{ content.header | markdownify }}
          </span>
          <span class="ma0 mb2 f5 f4-ns fw3 lh-copy tc">
            {{ content.text | markdownify }}
          </span>
        {% endfor %}
      </div>
      <div class="mailchimp-form">
        {% include mailchimp/sign-up-form.html %}
      </div>
    </div>
  {% else %}
  <div class="mw8 center cf pa4 pv5">
    <div class="mw6 center cf tc">
      <p class="ma0 mb3 f4 f3-m f2-l fw9">
        Made with
        <span class="made-in-dc-heart relative dib h3 w3">
          {% include icons/heart.svg %}
        </span> in DC
      </p>
      <div class="dcdw-footer-statment">
        <p class="ma0 mb2 f6 f5-ns fw3 lh-copy">
          Built by 100% volunteer power, we're constantly working to make this site better for you.
        </p>
        <p class="ma0 f6 f5-ns fw3 lh-copy">
          If you see something, say something.
        </p>
        <a href="https://github.com/AIGAdc/DCDW" target="_blank" class="social-icons dib mt2 white text-headline h3 w3">
          {% include icons/github.svg %}
        </a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="footer-contact-bar pa3 bg-black cf">
    <div class="fl w-100 w-third-l tc tc-m tl-l relative" style="z-index: 100;">
      <a href="mailto:{{site.footer-contact-email}}" target="_top" class="aiga-email f6 f5-ns white dib dim">
        {{site.footer-contact-email}}
      </a>
    </div>
    <div class="fl w-100 w-third-l tc pv3 pv0-l relative" style="z-index: 100;">
      <ul class="social-icons list ma0 pl0">
        {% for link in site.data.navigation.social-nav %}
          <li class="dib link">
            <a href="{{ link.url }}" class="social-footer-links ph2 dim"><span class="dib v-mid">{{ link.icon }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="fl w-100 w-third-l tc tr-l">
      <p class="aiga-copyright ma0 f6 f5-ns">
        {{site.footer-copyright}}
      </p>
    </div>
  </div>
</footer>