<footer class="global-footer white bg-black py4">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-4">
      <a href="#" class="white">
        {{site.contact-email}}
      </a>
    </div>
    <div class="sm-col sm-col-12 md-col-4">
      [social icons]
    </div>
    <div class="sm-col sm-col-12 md-col-4">
      <p>{{site.copyright}}</p>
    </div>
  </div>
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 text-center">
      <p>Made with
        <span>
          <svg id="i-heart" viewBox="0 0 32 32" width="20" height="20" fill="#ffffff" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
            <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
          </svg>
        </span> in DC</p>
      </div>
  </div>
</footer>
