<footer class="global-footer white bg-black bg-contain bg-center" style="background-image: url('/uploads/dcdw-footer-bg.jpg');">
  <div class="container clearfix py4">
    <div class="sm-col sm-col-12 text-center text-large fw-black">
      <p class="mt3 mb2">Made with
        <span class="made-in-dc-heart relative">
          <svg id="i-heart" viewBox="0 0 32 32" width="32" height="32" fill="#ffffff" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
            <path d="M4 16 C1 12 2 6 7 4 12 2 15 6 16 8 17 6 21 2 26 4 31 6 31 12 28 16 25 20 16 28 16 28 16 28 7 20 4 16 Z" />
          </svg>
        </span> in DC
      </p>
      <div class="mx-auto sm-col-7">
      <p class="m0 fw-regular text-medium px3">Built by 100% volunteer power, we're constantly working to make this site better for you.  If you see something, say something.</p>
      <a href="https://github.com/AIGAdc/DCDW" target="_blank" class="inline-block mt2 white text-headline"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="bg-black px3 py2 clearfix z4">
    <div class="sm-col sm-col-12 md-col-4">
      <a href="mailto:{{site.contact-email}}" target="_top" class="aiga-email white block">
        {{site.contact-email}}
      </a>
    </div>
    <div class="sm-col sm-col-12 md-col-4">
      <ul class="social-icons py2">
        <li class="inline-block">
          <a class="social-footer-links text-medium white px1" href="https://www.facebook.com/aigaDC/">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="inline-block">
          <a class="social-footer-links text-medium white px1" href="https://www.instagram.com/aigadc/">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li class="inline-block">
          <a class="social-footer-links text-medium white px1" href="https://twitter.com/aigadc">
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="inline-block">
          <a class="social-footer-links text-medium white px1" href="https://www.flickr.com/photos/aigadc/">
            <i class="fa fa-flickr" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="sm-col sm-col-12 md-col-4">
      <p class="m0 aiga-copyright">{{site.copyright}}</p>
    </div>
  </div>
</footer>
