<header class="global-header bg-white fixed top-0 right-0 left-0 pa3">
  <nav class="db dt-l w-100 border-box">
    <!-- desktop logo -->
    <div class="logo-wrapper-mobile dn db-l">
      <a class="link" href="/">
        <span class="v-mid dib">
          {% include logos/dcdw-logo-mobile.svg %}
        </span>
      </a>
    </div>
    
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      {% if page.url == "/" or page.url == "/volunteers/" %}
        <ul class="list ma0 pl0 dn db-l">
          {% for link in site.data.navigation.holding-site-nav %}
          <li class="dib link">
            <a href="{{ link.url }}" class="btn btn--header-link black-60">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li class="dib link">
            <a data-scroll href="#email-sign-up" class="btn btn--email-list">Email List</a>
          </li>
        </ul>
      {% else %}
        <ul class="list ma0 pl0 dn db-l">
          {% for link in site.data.navigation.primary-nav %}
            <li class="dib link">
              <a href="{{ link.url }}" class="btn btn--header-link black-60 ttu fw6">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
      {% endif %}

      <!--  mobile logo & burger menu -->
      <div class="logo-wrapper-mobile db dn-l">
        <a class="ma0 dib link fl" href="/">
          <img class="w-100 v-mid" src="{{site.mobile-logo-image}}">
        </a>
        <div class="dib fr">
          <div class="menu-btn">&#9776; Menu</div>
        </div>
      </div>
    </div>
  </nav>
</header>
