<header class="global-header bg-white fixed top-0 right-0 left-0">
  <nav class="db dt-l w-100 border-box pa3">
    <!-- desktop logo -->
    <div class="logo-wrapper-mobile dn db-l">
      <a class="link" href="/">
        <img class="w-100 v-mid" src="{{site.mobile-logo-image}}">
      </a>
    </div>
    
    <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">
      {% if page.url == "/" or "/about/" or "/volunteers/" %}
        <ul class="list ma0 pl0 dn db-l">
          {% for link in site.data.navigation.holding-site-nav %}
          <li class="dib link">
            <a href="{{ link.url }}" class="header-link f5 fw4 black-60 pa2">{{ link.title }}</a>
          </li>
          {% endfor %}
          <li class="dib link">
            <a data-scroll href="#email-list" class="header-link f5 fw4 pa2 ph3 ba bw1 dcdw-blue">Email List</a>
          </li>
        </ul>
      {% else %}
        <ul class="list ma0 pl0 dn db-l">
          {% for link in site.data.navigation.primary-nav %}
            <li class="dib link">
              <a href="{{ link.url }}" class="header-link f5 fw4 black-60 pa2">{{ link.title }}</a>
            </li>
          {% endfor %}
          </ul>
      {% endif %}

      <!--  mobile logo & burger menu -->
      <div class="logo-wrapper-mobile db dn-l">
        <a class="ma0 dib link fl" href="/">
          <img class="w-100 v-mid" src="{{site.mobile-logo-image}}">
        </a>
        <div class="dib fr">
          <div class="menu-btn">&#9776; Menu</div>
        </div>
      </div>
    </div>
  </nav>
</header>
