<header class="global-header pa3 pa4-ns bg-white z4 fixed top-0 right-0 left-0">
  <!-- desktop logo -->
  <div class="logo-wrapper fl dn db-l">
    <a class="link" href="/">
      <img class="w-100 v-mid" src="{{site.desktop-logo-image}}">
    </a>
  </div>
  
  <!--  mobile logo & burger menu -->
  <div class="logo-wrapper-mobile db dn-l">
    <a class="dib link fl" href="/">
      <img class="w-100 v-mid" src="{{site.mobile-logo-image}}">
    </a>
    <div class="dib fr">
      <div class="menu-btn">&#9776; Menu</div>
    </div>
  </div>

  <!-- links -->
  <nav class="main-nav relative fr dn db-l">
    <ul class="list ma0 pl0">
      {% for link in site.data.navigation.primary-nav %}
        <li class="dib link">
          <a href="{{ link.url }}" class="header-link f5 fw9 black pa2 ttu">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
