{% comment %}
On homepage, show featured events and apply black background and paper tears
{% endcomment %}
{% if page.url == "/" %}
<section id="events" class="section section-events background-black color-dcdw-2021-celeste">
    <div class="container">
        <img class="ripped-paper ripped-paper-dark-8-A" src="/uploads/optimized-texture-ripped-paper-dark-8.png" alt="Ripped Paper Texture Style 8">
        <div class="flow-large">
            <h2 id="Replace with Variable">
                Events Heading Level 2
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                Events Body Text
            </div>
        </div>

        <div class="gap-top-1000">
            <ul class="mixitup-container grid grid--four-column">
                {% assign sorted = site.events | sort: 'event-date' and 'date-time' %}
                {% for event in sorted | limit: 4 %}
                {% if event.status.is-featured-home == true %}
                {% include card-event.html %}
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="gap-top-1000 text-center">
            <a class="button button-solid--yellow" href="{{ page.event-button-url }}">
                {{ page.event-button-label}}
            </a>
        </div>

        <img class="ripped-paper ripped-paper-dark-8-B rotate-180" src="/uploads/optimized-texture-ripped-paper-dark-8.png" alt="Ripped Paper Texture Style 8">
    </div>
</section>

{% elsif page.url == "/events/" %}

<section id="events" class="section section-events color-black texture texture--paper">
    <img class="ripped-paper ripped-paper-light-1-A" src="/uploads/optimized-texture-ripped-paper-light-1.png" alt="Ripped Paper Texture Style Light 1">
    <div class="container">
        <div class="flow-large">
            <h2 id="Replace with Variable">
                Events Heading Level 2
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                Events Body Text
            </div>
        </div>

        <div>
            {% include filter-events.html %}
        </div>

        <div class="gap-top-1000">
            <ul class="mixitup-container grid grid--four-column">
                {% assign sorted = site.events | sort: 'event-date' and 'date-time' %}
                {% for event in sorted %}
                {% include card-event.html %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}
