<section id="events" class="section section-events-self-guided background-dcdw-2021-celeste color-black">
    <div>
        <h2 class="" id="Replace with Variable">
            Events: Self Guided Heading Level 2
        </h2>
        <div class="wysiwyg">
            Events: Self Guided Body Text
        </div>
    </div>

    {% comment %} Show Event Filter on Events Page Only {% endcomment %}
    {% if page.url == "/events/" %}
    <div>
        {% include block/filter-events.html %}
    </div>
    {% endif %}

    <div class="gap-top-400">
        <ul class="grid grid--three-columns mixitup-container">
            {% assign sorted = site.events-self-guided | sort: 'event-date' and 'date-time' %}
            {% for event in sorted %}
            {% include partials/self-guided-modal-trigger.html %}
            {% include partials/self-guided-modal-content.html %}
            {% endfor %}
        </ul>
    </div>

    {% comment %} Show Event CTA Button on Homepage Only {% endcomment %}
    {% if page.url == "/" %}
    <div class="column column--span-4 text-center">
        <a class="button button__solid--cinnabar" href="{{ page.event-button-url }}">
            {{ page.event-button-label}}
        </a>
    </div>
    {% endif %}

</section>

<script>
    modals.init({
        selectorToggle: '[data-modal]', /* Modal toggle selector */
        selectorWindow: '[data-modal-window]', /* Modal window selector */
        selectorClose: '[data-modal-close]', /* Modal window close selector */
        modalActiveClass: 'active', /* Class applied to active modal windows */
        modalBGClass: 'modal-bg', /* Class applied to the modal background overlay */
        preventBGScroll: true, /* Boolean, prevents background content from scroll if true */
        preventBGScrollHtml: false, /* Boolean, adds overflow-y: hidden to <html> if true  (preventBGScroll must also be true) */
        preventBGScrollBody: true, /* Boolean, adds overflow-y: hidden to <body> if true (preventBGScroll must also be true) */
        backspaceClose: true, /* Boolean, whether or not to enable backspace/delete button modal closing */
        stopVideo: true, /* Boolean, if true, stop videos when tab closes */
        callbackOpen: function (toggle, modal) { }, /* Functions to run after opening a modal */
        callbackClose: function (toggle, modal) { } /* Functions to run after closing a modal */
    });
</script>
