{% if page.url == "/about/" %}
{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section-hero texture texture--paper">
    <div class="container grid grid--two-column grid--align-center">
        <div class="flow-large">
            <h2>
                {{ content.header | markdownify }}
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
            <a class="button button-solid--cinnabar" href="{{ content.button-url }}" rel="noopener nofollow" target="_blank">
                {{ content.button-label | markdownify }}
            </a>
        </div>
        <div>
            <figure class="hero-image" style="z-index: var(--index-2); position: relative;">
                <img src="/uploads/sample-collage-3.png" alt="Oddisee Collage">
            </figure>
            {% include pattern-hyperlocal.html %}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% elsif page.url == "/events/" %}
{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section-hero background-black color-dcdw-2021-celeste">
    <div class="container grid grid--two-column grid--align-center">
        <div class="column-1 flow-large">
            <h2>
                {{ content.header | markdownify }}
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
            <a class="button button-solid--cinnabar" href="{{ content.button-url }}" rel="noopener nofollow" target="_blank">
                {{ content.button-label | markdownify }}
            </a>
        </div>
        <div class="column-two">
            <figure class="hero-image" style="z-index: var(--index-2); position: relative;">
                <img src="/uploads/sample-collage-3.png" alt="Oddisee Collage">
            </figure>
            &nbsp;
        </div>
        {% include pattern-hyperlocal.html %}
        <img class="ripped-paper ripped-paper-8-B rotate-180" src="/uploads/optimized-texture-ripped-paper-8.png" alt="Ripped Paper Texture Style 8">
    </div>
</section>
{% endif %}
{% endfor %}
{% endif %}
