<section class="section section-partners color-dcdw-2021-black texture texture--paper">
    <div class="container grid grid--two-column grid--align-center">
        <div class="flow-2">
            <h2>
                {{ page.title | markdownify }}
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                {{ page.description | markdownify }}
            </div>
            <a class="button button-solid--cinnabar" href="{{ site.partner.button-url }}" rel="noopener nofollow" target="_blank">
                {{ site.partner.button-label | markdownify }}
            </a>
        </div>
        <div>
            Image
        </div>
    </div>
</section>
