<section class="section section-self-guided">
    <div class="grid grid--four-columns">
        <div class="column column--span-2">
            <img class="bubble-group-partnerus-1" aria-hidden="true" src="/uploads/bubble-black-medium-03.png" alt="Large Floating amorphous bubbles">
            <img class="bubble-group-partnerus-2" aria-hidden="true" src="/uploads/bubble-black-group-partnerus-2.png" alt="Small Floating amorphous bubbles">
        </div>
        <div class="column column--span-2 flow-2">
            <h2 class="column--width-40 flow-none" id="{{ page.self-guided-header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ page.self-guided-header }}</h2>
            <div class="wysiwyg">{{ page.self-guided-body | markdownify }}</div>
            <a class="button button__solid--cinnabar " href="{{ page.self-guided-button-url }}">{{ page.self-guided-button-label }}
            </a>
        </div>
    </div>
</section>
