<section class="section section--introduction background-color-black text-color-celeste">
  <div class="container container--default">
    <div class="wysiwyg">
      <p>
        DC Design Week is an annual celebration of the creative community in DC, Maryland, and Virginia. Over its 13-year history the week has grown and changed, representing more aspects of design, more members of our community, and more ways to be involved.
      </p>

      <p>
        This year, we’re doing more to foster conversations that will challenge, excite, and promote the grassroots history of the District; with a focus on the impact of the DMV’s unique local flavor.
      </p>

      <p>
        Each year, we host dozens of events, ranging from major keynotes with renowned graphic artists, intimate workshops with local makers, morning runs around the District’s murals, and more.
      </p>
    </div>
  </div>
</section>
