{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section--hero texture texture--paper">
    <div class="container container--default">
        <div class="hero-teaser">
            <div class="ornament ornament--stars">
                <img src="/uploads/ornament-stars.svg" alt="Decorative image of three red stars in a row." />
            </div>
            <div class="ornament ornament--globe">
                <img src="/uploads/ornament-globe.svg" alt="Decorative image of outline globe." />
            </div>
            <h1 class="title" style="background-image: url('/uploads/hero-red-object.svg'); background-repeat: no-repeat; background-size: contain; background-position: center;">
                <span class="font-bayard">DC</span> <span class="font-bayard text-color-white">Design Week</span>
            </h1>
            <h2 class="subtitle">
                is coming back in 2021.
            </h2>
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
