{% if page.url == "/about/" %}
{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section-hero texture texture--paper">
    <div class="container grid grid--two-column grid--align-center">
        <div class="column-one flow-2">
            <h2>
                {{ content.header | markdownify }}
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
            <a class="button button-solid--cinnabar" href="{{ content.button-url }}" rel="noopener nofollow" target="_blank">
                {{ content.button-label | markdownify }}
            </a>
        </div>
        <div class="column-two">
            <figure class="hero-image" style="z-index: var(--index-2); position: relative;">
                <img src="/uploads/sample-collage-3.png" alt="Oddisee Collage">
            </figure>
        </div>
        {% include pattern/hyperlocal.html %}
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        {% include textures/rip-2.svg %}
    </div>
</section>
{% endif %}
{% endfor %}

{% elsif page.url == "/events/" %}
{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section-hero background-black color-dcdw-2021-celeste">
    <div class="container grid grid--two-column grid--align-center">
        <div class="column-one flow-2">
            <h2>
                {{ content.header | markdownify }}
            </h2>
            <hr class="divider divider--cinnabar">
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
            <a class="button button-solid--cinnabar" href="{{ content.button-url }}" rel="noopener nofollow" target="_blank">
                {{ content.button-label | markdownify }}
            </a>
        </div>
        <div class="column-two">
            <figure class="hero-image" style="z-index: var(--index-2); position: relative;">
                <img src="/uploads/sample-collage-3.png" alt="Oddisee Collage">
            </figure>
        </div>
        {% include pattern/hyperlocal.html %}
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--dcdw-2021-celeste);">
        {% include textures/rip-2.svg %}
    </div>
</section>
{% endif %}
{% endfor %}
{% endif %}
