<section class="section section--past-dcdw texture texture--paper texture--grit">
    <div class="container container--wide container--center">
        <h2>
            {{ site.past-editions.header }}
        </h2>
        <hr class="divider divider--black">
        <div class="wysiwyg">
            {{ site.past-editions.body | markdownify }}
        </div>

        <ul class="grid grid--three-columns" style="background-image: url('/uploads/hero-red-object.svg'); background-repeat: no-repeat; background-size: contain; background-position: center;">
            {% for content in site.past-editions.editions %}
            <li class="card card--past-editions">
                <div class="card__aside">
                    <a aria-label="{{ content.aria-label }}" href="{{ content.url }}" target="_blank" rel="noopener noreferrer">
                        <figure class="card__image ">
                            <img src="{{ content.image }}" alt="{{ content.image-alt }}" />
                        </figure>
                    </a>
                </div>
                <div class="card__header">
                    <a aria-label="{{ content.aria-label }}" href="{{ content.url }}" target="_blank" rel="noopener noreferrer">
                        <h3 class="card__title">
                            {{ content.title }}
                        </h3>
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
