<section class="section section--volunteers background-color-black text-color-celeste" style="background-image: url('https://i.insider.com/526835cb69bedd5c6e473ee3?width=3264'); background-position: center center; background-size: cover; background-repeat: no-repeat;">
    <div class="container container--default container--center">
        <h2>
            {{ site.volunteer.header }}
        </h2>
        <hr class="divider divider--yellow">
        <div class="wysiwyg">
            {{ site.volunteer.body | markdownify }}
        </div>
    </div>
    <div class="section__overlay"></div>
</section>
