<header class="site-header">
	<a href="/" class="site-header__logo">
		{% include icon/logo.svg %}
	</a>
	<nav class="site-header__navigation">
		<ul class="links">
			{% for link in site.navigation-placeholder %}
			<li class="link">
				<a class="button button__link" href="{{ link.url }}" target="_blank" rel="noopener">
					{{ link.label }}
				</a>
			</li>
			{% endfor %}
		</ul>
		<hr class="vertical-divider" />
		<a href="mailto:designweek@dc.aiga.org" class="button button__border button__border--black">
			Become a Partner
		</a>
	</nav>
	<!-- Off-canvas toggle button -->
	<button type="button" id="my-button">{% include icon/bars.svg %}</button>
</header>
