<header class="">
    <a aria-label="Skip to Content Link" class="skip-to-content" href="#skip-to-content">
        Skip to main content
    </a>
    <a aria-label="DCDW Logo and link to home page" href="/" class="logo">
        {% include icon/dcdw-logo.html %}
    </a>
    <nav class="navigation">
        <ul class="links">
            {% for link in site.navigation-production %}   
            <li class="link">
                <a aria-label="{{ link.aria-label }}" class="anchor" href="{{ link.url }}">
                    {{ link.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- Off-canvas toggle button -->
    <button aria-label="Offscreen Menu Button" type="button" id="my-button">
        <i class="fas fa-bars"></i>
    </button>
</header>
