<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />

		{%- seo -%}

		<!-- Theme Color for Chrome, Firefox OS and Opera -->
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="{{ site.theme-color }}" />
		<meta content="{{ site.theme-color }}" name="theme-color" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

		<!-- styles -->
		<link href="{{ site.asseturl }}styles/app.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://use.typekit.net/dsv8drd.css">

		<!-- scripts -->
		<script src="{{ site.asseturl }}scripts/offside.min.js"></script>
		<script src="{{ site.asseturl }}scripts/houdini.min.js"></script>
		<script src="https://kit.fontawesome.com/2b8780d76f.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<!-- Off-canvas element  -->
		<nav aria-label="Offscreen Menu" id="my-menu">
			<ul class="links">
				{% for link in site.navigation-teaser %}
				<li class="link">
					<a aria-label="{{ link.aria-label }}" class="button button__link" href="{{ link.url }}">
						{{ link.label }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		
		<main role="main" class="{{ page.layout }}-layout" id="my-content-container">
			{%- include site-header.html -%}
			{{ content | safe }}
			{%- include site-footer.html -%}
			{% include /3rd-party/offside/scripts.html %}
		</main>
	</body>

</html>
