{% if event.status.is-featured-event == true and event.status.featured-event-message %}
<div class="banner banner-featured banner--purple">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ event.status.featured-event-message }}</p>
    </div>
</div>
{% endif %}

{% if event.status.is-featured-home == true and event.status.featured-event-message %}
<div class="banner banner-featured banner--purple">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ event.status.featured-event-message }}</p>
    </div>
</div>
{% endif %}

{% if event.status.is-sold-out == true and event.status.sold-out-message %}
<div class="banner banner-sold-out banner--cinnabar">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ event.status.sold-out-message }}</p>
    </div>
</div>
{% endif %}

{% if event.status.has-occurred == true and event.status.occurred-message %}
<div class="banner banner-occurred banner--yellow">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ event.status.occurred-message }}</p>
    </div>
</div>
{% endif %}
