{% if page.status.is-featured-event == true and page.status.featured-event-message %}
<div class="banner banner-featured banner--black">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ page.status.featured-event-message }}</p>
    </div>
</div>
{% endif %}

{% if page.status.is-featured-home == true and page.status.featured-event-message %}
<div class="banner banner-featured banner--black">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ page.status.featured-event-message }}</p>
    </div>
</div>
{% endif %}

{% if page.status.is-sold-out == true and page.status.sold-out-message %}
<div class="banner banner-sold-out banner--cinnabar">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ page.status.sold-out-message }}</p>
    </div>
</div>
{% endif %}

{% if page.status.has-occurred == true and page.status.occurred-message %}
<div class="banner banner-occurred banner--yellow">
    <div class="banner-inner" aria-hidden="true">
        <p>{{ page.status.occurred-message }}</p>
    </div>
</div>
{% endif %}
