.container {
  width: 100%;
  max-width: 72em;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
}

.design-week-wrapper {
  top: 350px;
}

/* quick and dirty animation pulled from here: http://codepen.io/helenvholmes/pen/pecdI */
.homepage-header {
  animation: float 6000ms ease-in-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 25px);
  }
}

.top-illustration {
  left: 600px;
  z-index: 9999;
}

.right-illustration {
  left: 500px;
  top: 225px;
}

.left-illustration {
  left: 875px;
  top: 75px;
}
