<!-- section: tier -->
<section class="sponsorship-tier">
    <h2 class="sponsorship-tier__header">
        {{ page.third-tier-header }}
    </h2>
    <hr class="border border--crusta">
    <p class="sponsorship-tier__body">
        {{ page.third-tier-sub-header }}
    </p>
    <ul class="sponsorship-tier__list">
        {% assign sorted-sponsors = site.sponsors %}
        {% for posts in sorted-sponsors %}
        {% if posts.is-third-tier == true %}
        {% include sponsors/list-item.html %}
        {% endif %}
        {% endfor %}
    </ul>
</section>
