<!-- mailchimp sign up -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
  }
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
  <form action="//aigadc.us5.list-manage.com/subscribe/post?u=a1d74e0d7217ad0690c35dc75&amp;id=f7171a068d" method="post" id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll" class="tc">
      <div id="email-list" class="mw6 center cf mb3">
        <div class="fl w-100 w-50-ns pa2 tl">
          <label class="bbroller dib mb2 f7" for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
          <input type="email" value="" name="EMAIL" placeholder="Email" class="required email bbroller black-80 pa3 fl w-100 br-none" id="mce-EMAIL">
        </div>
        <div class="fl w-100 w-50-ns pa2 tl">
          <label class="bbroller dib mb2 f7" for="mce-NAME">First Name </label>
          <input type="text" value="" name="NAME" placeholder="Name" class="required bbroller black-80 pa3 fl w-100 br-none" id="mce-NAME">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
      </div>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a1d74e0d7217ad0690c35dc75_f7171a068d" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--mailchimp pt3"></div>
      <div class="indicates-required tc f7 pt2"><span class="asterisk">*</span> indicates required</div>
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>
  (function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[0] = 'EMAIL'; ftypes[0] = 'email'; }(jQuery)); var $mcj = jQuery.noConflict(true);
</script>