@mixin button {
	background-color: transparent;
	border: solid 1px transparent;
	font-family: $brand-font-terminus;
	font-weight: 600;
	font-size: $font-size-14;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}

@mixin button-inline-block {
	@include button;
	display: inline-block;
}
