@mixin button {
    background-color: transparent;
    border: solid 1px transparent;
    font-family: $font-sans;;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

@mixin button-inline-block {
    @include button;
    display: inline-block;
}
