<section class="homepage-events relative bg-white-90 py3">
  <div class="container cf pa3 pa4-ns">
    <div class="fl w-100">
      <h2 class="bbroller ma0 f2">
        {{ page.home-events-header-text }}
      </h2>
      <hr class="title-divider">
    </div>
  </div>

  <div class="container cf pa3 pa4-ns">
    <div class="fl w-10 py1 dn db-l"></div>
    <div class="event-list-wrapper fl w-100 w-90-l">
      <ul class="home-events-list">
        {% comment %}
        =====
        The block below will display any events found inside "site.events" that have been designated as being featured on the home page.

        Additionally, there is a filter applied that will then sort the featured events by date.
        =====
        {% endcomment %}

        {% assign sorted_events = (site.events | sort: 'event-date') %}
        {% for posts in sorted_events %}
          {% if posts.is-featured-on-home-page == true %}
            <li class="fl w-100 w-50-m w-third-l">
              <a class="event-card-link" href="{{posts.url}}">
                <div class="event-card relative">
                {% include partials/events/events-card-contents.html %}
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container cf pa3 pa4-ns">
    <div class="fl w-30 py1 dn db-l"></div>
    <div class="fl w-70">
      <a class="blue-underline dib ma0 bbroller" href="http://www.dcdesignweek.org/events/">
        {{page.home-events-button-text}}
      </a>
    </div>
  </div>
</section>
