<section class="homepage-events relative bg-opaque-white py3">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12">
      <h2 class="bbroller m0 text-x-large">
        {{ page.home-events-header-text }}
      </h2>
      <hr class="title-divider">
      <p class="m0 text-default">
        {{ page.home-events-sub-header-text }}
      </p>
    </div>
  </div>

  <div class="container clearfix">
    <div class="sm-col sm-col-1 py1 xs-hide sm-hide md-hide"></div>
    <div class="event-list-wrapper p3 sm-col sm-col-11">
      <ul class="home-events-list">
        {% comment %}
        =====
        The block below will print any events found inside "site.events" that have been designated as being featured on the home page.

        Additionally, there is a filter applied that will then sort the featured events by date.
        =====
        {% endcomment %}

        {% assign sorted_events = (site.events | sort: 'event-date') %}
        {% for posts in sorted_events %}
          {% if posts.is-featured-on-home-page == true %}
          <li class="event-card relative sm-col sm-col-6 lg-col-4">
            {% include partials/events/events-card-contents.html %}
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container clearfix p3">
    <div class="sm-col sm-col-3 py1 xs-hide sm-hide md-hide"></div>
    <div class="sm-col sm-col-9">
      <a href="http://www.dcdesignweek.org/events/" class="blue-underline inline-block m0 bbroller">
        {{page.home-events-button-text}}
      </a>
    </div>
  </div>
</section>
