<section class="homepage-events relative bg-white-90 mt5">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="fl w-100">
      <h2 class="bbroller ma0 f3 f2-ns">
        {{ page.home-events-header-text }}
      </h2>
      <hr class="title-divider">
    </div>

    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="event-list-wrapper fl w-100 w-90-ns mt4">
      <ul class="home-events-list list ma0 pa0">     
        {% comment %}
        =====
        The block below will display any events found inside "site.events" that have been designated as being featured on the home page.

        Additionally, there is a filter applied that will then sort the featured events by date.
        =====
        {% endcomment %}

        {% assign sorted_events = (site.events | sort: 'event-date') %}
        {% for posts in sorted_events %}
          {% if posts.is-featured-on-home-page == true %}
            <li class="fl w-100 w-50-m w-third-l">
              <a class="event-card-link black" href="{{posts.url}}">
                <div class="event-card relative">
                {% include partials/events/events-card-contents.html %}
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <a class="blue-underline dib ma0 bbroller" href="http://www.dcdesignweek.org/events/">
        {{page.home-events-button-text}}
      </a>
    </div>
  </div>
</section>
