<section class="home-events relative bg-white fl w-100 mv5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-80-l mb5">
      <span class="ma0 bbroller f3 f2-ns lh-title db">{{ page.home-events-header-text }}</span>
      <hr class="title-divider-blue">
    </div>

    <div class="fl w-100 mb4">
      <ul class="list ma0 pa0">     
        {% comment %}
        =====
        The block below will display any events found inside "site.events" that have been designated as being featured on the home page.

        Additionally, there is a filter applied that will then sort the featured events by date.
        =====
        {% endcomment %}

        {% assign sorted_events = (site.events | sort: 'event-date') %}
        {% for posts in sorted_events %}
          {% if posts.is-featured-on-home-page == true %}
            <li class="event-card fl w-100 w-50-m w-third-l pa3 relative">
              <a class="event-card-link black" href="{{posts.url}}">
                <div class="">
                  {% include partials/events/events-card-contents.html %}
                </div>
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100">
      <a class="btn btn--blue-border dib ma0 bbroller" href="{{page.home-events-link}}">
        {{page.home-events-button-text}}
      </a>
    </div>
  </div>
</section>
