body {
	font-family: $sans;
	font-size: 16px;
}

a {
	color: $dcdw-primary;
	font-weight: 700;
	transition: color 100ms ease-in-out;
	text-decoration: none;
}

a:focus {
	outline: solid 2px $dcdw-primary;
	outline-style: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $monospace;
	font-weight: 700;
}

/* vertically aligns feather icons */
.feather {
  vertical-align: middle;
}