body {
	color: $black;
	font-family: $sans;
	font-weight: 400;
	font-size: 16px;
}

a {
	color: $dcdw-primary;
	font-weight: 700;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $monospace;
  font-weight: 700;
  margin: 0;
}

li {
  list-style: circle;
}

/* vertically aligns feather icons */
.feather {
  vertical-align: middle;
}