@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Work+Sans:400,700');

/* Generic Colors */
$white: #ffffff;
$black: #000000;
$charcoal: #5a5a5a;

/* Off-Season Brand */
$dcdw-buffered: #D7D7D7;

/* 2018 Brand */
$monte-carlo: #297B76;
$rose-bud: #FDAB96;
$mindaro: #d5e153;
$flamingo: #EF6546;
$loblolly: #B5B6BA;
$mint: #E1FDF8;
$cloud: #202653;

/* Primary Brand Variables */
$dcdw-primary: $monte-carlo;
$dcdw-secondary: $flamingo;

$sans: 'Work Sans', sans-serif;
$monospace: 'Roboto Mono', monospace;