.wysiwyg p:not(:last-child) {
  margin: 0 0 24px 0;
}

.page-about.wysiwyg ul {
  list-style-type: circle;
  margin-left: 1.75em;
}

.page-about.wysiwyg li {
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

.page-about.wysiwyg ul {
  list-style-type: none;
  margin-left: 0;
}

.page-about.wysiwyg li {
  padding-bottom: 0;
}

.title-divider {
  border: solid 4px $dcdw-primary;
  margin: 1em 0;
  width: 100%;
  max-width: 72px;
}

.wysiwyg hr {
  margin: 2em 0 2em 0;
}