.wysiwyg p:not(:last-child) {
  margin: 0 0 24px 0;
}

.page-about.wysiwyg ul {
  list-style-type: circle;
  margin-left: 1.75em;
}

.page-about.wysiwyg li {
  line-height: 1.75em;
  padding-bottom: 1.75em;
}

.page-about.wysiwyg ul {
  list-style-type: none;
  margin-left: 0;
}

.page-about.wysiwyg li {
  padding-bottom: 0;
}

.wysiwyg hr,
.title-divider {
  border: solid 4px $dcdw-primary;
  margin: 2em 0 2em 0;
  max-width: 72px;
  width: 100%;
}

.wysiwyg h1 {
  font-size: 1.5rem; /* 24px */
  line-height: 1.5;
}

.wysiwyg h2 {
  font-size: 1.25rem; /* 20px */
  line-height: 1.5;
}

.wysiwyg p {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}

@media screen and (min-width: 30em) {
  .wysiwyg h1 {
    font-size: 2.25rem; /* 36px */
  }

  .wysiwyg h2 {
    font-size: 1.5rem; /* 24px */
  }

  .wysiwyg p {
    font-size: 1.25rem; /* 20px */
  }
}