.collaboration__introduction {
  left: 0;
  position: relative;
  z-index: 10;
}

.collaboration__introduction-bg {
  top: 0;
  right: 0;
  left: 0;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@media screen and (min-width: 1023px) {
  .collaboration__introduction {
    top: 120px;
    left: 72px;
  }

  .collaboration__introduction-bg {
    top: 0;
    right: 0;
    left: 0;
    max-height: 400px;
    overflow: hidden;
    position: absolute;
    z-index: 0;
  }
}