.home-event-card,
.event-card {
	border: solid 3px $cloud;
	box-shadow: 0 0 $dcdw-secondary;
	transition: all 200ms ease-in-out;
	position: relative
}

.home-event-card:hover,
.event-card:hover {
	transform: translateX(-8px);
	box-shadow: 8px 8px $dcdw-secondary;
}

@media screen and (min-width: 960px) {
	.home-event:nth-child(odd) {
		padding: 1em 0;
	}
}

span.event-date {
	top: -25px;
	left: 15px;
	right: 15px;
}

.event-feature {
	& .event-image {
		height: 10rem;
	}
}