.get-out-the-vote-bg-wrapper {
  top: -150px;
  left: -50px;
}

@media screen and (min-width: 960px) {
  .get-out-the-vote-bg-wrapper {
    left: -25px;
  }
}

@media screen and (min-width: 1024px) {
  .get-out-the-vote-bg-wrapper {
    left: -60px;
    top: -15px;
  }
}