// Color Variables

$white: #fff;
$black: #000;

///////////////////////////////////////////////////////////////////////////////

.white { color: $white; }
.black { color: $black; }

.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
