@import "dcdw-colors";
@import "dcdw-typography";

$default-radius: 5px;

a.button {
  border: none;
  display: inline-block;
  border-radius: $default-radius;
  padding: 0.75em 2em;
  color: $white;
  font-size: $text-small;
  font-weight: 900;
}

/* global button + additional colors */
button {
  padding: 1.5em;
  border-top: none;
  border-right: solid 3px #000;
  border-bottom: solid 3px #000;
  border-left: none;
  cursor: pointer;

  &.button-white {
    background: white;
    color: blue;
  }

  &.button-blue {
    background: blue;
    color: white;
  }
}
