// Color Variables

$white: #fff;
$black: #000;

$dcdw-blue: #0000ff;

///////////////////////////////////////////////////////////////////////////////

.white { color: $white; }
.black { color: $black; }

.dcdw-blue { color: $dcdw-blue; }

.bg-white { background-color: $white; }
.bg-black { background-color: $black; }
