.bubble-group-subscribe,
.bubble-group-introduction,
.bubble-group-partnerus,
.bubble-capitol-building {
	position: relative;
	width: 100%;
}

.bubble-group-subscribe,
.bubble-group-introduction,
.bubble-group-partnerus,
.bubble-capitol-building {
	width: 300px;
	margin: auto;
}

@media screen and (min-width: 1023px) {

	.bubble-group-subscribe,
	.bubble-group-introduction,
	.bubble-group-partnerus,
	.bubble-capitol-building {
		position: absolute;
		width: 100%;
		z-index: $index-5;
	}

	.bubble-group-subscribe,
	.bubble-group-partnerus,
	.bubble-group-introduction {
		top: -180px;
		left: -100px;
	}

	.bubble-group-subscribe,
	.bubble-group-partnerus {
		left: -100px;
	}

	.bubble-group-introduction {
		right: -100px;
	}

	.bubble-capitol-building {
		width: 400px;
		top: -200px;
		transform: rotate(6deg);
	}
}

@media screen and (min-width: 1279px) {
}

@media screen and (min-width: 1649px) {
}
