.bubble-group-subscribe,
.bubble-group-introduction,
.bubble-group-partnerus,
.bubble-capitol-building {
	position: relative;
	width: 100%;
}

.bubble-group-subscribe,
.bubble-group-introduction,
.bubble-group-partnerus,
.bubble-capitol-building {
	width: 300px;
	margin: auto;
}

@media screen and (min-width: 1023px) {

	.bubble-group-subscribe,
	.bubble-group-introduction,
	.bubble-group-partnerus,
	.bubble-capitol-building {
		position: absolute;
		width: 100%;
	}

	.bubble-group-subscribe {
		top: -180px;
		left: -100px;
	}

	.bubble-group-introduction {
		width: 1024px;
		top: -60px;
		right: -500px;
	}

	.bubble-group-partnerus {
		width: 800px;
		top: -200px;
	}

	.bubble-capitol-building {
		width: 400px;
		top: -200px;
		transform: rotate(6deg);
	}
}

@media screen and (min-width: 1279px) {
	.bubble-group-subscribe {

	}

	.bubble-group-introduction {
		right: -400px;
	}
}

@media screen and (min-width: 1649px) {
	.bubble-group-subscribe {
	
	}

	.bubble-group-introduction {
		right: -350px;
	}
}
