.bubbles {
	position: relative;
	z-index: $index-9;
}

.bubble-group-introduction-about,
.bubble-group-subscribe {
	display: none;
}

.bubble-group-introduction-about,
.bubble-group-introduction-1,
.bubble-group-subscribe {
	position: absolute;
}

.bubble-group-introduction-1 {
	max-width: 150px;
	top: -100px;
	right: 50px;
}

.bubble-group-introduction-2,
.bubble-group-partnerus-1,
.bubble-capitol-building,
.bubble-group-sponsors {
	position: relative;
	display: none;
}

.bubble-group-partnerus-2 {
	bottom: -100px;
	right: 60px;
}

@media screen and (min-width: 799px) {
	.bubble-group-partnerus-2 {
		bottom: -60px;
		right: 60px;
	}
}

@media screen and (min-width: 1023px) {

	.bubble-group-introduction-about,
	.bubble-group-subscribe {
		display: block;
	}

	.makers-layout .bubble-group-introduction-1 {
		max-width: 250px;
		top: -150px;
		right: 150px;
	}

	.makers-layout .bubble-group-introduction-2 {
		bottom: -200px;
		right: -150px;
	}

	.bubble-group-introduction-about {
		top: -350px;
		left: 0;
		width: 90%;
	}

	.bubble-group-subscribe {
		top: -150px;
		left: -100px;
	}

	.bubble-group-introduction-1,
	.bubble-group-introduction-2,
	.bubble-group-partnerus-1,
	.bubble-group-partnerus-2,
	.bubble-capitol-building,
	.bubble-group-sponsors {
		display: block;
		position: absolute;
		z-index: $index-5;
	}

	.bubble-group-sponsors {
		width: 200px;
		top: -50px;
		right: 250px;
	}

	.bubble-group-partnerus-1 {
		top: -60px;
		left: 10px;
	}

	.bubble-group-partnerus-2 {
		bottom: -40px;
		left: 250px;
	}

	.bubble-capitol-building {
		width: 400px;
		bottom: -20px;
		transform: rotate(6deg);
	}

	.gallery-maker-grid {
		max-width: 100%;
		position: relative;
		width: 80%;
	}
}

@media screen and (min-width: 1279px) {
	.bubble-group-sponsors {
		right: 300px;
	}

	.bubble-group-partnerus-1 {
		top: -60px;
		left: 200px;
		width: 400px;
	}

	.bubble-group-partnerus-2 {
		left: 400px;
	}
}

@media screen and (min-width: 1439px) {
	.bubble-group-sponsors {
		right: 350px;
	}

	.bubble-capitol-building {
		left: 150px;
	}
}

@media screen and (min-width: 1600px) {
	.bubble-group-sponsors {
		right: 400px;
	}

	.bubble-group-partnerus-1 {
		left: 300px;
	}

	.bubble-group-partnerus-2 {
		left: 600px;
	}
}

@media screen and (min-width: 1779px) {
	.bubble-group-sponsors {
		right: 450px;
	}

	.bubble-capitol-building {
		left: 250px;
	}
}

@media screen and (min-width: 1879px) {
	.bubble-group-sponsors {
		right: 500px;
	}
}

@media screen and (min-width: 1979px) {
	.bubble-group-sponsors {
		right: 550px;
	}

	.bubble-group-partnerus-1 {
		left: 400px;
	}

	.bubble-group-partnerus-2 {
		left: 800px;
	}
}

@media screen and (min-width: 2079px) {
	.bubble-group-sponsors {
		right: 600px;
	}

	.bubble-capitol-building {
		left: 450px;
	}
}

@media screen and (min-width: 2179px) {
	.bubble-group-sponsors {
		right: 700px;
	}
}

@media screen and (min-width: 2379px) {
	.bubble-group-sponsors {
		right: 900px;
	}

	.bubble-capitol-building {
		left: 550px;
	}
}

@media screen and (min-width: 2479px) {
	.bubble-group-sponsors {
		right: 1000px;
	}

	.bubble-group-partnerus-1 {
		left: 500px;
	}

	.bubble-group-partnerus-2 {
		left: 900px;
	}
}
