.card {
	display: flex;
	flex-direction: column;
}

.card a {
	display: block;
	margin: 0;
}

.card a:hover {
	opacity: 1;
}

.card-image {
	border: solid 1px $white;
}

.card.card--event figure img {
	height: 400px;
	width: 100%;
	width: 100vw;
	-o-object-fit: cover;
	object-fit: cover;
	transition: filter $timing-quick ease-in;
	@include grayscale;
}

.card.card--event figure img:hover {
	@include no-grayscale;
}

.card-details {
	color: $white;
	padding: $spacing-16 0;
}

.card-details h3 {
	font-size: $font-size-20;
	font-weight: 400;
	line-height: initial;
}

.card-details p {
	font-size: $font-size-16;
	margin: 0 0 $spacing-8 0;
}

.card__sponsors .card-details,
.card__partners .card-details {
	padding: 0;
}

.card__sponsors--contributing {
	padding: 0 $spacing-16;
}

.card--committee .card-details h3 {
	margin-top: $spacing-32;
}

.past-event {
	opacity: 0.5;
}

/* ticker */

.ticker {
	background-color: $black;
	color: $black;
	letter-spacing: 1px;
	overflow: hidden;
	padding: $spacing-4;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.carnegie-layout .ticker p,
.home-layout .ticker p,
.events-layout .ticker p,
.events-single-layout .ticker p {
	display: inline-block;
	font-size: $font-size-20;
	margin: 0;
	text-align: left;
	white-space: nowrap;
	transform: translateX(100%);
	width: 100%;
}

.carnegie-layout .ticker p,
.home-layout .ticker p,
.events-layout .ticker p {
	-webkit-animation: ticker 10000ms linear infinite;
	animation: ticker 10000ms linear infinite;
}

.events-single-layout .ticker p {
	-webkit-animation: ticker 20000ms linear infinite;
	animation: ticker 20000ms linear infinite;
}

/* Move it (define the animation) */
@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translateX(100%);
	}

	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes ticker {
	0% {
		/* Firefox bug fix */
		/* Firefox bug fix */
		transform: translateX(100%);
	}

	100% {
		/* Firefox bug fix */
		/* Firefox bug fix */
		transform: translateX(-100%);
	}
}

@media screen and (min-width: 1023px) {
	.card {
		flex-direction: initial;
	}

	.card a {
		display: inline-block;
	}
}
