.site-footer {
	@include grid;
	background-color: $white;
	color: $black;
	grid-template-columns: 1fr;
	font-weight: 300;
	padding: $spacing-16;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: $index-9;
}

.site-footer__social {
	@include grid;
	grid-template-columns: 1fr;
	padding: $spacing-8;
	align-items: center;
	text-align: center;
}

.site-footer a {
	color: $black;
	font-size: $font-size-14;
}

.site-footer a svg {
	max-width: 24px;
	margin: auto;
}

.site-footer li {
	display: inline-block;
}

@media screen and (min-width: 962px) {
	.site-footer {
		grid-template-columns: 0.75fr 1fr 0.75fr;
	}

	.site-footer a:first-of-type {
		text-align: left;
	}

	.site-footer a:last-of-type {
		text-align: right;
	}
}
