.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	max-width: 1440px;
	margin: auto;
	align-items: start;
}

.sub-grid {
	display: grid;
	grid-template-columns: 1fr;
}

.grid-col {
	padding: 8px;
}

.grid-col-span-1,
.grid-col-span-2,
.grid-col-span-3,
.grid-col-span-4,
.grid-col-span-50 {
	grid-column: span 1;
}

@media screen and (min-width: 639px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1023px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}

	.sub-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-col-span-1 {
		grid-column: span 1;
	}

	.grid-col-span-2 {
		grid-column: span 2;
	}

	.grid-col-span-3 {
		grid-column: span 3;
	}

	.grid-col-span-4 {
		grid-column: span 4;
	}

	.grid-col-span-50 {
		max-width: 50%;
	}
}



.grid-four-col,
.sub-grid-four-col {
	@include grid;
	@include container;
	grid-template-columns: 1fr;
}

@media screen and (min-width: 800px) {

	.grid-four-col,
	.sub-grid-four-col {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-col--span-1,
	.sub-grid-col--span-1 {
		grid-column: span 1;
	}

	.grid-col--span-2,
	.sub-grid-col--span-2 {
		grid-column: span 2;
	}

	.grid-col--span-3,
	.sub-grid-col--span-3 {
		grid-column: span 3;
	}

	.grid-col--span-4,
	.sub-grid-col--span-4 {
		grid-column: span 4;
	}
}

@media screen and (min-width: 1023px) {

	.grid-four-col,
	.sub-grid-four-col {
		grid-template-columns: repeat(4, 1fr);
	}
}
