.site-header {
	@include sticky;
	@include sticky-top;
	background-color: $black;
	border-bottom: solid 1px $white;
	z-index: $index-9;
}

.site-header>.container {
	@include flex-row;
	@include flex-align-center;
	@include flex-justify-space-between;
	margin: auto;
	max-width: 1440px;
	padding: $spacing-16 $spacing-32;
}

// hide site navigation when screen is < 1023
.site-header__navigation {
	display: none;
}

.site-header figure {
	max-width: 96px;
}

.links {
	text-transform: uppercase;
}

.link {
	display: block;
}

@media screen and (min-width: 1023px) {
	.site-header>.container {
		padding-left: 0;
		padding-right: 0;
	}

	// show site navigation when screen is > 1023
	.site-header__navigation {
		@include flex-row;
		@include flex-align-center;
		@include flex-justify-space-between;
		gap: $spacing-32;
	}

	// remove burger menu when screen is > 1023
	.site-header__menu {
		display: none;
	}

	.link {
		display: inline-block;
	}
}
