.hero--home {
	position: relative;
	z-index: $index-1;
}

.hero--home>div:not(:last-child) {
	position: relative;
	z-index: $index-4;
}

.overlay {
	background: radial-gradient(transparent 0%, $black 90%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $index-4;
}

.hero--home {
	// max-height: 640px;
	padding: $spacing-60 $spacing-32 !important;
}

.hero--home video {
	width: 100%;
	-o-object-position: center;
	object-position: center;
	-o-object-fit: contain;
	object-fit: contain;
}

.hero--home video {
	width: 100%;
	-o-object-position: center;
	object-position: center;
	-o-object-fit: contain;
	object-fit: contain;
}

@media (min-height: 0px) and (max-height: 700px) {
	.hero--home video {
		height: 400px;
	}
}

@media (min-width: 639px) and (min-height: 700px) {
	.hero--home video {
		height: 580px;
	}
}

@media screen and (min-width: 799px) {
	.hero--home video {
		-o-object-fit: contain;
		object-fit: contain;
	}
}

.houdini-heading .houdini-toggle {
	background: inherit !important;
	border: none !important;
	display: inline-block !important;
	font: inherit !important;
	padding: $spacing-8 !important;
	text-align: inherit !important;
	width: auto !important;
	color: #fff !important;
}

.houdini-toggle-icon {
	margin-left: $spacing-8 !important;
	width: 8px !important; // prevents UI shift when changing from plus to minus
	display: inline-block !important;
}

#playback {
	margin-top: 0 !important;
}

.playback-controls {
	margin-top: $spacing-16 !important;
	text-align: right;
}

.houdini-heading,
#playback {
	text-align: right !important;
}

.houdini-heading {
	display: inline-block;
}

.is-active-speed {
	background-color: $white;
	color: $black;
}
