.section {
	@include section;
	position: relative;
	overflow: hidden;
}

.section:not(:last-child) {
	border-top: solid 1px $white;
}

.section h2 {
	font-size: 32px;
	margin-bottom: 32px;
}

.section .button,
.section .listing,
.section--black svg {
	margin-top: $spacing-60;
}

.section.section__volunteers svg {
	fill: $white;
	max-width: 48px;
}
