.section {
	
	padding: $spacing-80 $spacing-32;
	position: relative;
}

// apply border to all elements with .section except for the first
.section:not(:first-of-type) {
	border-top: solid 1px $white;
}

.home-layout .section,
.makers-layout .section {
	border-top: solid 1px $white;
}

.section__volunteers svg {
	fill: $white;
	max-width: 40px;
}


@media screen and (min-width: 1023px) {
	.section {
		padding-bottom: $spacing-120;
		padding-top: $spacing-120;
	}
}
