.slider {
	position: relative;
}

/* carousel height */

.slides {
	height: 85vh;
}

/* cell inherit height from slider */

.slide {
	height: 100%;
	display: flex;
	padding: $spacing-16;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	width: 100%;
	position: relative;
	font-weight: 700;
}

.slide h2>p {
	font-size: $font-size-20;
	line-height: initial;
	margin: $spacing-16 auto;
	text-shadow: 1px 1px 2px $white;
}

.slide p {
	margin: 0;
}

.slide video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: $index-1;
	object-fit: cover;
	object-position: bottom;
}

.slide a {
	color: $black;
}

.slide__lightbulb {
	position: absolute;
	top: -$spacing-60;
	left: 0;
	right: 0;
	z-index: $index-4;
	height: auto;
	max-width: 110px;
	margin: auto;
}

.slide--bong,
.slide--fish,
.slide--gogo,
.slide--vader,
.slide--court {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.slide--bong {
	background-color: $mauve;
	/*background-image: url('/uploads/hero-bong.jpg');*/
}

.slide--fish {
	background-color: $aquamarine;
	/*background-image: url('/uploads/hero-fish.jpg');*/
}

.slide--gogo {
	background-color: $lightning-yellow;
	/*background-image: url('/uploads/hero-gogo.jpg');*/
}

.slide--vader {
	background-color: $crusta;
	/*background-image: url('/uploads/hero-vader.jpg')*/
}

.slide--court {
	background-color: $hot-pink;
	/*background-image: url('/uploads/hero-court.jpg')*/
}

.slide__content {
	align-self: center;
	color: $black;
	flex-grow: 1;
	text-align: center;
	position: relative;
	z-index: $index-3;
}

.slide__curtain--left,
.slide__curtain--right {
	position: absolute;
	top: 0px;
	width: 50%;
	z-index: $index-2;
}

.slide__curtain--left {
	left: 0;
}

.slide__curtain--right {
	right: 0;
}

.slide__curtain--left>svg,
.slide__curtain--right>svg {
	height: 100%;
}

@media screen and (min-width: $large) {
	.home-hero h1 {
		font-size: 72px;
		line-height: 1;
		/* ie11 */
		line-height: initial;
		margin-bottom: -1rem;
		margin-top: -1rem;
	}

	.slide h2>p {
		font-size: $font-size-32;
	}

	.slide__lightbulb {
		top: -88px;
		max-width: 144px;
	}

	.slides {
		height: 100vh;
	}
}

@media screen and (min-width: 1439px) {
	.slides {
		max-height: 90vh;
	}

	.slide video {
		object-fit: cover;
	}

	.slide--bong,
	.slide--fish,
	.slide--gogo,
	.slide--vader,
	.slide--court {
		background-size: contain;
	}
}

@media screen and (min-height: 1300px) {
	.slides {
		max-height: 75vh;
	}
}
