/**
 *
 * Font information
 * Family: Sometimes Times
 * Style: Regular
 * Designer: Samuel Hughes
 * Font URL: https://boulevardlab.com/
 *
 *
 */

@font-face {
  font-family: 'sometimes-times-regular';
  src: url('sometimes-times-regular-webfont.woff2') format('woff2'),
    url('sometimes-times-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

