<section class="dcdw-about overflow-hidden mt5">
  <div class="mw8 center cf pa4 pa3-ns pv6 relative">
    <div class="dn db-ns fl w-100 w-10-m w-10-l pa1"></div>
    <div class="dcdw-about-content fl w-100 w-60-m w-40-l mt5 pa3 pa4-ns z4 bg-white">
      <a href="http://dc.aiga.org/" target="_blank" style="text-decoration: none;">
        <div class="dcdw-about-content-image-wrapper">
          <img class="v-mid" src="{{ page.dcdw-about-content-image }}">
        </div>
        <span class="ma0 f6 f5-ns lh-copy">
          {{ page.dcdw-about-content-body-text | markdownify }}
          <a href="http://dc.aiga.org/" target="_blank" class="bbroller schedule-link ma0 f4">
            {{ page.dcdw-about-content-button-text }}
          </a>
        </span>
      </a>
    </div>
    <div class="dcdw-about-bg-wrapper absolute" style="z-index: -9999;">
      <img class="v-mid" src="{{ page.about-image }}">
    </div>
  </div>
</section>
