<section class="dcdw-about py4 relative overflow-hidden">
  <div class="container clearfix p3 relative">
    <div class="sm-col sm-col-12 md-col-2 py1 xs-hide"></div>
    <div class="dcdw-about-content sm-col sm-col-12 md-col-8 lg-col-5 p3 z4 bg-white"w>
      <div class="dcdw-about-content-image-wrapper pb3">
        <img src="{{ page.dcdw-about-content-image }}">
      </div>
      <p class="m0 text-default">
        {{ page.dcdw-about-content-body-text | markdownify }}
      </p>
      <div class="pt3">
        <a href="#" class="bbroller schedule-link m0 text-default">
          {{ page.dcdw-about-content-button-text }}
        </a>
      </div>
    </div>
    <div class="dcdw-about-bg-wrapper absolute" style="z-index: -9999;">
      <img src="{{ page.about-image }}">
    </div>
  </div>
</section>
