{% comment %}
For every dcdw-committee-member located within site.dcdw-committee-members, a committee member will be printed onto the about page.
{% endcomment %}
<section class="dcdw-committee-members">
  <div class="mw8 center cf fl w-100 pa3">
    <span class="bbroller ma0 f5 f4-m f3-l fw4">{{page.dcdw-committee-header-text}}</span>
    <hr class="title-divider-blue">
    <div class="fl w-100">
      <ul class="list ma0 pa0 pv4 cf">
        {% for committee-member in site.data.committee-members.2017-committee %}
          <div class="fl w-100 w-50-m w-third-l pv2 pv4-ns pa2">
            <li class="team-member dib">
              <div class="diamond-image-border">
                <div class="diamond overflow-hidden">
                  <div class="diamond-los1 noise">
                    <div class="committee-member-overlay gradient-overlay"></div>
                    <img class="committee-member-portrait v-mid w-100" src="{{ committee-member.image }}" />
                  </div>
                </div>
              </div>
              <div class="team-member-details-wrapper mt5">
                <span class="ma0 f4 fw6 db">{{ committee-member.name }}</span>
                <span class="ma0 mb3 f4 fw4 db h3">{{ committee-member.role }}</span>
                {% if committee-member.email %}
                <a class="ma0 f6 dib" href="mailto:{{ committee-member.email }}" target="_top">{{ committee-member.email }}</a>
                {% endif %}
              </div>
            </li>
          </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
