<section class="members mb4 mb5-l relative cf">
  <h2 class="ma0 f4 f3-ns lh-copy">
    {{ page.committee-header }}
  </h2>
  <hr class="title-divider">
  <ul class="members--list list ma0 mt5 pa0 cf">
    {% for committee-member in site.data.members.2018-committee %}
    <div class="fl w-100 w-50-m w-third-l">
      <li class="member list-none db dib-;">
        <div class="diamond-image-border">
          <div class="diamond overflow-hidden">
            <div class="diamond-los1">
              <img class="lazyload blur-up v-mid" data-src="{{ committee-member.image }}" src="{{ committee-member.image }}"
                alt="{{ committee-member.image-alt }}" />
            </div>
          </div>
        </div>
        <div class="member-details relative mv5 tc">
          <h3 class="ma0 f4 f3-ns">
            {{ committee-member.name }}
          </h3>
          <p class="ma0 f7 f6-ns">
            {{ committee-member.role }}
          </p>

          {% if committee-member.email %}
          <a class="ma0 f6 dib dcdw-primary" href="mailto:{{ committee-member.email }}" target="_top">
            {{ committee-member.email }}
          </a>
          {% endif %}
        </div>
      </li>
    </div>
    {% endfor %}
  </ul>
</section>