{% comment %} For every dcdw-creative-team-member located within site.dcdw-creative-team-member, a creative team member will
be printed onto the about page. {% endcomment %}
<section class="dcdw-creative-team">
  <div class="mw8 center cf pa3">
    <span class="bbroller ma0 f5 f4-m f3-l fw4">{{page.dcdw-creative-team-header-text}}</span>
    <hr class="title-divider-blue">
    <div class="fl w-100">
      <ul class="list ma0 pa0 pv4 cf">
        {% for creative-member in site.data.creative-team.2017-team %}
        <div class="fl w-100 w-50-l pv2 pv4-ns pa2">
          <li class="team-member dib">
            <div class="diamond-image-border">
              <a class="dib ma0 f6 link" href="{{ creative-member.website-link }}" target="_blank">
                <div class="diamond overflow-hidden noise">
                  <div class="diamond-los1">
                    <div class="creative-team-overlay gradient-overlay"></div>
                    <img class="creative-team-portrait v-mid w-100" src="{{ creative-member.image }}" />
                  </div>
                </div>
              </a>
            </div>
            <div class="team-member-details-wrapper relative mt5">
              <span class="bbroller ma0 f5 f4-ns fw6 db">{{ creative-member.name }}</span>
              <span class="ma0 f6 fw4 db">{{ creative-member.role }}</span>
              <a class="dib ma0 f6 link" href="{{ creative-member.social-link }}" target="_blank">{{ creative-member.social-label }}</a>
              <span class="ma0 mt3 lh-copy db">
                  {{ creative-member.bio | markdownify }}
                </span>
            </div>
          </li>
        </div>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>