.background-black {
    background-color: $black;
}
.background-yellow {
    background-color: $dcdw-2021-yellow;
}
.background-cinnabar {
    background-color: $dcdw-2021-cinnabar;
}
.background-celeste {
    background-color: $dcdw-2021-celeste;
}
