// generic colors
.white {
	color: $white;
}

.black {
	color: $black;
}

.charcoal {
	color: $charcoal;
}

// generic background colors
.bg-white {
	background-color: $white;
}

.bg-black {
	background-color: $black;
}

.bg-charcoal {
	background-color: $charcoal;
}

// brand colors
.dcdw-primary {
	color: $dcdw-primary;
}

.dcdw-secondary {
	color: $dcdw-secondary;
}

.dcdw-buffered {
	color: $dcdw-buffered;
}

.monte-carlo {
	color: $monte-carlo;
}

.rose-bud {
	color: $rose-bud;
}

.mindaro {
	color: $mindaro;
}

.flamingo {
	color: $flamingo;
}

.loblolly {
	color: $loblolly;
}

.mint {
	color: $mint;
}

.cloud {
	color: $cloud;
}

// background brand colors
.bg-dcdw-primary {
	background-color: $dcdw-primary;
}

.bg-dcdw-secondary {
	background-color: $dcdw-secondary;
}

.bg-dcdw-buffered {
	background-color: $dcdw-buffered;
}

.bg-monte-carlo {
	background-color: $monte-carlo;
}

.bg-rose-bud {
	background-color: $rose-bud;
}

.bg-mindaro {
	background-color: $mindaro;
}

.bg-flamingo {
	background-color: $flamingo;
}

.bg-loblolly {
	background-color: $loblolly;
}

.bg-mint {
	background-color: $mint;
}

.bg-cloud {
	background-color: $cloud;
}