img,
svg {
    display: block;
    width: 100%;
}
figure {
    margin: 0;
    padding: 0;
}
/* Legacy Firefox syntax (version 61 and below) */

::-moz-selection {
    background-color: $mauve !important;
}
::selection {
    background-color: $mauve !important;
}
.disabled {
    cursor: not-allowed;
}