.container {
    margin: auto;
    max-width: 1024px;
}
/* Legacy Firefox syntax (version 61 and below) */

::-moz-selection {
    background-color: $mauve !important;
}
::selection {
    background-color: $mauve !important;
}
img {
    display: block;
    width: 100%;
}
svg {
	vertical-align: middle;
}