/* Padding */
.padding-all-0 {
	padding: $spacing-0;
}

.padding-all-4 {
	padding: $spacing-4;
}

.padding-all-8 {
	padding: $spacing-8;
}

.padding-all-16 {
	padding: $spacing-16;
}

.padding-all-24 {
	padding: $spacing-24;
}

.padding-all-32 {
	padding: $spacing-32;
}

.padding-all-40 {
	padding: $spacing-40;
}

.padding-all-48 {
	padding: $spacing-48;
}

.padding-top-0 {
	padding-top: $spacing-0;
}

.padding-top-4 {
	padding-top: $spacing-4;
}

.padding-top-8 {
	padding-top: $spacing-8;
}

.padding-top-16 {
	padding-top: $spacing-16;
}

.padding-top-24 {
	padding-top: $spacing-24;
}

.padding-top-32 {
	padding-top: $spacing-32;
}

.padding-top-40 {
	padding-top: $spacing-40;
}

.padding-top-48 {
	padding-top: $spacing-48;
}


.padding-right-0 {
	padding-right: $spacing-0;
}

.padding-right-4 {
	padding-right: $spacing-4;
}

.padding-right-8 {
	padding-right: $spacing-8;
}

.padding-right-16 {
	padding-right: $spacing-16;
}

.padding-right-24 {
	padding-right: $spacing-24;
}

.padding-right-32 {
	padding-right: $spacing-32;
}

.padding-right-40 {
	padding-right: $spacing-40;
}

.padding-right-48 {
	padding-right: $spacing-48;
}

.padding-bottom-0 {
	padding-bottom: $spacing-0;
}

.padding-bottom-4 {
	padding-bottom: $spacing-4;
}

.padding-bottom-8 {
	padding-bottom: $spacing-8;
}

.padding-bottom-16 {
	padding-bottom: $spacing-16;
}

.padding-bottom-24 {
	padding-bottom: $spacing-24;
}

.padding-bottom-32 {
	padding-bottom: $spacing-32;
}

.padding-bottom-40 {
	padding-bottom: $spacing-40;
}

.padding-bottom-48 {
	padding-bottom: $spacing-48;
}


.padding-left-0 {
	padding-left: $spacing-0;
}

.padding-left-4 {
	padding-left: $spacing-4;
}

.padding-left-8 {
	padding-left: $spacing-8;
}

.padding-left-16 {
	padding-left: $spacing-16;
}

.padding-left-24 {
	padding-left: $spacing-24;
}

.padding-left-32 {
	padding-left: $spacing-32;
}

.padding-left-40 {
	padding-left: $spacing-40;
}

.padding-left-48 {
	padding-left: $spacing-48;
}

.padding-horizontal-0 {
	padding-left: $spacing-0;
	padding-right: $spacing-0;
}

.padding-horizontal-4 {
	padding-left: $spacing-4;
	padding-right: $spacing-4;
}

.padding-horizontal-8 {
	padding-left: $spacing-8;
	padding-right: $spacing-8;
}

.padding-horizontal-16 {
	padding-left: $spacing-16;
	padding-right: $spacing-16;
}

.padding-horizontal-24 {
	padding-left: $spacing-24;
	padding-right: $spacing-24;
}

.padding-horizontal-32 {
	padding-left: $spacing-32;
	padding-right: $spacing-32;
}

.padding-horizontal-40 {
	padding-left: $spacing-40;
	padding-right: $spacing-40;
}

.padding-horizontal-48 {
	padding-left: $spacing-48;
	padding-right: $spacing-48;
}

.padding-vertical-0 {
	padding-top: $spacing-0;
	padding-bottom: $spacing-0;
}

.padding-vertical-4 {
	padding-top: $spacing-4;
	padding-bottom: $spacing-4;
}

.padding-vertical-8 {
	padding-top: $spacing-8;
	padding-bottom: $spacing-8;
}

.padding-vertical-16 {
	padding-top: $spacing-16;
	padding-bottom: $spacing-16;
}

.padding-vertical-24 {
	padding-top: $spacing-24;
	padding-bottom: $spacing-24;
}

.padding-vertical-32 {
	padding-top: $spacing-32;
	padding-bottom: $spacing-32;
}

.padding-vertical-40 {
	padding-top: $spacing-40;
	padding-bottom: $spacing-40;
}

.padding-vertical-48 {
	padding-top: $spacing-48;
	padding-bottom: $spacing-48;
}


/* Margins */
.margin-all-0 {
	margin: $spacing-0;
}

.margin-all-4 {
	margin: $spacing-4;
}

.margin-all-8 {
	margin: $spacing-8;
}

.margin-all-16 {
	margin: $spacing-16;
}

.margin-all-24 {
	margin: $spacing-24;
}

.margin-all-32 {
	margin: $spacing-32;
}

.margin-all-40 {
	margin: $spacing-40;
}

.margin-all-48 {
	margin: $spacing-48;
}

.margin-top-0 {
	margin-top: $spacing-0;
}

.margin-top-4 {
	margin-top: $spacing-4;
}

.margin-top-8 {
	margin-top: $spacing-8;
}

.margin-top-16 {
	margin-top: $spacing-16;
}

.margin-top-24 {
	margin-top: $spacing-24;
}

.margin-top-32 {
	margin-top: $spacing-32;
}

.margin-top-40 {
	margin-top: $spacing-40;
}

.margin-top-48 {
	margin-top: $spacing-48;
}


.margin-right-0 {
	margin-right: $spacing-0;
}

.margin-right-4 {
	margin-right: $spacing-4;
}

.margin-right-8 {
	margin-right: $spacing-8;
}

.margin-right-16 {
	margin-right: $spacing-16;
}

.margin-right-24 {
	margin-right: $spacing-24;
}

.margin-right-32 {
	margin-right: $spacing-32;
}

.margin-right-40 {
	margin-right: $spacing-40;
}

.margin-right-48 {
	margin-right: $spacing-48;
}

.margin-bottom-0 {
	margin-bottom: $spacing-0;
}

.margin-bottom-4 {
	margin-bottom: $spacing-4;
}

.margin-bottom-8 {
	margin-bottom: $spacing-8;
}

.margin-bottom-16 {
	margin-bottom: $spacing-16;
}

.margin-bottom-24 {
	margin-bottom: $spacing-24;
}

.margin-bottom-32 {
	margin-bottom: $spacing-32;
}

.margin-bottom-40 {
	margin-bottom: $spacing-40;
}

.margin-bottom-48 {
	margin-bottom: $spacing-48;
}


.margin-left-0 {
	margin-left: $spacing-0;
}

.margin-left-4 {
	margin-left: $spacing-4;
}

.margin-left-8 {
	margin-left: $spacing-8;
}

.margin-left-16 {
	margin-left: $spacing-16;
}

.margin-left-24 {
	margin-left: $spacing-24;
}

.margin-left-32 {
	margin-left: $spacing-32;
}

.margin-left-40 {
	margin-left: $spacing-40;
}

.margin-left-48 {
	margin-left: $spacing-48;
}

.margin-horizontal-0 {
	margin-left: $spacing-0;
	margin-right: $spacing-0;
}

.margin-horizontal-4 {
	margin-left: $spacing-4;
	margin-right: $spacing-4;
}

.margin-horizontal-8 {
	margin-left: $spacing-8;
	margin-right: $spacing-8;
}

.margin-horizontal-16 {
	margin-left: $spacing-16;
	margin-right: $spacing-16;
}

.margin-horizontal-24 {
	margin-left: $spacing-24;
	margin-right: $spacing-24;
}

.margin-horizontal-32 {
	margin-left: $spacing-32;
	margin-right: $spacing-32;
}

.margin-horizontal-40 {
	margin-left: $spacing-40;
	margin-right: $spacing-40;
}

.margin-horizontal-48 {
	margin-left: $spacing-48;
	margin-right: $spacing-48;
}

.margin-vertical-0 {
	margin-top: $spacing-0;
	margin-bottom: $spacing-0;
}

.margin-vertical-4 {
	margin-top: $spacing-4;
	margin-bottom: $spacing-4;
}

.margin-vertical-8 {
	margin-top: $spacing-8;
	margin-bottom: $spacing-8;
}

.margin-vertical-16 {
	margin-top: $spacing-16;
	margin-bottom: $spacing-16;
}

.margin-vertical-24 {
	margin-top: $spacing-24;
	margin-bottom: $spacing-24;
}

.margin-vertical-32 {
	margin-top: $spacing-32;
	margin-bottom: $spacing-32;
}

.margin-vertical-40 {
	margin-top: $spacing-40;
	margin-bottom: $spacing-40;
}

.margin-vertical-48 {
	margin-top: $spacing-48;
	margin-bottom: $spacing-48;
}