.dcdw-about-bg-wrapper img {
  max-height: 580px;
}

.dcdw-about-bg-wrapper {
  top: -100px;
  left: -100px;
}

@media screen and (min-width: 1024px) {
  .dcdw-about-bg-wrapper {
    left: 110px;
  }
}

@media screen and (min-width: 1280px) {
  .dcdw-about-bg-wrapper {
    left: 127px;
  }
}
