.dcdw-about-bg {
  left: -100px;
  right: -100px;
  top: 0px;
  max-height: 400px;
  overflow: hidden;
}

.dcdw-about-bg img {
  min-width: 800px;
}

@media screen and (min-width: 700px) {
  .dcdw-about-bg {
    left: 0;
    right: 0;
    top: -75px;
  }
  .dcdw-about-bg img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .dcdw-about-bg {
    left: 50px;
    top: 0;
  }
}