/* Events Homepage */
.card {
	border: solid 3px $black;
	width: 100%;
	min-width: 300px;
	margin: 2em auto;
}

.card-details {
	min-height: 175px;
}

span.card-day {
  top: -25px;
	left: -3px;
}

span.card-date {
  top: 0px;
}

span.card-day,
span.card-date {
	box-shadow: 5px 5px $dcdw-blue;
}

.card-image {
	height: 250px;
}

.card-image img {
	max-width: 150px;
	width: 100%;
	vertical-align: middle;
}

.card-divider {
	max-width: 40px;
	text-align: left;
}

a.schedule-link {
  border-bottom: 10px solid $dcdw-blue;
  color: $dcdw-blue;
}

@media screen and (min-width: 640px) {
	span.card-day {
	  left: -30px;
	  top: 15px;
	}

	span.card-date {
	  left: -18px;
	  top: 49px;
	}
}
/*
.card-2nd-row {
  right: -100px;
}
*/

/* removes the negative right padding applies to events in the 2nd row */
/*
@media screen and (max-width: 1280px ) {
	.card-2nd-row {
		right: 0;
	}
}

@media screen and (max-width: 831px) {
	span.card-day {
    left: -15px;
    top: -15px;
	}

	span.card-date {
		left: 5px;
    top: 12px;
	}
}

@media screen and (max-width: 640px) {
	.card {
		min-height: 200px;
		height: auto;
		margin: 3em auto;
		max-width: 100%;
	}

	.card-image {
		min-height: 200px;
    min-width: 175px;
		border-right: solid 5px $black;
	}

	.card-image,
	.card-details {
    float: left;
	}

	span.card-day {
    left: 15px;
    top: -30px;
	}

	span.card-date {
    left: 45px;
    top: -3px;
	}
}

@media screen and (max-width: 523px) {
	.card-image {
		min-width: 125px;
	}
}

@media screen and (max-width: 480px) {
	.card {
		min-height: 250px;
	}

	.card-image {
		display: none;
	}

	.card-details {
		margin-top: 2.5em;
	}

	span.card-day {
		top: 0;
		right: 0;
		left: 0;
	}
}
*/

/* Events Page & Layout */

/* overlay of color used on the single events page */
.overlay {
	background-color: RGBA(0, 0, 255, 0.50);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media screen and (min-width: 831px) {
	.single-event-header {
		margin-top: 5em;
	}
	
	span.event-title-header {
		min-width: 125%;
	}
}

@media screen and (min-width: 1680px) {
	span.event-title-header {
		min-width: 175%;
	}
}
