/***
DCDW Homepage
***/

/* Introduction Header */

.introduction {
  min-height: 600px;
  max-height: 600px;
  margin-top: 60px;
}

img.introduction-illustration,
img.design-week {
  min-width: 100%;
  vertical-align: middle;
}

.design-week-wrapper {
  top: 300px;
}

.illustration-1-wrapper {
    top: -575px !important;
    right: -275px !important;
}

.illustration-1 {
  right: 150px !important;
}

.illustration-2 {
  right: 80px !important;
}

.illustration-3 {
  right: 285px !important;
}

.illustration-1,
.illustration-2,
.illustration-3 {
  width: 850px !important;
}

/* quick and dirty animation pulled from here: http://codepen.io/helenvholmes/pen/pecdI */
.floaty {
  animation: floaty 5000ms ease-in-out infinite;
}

@keyframes floaty {
  50% { transform: translate(0, 25px); }
}

/* positioning for homepage illustrations until line 35 */
.top-illustration {
  left: 300px;
  top: -50px;
  z-index: 9999;
}

.right-illustration {
  left: 300px;
  top: 75px;
}

.left-illustration {
  left: 40px;
  top: -10px;
}
