/* Introduction Header */
.introduction {
  height: 400px;
  margin-top: 92px;
}

@media screen and (min-width: 640px) {
  .introduction {
    height: 580px;
  }
}

@media screen and (min-width: 1280px) {
  .introduction {
    height: 640px;
  }
}

.design-week-wrapper {
  bottom: 75px;
}

.design-week-wrapper img {
  max-width: 300px;
}

img.introduction-illustration {
  min-width: 100%;
  vertical-align: middle;
}

.dc-is-design {
  padding-top: 250px;
}

.paragraph-2 {
  top: 125px;
}

.illustration-1,
.illustration-2 {
  width: 750px !important;
}

/* This illustration was slightly smaller than the other two, which is why it has it's own width set */
.illustration-3 {
  width: 925px !important;
}

/* quick and dirty animation pulled from here: http://codepen.io/helenvholmes/pen/pecdI */
.floaty {
  animation: floaty 5000ms ease-in-out infinite;
}

@keyframes floaty {
  50% { transform: translate(0, 25px); }
}

.reverse-floaty {
  animation: reverse-floaty 5000ms ease-in-out infinite;
}

@keyframes reverse-floaty {
  50% { transform: translate(0, -25px); }
}
