.introduction {
  height: 90vh;
}

.white-bar img {
  max-width: 275px;
}

span.white-bar {
  bottom: 25px;
}

@media screen and (min-width: 640px) {
  span.white-bar {
    width: 480px;
  }

  .white-bar img {
    max-width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  span.white-bar {
    width: 580px;
  }
}

img.introduction-illustration {
  min-width: 100%;
  vertical-align: middle;
}

.dc-is-design {
  padding-top: 40px;
}

.paragraph-2 {
  top: 125px;
}

@media screen and (min-width: 831px) {
  .dc-is-design {
    padding-top: 50px;
  }

  .homepage-events {
    margin-top: 200px;
  }

  .homepage-partners {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .dc-is-design {
    padding-top: 250px;
  }

}

@media screen and (min-width: 1024px) {
  .illustration-1 {
    right: -115px;
    top: 60px;
  }

  .illustration-2 {
    top: 97px;
    right: 84px;
  }

  .illustration-3 {
    top: 119px;
    left: 23px;
  }
}

.illustration-1,
.illustration-2 {
  width: 825px;
}

.illustration-3 {
  width: 900px;
}

@media screen and (min-width: 1024px) {
  .homepage-events,
  .homepage-partners {
    margin-top: 1350px;
  }
}

/* quick and dirty animation pulled from here: http://codepen.io/helenvholmes/pen/pecdI */
.floaty {
  animation: floaty 4000ms ease-in-out infinite;
}

@keyframes floaty {
  50% { transform: translate(0, 40px); }
}

.reverse-floaty {
  animation: reverse-floaty 4000ms ease-in-out infinite;
}

@keyframes reverse-floaty {
  50% { transform: translate(0, -40px); }
}

@media screen and (min-width: 831px) {
  ul.social-icons {
    padding: 0;
  }

  a.aiga-email {
    text-align: left;
  }

  p.aiga-copyright {
    text-align: right;
  }
}
