/* pop-up-shop section */
.pop-up-shop--background {
  left: -32px;
  right: -32px;
  top: 0px;
}

.pop-up-shop--background img {
  min-width: 800px;
}

@media screen and (min-width: 700px) {
  .pop-up-shop--background {
    left: 0;
    right: 0;
    top: -75px;
    max-height: 400px;
    overflow: hidden;
  }

  .pop-up-shop--background img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .pop-up-shop--background {
    left: 50px;
    top: 0;
  }
}

/* get-out-vote section */
.get-out-the-vote-bg-wrapper {
  top: -150px;
  left: -50px;
}

.border-shadow,
.dcdw-pop-up-shop-content,
.dcdw-get-out-the-vote-content,
.dcdw-about-content {
  border: solid 3px $dcdw-primary;
  box-shadow: 20px 25px $dcdw-secondary;
  transition: all 100ms ease-out;
}

.border-shadow:hover,
.dcdw-pop-up-shop-content:hover,
.dcdw-get-out-the-vote-content:hover,
.dcdw-about-content:hover {
  border: solid 3px $dcdw-primary;
  box-shadow: 0px 0px $dcdw-secondary;
}

@media screen and (min-width: 960px) {
  .get-out-the-vote-bg-wrapper {
    left: -25px;
  }
}

@media screen and (min-width: 1024px) {
  .get-out-the-vote-bg-wrapper {
    left: -60px;
    top: -15px;
  }
}

.dcdw-get-out-the-vote h1>p,
.dcdw-you-are-voting h1>p {
  font-size: $text-x-medium;
}

.dcdw-get-out-the-vote p,
.dcdw-you-are-voting p,
.gallery-opening p {
  font-size: $text-medium;
  line-height: $lh-spaced;
}