.pop-up-shop-bg {
  left: -100px;
  right: -100px;
  top: 0px;
  max-height: 400px;
  overflow: hidden;
}

.pop-up-shop-bg img {
  min-width: 800px;
}

@media screen and (min-width: 700px) {
  .pop-up-shop-bg {
    left: 0;
    right: 0;
    top: -75px;
  }
  .pop-up-shop-bg img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .pop-up-shop-bg {
    left: 50px;
    top: 0;
  }
}

.get-out-the-vote-bg-wrapper {
  top: -150px;
  left: -50px;
}

.dcdw-pop-up-shop-content,
.dcdw-get-out-the-vote-content,
.dcdw-about-content {
  border: solid 3px $dcdw-blue;
  box-shadow: 20px 25px $dcdw-orange;
  transition: all 100ms ease-out;
}

.dcdw-pop-up-shop-content:hover,
.dcdw-get-out-the-vote-content:hover,
.dcdw-about-content:hover {
  border: solid 3px $dcdw-blue;
  box-shadow: 0px 0px $dcdw-orange;
}

@media screen and (min-width: 960px) {
  .get-out-the-vote-bg-wrapper {
    left: -25px;
  }
}

@media screen and (min-width: 1024px) {
  .get-out-the-vote-bg-wrapper {
    left: -60px;
    top: -15px;
  }
}

.dcdw-get-out-the-vote h1>p,
.dcdw-you-are-voting h1>p {
  font-size: $text-x-medium;
}

.dcdw-get-out-the-vote p,
.dcdw-you-are-voting p,
.gallery-opening p {
  font-size: $text-medium;
  line-height: $lh-spaced;
}
