/* styling for the two main shops */
.pop-up-shop-bg-wrapper {
  top: -150px;
  right: 200px;
}

.get-out-the-vote-bg-wrapper {
  top: -150px;
  left: 200px;
}

@media screen and (max-width: 1440px) {
  .pop-up-shop-bg-wrapper {
    right: 100px;
  }
  .get-out-the-vote-bg-wrapper {
    left: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .pop-up-shop-bg-wrapper {
    right: 0px;
  }
  .get-out-the-vote-bg-wrapper {
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    right: 0;
    left: 0;
    top: -275px;
  }
}

@media screen and (max-width: 860px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    top: -225px;
  }
}

@media screen and (max-width: 678px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    top: -200px;
  }
}

@media screen and (max-width: 530px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    top: -150px;
  }
}

@media screen and (max-width: 480px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    top: -75px;
  }
}

@media screen and (max-width: 400px) {
  .pop-up-shop-bg-wrapper,
  .get-out-the-vote-bg-wrapper {
    top: 0;
  }
}
