/* Events Page & Layout */
.single-event-speaker-text h3 {
	font-size: 32px;
}

.single-event-speaker-text h6 {
	font-size: 18px;
	letter-spacing: 2px;
}

@media screen and (min-width: 831px) {
	span.event-title-header {
		min-width: 850px;
	}

	.single-event-speaker-text {
		text-align: left;
	}
}

@media screen and (min-width: 910px) {
	span.event-title-header {
		min-width: 1000px;
	}
}

@media screen and (min-width: 1060px) {
	span.event-title-header {
		min-width: 1090px;
	}
}

@media screen and (min-width: 1155px) {
	span.event-title-header {
		min-width: 1190px;
	}
}

@media screen and (min-width: 1355px) {
	span.event-title-header {
		min-width: 1300px;
	}
}

@media screen and (min-width: 1570px) {
	span.event-title-header {
		min-width: 1375px;
	}
}

@media screen and (min-width: 1730px) {
	span.event-title-header {
		min-width: 1425px;
	}
}

@media screen and (min-width: 1830px) {
	span.event-title-header {
		min-width: 1500px;
	}
}

@media screen and (min-width: 1980px) {
	span.event-title-header {
		min-width: 1600px;
	}
}

@media screen and (min-width: 2175px) {
	span.event-title-header {
		min-width: 1700px;
	}
}

@media screen and (min-width: 2375px) {
	span.event-title-header {
		min-width: 1800px;
	}
}

p.additional-event-detail {
	font-size: 15px;
}

.single-event-details p {
	margin-bottom: .1rem;
}

.single-event-speaker-text p {
	font-size: 1.2rem;
	line-height: 1.6em;
}


.speaker-background {
  background-image: linear-gradient(#3e07d0, #3e07d0);               
  background-blend-mode: color;
}

.speaker-portrait {
  mix-blend-mode: multiply;
  opacity: 70%;  /* overprint effect */
}
