.job--wrap {
  max-width: 1200px;
  width: 80%;
  margin: 3em auto;
  @media screen and (max-width: 40em) {
    width: 95%
  }
}

.job--head {
  height: 45vh;
  margin-bottom: 4rem;
  position: relative;
  background-color: white;
  &:after {
    position: absolute;
    content: "";
    height: 5px;
    background-color: $dcdw-blue;
    width: 200%;
    bottom: 0;
    left: -50%;
    }
}

.job--back {
  position: absolute;
  top: 3.2em;
  left: 35px;
  z-index: 333;
  & svg, p {
    display: inline-block;
  }
  & p {
    font-weight: 600;
    font-size: 14px;
    color: #0000FF;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  &:hover > p {
    color: black;
  }
}

.job--title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.job--pretitle {
  font-size: 13px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 18px;
}

// this will have implications across the site. take a look
.grid {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }

.job--wrap ul{
  list-style-type: circle;
  margin-left: 1.75em;
  margin-bottom: 2em;
    & li ul {
      list-style-type: disc;
      margin-bottom: 0;
    }
    & li {
      margin-bottom: 4px;
    }
  }

.job--content {
  & h2 {
    font-size: 14px;
    color: black;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 18px;
    margin-bottom: 2em;
  }
}

.job--wrap a {
    color: $dcdw-blue;
    position: relative;
    &:after{
      position: absolute;
      content: "";
      height: 6px;
      background-color: $dcdw-blue;
      width: 100%;
      bottom: 1px;
      left: 0;
      opacity: .1;
      transition: .15s;
    }
    &:hover:after {
      transform: scaleY(2.5);
      transform-origin: bottom;
    }
}

ul.job--reports{
  list-style-type: none;
  margin-left: 0;
}

button.jobs--button {
  font-weight: 600;
  font-size: 12px;
  color: $dcdw-blue;
  letter-spacing: 2.08px;
  text-transform: uppercase;
  padding: 8px 20px;
  background-color: white;
  border: 1px solid $dcdw-blue;
}
