{% comment %}
If page frontmatter key "has-hero" is equal to true, display the hero section
{% endcomment %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section__hero section__hero--home">
	<div class="grid--hero">
		<div class="grid-col grid-col--span-4">
			<video show-controls="true" muted="true" autoplay="autoplay" loop=""
				poster="https://d33wubrfki0l68.cloudfront.net/c3f6e252e0f87d7ce836ebc5ac90767c23c2d377/db6fb/uploads/bg-hero.jpg"
				src="/uploads/dcdw-home-hero-bubbles.mp4">
			</video>
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
