{% comment %}
If page frontmatter key "has-hero" is equal to true, display the hero section
{% endcomment %}
{% if page.has-hero == true %}

{% comment %}
If page layout is equal to "archive" display the archive page hero
{% endcomment %}
{% if page.layout == "archive" %}
<section class="section section__hero">
	{% for content in page.hero %}
	<div class="wrapper--loose">
		This will be an SVG.
	</div>
	{% endfor %}
</section>
{% else %}
{% comment %}
If page layout is not equal to "archive" display this page hero instead
{% endcomment %}
<!-- standard hero coming soon -->
{% endif %}

{% endif %}
