{% comment %}
If page frontmatter key "has-hero" is equal to true, display the hero section
{% endcomment %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section__hero section__hero--home">
	<div class="grid--hero">
		<div class="grid-col grid-col--span-4">
			<video controls playsinline muted="true" autoplay="autoplay" loop=""
				poster="/uploads/dcdw-home-hero-poster.jpg"
				src="/uploads/dcdw-home-hero-bubbles.mp4">
			</video>
			<button class="button button__solid button__solid--white" id='0.25x'>
				0.25x
			</button>
			<button class="button button__solid button__solid--white" id='0.5x'>
				0.5x
			</button>
			<button class="button button__solid button__solid--white" id='1x'>
				1x
			</button>
			<button class="button button__solid button__solid--white" id='1.5x'>
				1.5x
			</button>
			<button class="button button__solid button__solid--white" id='2x'>
				2x
			</button>
			<script>/* play video twice as fast */
				const video = document.querySelector('video');
				document.onclick = (e) => {
					if (e.target.id === '0.25x') {
						video.playbackRate = 0.25;
					}
					if (e.target.id === '0.5x') {
						video.playbackRate = 0.5;
					}
					if (e.target.id === '1x') {
						video.playbackRate = 1;
					}
					if (e.target.id === '1.5x') {
						video.playbackRate = 1.5;
					}
					if (e.target.id === '2x') {
						video.playbackRate = 2;
					}
				}
			</script>
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
