{% comment %}
If page frontmatter key "has-hero" is equal to true, display the hero section
{% endcomment %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section section__hero section__hero--home">
	<div class="grid--hero">
		<div class="grid-col grid-col--span-4">
			<video controls playsinline muted="true" autoplay="autoplay" loop="" poster="/uploads/dcdw-home-hero-poster.jpg"
				src="/uploads/dcdw-home-hero-bubbles.mp4">
			</video>
			<div class="playback-speed">
				<p data-houdini-toggle="playback">Playback Speed</p>
				<div data-houdini-group="playback-controls" id="playback">
					<button class="playbackButton button-square button-square__border--white" id='0.8x'>
						0.8x
					</button>
					<button class="playbackButton button-square button-square__border--white" id='1x'>
						1.0x
					</button>
					<button class="playbackButton button-square button-square__border--white" id='1.2x'>
						1.2x
					</button>
				</div>
			</div>
			<script>
				var disclosure = new Houdini('[data-houdini-group]', {
					isAccordion: true
				});
			</script>
			<script>
				const video = document.querySelector('video');
				document.onclick = (e) => {
					if (e.target.id === '0.8x') {
						video.playbackRate = 0.8;
					}
					if (e.target.id === '1x') {
						video.playbackRate = 1;
					}
					if (e.target.id === '1.2x') {
						video.playbackRate = 1.2;
					}
				}
			</script>
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
