{% if page.url == "/" %}
{% for content in page.introduction %}
{% if content.has-introduction == true %}
<section class="section section__partners grid-four-col">
	<div class="grid-col grid-col--span-1">
		<h2>{{ content.header }}</h2>
	</div>
	<div class="grid-col grid-col--span-2">
		<p>{{ content.body }}</p>
	</div>
	<div class="grid-col grid-col--span-1">
		<a class="button button__border button__border--white shadow-reverse shadow-reverse--green"
			href="{{ content.button-url }}" target="_blank">{{ content.button-label }}
		</a>
	</div>
</section>
{% endif %}
{% endfor %}
{% elsif page.url == "/about/" or page.url == "/makers/" %}
{% for content in page.introduction %}
{% if content.has-introduction == true %}
<section class="section section__partners grid-four-col">
	<div class="grid-col grid-col--span-1">
		<h2>{{ content.header }}</h2>
	</div>
	<div class="grid-col grid-col--span-2">
		<p>{{ content.body }}</p>
	</div>
</section>
{% endif %}
{% endfor %}
{% endif %}
