{% if page.url == "/" %}
{% for content in page.introduction %}
{% if content.has-introduction == true %}
<section class="section section__introduction">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-50">{{ content.header }}</h2>
			<p>{{ content.body }}</p>
			<div class="grid-col--span-50">
				<a class="button button__border button__border--white shadow-reverse shadow-reverse--green"
					href="{{ content.button-url }}" target="_blank">{{ content.button-label }}
				</a>
			</div>
		</div>
		<div class="grid-col grid-col--span-2">
			Bubble/Ornament Will Go here
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
{% elsif page.url == "/about/" %}
{% for content in page.introduction %}
{% if content.has-introduction == true %}
<section class="section section__introduction">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-50">{{ content.header }}</h2>
			<p>{{ content.body }}</p>
		</div>
		<div class="grid-col grid-col--span-2">
			Bubble/Image Will Go Here
		</div>
		<div class="grid-col grid-col--span-2">
			Bubble/Image Will Go Here
		</div>
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-50">{{ content.header }}</h2>
			<p>{{ content.body }}</p>
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
{% elsif page.url == "/makers/" %}
{% for content in page.introduction %}
{% if content.has-introduction == true %}
<section class="section section__introduction">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-50">{{ content.header }}</h2>
			<p>{{ content.body }}</p>
		</div>
		<div class="grid-col grid-col--span-2">
			Bubble/Image Will Go Here
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
{% endif %}
