<section class="section section__past-dcdw grid-four-col">
	{% if site.past-editions.header %}
	<div class="grid-col grid-col--span-1">
		<h2>
			{{ site.past-editions.header }}
		</h2>
	</div>
	{% endif %}

	{% if site.past-editions.body %}
	<div class="grid-col grid-col--span-1">
		<p>
			{{ site.past-editions.body }}
		</p>
	</div>
	{% endif %}

	<div class="grid-col grid-col--span-4">
		<ul class="sub-grid-four-col">
			{% for content in site.past-editions.editions %}
			<li class="card card--event shadow-reverse shadow-reverse--green sub-grid-col">
				<a href="{{ content.url }}" target="_blank" rel="noopener noreferrer">
					<figure class="card__image border__bottom border__bottom--{{ content.border-color }}">
						<img src="{{ content.image }}" alt="Provide alt text describing the image above." />
					</figure>
				</a>
				<div class="card-details">
					<h3>
						{{ content.title }}
					</h3>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
