<section class="section section__past-dcdw">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			{% if site.past-editions.header %}
			<h2 class="grid-col-span-50">{{ site.past-editions.header }}</h2>
			{% endif %}
			{% if site.past-editions.body %}
			<p>{{ site.past-editions.body }}</p>
			{% endif %}
		</div>

		<div class="grid-col grid-col--span-2">
			<div class="ornament-group">
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="#4ae725" />
						<path
							d="M20.02 13.09L18.3 18.39H12.73L17.24 21.66L15.52 26.96L20.02 23.68L24.53 26.96L22.81 21.66L27.32 18.39H21.74L20.02 13.09Z"
							fill="#4ae725" />
						<path
							d="M3.21 27L7.71 23.72L12.22 27L10.5 21.7L15 18.38H9.43L7.71 13.09L6 18.38H0.5V18.44L4.93 21.66L3.21 27Z"
							fill="#4ae725" />
						<path
							d="M32.33 13.09L30.61 18.38H25L29.51 21.66L27.82 27L32.33 23.72L36.84 27L35.12 21.7L39.54 18.48V18.42H34.05L32.33 13.09Z"
							fill="#4ae725" />
					</svg>
				</figure>
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="white" />
						<path d="M39.5 18H0.5L3 10H37L39.5 18Z" fill="white" />
						<path d="M0.5 22H39.5L36.6516 30H3L0.5 22Z" fill="white" />
					</svg>
				</figure>
			</div>
		</div>

		<div class="grid-col grid-col--span-4">
			<ul class="grid">
				{% for content in site.past-editions.editions %}
				<li class="card card--past-editions">
					<div class="card__aside">
						<a aria-label="{{ content.aria-label }}" href="{{ content.url }}" target="_blank" rel="noopener noreferrer">
							<figure class="card__image shadow-reverse shadow-reverse--green">
								<img src="{{ content.image }}" alt="{{ content.image-alt }}" />
							</figure>
						</a>
					</div>
					<div class="card__header">
						<h3 class="card__title">{{ content.title }}</h3>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
