<section class="section section__past-dcdw">
	<div class="grid-four-col">
		<div class="grid-col grid-col--span-1">
			{% if site.past-editions.header %}
			<h2>
				{{ site.past-editions.header }}
			</h2>
			{% endif %}
		</div>
		{% if site.past-editions.body %}
		<div class="grid-col grid-col--span-1">
			<p>
				{{ site.past-editions.body }}
			</p>
		</div>
		{% endif %}
		<div class="grid-col grid-col--span-4">
			<ul class="sub-grid-four-col">
				{% for content in site.past-editions.editions %}
				<li class="card card--event shadow-reverse shadow-reverse--green sub-grid-col">
					<a class="border border--{{ content.border-color }}" href="{{ content.url }}">
						<div class="card-image border__bottom border__bottom--{{ content.border-color }}">
							<figure>
								<img src="{{ content.image }}" alt="Provide alt text describing the image above." />
							</figure>
						</div>
						<div class="card-details">
							<h3>
								{{ content.title }}
							</h3>
						</div>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
