{% for content in page.print-designers %}
{% if content.has-print-designers == true %}
<section class="section section__makers">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<div class="emerging-designers-posters flex">
				<figure class="layer--2">
					<img src="{{ content.image-left }}" alt="">
					<div aria-hidden="true" class="box-top-left">&nbsp;</div>
					<div aria-hidden="true" class="box-top-right">&nbsp;</div>
					<div aria-hidden="true" class="box-bottom-right">&nbsp;</div>
					<div aria-hidden="true" class="box-bottom-left">&nbsp;</div>
				</figure>
				<figure class="layer--3">
					<img src="{{ content.image-right }}" alt="">
					<div aria-hidden="true" class="box-top-left">&nbsp;</div>
					<div aria-hidden="true" class="box-top-right">&nbsp;</div>
					<div aria-hidden="true" class="box-bottom-right">&nbsp;</div>
					<div aria-hidden="true" class="box-bottom-left">&nbsp;</div>
				</figure>
			</div>
		</div>
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col-span-50">{{ content.header }}</h2>
			<p>{{ content.body | markdownify }}</p>
			<a class="button button__border button__border--white shadow-reverse shadow-reverse--green"
				href="{{ content.button-url }}" target="_blank">{{ content.button-label }}
			</a>
		</div>
	</div>
</section>
{% endif %}
{% endfor %}
