<section class="section section__past-dcdw grid-four-col">
	<div class="grid-col grid-col--span-4">
		<div class="sub-grid-four-col grid-col--span-4">
			<h2 class="sub-grid-col--span-1">
				{{ site.2020-presenting-sponsors.header }}
			</h2>
			<div class="sub-grid-col--span-3">
				Icons
			</div>
		</div>
		<div class="sub-grid-col sub-grid-col--span-2">
			<p>
				{{ site.2020-presenting-sponsors.body }}
			</p>
		</div>
	</div>
	<div class="grid-col" style="grid-column: span 4">
		<ul class="sub-grid-four-col">
			{% for content in site.2020-presenting-sponsors.sponsor-list %}
			<li class="card card--sponsors shadow-reverse shadow-reverse--green sub-grid-col" style="grid-column: span 2;">
				<div class="card-details">
					<h3>
						{{ content.title }}
					</h3>
				</div>
				<a href="{{ content.website }}" target="_blank" rel="noopener noferrer">
					<figure class="card__image">
						<img src="{{ content.image }}" alt=" {{ content.image-alt }}" />
					</figure>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
