<section class="section section__committee">
	<div class="grid grid--four-columns">
		<div class="column column--span-2 flow-large">
			<h2 class="column--width-70 flow-none"
				id="{{ page.team-header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
				{{ page.team-header }}</h2>
			<p>{{ page.team-body }}</p>
		</div>

		<div class="column column--span-2 column--hide">
			<div class="ornaments">
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="#4ae725" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="#4ae725" />
						<path d="M39.5 18H0.5L3 10H37L39.5 18Z" fill="#4ae725" />
						<path d="M0.5 22H39.5L36.6516 30H3L0.5 22Z" fill="#4ae725" />
					</svg>
				</figure>
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="#fff" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="#fff" />
						<path d="M9.83998 3.35999L8.22998 35.58" stroke="#fff" stroke-miterlimit="10" />
						<path d="M32.9999 34.5L26.4999 38.5L25.1099 1.16998L29.9999 3L32.9999 34.5Z" fill="#fff" />
					</svg>
				</figure>
			</div>
		</div>
	</div>
	<div class="grid grid--four-columns">
		<div class="column column--span-4 order-3">
			<ul class="grid grid--four-columns margin-top-60">
				{% for member in site.2020-team %}
				<li class="card card--committee">
					<div class="card__aside">
						<figure class="card__image">
							<img src="{{ member.image }}" alt="{{ member.image-alt }}" />
						</figure>
					</div>
					<div class="card__header">
						<h3 class="card__title">{{ member.name }}</h3>
						<p class="card__subtitle">{{ member.role }}</p>
					</div>
					<div class="card__footer">
						<div class="card__links">
							{% if member.website-url-1 %}
							<p>
								<a aria-label="{{ member.website-aria-label-1 }}" class="card__link"
									href="{{ member.website-url-1 }}" rel="noopener noreferrer"
									target="_blank">{{ member.website-label-1 }}</a>
							</p>
							{% endif %}
							{% if member.website-url-2 %}
							<p>
								<a aria-label="{{ member.website-aria-label-2 }}" class="card__link"
									href="{{ member.website-url-2 }}" rel="noopener noreferrer"
									target="_blank">{{ member.website-label-2 }}</a>
							</p>
							{% endif %}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
