{% if page.layout == "events-single" %}

<section class="[ accessibility ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-700 gap-padding-left-700 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-black color-dcdw-2021-celeste ] [ flow-4 ]" id="accessibility">
    <div class="[ grid grid--align-center grid--four-column ]">
        <div class="[ grid--three-column-span ] [ flow-2 ]">
            <h2>{{ page.accessibility.header }}</h2>
            <hr class="divider divider--yellow" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ page.accessibility.body | markdownify }}</div>
        </div>
    </div>
</section>

{% else %}

<section class="[ accessibility ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-700 gap-padding-left-700 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-black color-dcdw-2021-celeste ] [ flow-4 ]" id="accessibility">
    <div class="[ grid grid--align-center grid--four-column ]">
        <div class="[ grid--two-column-span ] [ flow-2 ]">
            <h2>{{ site.accessibility.header }}</h2>
            <hr class="divider divider--yellow" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ site.accessibility.body | markdownify }}</div>
            <a class="button button-solid--yellow" href="{{ site.accessibility.button-url }}">{{ site.accessibility.button-label | markdownify }}</a>
        </div>
        {% if site.accessibility.show-image == true %}
        <div class="grid--two-column-span">
            <figure>
                <img src="{{ site.accessibility.image }}" alt="{{ site.accessibility.imageAlt }}">
            </figure>
        </div>
        {% endif %}
    </div>
</section>

{% endif %}
