{% if page.layout == "events-single" %}
{% if page.has-accessibility-notes == true %}
<section class="section-landing-content background-dcdw-2021-black color-dcdw-2021-celeste">
    <div class="container">
        <div class="grid grid--four-column">
            <div class="grid--three-column-span flow-2">
                <div class="column column--span-4">
                    <h2 class="column--width-50">
                        <span>Accessibility</span> <span>and</span> <span>Accommodations</span>
                    </h2>
                    <hr class=" divider divider--cinnabar" aria-hidden="true">
                </div>
                <div class="column column--span-2">
                    {% for note in page.accessibility-notes %}
                    <div class="wysiwyg flow-2">
                        {{ note.note | markdownify }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% else %}
<section class="section-a11y background-celeste background-dcdw-2021-black color-dcdw-2021-celeste ">
    <div class="ripped-paper ripped-paper-1-A" style="fill: var(--black);">
        {% include textures/rip-B.svg %}
    </div>
    <div class="container">
        <div class="grid grid--align-center grid--four-column">
            <div class="grid--two-column-span flow-2">
                <h2 id="{{ site.accessibility.header | downcase | replace: " ", " -" }}">
                    {{ site.accessibility.header | markdownify }}
                </h2>
                <hr class="divider divider--yellow" aria-hidden="true">
                <div class="wysiwyg">
                    {{ site.accessibility.body | markdownify }}
                </div>
                <a class="button button-solid--yellow" href="{{ site.accessibility.button-url }}">
                    {{ site.accessibility.button-label | markdownify }}
                </a>
            </div>
            {% if site.accessibility.show-image == true %}
            <div class="grid--two-column-span">
                <figure>
                    <img src="{{ site.accessibility.image }}" alt="{{ site.accessibility.imageAlt }}">
                    <figcaption>{{ site.accessibility.imageAlt }}</figcaption>
                </figure>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        {% include textures/rip-A.svg %}
    </div>
</section>
{% endif %}
