<section class="section section--past-featured">
    <div class="grid">
        <div class="grid-col grid-col--span-1">
            <h2>
                {{ site.past-events.header }}
            </h2>
        </div>
        <div class="grid-col grid-col--span-2">
            <p>
                {{ site.past-events.body }}
            </p>
        </div>
        <div class="grid-col grid-col--span-4">
            <ul class="grid">
                {% for content in site.past-events.events %}
                <li class="card card--event ">
                    <a href="{{ content.url }}">
                        <figure class="card__image  border__bottom border__bottom--{{ content.border-color }}">
                            <img src="{{ content.image }}" alt="Provide alt text describing the image above." />
                        </figure>
                    </a>
                    <div class="card-details">
                        <h3>
                            {{ content.title }}
                        </h3>
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-col grid-col--span-1">
            <a class="button button__border button__border--white " href="https://2019.dcdesignweek.org/events/" target="_blank">
                See 2019 Events
            </a>
        </div>
    </div>
</section>
