<section class="photographer background-dcdw-2021-black color-dcdw-2021-celeste">
    <div class="ripped-paper ripped-paper-1-A" style="fill: var(--black);">
        {% include textures/rip-B.svg %}
    </div>
    <div class="container flow-4">
        <div class="grid grid--align-center grid--four-column">
            {% if page.show-photographer-image == true %}
            <div class="grid--two-column-span">
                <figure>
                    <img src="{{ page.photographer-image }}" alt="{{ page.photographer-imageAlt }}">
                    <figcaption>{{ page.photographer-imageAlt }}</figcaption>
                </figure>
            </div>
            {% endif %}
            <div class="grid--two-column-span flow-2">
                <h2 id="{{ page.photographer-header | downcase | replace: " ", " -" }}">
                    {{ page.photographer-header | markdownify }}
                </h2>
                {% if page.photographer-body %}
                <hr class="divider divider--yellow" aria-hidden="true">
                <div class="wysiwyg">
                    {{ page.photographer-body | markdownify }}
                </div>
                {% endif %}
                <a class="button button-solid--yellow" href="{{ page.photographer-button-url }}" {% if page.photographer-button-is-external-url==true %} rel="noopener nofollow" target="_blank" {% endif %}>
                    {{ page.photographer-button-label }}
                </a>
            </div>
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        {% include textures/rip-B.svg %}
    </div>
</section>
