{% comment %}
Global default set in config.yml -> `conduct`
{% endcomment %}

<!-- Block: Conduct -->
<section class="[ conduct ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ]" id="conduct">
    <div class="ripped-paper ripped-paper-1-A" style="fill: var(--black);">
        <!-- Rip: Top -->
        {% include textures/rip-D.svg %}
    </div>
    <div class="[ grid grid--four-column ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="[ grid--three-column-span ] [ flow-3 ]">
            <h2>{{ site.conduct.header }}</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ site.conduct.body | markdownify }}</div>
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        <!-- Rip: Bottom -->
        {% include textures/rip-C.svg %}
    </div>
</section>
