{% comment %}
Global default set in config.yml -> `conduct`
{% endcomment %}

<!-- Block: Conduct -->
<section class="[ conduct ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-200 gap-padding-left-200 sm:gap-padding-top-1600 sm:gap-padding-bottom-1600 sm:gap-padding-right-800 sm:gap-padding-left-800 lg:gap-padding-top-1600 lg:gap-padding-bottom-1600 lg:gap-padding-right-1600 lg:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ flow-4 ]" id="conduct">
    <div class="[ grid grid--align-center grid--four-column ]">
        <div class="[ grid--three-column-span ] [ flow-2 ]">
            <h2>{{ site.conduct.header }}</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ site.conduct.body | markdownify }}</div>
        </div>
    </div>
</section>
