<section class="section section-partners ">
    <div class="container grid grid--two-column grid--align-center">
        <div class="flow-2">
            <h2>
                Code of Conduct
            </h2>
            <hr class="divider divider--cinnabar" aria-hidden="true">
            <div class="wysiwyg">
                All AIGA DC events adhere to our <a aria-label="Learn more about AIGA DC's Code of Conduct" href="https://dc.aiga.org/events/code-of-conduct/" rel="noopener nofollow" target="_blank">
                    Code of Conduct
                </a>.
            </div>
            <a class="button button-solid--cinnabar" href="{{ site.partner.button-url }}" rel="noopener nofollow" target="_blank">
                Lorem Ipsum
            </a>
        </div>
        <div>
            Image
        </div>
    </div>
</section>
