<section class="[ description ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-200 gap-padding-left-200 sm:gap-padding-top-1600 sm:gap-padding-bottom-1600 sm:gap-padding-right-800 sm:gap-padding-left-800 lg:gap-padding-top-1600 lg:gap-padding-bottom-1600 lg:gap-padding-right-1600 lg:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ texture texture--paper ] [ flow-4 ]" id="description">
    <div class="[ grid grid--align-start grid--four-column ]">
        <div class="[ grid--three-column-span ] [ flow-2 ]">
            <h2>Description</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ page.content | markdownify }}</div>

            <h2>{{ page.partners.header }}</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ page.partners.body | markdownify }}</div>
        </div>
        <div class="[ grid--one-column-span ] [ flow-2 ]">
            <div class="flow-2">
                <h2>Details</h2>
                <hr class="divider divider--black" aria-hidden="true">
            </div>
            <div>
                <h3>Date & Time</h3>
                {% comment %}
                Renders as: Day of Week, Month Date
                {% endcomment %}
                <p>{{ page.event-date | date: "%A, %B %d"}}</p>
                <p>{{ page.start-time }} - {{ page.end-time }}</p>
            </div>
            <div>
                <h3>Location</h3>
                <p>{{ page.venue.name }}</p>
                <p>{{ page.venue.info }}</p>
            </div>
        </div>
    </div>
</section>
