<section class="[ description ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ flow-4 ]" id="description">
    <div class="[ grid grid--four-column ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="[ grid--three-column-span ] [ flow-2 ]">
            <h2>Description</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">
                {{ page.content | markdownify }}
            </div>
        </div>
        <div class="[ grid--one-column-span ] [ flow-2 ]">
            <div class="flow-2">
                <h2>Details</h2>
                <hr class="divider divider--black" aria-hidden="true">
            </div>
            <div>
                <h3>Date & Time</h3>
                {% comment %}
                Renders as: Day of Week, Month Date
                {% endcomment %}
                <p>{{ page.event-date | date: "%A, %B %d"}}</p>
                <p>{{ page.start-time }} - {{ page.end-time }}</p>
            </div>
            <div>
                <h3>Location</h3>
                <p>{{ page.venue.name }}</p>
                <p>{{ page.venue.info }}</p>
            </div>
        </div>
    </div>
</section>
