<form class="events-filter">
    <div class="filter-header">
        <h3>
            Categories
        </h3>
    </div>
    <div class="events-filter__dates control-group" data-filter-group="">
        {% for control in site.2020-makers-filter.tags %}
        <div class="radio">
            <label class="radio-label custom-radio">
                <input name="additional-filters" type="radio" value="{{ control.filter }}" />
                <span class="checkmark"></span>
                {{ control.text-1 }}
            </label>
        </div>
        {% endfor %}
    </div>
    <div class="column column--span-4 events-filter__additional-filters">
        <div class="events-filter__additional-header">
            <div class="events-filter__reset control-group">
                <button class="control control-text" type="reset">
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>
