<form class="events-filter">
	<div class="grid grid--eight-columns gap-none column column--span-4 control-group events-filter__dates"
		data-filter-group="">
		{% for control in site.2020-events-filter.day %}
		<button
			class="control {{ control.class }} {% if control.has-occurred == true %} events-filter__date--occurred {% endif %}"
			data-filter="{{ control.filter }}" type="button">
			<span class="control-text-1">
				{{ control.text-1 }}
			</span>
			<span class="control-text-3">
				{{ control.text-3 }}
			</span>
		</button>
		{% endfor %}
	</div>
	<div class="column column--span-4 events-filter__additional-filters">
		<div class="events-filter__additional-header">
			<span class="events-filter__additional-title" data-houdini-toggle="additional-filters">
				<span>
					Additional Filters
				</span>
			</span>
			<div class="events-filter__reset control-group">
				<button class="control control-text" type="reset">
					Reset
				</button>
			</div>
		</div>
		<div class="events-filter__additional-content" data-houdini-group="additional-filters" id="additional-filters">
			<div class="grid grid--four-columns events-filter__status control-group" data-filter-group="">
				<div class="column column--span-1">
					<span>
						Status
					</span>
					{% for control in site.agenda.status %}
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value="{{ control.filter }}" />
							<span class="checkmark"></span>
							{{ control.text-1 }}
						</label>
					</div>
					{% endfor %}
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value=".mix:not(.past-event)" />
							<span class="checkmark"></span>
							Hide Past Events
						</label>
					</div>
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value=".mix:not(.sold-out)" />
							<span class="checkmark"></span>
							Hide Sold Out
						</label>
					</div>
				</div>
				<div class="column column--span-1">
					<span>
						Time
					</span>
					{% for control in site.2020-events-filter.time %}
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value="{{ control.filter }}" />
							<span class="checkmark"></span>
							{{ control.text-1 }}
						</label>
					</div>
					{% endfor %}
				</div>
				<div class="column column--span-1">
					<span>
						Type
					</span>
					{% for control in site.2020-events-filter.type %}
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value="{{ control.filter }}" />
							<span class="checkmark"></span>
							{{ control.text-1 }}
						</label>
					</div>
					{% endfor %}
				</div>
				<div class="column column--span-1">
					<span>
						Focus
					</span>
					{% for control in site.2020-events-filter.focus %}
					<div class="radio">
						<label class="radio-label custom-radio">
							<input name="additional-filters" type="radio" value="{{ control.filter }}" />
							<span class="checkmark"></span>
							{{ control.text-1 }}
						</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</form>
