{% if page.url == "/faqs/" %}

<section class="[ faqs ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ]" id="faqs">
    <div class="[ grid grid--four-column grid--align-center ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <ul class="grid--three-column-span flow-4">
            {% for question in page.questions %}
            <li class="mambo-accordion">
                <h2 aria-label="" class="mambo-accordion__header" data-houdini-toggle="{{ question.trigger }}">{{ question.question }}</h2>
                <div class="mambo-accordion__content border-dcdw-2021-black {% if question.expanded == true %} faq-answer is-expanded {% endif %} wysiwyg" data-houdini-group="faq" id="{{ question.trigger }}">
                    {{ question.answer | markdownify }}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="grid--one-column-span">
            <div class="faq-contact">
                <p>General Questions</p>
                <ul>
                    <li>Email: <a href="mailto:designweek@dc.aiga.org">designweek@dc.aiga.org</a></li>
                </ul>
                <p class="margin-top-16">Accessibility Questions</p>
                <ul>
                    <li>Email: <a href="mailto:accessibility@dc.aiga.org">accessibility@dc.aiga.org</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        <!-- Rip: Bottom -->
        {% include textures/rip-C.svg %}
    </div>
</section>

<script>
    var disclosure = new Houdini('[data-houdini-group="faq"]', {
        isAccordion: true,
        collapseOthers: false,
        icon: 1, /* If true, include an expand/collapse icon */
        iconClass: 'houdini-toggle-icon', /* The class to use for the expand/collapse icon */
        iconAttribute: 'data-houdini-icon', /* The data attribute to use for the expand/collapse icon */
        iconShow: '<i class="fas fa-chevron-right"></i>', /* The icon to expand an accordion */
        iconHide: '<i class="fas fa-chevron-down"></i>', /* The icon to collapse an accordion */
    });
</script>

{% elsif page.layout == "events" or "events-single" %}

{% comment %}
Global default set in config.yml -> `faqs`
{% endcomment %}

<!-- Block: FAQs -->
<section class="[ faqs ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 background-dcdw-2021-black color-dcdw-2021-celeste ]" id="faqs">
    <div class="[ grid grid--four-column grid--align-center ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="[ grid--two-column-span ] [ flow-3 ]">
            <h2 id="{{ site.faqs.header | downcase | replace: " ", " -" }}">{{ site.faqs.header }}</h2>
            <hr class="divider divider--yellow" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ site.faqs.body | markdownify }}</div>
            <a class="button button-solid--yellow" href="{{ site.faqs.button-url }}" {% if site.faqs.button-is-external-url==true %} rel="noopener nofollow" target="_blank" {% endif %}>
                {{ site.faqs.button-label }}
            </a>
        </div>
        {% if site.faqs.show-faqs-image == true %}
        <div class="[ grid--two-column-span ]">
            <figure>
                <img src="{{ site.faqs.image }}" alt="{{ site.faqs.imageAlt }}">
            </figure>
        </div>
        {% endif %}
    </div>
</section>

{% endif %}
