{% if page.layout == "events-single" %}
<section class="[ faqs ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] [ background-dcdw-2021-black color-dcdw-2021-celeste ] flow-4" id="faqs">
    <div class="[ grid grid--four-column grid--align-center ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="grid--two-column-span flow-2">
            <h2>
                FAQs
            </h2>
            <hr class="divider divider--yellow" aria-hidden="true">
            <div class="wysiwyg">
                Body Text
            </div>
            <a class="button button-solid--yellow" href="{{ site.partner.button-url }}" rel="noopener nofollow" target="_blank">
                {{ site.partner.button-label | markdownify }}
            </a>
        </div>
        <div>
            <p class="font-align-center">Image</p>
        </div>
    </div>
</section>

{% elsif page.url == "/faqs/" %}

<section class="[ faqs ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] flow-4" id="faqs">
    <div class="[ grid grid--four-column grid--align-center ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
            <ul class="grid--three-column-span flow-4">
                {% for question in page.questions %}
                <li class="mambo-accordion">
                    <h3 aria-label="" class="mambo-accordion__header" data-houdini-toggle="{{ question.trigger }}">
                        {{ question.question | markdownify }}
                    </h3>
                    <div class="mambo-accordion__content border-dcdw-2021-black {% if question.expanded == true %} faq-answer is-expanded {% endif %} wysiwyg" data-houdini-group="faq" id="{{ question.trigger }}">
                        {{ question.answer | markdownify }}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="grid--one-column-span">
                <div class="faq-contact">
                    <h4>General Questions</h4>
                    <ul>
                        <li>
                            Email: <a href="mailto:designweek@dc.aiga.org">designweek@dc.aiga.org</a>
                        </li>
                    </ul>
                    <h4 class="margin-top-16">Accessibility Questions</h4>
                    <ul>
                        <li>
                            Email: <a href="mailto:accessibility@dc.aiga.org">accessibility@dc.aiga.org</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--black);">
        {% include textures/rip-A.svg %}
    </div>
</section>

<script>
    var disclosure = new Houdini('[data-houdini-group="faq"]', {
        isAccordion: true,
        collapseOthers: false,
        icon: 1, /* If true, include an expand/collapse icon */
        iconClass: 'houdini-toggle-icon', /* The class to use for the expand/collapse icon */
        iconAttribute: 'data-houdini-icon', /* The data attribute to use for the expand/collapse icon */
        iconShow: '<i class="fas fa-chevron-right"></i>', /* The icon to expand an accordion */
        iconHide: '<i class="fas fa-chevron-down"></i>', /* The icon to collapse an accordion */
    });
</script>
{% endif %}
