<section class="section section--faqs">
    <div class="grid grid--four-columns">
        <!-- parent grid -->
        <div class="column column--span-3">
            {% for content in page.introduction %}
            {% if content.has-introduction == true %}
            <h1 class="column--span-90" id="{{ content.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ content.header }}
            </h1>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="grid grid--four-columns margin-top-32">
        <ul class="grid grid--one-column column--span-3">
            {% for faq in page.faqs %}
            <li>
                <h2 aria-label="faq" class="" data-houdini-toggle="{{ faq.trigger }}">
                    {{ faq.heading }}
                </h2>
                <div class="{% if faq.expanded == true %} is-expanded {% endif %} wysiwyg" data-houdini-group="faq" id="{{ faq.trigger }}">
                    {{ faq.body | markdownify }}
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="column column--span-1 sticky">
            <div class="faq-contact">
                <h3>General Questions</h3>
                <ul>
                    <li>
                        <h4>Email</h4>
                        <a href="mailto:designweek@dc.aiga.org">designweek@dc.aiga.org</a>
                    </li>
                </ul>
                <h3 class="margin-top-16">Accessibility Questions</h3>
                <ul>
                    <li>
                        <h4>Email</h4>
                        <a href="mailto:accessibility@dc.aiga.org">accessibility@dc.aiga.org</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script src="/assets/scripts/houdini.min.js"></script>
<script>
    var disclosure = new Houdini('[data-houdini-group="faq"]', {
        isAccordion: true,
        collapseOthers: true,

        // Icons
        icon: 1, // If true, include an expand/collapse icon
        iconClass: 'houdini-toggle-icon', // The class to use for the expand/collapse icon
        iconAttribute: 'data-houdini-icon', // The data attribute to use for the expand/collapse icon
        iconShow: '<img src="/uploads/plus.svg" alt="">', // The icon to expand an accordion
        iconHide: '<img src="/uploads/minus.svg" alt="">', // The icon to collapse an accordion
    });
</script>
