<section class="section section--partners">
    <div class="container">
        <h2 class="column--width-80 flow-none" id="{{ site.partner.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
            {{ site.partner.header }}
        </h2>
        <hr class="divider divider--yellow">
        <div class="wysiwyg">
            {{ site.partner.body | markdownify }}
        </div>
        <a class="button button__solid--yellow" href="{{ site.partner.button-url }}" target="_blank">
            {{ site.partner.button-label }}
        </a>
    </div>
</section>
