<section class="section section__makers">
	<div class="grid grid--four-columns">
		<div class="column column--span-2 flow-large">
			<h2 class="column--width-70 flow-none"
				id="{{ site.makers.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
				{{ site.makers.header }}
			</h2>
			<div class="wysiwyg">{{ site.makers.body | markdownify }}</div>
			<a class="button button__border button__border--white shadow-reverse shadow-reverse--green"
				href="{{ site.makers.button-url }}" target="_blank">{{ site.makers.button-label }}
			</a>
		</div>
		<div class="column column--span-2">
			<img class="" aria-hidden="true" src="/uploads/gallery-maker-items.png"
				alt="Large Floating amorphous bubbles">
		</div>
	</div>
</section>
