{% if page.url == "/" %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section hero">
    <div class="container container--default">
        <h1>
            {{ site.partner.header }}
        </h1>
        <hr class="divider divider--black">
        <div class="wysiwyg">
            {{ site.partner.body | markdownify }}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% elsif page.url == "/makers/" %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section hero">
    <div class="container container--default">
        <h1>
            {{ site.partner.header }}
        </h1>
        <hr class="divider divider--black">
        <div class="wysiwyg">
            {{ site.partner.body | markdownify }}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% endif %}
