{% if page.url == "/" %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section hero">
    <div class="grid grid--four-columns">
        <div class="column column--span-4">
            Hero
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% elsif page.url == "/makers/" %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section hero">
    <div class="grid grid--four-columns">
        <div class="column column--span-4">
            Hero
        </div>
    </div>
</section>
{% endif %}
{% endfor %}

{% endif %}
