<section class="section section--partners">
    <div class="grid grid--four-columns">
        <div class="column column--span-2 flow-large">
            <h2 class="column--width-80 flow-none" id="{{ site.partner.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ site.partner.header }}
            </h2>
            <div class="wysiwyg">
                {{ site.partner.body | markdownify }}
            </div>
            <a class="button button__solid--black" href="{{ site.partner.button-url }}" target="_blank">
                {{ site.partner.button-label }}
            </a>
        </div>
    </div>
</section>
