<section class="section section--partners">
    <div class="container container--default">
        <h2>
            {{ site.partner.header }}
        </h2>
        <hr class="divider divider--yellow">
        <div class="wysiwyg">
            {{ site.partner.body | markdownify }}
        </div>
        <a class="button button__solid--yellow" href="{{ site.partner.button-url }}" target="_blank">
            {{ site.partner.button-label }}
        </a>
    </div>
    <div class="section--texture-7" style="background-image: url('/uploads/spraypaint-yellow.png'); background-position: center center; background-size: contain; background-repeat: no-repeat;">&nbsp;</div>
</section>
