{% if page.layout == 'events-landing' %}
<section id="subscribe" class="section section__subscribe">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<img class="bubble-group-subscribe" aria-hidden="true" src="/uploads/bubble-white-large-01.png"
				alt="{{ site.subscribe.image-1-alt }}">
		</div>
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-70"
				id="{{ site.subscribe.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
				{{ site.subscribe.header }}</h2>
			<div class="wysiwyg">{{ site.subscribe.body }}</div>
			{% include 3rd-party/mailchimp/form.html %}
		</div>
	</div>
</section>
{% else %}
<section id="subscribe" class="section section__subscribe">
	<div class="grid">
		<div class="grid-col grid-col--span-2">
			<img class="bubble-group-subscribe" aria-hidden="true" src="{{ site.subscribe.image-1 }}"
				alt="{{ site.subscribe.image-1-alt }}">
		</div>
		<div class="grid-col grid-col--span-2">
			<h2 class="grid-col--span-70"
				id="{{ site.subscribe.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
				{{ site.subscribe.header }}</h2>
			<div class="wysiwyg">{{ site.subscribe.body }}</div>
			{% include 3rd-party/mailchimp/form.html %}
		</div>
	</div>
</section>
{% endif %}
