<section class="[ ghostnote ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-400 gap-padding-left-400 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ texture texture--paper ] [ flow-3 ]" id="ghostnote">
    <div class="[ grid grid--four-column grid--align-center ]">
        {% if page.show-ghostnote-image == true %}
        <div class="grid--two-column-span">
            <figure>
                <img src="{{ page.ghostnote-image }}" alt="{{ page.ghostnote-imageAlt }}">
            </figure>
        </div>
        {% endif %}
        <div class="grid--two-column-span flow-2">
            <h2>{{ page.ghostnote-header | markdownify }}</h2>
            <hr class="divider divider--black" aria-hidden="true">
            <div class="wysiwyg flow-2">{{ page.ghostnote-body | markdownify }}</div>
            <a aria-label="{{ page.ghostnote-button-aria }}" class="button button-solid--black" href="{{ page.ghostnote-button-url }}" {% if page.ghostnote-button-is-external-url==true %} rel="noopener nofollow" target="_blank" {% endif %}>{{ page.ghostnote-button-label }}</a>
        </div>
    </div>
</section>
