{% include block/banner-qa.html %}
<header>
    {% include block/banner-skip-link.html %}
    <a aria-label="DCDW Logo and link to home page" href="/" class="logo">
        {% include icon/dcdw-logo.html %}
    </a>
    <nav class="navigation">
        <ul class="links">
            {% for link in site.navigation-production %}
            <li class="link">
                <a aria-label="{{ link.aria-label }}" class="anchor" href="{{ link.url }}">
                    {{ link.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- <details>
        <summary>
            Menu
        </summary>
            <ul class="links">
                {% for link in site.navigation-production %}
                <li class="link">
                    <a aria-label="{{ link.aria-label }}" class="button button__link" href="{{ link.url }}">
                        {{ link.label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
    </details> -->
</header>
