<section class="section-hero background-dcdw-2021-black color-dcdw-2021-celeste ">

    {% include liquid/event-single-hero-status.html %}

    <div class="container grid grid--four-column grid--align-center">
        <div class="column-one grid--four-column-span flow-2">
            <h1 id="{{ page.title | downcase | replace: " ", " -" }} ">
                {{ page.title | markdownify }}
            </h1>
            <hr class=" divider divider--yellow" aria-hidden="true" />
            <p>
                {{ page.event-date | date: "%A / %B %d / %l:%M %p" }}
            </p>
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>

            <div class="landing-hero__tickets">
                {% if page.tickets.has-member-button == true %}
                <a class="button button-solid button__solid--yellow  {% if page.status.has-occurred == true %} disabled {% endif %}%" {% if page.status.has-occurred==true %} {% else %} href="{{ page.tickets.member-button-url }}" rel="noopener" target="_blank" {% endif %}>
                    {{ page.tickets.member-button-label }}
                </a>
                {% else %}
                <a class="button button__solid disabled button-solid--yellow  ">
                    Ticket Sales Have Ended
                </a>
                {% endif %}
                {% if page.tickets.has-non-member-button == true %}
                <a class="
                    button button-solid button__solid--yellow {% if page.status.has-occurred == true %} disabled {% endif %}" {% if page.status.has-occurred==true %} {% else %} href="{{ page.tickets.non-member-button-url }}" rel="noopener" target="_blank" {% endif %}>
                    {{ page.tickets.non-member-button-label }}
                </a>
                {% else %}
                <a class="button button-solid disabled button-solid--yellow">
                    Ticket Sales Have Ended
                </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--celeste);">
        {% include textures/rip-A.svg %}
    </div>
</section>
