{% for content in page.hero %}
{% if content.has-hero == true %}

<section class="[ hero-home ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-400 gap-padding-left-400 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ texture texture--paper ]" id="hero-home">

    <div class="[ grid grid--align-center grid--one-column ]">
        <div class="[ headline ] [ grid--one-span ] font-align-center">
            <h1>{{ content.header }}</h1>
            <div class="subtitle-1">{{ content.text-1 | markdownify }}</div>
            <div class="subtitle-2">{{ content.text-2 | markdownify }}</div>
        </div>
        <div class="[ grid--one-span ]">
            <div class="wysiwyg flow-3">{{ content.body | markdownify }}</div>
        </div>
    </div>
    <div class="pattern pattern-left pattern-hyperlocal" style="fill: var(--beige);">
        {% include pattern/hyperlocal.html %}
    </div>
    <div class="pattern pattern-right pattern-hyperlocal" style="fill: var(--beige);">
        {% include pattern/hyperlocal.html %}
    </div>
</section>

{% endif %}
{% endfor %}
