{% if page.url == "/about/" or "/events/" or "/faqs/" %}
{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section-hero background-dcdw-2021-black color-dcdw-2021-celeste">
    <div class="container grid grid--four-column grid--align-center">
        {% if page.url == "/about/" and "/faqs/" %}
        <div class="ornament ornament-diagonal-red-shape">
            {% include ornament/diagonal-red-shape.svg %}
        </div>
        {% endif %}
        <div class="grid--two-column-span flow-2">
            {% if page.url == "/events/" %}
            <div class="ornament ornament-three-stars" style="fill: var(--purple);">
                {% include ornament/three-star.html %}
            </div>
            {% endif %}
            {% if page.url == "/faqs/" %}
            <div class="ornament ornament-three-stars" style="fill: var(--cinnabar);">
                {% include ornament/three-star.html %}
            </div>
            {% endif %}
            <h1 id="{{ content.header | downcase | replace: " ", " -" }}">
                {{ content.header | markdownify }}
            </h1>
            {% if content.subheader %}
            <div class="wysiwyg">
                {{ content.subheader | markdownify }}
            </div>
            {% endif %}
        </div>
        <div class="pattern pattern-right pattern-hyperlocal" style="fill: var(--beige);">
            {% include pattern/hyperlocal.html %}
        </div>
    </div>
    <div class="ripped-paper ripped-paper-1-B" style="fill: var(--celeste);">
        {% include textures/rip-A.svg %}
    </div>
</section>
{% endif %}
{% endfor %}
{% endif %}
