{% for content in page.hero %}
{% if content.has-hero == true %}

<section class="[ hero ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-700 gap-padding-left-700 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-celeste ]" id="hero">
    <div class="[ grid grid--align-center grid--four-column ]">
        <div class="[ grid--four-column-span ]">
            <h1>{{ content.header }}</h1>
            <div>{{ content.subheader | markdownify }}</div>
        </div>
        <div class="[ grid--four-column-span ]">
            <div>{{ content.body | markdownify }}</div>
        </div>
    </div>
    <div class="pattern pattern-left pattern-hyperlocal" style="fill: var(--beige);">
        {% include pattern/hyperlocal.html %}
    </div>
    <div class="pattern pattern-right pattern-hyperlocal" style="fill: var(--beige);">
        {% include pattern/hyperlocal.html %}
    </div>
</section>

{% endif %}
{% endfor %}
