{% for content in page.emerging-designers %}
{% if content.has-emerging-designers == true %}
<section class="section section__makers">
    <div class="grid grid--four-columns">
        <div class="column column--span-2">
            <div class="emerging-designers-posters">
                <figure class="emerging-designers-posters__image--left">
                    <img src="{{ content.image-left }}" alt="{{ content.image-left-alt }}">
                </figure>
                <figure class="emerging-designers-posters__image--right">
                    <img src="{{ content.image-right }}" alt="{{ content.image-right-alt }}">
                </figure>
            </div>
        </div>
        <div class="column column--span-2 flow-large">
            <h2 class="column--span-80 flow-none" id="{{ content.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ content.header }}
            </h2>
            <div class="wysiwyg">
                {{ content.body | markdownify }}
            </div>
            {% if content.button-label %}
            <a class="button button__border button__border--white shadow-reverse shadow-reverse--green" href="{{ content.button-url }}" target="_blank">
                {{ content.button-label }}
            </a>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
{% endfor %}
