{% if page.platform-is-in-person == true %}
<section class="[ platforms ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] flow-4" id="platforms">
    <div class="[ grid grid--four-column ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="grid--three-column-span flow-2">
            <h2>
                {{ page.platform-in-person-header }}
            </h2>
            <hr class="divider divider--black" aria-hidden="true">
            <p class="wysiwyg flow-2">
                {{ page.platform-in-person-body | markdownify }}
            </p>
        </div>
    </div>
</section>
{% endif %}

{% if page.platform-is-remote == true %}
<section class="[ platforms ] [ gap-padding-top-1600 gap-padding-bottom-1600 md:gap-padding-top-2500 md:gap-padding-bottom-2500 ] flow-4" id="platforms">
    <div class="[ grid grid--four-column ] [ gap-padding-right-500 gap-padding-left-500 md:gap-padding-right-900 md:gap-padding-left-900 ]">
        <div class="grid--three-column-span flow-2">
            <h2>
                {{ page.platform-remote-header }}
            </h2>
            <hr class="divider divider--black" aria-hidden="true">
            <p class="wysiwyg flow-2">
                {{ page.platform-remote-body | markdownify }}
            </p>
        </div>
    </div>
</section>
{% endif %}
