<!-- Text Left -->
<section class="section section--[name]">
    <div class="grid grid--four-columns">
        <div class="column column--span-2">
            <h2 class="column--span-50" id="{{ site.volunteer.unbranded-header | downcase | replace: " ", " -" }}">
                Heading Level 2
            </h2>
            <hr>
            <p>
                Body Text
            </p>
        </div>
        <div class="column column--span-2">

        </div>
    </div>
</section>

<!-- Text Right -->
<section class="section section--[name]">
    <div class="grid grid--four-columns">
        <div class="column column--span-2">

        </div>
        <div class="column column--span-2">
            <h2 class="column--span-50" id="{{ site.volunteer.unbranded-header | downcase | replace: " ", " -" }}">
                Heading Level 2
            </h2>
            <p>
                Body Text
            </p>
        </div>
    </div>
</section>
