{% if page.url == "/" or "/about/" %}
<section id="sponsors" class="section section__sponsors">
    {% comment %} tier 1 {% endcomment %}
    <div class="grid grid--four-columns">
        <div class="column column--span-2 flow-large">
            <h2 id="{{ site.sponsors.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ site.sponsors.header }}
            </h2>
            <div class="wysiwyg">
                {{ site.sponsors.body | markdownify }}
            </div>
        </div>
        <div class="column column--span-4 margin-top-16">
            <ul class="grid grid--two-columns">
                {% assign sorted = site.sponsors.sponsor-tier-one | sort: 'aria-label' %}
                {% for content in sorted %}
                {% include block/partials/card-sponsors.html %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% comment %} tier 2 {% endcomment %}
    <div class="grid grid--four-columns flow-extra-large">
        <div class="column column--span-4">
            <h3 id="{{ site.sponsors.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ site.sponsors.tier-two-header }}
            </h3>
            <ul class="grid grid--three-columns margin-top-16">
                {% assign sorted = site.sponsors.sponsor-tier-two | sort: 'aria-label' %}
                {% for content in sorted %}
                {% include block/partials/card-sponsors.html %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if page.url == "/about/" %}
    {% comment %} tier 3 {% endcomment %}
    <div class="grid grid--five-columns flow-extra-large">
        <div class="column column--span-5">
            <h3 id="{{ site.sponsors.header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", " -" }}">
                {{ site.sponsors.tier-three-header }}
            </h3>
            <ul class="grid grid--four-columns margin-top-16">
                {% assign sorted = site.sponsors.sponsor-tier-three | sort: 'aria-label' %}
                {% for content in sorted %}
                {% include block/partials/card-sponsors.html %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if page.url == "/" %}
    <!-- sponsors button -->
    <div class="grid grid--four-columns margin-top-60">
        <div class="column column--span-4 text-center">
            <a class="button button__border button__border--white shadow-reverse shadow-reverse--green" href="{{ page.sponsors-button-url }}">
                {{ page.sponsors-button-label}}
            </a>
        </div>
    </div>
    {% endif %}
</section>
{% endif %}
