body {
  --base: url(/uploads/animated-face-base-1.png);
  --eyebrows: url(/uploads/animated-face-eyebrows-1.png);
  --mouth: url(/uploads/animated-face-mouth-1.png);
  --eyes: url(/uploads/animated-face-eyes-1.png);
  --highlights: url(/uploads/animated-face-highlights-1.png);
  --nose: url(/uploads/animated-face-glasses-1.png);
}

.wrap {
  position: relative;
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(60px, auto);
  grid-gap: 0;
  align-content: start;
}

.face {
  background: var(--nose), var(--mouth), var(--eyebrows), var(--eyes), var(--highlights), var(--base);
  background-size: 75%;
  min-height: 300px;
  width: 100%;
  margin: auto;
  background-position: 40% 50%;
  background-repeat: no-repeat;
  position: relative;
  transition: 150ms all ease-out;
}