.block a.button {
    text-align: center;
    margin-top: $spacing-32;
}
.block-introduction, .block-featured-events, .block-featured-sponsors, .block-committee, .block-50-50-text-image {
    margin-top: $spacing-32;
}
@media screen and (min-width: 1023px) {
    .block-introduction, .block-featured-events, .block-featured-sponsors, .block-committee, .block-50-50-text-image {
        margin-top: 64px;
    }
}