.button {
	background-color: red;
	display: inline-block;
	padding: 8px 40px;

	&__solid,
	&__border {
		background-color: transparent;
		border: solid 4px transparent;
		color: $black;
	}

	&__solid--mauve {
		background-color: $mauve;
	}

	&__border--mauve {
		border: solid 4px $mauve;
	}

	&__solid--crusta {
		background-color: $crusta;
	}

	&__border--crusta {
		border: solid 4px $crusta;
	}

	&__solid--hot-pink {
		background-color: $hot-pink;
	}

	&__border--hot-pink {
		border: solid 4px $hot-pink;
	}

	&__solid--lightning-yellow {
		background-color: $lightning-yellow;
	}

	&__border--lightning-yellow {
		border: solid 4px $lightning-yellow;
	}

	&__solid--aquamarine {
		background-color: $aquamarine;
	}

	&__border--aquamarine {
		border: solid 4px $aquamarine;
	}
}