.button {
    background-color: $white;
    cursor: pointer !important;
    color: $black;
    display: inline-block;
    font-weight: 700;
    padding: 0px 8px;
    &__solid, &__border, &__link {
        border: solid 4px transparent;
    }
    &__solid--mauve {
        background-color: $mauve;
    }
    &__border--mauve {
        border: solid 4px $mauve;
    }
    &__solid--crusta {
        background-color: $crusta;
    }
    &__border--crusta {
        border: solid 4px $crusta;
    }
    &__solid--hot-pink {
        background-color: $hot-pink;
    }
    &__border--hot-pink {
        border: solid 4px $hot-pink;
    }
    &__solid--lightning-yellow {
        background-color: $lightning-yellow;
    }
    &__border--lightning-yellow {
        border: solid 4px $lightning-yellow;
    }
    &__solid--aquamarine {
        background-color: $aquamarine;
    }
    &__border--aquamarine {
        border: solid 4px $aquamarine;
    }
    &__solid--black {
        background-color: $black;
    }
    &__border--black {
        border: solid 4px $black;
        color: $black;
    }
    &__link--black {
        color: $black;
    }
}