.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.5;
}
.sold-out::before {
    content: 'Sold Out!';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: $white;
    padding: 56px;
    text-align: center;
}
.sold-out {
    background-color: RGBA(32, 38, 83, 0.5);
}
.sold-out-ticker {
    overflow: hidden;
    position: relative;
    height: 48px;
}
.sold-out-ticker p {
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    /* Starting position */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    /* Apply animation to this element */
    -moz-animation: sold-out-ticker 15s linear infinite;
    -webkit-animation: sold-out-ticker 15s linear infinite;
    animation: sold-out-ticker 15s linear infinite;
}
/* Move it (define the animation) */

@-moz-keyframes sold-out-ticker {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}
@-webkit-keyframes sold-out-ticker {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes sold-out-ticker {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
.event-cards {
    display: grid;
    grid-gap: 2rem;
    /* Special thanks to this article from Evan Minto on 
    Intrinsically Responsive CSS Grid: http://evanminto.com/blog/intrinsically-responsive-css-grid-minmax-min/ */
    /* Partially responsive fallback */
    grid-template-columns: repeat(auto-fit, minmax(calc(10% + 13rem), 1fr));
    /* Fully responsive version */
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    margin: 0;
    padding: 0;
}
.event-card {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.event-card__link {}
.event-card__image {
    background-color: $black;
}
.event-card__image figure {
    margin: 0;
    padding: 0;
}
.event-card__details {
    background-color: $white;
    color: $black;
    padding: 1rem;
}
.event-card__details h3 {
    line-height: 1.6rem;
}
.event-card__details hr {
    margin-bottom: 1rem;
}
.event-card__details p {
    font-size: $font-size-16;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
}
.diamond-image-border {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 150px;
    height: 150px;
    border: solid 5px $black;
    margin: 0 auto;
}
.diamond {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 135px;
    height: 135px;
    -webkit-transform: rotate(0deg) translateX(15px) translateY(-15px);
    transform: rotate(0deg) translateX(15px) translateY(-15px);
    -webkit-transition: -webkit-transform 100ms ease-in-out;
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    overflow: hidden;
}
.diamond:hover {
    -webkit-transform: rotate(0deg) translateX(2.5px) translateY(2.5px);
    transform: rotate(0deg) translateX(2.5px) translateY(2.5px);
}
.diamond .diamond-los1 {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-45deg) translateY(-140px);
    transform: rotate(-45deg) translateY(-140px);
}
.diamond .diamond-los1 img {
    min-width: 150%;
    position: absolute;
    top: 100px;
    left: -40px;
}
.block-committee__member {
    padding: 2rem;
}
.block-committee__member h3 {
    margin-top: $spacing-48;
}
.block-committee__member p,
.block-committee__member a {
    font-size: $font-size-16;
    font-weight: 400;
    margin: 0 0 0.25rem 0;
    line-height: 1.4rem;
}
.block-committee__member a {
    font-weight: 900;
}