.site-header {
    border-bottom: solid 2px $crusta;
    position: sticky;
    position: -webkit-sticky;
    /*needed for Safari*/
    top: 0;
    z-index: 9999;
}
.site-header__logo {
    max-width: 144px;
}