{% if page.url == "/" %}
<section class="homepage-partners relative bg-opaque-white">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-6">
      <h1 class="bbroller m0 text-headline">{{page.home-partners-header-text}}</h1>
      <hr class="title-divider">
      <p class="m0 text-default">{{page.home-partners-sub-header-text}}</p>
    </div>
  </div>
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-1 py1"></div>
    <div class="sm-col sm-col-12 md-col-11">
      <ul class="overflow-hidden">
        {% for post in site.sponsors limit:8 %}
          <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
            <img src="{{ post.sponsor-image }}">
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-4 py1"></div>
    <div class="sm-col sm-col-12 md-col-8 pb4">
      <a href="http://www.dcdesignweek.org/events/" class="bbroller blue-underline m0 text-default">
        Sponsor this event
      </a>
    </div>
  </div>
</section>
{% elsif page.url == "/shops-and-galleries/" %}
  <section class="shops-partners py4 relative">
    <div class="container clearfix p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
      <div class="sm-col sm-col-12 md-col-10">
        <h1 class="bbroller m0 text-x-medium ">Partners</h1>
        <hr class="title-divider">
      </div>
    </div>
    <div class="container clearfix p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
      <div class="sm-col sm-col-12 md-col-11">
        <ul class="overflow-hidden">
          {% for post in site.sponsors limit:3 %}
            <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
              <img src="{{ post.sponsor-image }}">
            </li>
          {% endfor %}
        </ul>
        <a href="http://www.dcdesignweek.org/events/" class="bbroller blue-underline m0 text-default ">
          Sponsor this event
        </a>
      </div>
    </div>
  </section>
  {% else %}
    <section class="shops-partners mb4 relative">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
        <div class="sm-col sm-col-12 md-col-10">
          <h1 class="bbroller m0 text-x-medium ">
            Partners
          </h1>
          <hr class="title-divider">
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for post in site.sponsors limit:3 %}
            <div class="sm-col sm-col-12 md-col-4 inline-block">
              <div class="sponsor-card">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
          <a href="http://www.dcdesignweek.org/events/" class="bbroller blue-underline m0 text-default ">
            Sponsor this event
          </a>
        </div>
      </div>
    </section>
{% endif %}
