{% if page.layout == 'pages/page-home' %}
<section class="homepage-partners relative bg-opaque-white py3">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-6">
      <h1 class="bbroller m0 text-headline">
        {{page.home-partners-header-text}}
      </h1>
      <hr class="title-divider">
      <p class="m0 text-default">
        {{page.home-partners-sub-header-text}}
      </p>
    </div>
  </div>

  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-1 py1"></div>
    <div class="sm-col sm-col-12 md-col-11">
      <ul class="overflow-hidden">
        {% for posts in site.sponsors %}
          {% if posts.is-featured-on-home-page == true %}
          <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
            <img src="{{ posts.sponsor-image }}">
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-3 py1"></div>
    <div class="sm-col sm-col-12 md-col-9 pb4">
      <a href="{{page.home-sponsors-link}}" class="bbroller blue-underline m0 text-default">
        {{page.home-sponsors-link-text}}
      </a>
    </div>
  </div>
</section>
{% elsif page.url == "/shops-and-galleries/" %}
  <section class="shops-partners py4 relative">
    <div class="container clearfix p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
      <div class="sm-col sm-col-12 md-col-10">
        <h1 class="bbroller m0 text-x-medium ">Partners</h1>
        <hr class="title-divider">
      </div>
    </div>
    <div class="container clearfix p3">
      <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
      <div class="sm-col sm-col-12 md-col-11">
        <ul class="overflow-hidden">
          <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
            <img src="/uploads/WPA.jpg">
          </li>
          <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
            <img src="/uploads/CherryB.jpg">
          </li>
          <li class="sponsor-logo sm-col sm-col-12 md-col-3 inline-block p1">
            <img src="/uploads/typecase.jpg">
          </li>
        </ul>
        <a href="http://www.dcdesignweek.org/events/" class="bbroller blue-underline m0 text-default ">
          Sponsor this event
        </a>
      </div>
    </div>
  </section>
  {% else %}
    <section class="shops-partners mb4 relative">
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
        <div class="sm-col sm-col-12 md-col-10">
          <h1 class="bbroller m0 text-x-medium ">
            Partners
          </h1>
          <hr class="title-divider">
        </div>
      </div>
      <div class="container clearfix p3">
        <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide md-hide"></div>
        <div class="sm-col sm-col-12 md-col-11">
          {% for post in site.sponsors limit:3 %}
            <div class="sm-col sm-col-12 md-col-4 inline-block">
              <div class="sponsor-card">
                <img src="{{ post.sponsor-image}}">
              </div>
            </div>
          {% endfor %}
          <a href="http://www.dcdesignweek.org/events/" class="bbroller blue-underline m0 text-default ">
            Sponsor this event
          </a>
        </div>
      </div>
    </section>
{% endif %}
