<li class="card card--event" data-modal="#{{ event.title | downcase | replace: " &", "-" | replace: "[" , "-" | replace: "]" , "-" | replace: "." , "-" | replace: "5" , "five" | replace: " " , "-" | replace: "~" , "-" | replace: "'" , "-" | remove: '<span>' | remove: '</span>' }}" href="/events/self-guided/#{{ event.title | downcase | replace: " &", "-" | replace: "[" , "-" | replace: "]" , "-" | replace: "." , "-" | replace: "5" , "five" | replace: " " , "-" | replace: "~" , "-" | replace: "'" , "-" | remove: '<span>' | remove: '</span>' }}">

    <div class="card__aside">
        <a aria-label="{{ event.aria-label }}">
            <figure class="card-image ">
                <img src="{{ event.image }}" alt="{{ event.image-alt }}" />
                <div class="card-image-overlay spacing-0"></div>
            </figure>
        </a>
        {% if event.status.is-featured-event == true and event.status.featured-event-message %}
        <div class="ticker ticker--featured">
            <p>{{ event.status.featured-event-message }}</p>
        </div>
        {% endif %}
        {% if event.status.is-featured-home == true and event.status.featured-event-message %}
        <div class="ticker ticker--featured">
            <p>{{ event.status.featured-event-message }}</p>
        </div>
        {% endif %}
    </div>

    <div class="card__header">
        <a aria-label="{{ event.aria-label }}">
            <h3 class="card__title">{{ event.title }}</h3>
        </a>
    </div>
    <div class="card-details">
        <div class="card-info">
            <p>
                {{ event.start-time }}
            </p>
            <p>
                {{ event.description }}
            </p>
        </div>
    </div>
    <div class="card-footer margin-top-32">
        <a class="button button__solid--cinnabar " data-modal="#{{ event.title | downcase | replace: " &", "-" | replace: "[" , "-" | replace: "]" , "-" | replace: "." , "-" | replace: "5" , "five" | replace: " " , "-" | replace: "~" , "-" | replace: "'" , "-" | remove: '<span>' | remove: '</span>' }}" href="/events/self-guided/#{{ event.title | downcase | replace: " &", "-" | replace: "[" , "-" | replace: "]" , "-" | replace: "." , "-" | replace: "5" , "five" | replace: " " , "-" | replace: "~" , "-" | replace: "'" , "-" | remove: '<span>' | remove: '</span>' }}">
            See More
        </a>
    </div>
</li>
