<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if (IE 7)&!(IEMobile) ]><html class="ie7"> <![endif]-->
<!--[if (IE 8)&!(IEMobile) ]><html class="ie8"> <![endif]-->
<!--[if (IE 9)&!(IEMobile) ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="en">

<head>
  {% include _doctype/head.html %}
</head>

<!-- pushy mobile nav -->
{% include _global/mobile-nav.html %}

<!-- site overlay when pushy menu is activated  -->
<div class="site-overlay"></div>

<body>
  <!-- Your Content -->
  <div id="container" class="relative overflow-hidden">
    {% include _global/header.html %}