<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if (IE 7)&!(IEMobile) ]><html class="ie7"> <![endif]-->
<!--[if (IE 8)&!(IEMobile) ]><html class="ie8"> <![endif]-->
<!--[if (IE 9)&!(IEMobile) ]><html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="en">

<head>
  {% include _doctype/head.html %}
</head>

{% comment %}
<!-- Archive Bar -->
<span class="pa3 bg-black fixed top-0 left-0 right-0 tc white" style="z-index: 9999">
  <h2 class="dib f6 ma0">You are currently viewing the 2017 DC Design Week Website.</h2>
  <a class="white fw-bold ma0 f6" href="https://github.com/AIGAdc/DCDW" target="_blank"><p class="dib f6 ma0">For the latest version, checkout Github</p></a>
</span>
{% endcomment %}

<!-- pushy mobile nav -->
{% include _global/mobile-nav.html %}

<!-- site overlay when pushy menu is activated  -->
<div class="site-overlay"></div>

<body>
  <!-- Your Content -->
  <div id="my-content-container" class="relative overflow-hidden">
    {% include _global/header.html %}