<section class="home-sponsors relative bg-white fl w-100 mb6 wysiwyg">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-80-l">
      <h2 class="ma0 f3 f2-ns lh-copy">
        {{ page.home-partners-header }}
      </h2>
      <hr class="title-divider">
      <div class="ma0 f5 f4-ns lh-copy">
        {{ page.home-partners-text | markdownify }}
      </div>
    </div>

    <div class="fl w-100 mb2">
      <ul class="list ma0 pa0">
        {% assign sorted_sponsors = site.sponsors %}
        {% for posts in sorted_sponsors %}
          {% if posts.is-featured-on-home-page == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100">
      <a class="btn btn--primary-border db dib-ns ma0 tc tl-ns" href="{{page.home-sponsors-url}}">
        {{ page.home-sponsors-url-text }}
      </a>
    </div>
  </div>
</section>