<section class="home-sponsors relative bg-white fl w-100 mb6 wysiwyg">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-80-l">
      <h2 class="ma0">
        {{ page.home-partners-header | markdownify }}
      </h2>
      <hr class="title-divider-blue">
      {{ page.home-partners-text | markdownify }}
    </div>

    <div class="fl w-100 mb2">
      <ul class="list ma0 pa0">
        {% comment %}
          sThe sponsors content block will display the sponsors that have been designated as being "featured on homepage".
        {% endcomment %}
        {% for posts in site.sponsors %}
          {% if posts.is-featured-on-home-page == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="fl w-100">
      <a class="btn btn--blue-border db dib-ns ma0 tc tl-ns" href="{{page.home-sponsors-link}}">
        {{page.home-sponsors-link-text}}
      </a>
    </div>
  </div>
</section>
