.border {
	border: solid 2px transparent;

	&--white {
		border-color: $white;
	}

	&--mauve {
		border-color: $mauve;
	}

	&--crusta {
		border-color: $crusta;
	}

	&--hot-pink {
		border-color: $hot-pink;
	}

	&--lightning-yellow {
		border-color: $lightning-yellow;
	}

	&--aquamarine {
		border-color: $aquamarine;
	}

	&--black {
		border-color: $black;
	}

	&--dcdw-2016 {
		border-color: $dcdw-2016;
	}

	&--dcdw-2017 {
		border-color: $dcdw-2017;
	}

	&--dcdw-2018 {
		border-color: $dcdw-2018;
	}

	&--dcdw-2019 {
		border-color: $dcdw-2019;
	}
}

.border__bottom {
	border-bottom: solid 2px transparent;

	&--white {
		border-color: $white;
	}

	&--mauve {
		border-color: $mauve;
	}

	&--crusta {
		border-color: $crusta;
	}

	&--hot-pink {
		border-color: $hot-pink;
	}

	&--lightning-yellow {
		border-color: $lightning-yellow;
	}

	&--aquamarine {
		border-color: $aquamarine;
	}

	&--black {
		border-color: $black;
	}

	&--dcdw-2016 {
		border-color: $dcdw-2016;
	}

	&--dcdw-2017 {
		border-color: $dcdw-2017;
	}

	&--dcdw-2018 {
		border-color: $dcdw-2018;
	}

	&--dcdw-2019 {
		border-color: $dcdw-2019;
	}
}
