.shadow,
.shadow-reverse {
	transition: all $timing-quick ease-out;
}

.shadow {
	&--green {
		box-shadow: 8px 8px $green;
	}

	&--black {
		box-shadow: 8px 8px $black;
	}

	&--mauve {
		box-shadow: 8px 8px $mauve;
	}

	&--hot-pink {
		box-shadow: 8px 8px $hot-pink;
	}

	&--crusta {
		box-shadow: 8px 8px $crusta;
	}

	&--lightning-yellow {
		box-shadow: 8px 8px $lightning-yellow;
	}

	&--aquamarine {
		box-shadow: 8px 8px $aquamarine;
	}

	&--green:hover {
		box-shadow: 0 0 $green;
	}

	&--black:hover {
		box-shadow: 0 0 $black;
	}

	&--mauve:hover {
		box-shadow: 0 0 $mauve;
	}

	&--hot-pink:hover {
		box-shadow: 0 0 $hot-pink;
	}

	&--crusta:hover {
		box-shadow: 0 0 $crusta;
	}

	&--lightning-yellow:hover {
		box-shadow: 0 0 $lightning-yellow;
	}

	&--aquamarine:hover {
		box-shadow: 0 0 $aquamarine;
	}
}

.shadow-reverse {
	&--green {
		box-shadow: 8px 8px $green;
	}

	&--black {
		box-shadow: 0px 0px $black;
	}

	&--mauve {
		box-shadow: 0px 0px $mauve;
	}

	&--hot-pink {
		box-shadow: 0px 0px $hot-pink;
	}

	&--crusta {
		box-shadow: 0px 0px $crusta;
	}

	&--lightning-yellow {
		box-shadow: 0px 0px $lightning-yellow;
	}

	&--aquamarine {
		box-shadow: 0px 0px $aquamarine;
	}

	&--green:hover {
		box-shadow: 8px 8px $green;
	}

	&--black:hover {
		box-shadow: 8px 8px $black;
	}

	&--mauve:hover {
		box-shadow: 8px 8px $mauve;
	}

	&--hot-pink:hover {
		box-shadow: 8px 8px $hot-pink;
	}

	&--crusta:hover {
		box-shadow: 8px 8px $crusta;
	}

	&--lightning-yellow:hover {
		box-shadow: 8px 8px $lightning-yellow;
	}

	&--aquamarine:hover {
		box-shadow: 8px 8px $aquamarine;
	}
}

@media screen and (min-width: $large) {
	.shadow {
		&--black {
			box-shadow: 32px 32px $black;
		}

		&--mauve {
			box-shadow: 32px 32px $mauve;
		}

		&--hot-pink {
			box-shadow: 32px 32px $hot-pink;
		}

		&--crusta {
			box-shadow: 32px 32px $crusta;
		}

		&--lightning-yellow {
			box-shadow: 32px 32px $lightning-yellow;
		}

		&--aquamarine {
			box-shadow: 32px 32px $aquamarine;
		}
	}

	.shadow-reverse {
		&--black:hover {
			box-shadow: 32px 32px $black;
		}

		&--mauve:hover {
			box-shadow: 32px 32px $mauve;
		}

		&--hot-pink:hover {
			box-shadow: 32px 32px $hot-pink;
		}

		&--crusta:hover {
			box-shadow: 32px 32px $crusta;
		}

		&--lightning-yellow:hover {
			box-shadow: 32px 32px $lightning-yellow;
		}

		&--aquamarine:hover {
			box-shadow: 32px 32px $aquamarine;
		}
	}
}
