@mixin anchor {
	color: $black;
	cursor: pointer;
	font-weight: 700;
	text-decoration: none;
	transition: opacity $timing-default ease-in;
}

h1,
h2 {
	text-transform: uppercase;
}

h1 span:after,
h2 span:after {
	content: "_";
	color: $white;
	display: inline-block;
}

h1 span:nth-child(odd),
h1 span:nth-child(even),
h2 span:nth-child(odd),
h2 span:nth-child(even) {
	color: $white;
}

h1 span:nth-child(odd),
h2 span:nth-child(odd) {
	font-family: $brand-sans;
	font-weight: 400;
}

h1 span:nth-child(even),
h2 span:nth-child(even) {
	font-family: $brand-serif;
}

a {
	@include anchor;
}

@mixin state-active {
	outline: 4px dashed $black !important;
	outline-offset: 2px !important;
}

@mixin state-focus {
	outline: 4px solid $black !important;
	outline-offset: 2px !important;
}

button:active,
input:active,
a:active {
	@include state-active;
}

button:focus,
input:focus,
a:focus {
	@include state-focus;
}

h1,
h2,
h3,
h4,
h5,
h6,
small {
	display: block;
	font-family: $sans;
	font-weight: 700;
	line-height: initial;
	text-rendering: optimizeLegibility;
}

h1 {
	font-size: $font-size-40;
}

h2 {
	@include heading-2;
}

h3 {
	font-size: $font-size-24;
}

strong,
.font-weight-700 {
	font-weight: 700;
}

.font-weight-300 {
	font-weight: 300;
}

.font-weight-400 {
	font-weight: 400;
}

@media screen and (min-width: $large) {
	h1 {
		font-size: $font-size-56;
	}
}

/* font family */
.sans {
	font-family: $sans;
}

.font-size-1 {
	font-size: $font-size-48;
}

.font-size-2 {
	font-size: $font-size-40;
}

.font-size-3 {
	font-size: $font-size-32;
}

.font-size-4 {
	font-size: $font-size-24;
}

.font-size-5 {
	font-size: $font-size-20;
}

.font-size-6 {
	font-size: $font-size-16;
}

.font-size-7 {
	font-size: $font-size-14;
}

.font-size-8 {
	font-size: $font-size-12;
}

.font-size-9 {
	font-size: $font-size-10;
}
