.background-color-black {
    background-color: $black;
}

.background-color-yellow {
    background-color: $dcdw-2021-yellow;
}

.background-color-cinnabar {
    background-color: $dcdw-2021-cinnabar;
}

.background-color-celeste {
    background-color: $dcdw-2021-celeste;
}

.text-color-black {
    color: $black;
}

.text-color-cinnabar {
    color: $dcdw-2021-cinnabar;
}

.text-color-celeste {
    color: $dcdw-2021-celeste;
}

.text-color-white {
    color: $white;
}

.text-color-yellow {
    color: $dcdw-2021-yellow;
}
