.ornament {
    align-items: start;
    display: flex;
    flex-direction: row;
    gap: var(--space-24);
}

.hero-home .ornament {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--index-6);
}

.ornament-diagonal-red-shape {
    position: absolute;
    top: -10px;
    left: -320px;
}

@media screen and (min-width: 768px) {
    .ornament-diagonal-red-shape {
        top: -20px;
        left: -450px;
    }
}

@media screen and (min-width: 1024px) {
    .ornament-diagonal-red-shape {
        top: 10px;
        left: -400px;
    }
}

@media screen and (min-width: 1366px) {
    .ornament-diagonal-red-shape {
        top: 90px;
        left: -140px;
    }
}
