.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--index-10);
}

.overlay--beige {
    background-color: var(--beige);
}

.overlay--black {
    background-color: var(--black);
}

.overlay--celeste {
    background-color: var(--celeste);
}

.overlay--cinnabar {
    background-color: var(--cinnabar);
}

.overlay--purple {
    background-color: var(--purple);
}

.overlay--yellow {
    background-color: var(--yellow);
}
