.pattern {
    align-items: start;
    display: flex;
    flex-direction: column;
    opacity: 0.75;
    position: absolute;
}

.pattern-left {
    left: 0;
}

.pattern-right {
    right: 0;
    display: none;
}

.pattern-hyperlocal {
    opacity: 0.25;
}

.pattern-hyperlocal svg,
.pattern-inspired svg {
    width: 100%;
    height: 100%;
}

.pattern-hyperlocal,
.pattern-inspired {
    top: 0;
}

@media screen and (min-width: 1366px) {
    .pattern-right {
        display: block;
    }

    .pattern-hyperlocal svg,
    .pattern-inspired svg {
        width: 580px;
    }
}
