.pattern {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0.25;
}

.pattern-hyperlocal svg {
    width: 95vw;
    height: 100%;
}

.pattern-inspired {
    top: 0;
    left: 0;
}

@media screen and (min-width: 960px) {
    .pattern-hyperlocal svg {
        width: 50vw;
    }

    .pattern-hyperlocal {
        right: 0;
        top: -24px;
    }
}

@media screen and (min-width: 1366px) {
    .pattern-hyperlocal svg {
        width: 680px;
    }
}
