.font-bayard {
    font-family: var(--font-bayard);
}

.font-poppins {
    font-family: var(--font-poppins);
}

h1 {
    font-size: var(--font-size-56);
}

h2 {
    font-size: var(--font-size-32);
}

.text-center {
    text-align: center;
}
