<script>
  $(document).ready(function () {
    var movementStrength = 7;
    var height = movementStrength / $(window).height();
    var width = movementStrength / $(window).width();


    $(document).mousemove(function (e) {
      $(".face").each(function () {
        var y = $(this).offset().top
        var x = $(this).offset().left
        var pageX = e.pageX - x - ($(window).width() / 2);
        var pageY = e.pageY - y - ($(window).height() / 3);
        var newvalueX = width * pageX * 1 + 1;
        var newvalueY = height * pageY * 1 + 1;
        $(this).css("background-position",
          // nose
          "calc(40% + " + newvalueX + "px)" + " calc(50% + " + newvalueY + "px / 6), "
          // mouth
          +
          "calc(40% + " + newvalueX + "px / -2)" + " calc(50% + " + newvalueY + "px / -2), "
          // eyebrows
          +
          "calc(40% + " + newvalueX + "px / 2)" + " calc(50% + " + newvalueY + "px * 2 - 6px), "
          // eyes
          +
          "calc(40% + " + newvalueX + "px * 2.5 )" + " calc(50% + " + newvalueY + "px), "
          // highlights
          +
          "calc(40% + " + newvalueX + "px / 3)" + " calc(50% + " + newvalueY + "px / 5), "
          // base
          +
          "calc(40% + " + newvalueX + "px / -2)" + " calc(50% + " + newvalueY + "px)");
      });
    });
  });
</script>