<!-- featured: home events -->
<section class="events mb5 mb6-ns cf relative">
  <div class="mw8 center pa3">
    <h2>{{ page.home-events-header }}</h2>
    <hr>
    <ul class="list ma0 mb4 pa0 flex flex-column flex-row-l flex-wrap">
      {% assign sorted_events = site.events %}
      {% for posts in sorted_events %}
      {% if posts.is-featured-on-home-page == true %}
      <a class="event-url w-100 w-third-l relative mb4 mb0-l pa0 pa3-l" href="{{posts.url}}">
        <li class="event-card list-none ma0 pa0 ba bw2 cloud border border--cloud shadow-reverse shadow-reverse--dcdw-secondary">
          {% include partials/events/events-card-contents.html %}
        </li>
      </a>
      {% endif %}
      {% endfor %}
    </ul>
    <a class="btn btn--primary-border db dib-ns ma0 tc tl-ns" href="{{ page.home-events-url }}">
      {{page.home-events-button-text}}
    </a>
  </div>
</section>