<!-- featured: sponsors -->
<section class="mb5 mb6-l cf relative">
  <h2>Partners</h2>
  <hr>
  <ul class="list ma0 pa0 flex flex-column flex-row-ns flex-wrap">
    {% assign sorted_sponsors = site.sponsors %}
    {% for posts in sorted_sponsors %}
    {% if posts.is-featured-on-shops-galleries-page == true %}
    {% include partials/sponsors/tiers/content.html %}
    {% endif %}
    {% endfor %}
  </ul>
  <a href="mailto:{{ page.third-tier-button-url }}" target="_top" class="btn btn--primary-border">
    Button Text{{ page.third-tier-button }}
  </a>
</section>