// TODO: Update references to Houdini

.mambo-accordion-group > *:not(:last-child) {
    margin-bottom: -1px;
}

.mambo-accordion__header,
.houdini-heading .houdini-toggle {
    width: 100%;
}

.houdini-heading .houdini-toggle {
    align-items: center;
    background-color: transparent;
    border: solid 1px var(--black);
    color: currentColor;
    display: flex;
    justify-content: space-between;
    padding: var(--space-16);
    text-align: left;
}

.houdini-toggle-icon {
    display: inline-block !important;
}

.mambo-accordion__content {
    display: none;
}

.mambo-accordion__content.is-expanded,
.houdini.is-expanded {
    display: block;
    border: solid 1px var(--black);
    margin-top: -1px;
    padding: var(--space-16);
}
