// Shoutouts to Mary Lou for the awesome write up to build a css only marquee:
// https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/

:root {
    --offset: 5vw;
    --move-initial: calc(25% + var(--offset));
    --move-final: calc(-150% + var(--offset));
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --offset: 90vw;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-75% + var(--offset));
    }
}

.banner {
    border: solid 1px var(--black);
    color: var(--black);
    font-family: var(--font-bayard);
    padding: 0px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-transform: uppercase;
    z-index: var(--index-6);
}

.events-single-layout .banner {
    top: 0;
    bottom: unset;
    border: 0;
}

.banner-inner {
    text-align: center;
}

.banner-inner p {
    font-size: var(--font-size-20);
}

.banner--beige {
    background-color: var(--beige);
}

.banner--celeste {
    background-color: var(--celeste);
}

.banner--cinnabar {
    background-color: var(--cinnabar);
}

.banner--purple {
    background-color: var(--purple);
    border-color: var(--black);
}

.banner--yellow {
    background-color: var(--yellow);
}
