// Shoutouts to Mary Lou for the awesome write up to build a css only marquee:
// https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/

:root {
    --offset: 4vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-75% + var(--offset));
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --offset: 4vw;
        --move-initial: calc(-25% + var(--offset));
        --move-final: calc(-75% + var(--offset));
    }
}

.banner {
    border: solid 1px var(--black);
    color: var(--black);
    font-family: var(--font-bayard);
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    text-transform: uppercase;
}

.banner-inner {
    display: grid;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: banner 10s linear infinite;
    animation-play-state: running;
    grid-template-columns: repeat(4, max-content);
}

.banner:hover .banner-inner {
    animation-play-state: paused;
}

@keyframes banner {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.banner--black {
    background-color: var(--black);
    color: var(--celeste);
}

.banner--beige {
    background-color: var(--beige);
}

.banner--celeste {
    background-color: var(--celeste);
}

.banner--cinnabar {
    background-color: var(--cinnabar);
}

.banner--purple {
    background-color: var(--purple);
}

.banner--yellow {
    background-color: var(--yellow);
}
