.button {
    border: solid 4px transparent;
    display: block;
    font-weight: 700;
    padding: var(--space-8) var(--space-16);
    text-align: center;
    text-decoration: none;
}

.button-solid--cinnabar {
    background-color: var(--cinnabar);
    color: var(--black);
}

.button-border--cinnabar {
    border-color: var(--cinnabar);
    color: var(--cinnabar);
}

.button-link--cinnabar {
    color: var(--cinnabar);
}

.button-solid--cinnabar:hover,
.button-border--cinnabar:hover,
.button-link--cinnabar:hover {
    background-color: transparent;
    border: solid 4px var(--cinnabar);
    color: var(--cinnabar);
    cursor: pointer;
}

.button-solid--yellow {
    background-color: var(--yellow);
    color: var(--black);
}

.button-border--yellow {
    border-color: var(--yellow);
    color: var(--black);
}

.button-link--yellow {
    color: var(--yellow);
}

.button-solid--yellow:hover,
.button-border--yellow:hover,
.button-link--yellow:hover {
    background-color: transparent;
    border: solid 4px var(--yellow);
    color: var(--yellow);
    cursor: pointer;
}

.button-solid--black::selection,
.button-border--black::selection,
.button-link--black::selection,
.button-solid--yellow::selection,
.button-border--yellow::selection,
.button-link--yellow::selection,
.button-solid--cinnabar::selection,
.button-border--cinnabar::selection,
.button-link--cinnabar::selection {
    background-color: unset;
}

@media screen and (min-width: 768px) {
    .button {
        display: inline-block;
    }
}
