.button {
    border: solid 4px transparent;
    display: inline-block;
    font-weight: 700;
    padding: var(--spacing-8) var(--spacing-16);
    text-align: center;
    text-decoration: none;
}

.button-solid--black {
    background-color: var(--black);
    color: var(--white);
}

.button-border--black {
    border-color: var(--black);
    color: var(--black);
}

.button-link--black {
    color: var(--black);
}

.button-solid--black:hover,
.button-border--black:hover,
.button-link--black:hover {
    background-color: transparent;
    border: solid 4px var(--black);
    color: var(--black);
    cursor: pointer;
}

.button-solid--cinnabar {
    background-color: var(--dcdw-2021-cinnabar);
    color: var(--black);
}

.button-border--cinnabar {
    border-color: var(--dcdw-2021-cinnabar);
    color: var(--dcdw-2021-cinnabar);
}

.button-link--cinnabar {
    color: var(--dcdw-2021-cinnabar);
}

.button-solid--cinnabar:hover,
.button-border--cinnabar:hover,
.button-link--cinnabar:hover {
    background-color: transparent;
    border: solid 4px var(--dcdw-2021-cinnabar);
    color: var(--dcdw-2021-cinnabar);
    cursor: pointer;
}

.button-solid--yellow {
    background-color: var(--dcdw-2021-yellow);
    color: var(--black);
}

.button-border--yellow {
    border-color: var(--dcdw-2021-yellow);
    color: var(--black);
}

.button-link--yellow {
    color: var(--dcdw-2021-yellow);
}

.button-solid--yellow:hover,
.button-border--yellow:hover,
.button-link--yellow:hover {
    background-color: transparent;
    border: solid 4px var(--dcdw-2021-yellow);
    color: var(--dcdw-2021-yellow);
    cursor: pointer;
}

.button-solid--black::selection,
.button-border--black::selection,
.button-link--black::selection,
.button-solid--yellow::selection,
.button-border--yellow::selection,
.button-link--yellow::selection,
.button-solid--cinnabar::selection,
.button-border--cinnabar::selection,
.button-link--cinnabar::selection {
    background-color: unset;
}
