.card-aside {
    position: relative;
}

.card-image {
    border: solid 1px var(--black);
    margin-bottom: -1px;
}

.card h3 {
    color: var(--black);
    font-weight: 400;
}

.card-details {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 3fr;
    align-content: center;
}

.card-date {
    position: relative;
}

.card .card-date {
    font-size: var(--font-size-16);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.card .card-date figure {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
}

// .card {
//     @include flex-column;
//     transition: -webkit-filter var(--timing-quick) ease-in;
//     transition: filter var(--timing-quick) ease-in;
//     transition: filter var(--timing-quick) ease-in, -webkit-filter var(--timing-quick) ease-in;
//     position: relative;
// }

// .card a {
//     color: var(--black);
//     text-decoration: none;
// }

// .card a:hover {
//     color: var(--dcdw-2021-cinnabar);
// }

// .card-content {
//     position: relative;
// }

// // .card figure img {
// //     mix-blend-mode: luminosity;
// //     aspect-ratio: 16/9;
// //     max-height: 200px;
// //     object-fit: cover;
// //     object-position: center;
// //     width: 100%;
// // }

// .card-image {
//     border: solid 4px var(--black);
// }

// .card h3 {
//     font-family: var(--font-poppins);
//     text-transform: uppercase;
// }

// .card-title {
//     border: solid 4px var(--black);
//     margin-top: -4px;
//     padding: var(--space-16);
// }

// .card-description {
//     padding: var(--space-16);
// }

// .card-meta {
//     align-items: center;
//     display: flex;
//     gap: 48px;
//     padding: 0 var(--space-16);
//     position: relative;
// }

// .card-date-block {
//     background-color: var(--dcdw-2021-yellow);
//     padding: var(--space-32);
//     position: relative;
//     clip-path: polygon(13% 15%, 5% 66%, 21% 94%, 42% 82%, 80% 90%, 95% 48%, 70% 30%, 76% 20%);
// }

// .card-day,
// .card-date {
//     font-weight: 700;
//     text-transform: uppercase;
// }

// // Card Title Description
// .card-title-description .card-title {
//     border: none;
//     margin-top: 0;
//     padding: var(--space-16) 0;
// }

// .card-title-description .card-description {
//     padding: var(--space-16) 0;
// }

// // Card Committee
// .card-committee {
//     text-align: center;
// }

// .card-committee .card-image {
//     max-height: 200px;
// }

// .card-committee .card-title {
//     border: none;
//     margin-top: 0;
// }

// .card-committee .card-links {
//     padding: 0 var(--space-16);
// }

// .card-committee .card-links li {
//     list-style: none;
// }

// .card-committee .card-links .anchor {
//     align-items: center;
//     display: flex;
//     gap: 8px;
//     max-width: 16ch;
//     margin: auto;
// }

// .card-committee .card-links .svg-inline--fa {
//     height: 16px;
//     width: 16px;
//     text-align: center;
// }
