.card-aside {
    position: relative;
}

.card-image {
    border: solid 1px var(--black);
    margin-bottom: -1px;
}

.card-image img {
    min-height: 288px;
    object-fit: cover;
    object-position: center;
}

.home-layout .section-events .card--event a {
    display: block;
    color: var(--celeste);
}

.events-layout .section-events .card--event a {
    display: block;
    color: var(--black);
}

.home-layout .section-events .card-header h3,
.events-layout .section-events .card-header h3 {
    font-weight: 400;
}

.card-details {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 3fr;
    align-content: center;
}

.card-date {
    font-size: var(--font-size-16);
    font-weight: 700;
    letter-spacing: -0.5px;
    position: relative;
    text-transform: uppercase;
}

.home-layout .card-date {
    color: var(--black);
}

.card-date::before {
    content: '';
    height: 80px;
    width: 80px;
    position: absolute;
    inset: 0;
    top: -10px;
    left: -16px;
    background-color: var(--beige);
    z-index: -10;
    clip-path: polygon(7% 0, 93% 11%, 86% 31%, 100% 54%, 93% 89%, 25% 96%, 24% 100%, 0 79%);
}

.card-date figure {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-committee img {
    mix-blend-mode: luminosity;
}

.card-committee h3,
.card-committee p {
    font-size: var(--font-size-16);
}
