.card-aside {
    position: relative;
}

.card-image {
    border: solid 1px var(--black);
    margin-bottom: -1px;
}

.card-image img {
    min-height: 288px;
    object-fit: cover;
    object-position: center;
}

.home-layout .section-events .card--event a {
    display: block;
    color: var(--celeste);
}

.events-layout .section-events .card--event a {
    display: block;
    color: var(--black);
}

.home-layout .section-events .card-header h3,
.events-layout .section-events .card-header h3 {
    font-weight: 400;
}

.card-details {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 3fr;
    align-content: center;
}

.card-date {
    font-size: var(--font-size-16);
    font-weight: 700;
    letter-spacing: -0.5px;
    position: relative;
    text-transform: uppercase;
}

.card-date figure {
    position: absolute;
    top: -16px;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-committee img {
    mix-blend-mode: luminosity;
}

.card-committee h3,
.card-committee p {
    font-size: var(--font-size-16);
}
