.container {
    margin: 0 auto;
    position: relative;
    z-index: $index-1;
    max-width: 1366px;

    &--tight {
        max-width: 48ch;
    }

    &--default {
        max-width: 1280px;
    }

    &--wide {
        max-width: 96ch;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

.container > *:not(:first-child) {
    margin-top: $spacing-24;
}
