.container {
    margin: auto;
    max-width: 1366px;
    position: relative;
    z-index: var(--index-1);

    &--tight {
        max-width: 48ch;
    }

    &--default {
        max-width: 72ch;
    }

    &--wide {
        max-width: 96ch;
    }

    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}

.container > *:not(:first-child) {
    margin-top: var(--space-24);
}
