.container {
    margin: auto;
    max-width: 1366px;
    padding: var(--space-64) var(--space-32);
    position: relative;
    z-index: var(--index-1);
}

@media screen and (min-width: 1023px) {
    .container {
        padding: var(--space-144) var(--space-64);
    }
}
