.container {
    margin: auto;
    max-width: 1366px;
    padding: var(--space-64) var(--space-32);
    position: relative;
    z-index: var(--index-1);
}

.about-layout .container,
.events-layout .container,
.faqs-layout .container,
.makers-layout .container {
    padding: var(--space-64) var(--space-32);
}

@media screen and (min-width: 1023px) {
    .container {
        padding: var(--space-200) var(--space-64);
    }

    .about-layout .container,
    .events-layout .container,
    .faqs-layout .container,
    .makers-layout .container {
        padding: var(--space-96) var(--space-64) var(--space-200) var(--space-64);
    }

    .section-subscribe .container {
        padding: var(--space-200) var(--space-64) var(--space-96) var(--space-64);
    }
}
