.divider {
    border: 0;
    display: inline-block;
    height: 4px;
    margin: auto;
    max-width: 40px;
    width: 100%;

    &--black {
        background-color: var(--black);
    }

    &--celeste {
        background-color: var(--celeste);
    }

    &--cinnabar {
        background-color: var(--cinnabar);
    }

    &--purple {
        background-color: var(--purple);
    }

    &--yellow {
        background-color: var(--yellow);
    }
}
