.filter-events__reset.control-group .button {
    width: 100%;
}

.mixitup-container-failed::after {
    content: "No events found, please refine the selected options";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}
