.filter-events fieldset {
    border: solid 4px var(--black);
    display: flex;
    flex-direction: column;
    margin: unset 0 !important;
    padding: var(--space-16) !important;
}

.filter-events .button {
    width: 100%;
}

.radio-group {
    display: none;
}

.select-group {
    display: block;
}

.select-group select {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .radio-group {
        display: block;
    }
    
    .select-group {
        display: none;
    }
}
