

.filter-events .button {
    width: 100%;
}

.radio-group {
    display: none;
}

.select-group {
    display: block;
}

.select-group select {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    // .radio-group {
    //     display: block;
    // }
    
    .select-group {
        display: none;
    }
}
