.site-footer {
    position: relative;
    overflow: hidden;
}

.site-footer a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}

.site-footer .svg-inline--fa {
    display: block;
    font-size: var(--font-size-32);
}

.site-footer li {
    display: inline-block;
}

.footer-content {
    align-items: center;
    background-color: var(--celeste);
    border-top: solid 1px var(--black);
    color: var(--black);
    display: grid;
    grid-gap: var(--space-16);
    grid-template-columns: 1fr;
    padding: var(--space-16);
    position: relative;
    z-index: 10;
}
@media screen and (min-width: 1280px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
        padding: var(--space-16) var(--space-64);
    }

    .site-footer ul {
        text-align: center;
    }

    .site-footer a:last-child {
        display: block;
        text-align: right;
    }
}
