.site-footer {
    position: relative;
    z-index: var(--index-1);
}

.site-footer a {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
}

.site-footer .svg-inline--fa {
    font-size: var(--font-size-32);
}

.site-footer li {
    display: inline-block;
}

.footer-content {
    align-items: center;
    border-top: solid 1px var(--black);
    color: var(--black);
    display: grid;
    grid-gap: var(--spacing-16);
    grid-template-columns: 1fr;
    padding: var(--spacing-16);
    position: relative;
}
@media screen and (min-width: 1280px) {
    .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }

    .site-footer ul {
        text-align: center;
    }

    .site-footer a:last-child {
        display: block;
        text-align: right;
    }
}
