.site-header {
    background-color: var(--celeste);
    border-bottom: solid 1px var(--black);
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
    justify-content: space-between;
    padding: var(--space-24);
    position: sticky;
    top: 0;
    z-index: var(--index-10);
}

.site-header .logo {
    padding: var(--space-8);
}

.site-header svg {
    display: block;
    fill: var(--black);
    margin: auto;
    max-width: 120px;
}

.site-header .links {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.site-header .link {
    text-align: center;
}

.site-header .link a {
    display: block;
    color: var(--black);
    font-weight: 700;
    padding: var(--space-16);
    text-decoration: none;
}

.site-header .link a:hover {
    color: var(--cinnabar);
}

@media screen and (min-width: 1280px) {
    .site-header {
        align-items: center;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: var(--space-32);
        padding: var(--space-32) var(--space-64);
    }

    .site-header nav {
        display: block;
    }

    // show site navigation when screen is > 1024px
    .site-header nav {
        gap: var(--space-32);
        text-align: right;
    }

    .link {
        display: inline-block;
    }
}
