header {
    align-items: center;
    background-color: var(--beige);
    border-bottom: solid 4px var(--black);
    color: var(--black);
    display: grid;
    grid-gap: var(--space-16);
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    mix-blend-mode: unset !important;
    padding: var(--space-16);
    position: sticky;
    top: 0;
    z-index: var(--index-10);
}

header svg {
    display: block;
    fill: var(--black);
}

header nav a {
    color: var(--black);
    font-weight: 700;
    padding: var(--space-8);
    text-decoration: none;
}

header nav a:hover {
    color: var(--cinnabar);
}

header nav .link:not(:last-child) {
    margin-right: var(--space-16);
}

header nav {
    display: none;
}

@media screen and (min-width: 960px) {
    header nav ul li {
        display: inline-block;
    }
}

@media screen and (min-width: 1280px) {
    header {
        align-items: center;
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-gap: var(--space-32);
        padding: var(--space-16) var(--space-64);
    }

    header nav {
        display: block;
    }

    // show site navigation when screen is > 1023
    header nav {
        gap: var(--space-32);
        text-align: right;
    }

    .link {
        display: inline-block;
    }
}
