.site-header {
    align-items: center;
    background-color: var(--dcdw-2021-celeste);
    border-bottom: solid 4px var(--black);
    display: grid;
    grid-gap: var(--spacing-16);
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    mix-blend-mode: unset !important;
    padding: var(--spacing-16);
    z-index: var(--index-4);
}

.site-header__logo svg {
    display: block;
}

.site-header__navigation a {
    color: var(--black);
    font-weight: 700;
    padding: var(--spacing-8);
    text-decoration: none;
}

.site-header__navigation a:hover {
    color: var(--dcdw-2021-cinnabar);
}

.site-header__navigation .link:not(:last-child) {
    margin-right: var(--spacing-16);
}

.site-header__navigation,
.site-header__cta {
    display: none;
}

@media screen and (min-width: 960px) {
    .site-header__navigation ul li {
        display: inline-block;
    }
}

@media screen and (min-width: 1280px) {
    .site-header {
        align-items: center;
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        grid-gap: var(--spacing-32);
    }

    .site-header__navigation,
    .site-header__cta {
        display: block;
    }

    // show site navigation when screen is > 1023
    .site-header__navigation {
        gap: var(--spacing-32);
        text-align: right;
    }

    .link {
        display: inline-block;
    }
}
