.events-layout .section-hero {
    overflow: hidden;
}

.section-subscribe {
    overflow: hidden;
}

// .events,
// .hyperlocal {
//     background-image: url('/uploads/rip-bottom-celeste.svg');
//     background-position: center;
//     background-size: cover;
// }

// .ghostnote,
// .staff {
//     background-image: url('/uploads/rip-both-celeste.svg');
//     background-position: center;
//     background-size: cover;
// }

.subscribe {
    overflow: hidden;
}

// section figure {
//     display: none;
// }

// @media screen and (min-width: 1024px) {
//     section figure {
//         display: block;
//     }
// }
