.section {
    position: relative;
}

.section > .container {
    padding: var(--space-64) var(--space-32);
    position: relative;
}

.section-committee,
.section-events,
.section-faqs,
.section-hero ,
.section-sponsors {
    z-index: var(--index-6);
}

.events-layout .section-events {
    z-index: var(--index-5);
}

.section-subscribe {
    overflow: hidden;
}

@media screen and (min-width: 1023px) {
    .section > .container {
        padding: var(--space-144) var(--space-64);
    }

    .section-subscribe > .container {
        padding: var(--space-144) var(--space-64) var(--space-72) var(--space-64);
    }
}
