.speakers .container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.speaker-tabs {
    border: none !important;
    padding: 0 var(--space-64) !important;
}

.speaker-tab {
    position: relative;
}

.speaker-tab a[role="tab"] {
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    color: var(--celeste);
    display: block !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    margin-bottom: var(--space-24) !important;
    text-decoration: none;
}

.speaker-tab a[role="tab"]:hover:not([aria-selected="true"]) {
    background-color: transparent !important;
}

.speaker-tab a[role="tab"][aria-selected="true"] {
    background-color: transparent !important;
    border: 0 !important;
}

.speaker-tab a[aria-selected="true"]::after {
    content: "";
    height: 8px;
    width: 100%;
    position: absolute;
    background-color: var(--black);
    z-index: 100;
    bottom: -32px;
    left: 0;
}

.speaker-bio {
    padding: var(--space-64) var(--space-64) var(--space-120) var(--space-64);
    position: relative;
}
