.sponsors-tier {
    position: relative;
}

.sponsors-tier h3 {
    color: var(--black);
    position: relative;
}

.sponsors-tier h3 svg {
    position: absolute;
    top: -32px;
    bottom: 0;
    left: -40px;
    z-index: -10;
    width: auto;
    max-width: 400px;
    height: 120px;
}

.sponsors-tier-1 h3 svg,
.sponsors-tier-3 h3 svg,
.sponsors-tier-4 h3 svg {
    top: -16px;
}

.sponsors-tier-1 ul,
.sponsors-tier-2 ul,
.sponsors-tier-3 ul,
.sponsors-tier-4 ul {
    position: relative;
}

.sponsors-tier-1 ul svg,
.sponsors-tier-2 ul svg,
.sponsors-tier-3 ul svg,
.sponsors-tier-4 ul svg {
    position: absolute;
    top: -64px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}
