/* partners */
.about__partners-list {

}

/* committee */
.about__committee-list {
    display: grid;
    grid-gap: $spacing-32;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 767px) {
    .about__committee-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1023px) {
    .about__committee-list {
        grid-template-columns: repeat(3, 1fr);
    }
}