/* Events Page */

.events__filter {
    margin-bottom: $spacing-32;
}
.events__filter .control-group {
    border: none;
}
.events__filter-date.control-group, .events__filter-reset.control-group {
    display: flex;
    flex-wrap: wrap;
    border: none;
}
.events__filter-reset.control-group {
    padding: $spacing-8;
}
.events__filter-date .control-text-1, .events__filter-date .control-text-2, .events__filter-date .control-text-3 {
    display: block;
}
.events__filter-date .control-text-1, .events__filter-date .control-text-3 {
    font-size: $font-size-24;
}
.events__filter-date .control-text-2 {
    font-size: $font-size-16;
    text-transform: uppercase;
}
.events__filter-date .control-text-2 {
    margin: $spacing-8 0;
}
.events__filter-date .control-text-3 {
    font-weight: 700;
}
.events__filter-additional {
    background-color: $mauve-light;
    padding: $spacing-8;
}
.events__accordion-content {
    padding: $spacing-16 0 0 0;
}
.events__filter-additional-header {
    width: 100%;
    font-size: $font-size-16;
    font-weight: 700;
}
.events__filter-additional .houdini-toggle-icon {
    text-align: right;
    padding: $spacing-8;
}
/* Events Single Page */

.events-single-layout .event-hero {
    min-height: 50vh;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
}
.event-hero__content {
    color: $black;
    position: relative;
    z-index: $index-3;
}
.event-details {
    background-color: $lightning-yellow-light;
}
.event-details small {
    font-size: $font-size-20;
    font-weight: 700;
}