/* Events Single Page */
.events-single-layout .event-hero {
    min-height: 40vh;
    display: flex;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
}
.event-hero__content {
    color: $black;
    position: relative;
    width: 100%;
    z-index: $index-3;
}
.event-hero__content a.button {
    margin-top: 0;
}
.event-hero__overlay {
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
.event__details {
    background-color: $lightning-yellow-light;
}
.event__details small {
    font-family: $sans;
    font-size: $font-size-20;
    font-weight: 700;
}
.event__details p {
    margin: $spacing-8 0;
}
.events-single-layout video {
    margin-bottom: $spacing-32;
}
.event__speaker {
    font-size: $font-size-16;
}
.event__speaker h3 {
    font-size: $font-size-24;
}