.home-hero__content {
	background-color: $black;
	color: $white;
	padding: $spacing-24;
	position: relative;
	text-align: center;
}
.home-hero__content {
	font-weight: 700;
}
.home-hero__content h1 {
	font-size: $font-size-40;
	margin-bottom: 0;
	margin-top: -0.25rem;
}
.home-hero__content p {
	margin: $spacing-8 0;
}
.home-hero__content a {
	margin-bottom: $spacing-40;
}
@media screen and (min-width: $break-3) {
	.home-hero__content {
		padding: $spacing-48;
	}
	.home-hero h1 {
		font-size: 72px;
		line-height: 1;
		/* ie11 */
		line-height: initial;
		margin-bottom: -1rem;
		margin-top: -1rem;
	}
}
