.call-for-artists {
	display: grid;
	grid-template-columns: 1fr;
	margin-top: $spacing-48;
}
.call-for-artists .column-2 {
	margin-top: $spacing-24;
	padding: $spacing-16;
}
.call-for-artists hr {
	border-color: $black;
}
@media screen and (min-width: $large) {
	.call-for-artists {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 204px 1fr 72px;
	}
	.call-for-artists .column-1 {
		grid-column: 1/5;
		grid-row: 1 / span 2;
	}
	.call-for-artists .column-2 {
		grid-column: 2/4;
		grid-row: 2 / span 2;
		z-index: $index-4;
		background-color: $white;
		padding: $spacing-32;
	}
}
