.bubbles {
	position: relative;
	z-index: $index-3;
	display: none;
}

.bubble-group-event-introduction-about,
.bubble-group-introduction-about,
.bubble-group-introduction-1,
.bubble-group-introduction-2,
.bubble-group-partnerus-1,
.bubble-group-partnerus-2,
.bubble-group-a11y,
.bubble-group-sponsors,
.bubble-group-subscribe,
.bubble-group-info,
.bubble-capitol-building {
	position: absolute;
	z-index: $index-3;
}

.bubble-group-event-introduction-about,
.bubble-group-introduction-2,
.bubble-group-introduction-about,
.bubble-group-partnerus-1,
.bubble-group-partnerus-2,
.bubble-group-subscribe,
.bubble-group-info,
.bubble-group-a11y,
.bubble-capitol-building {
	display: none;
}

.bubble-group-introduction-1 {
	max-width: 150px;
	top: -100px;
	right: 50px;
}

.bubble-group-partnerus-2 {
	bottom: 0;
	right: -100px;
}

.bubble-group-sponsors {
	top: -250px;
	right: 0;
}

@media screen and (min-width: 1023px) {

	.bubble-group-event-introduction-about,
	.bubble-group-introduction-2,
	.bubble-group-introduction-about,
	.bubble-group-partnerus-1,
	.bubble-group-partnerus-2,
	.bubble-group-a11y,
	.bubble-group-subscribe,
	.bubble-group-info,
	.bubble-capitol-building {
		display: block;
	}

	.bubble-group-introduction-1 {
		max-width: 250px;
		top: -150px;
		right: 150px;
	}

	.bubble-group-introduction-2 {
		bottom: -200px;
		right: -150px;
	}

	.home-layout .bubble-group-introduction-2 {
		top: 100px;
		right: -150px;
	}

	.bubble-group-event-introduction-about {
		top: -1000px;
		right: -250px;
		width: 600px;
	}

	.bubble-group-introduction-about {
		top: -350px;
		left: 0;
		width: 90%;
	}

	.bubble-group-partnerus-1 {
		top: -150px;
		left: 0px;
	}

	.bubble-group-partnerus-2 {
		bottom: -150px;
		right: 0;
	}

	.bubble-group-sponsors {
		top: -150px;
		left: -50px;
	}

	.bubble-group-a11y {
		top: -250px;
		right: 0;
		width: 200px;
	}

	.bubble-group-subscribe {
		top: -160px;
		left: -100px;
	}

	.bubble-group-info {
		top: -160px;
		right: -100px;
	}

	.bubble-capitol-building {
		width: 400px;
		bottom: -150px;
		transform: rotate(6deg);
		left: 100px;
	}
}

@media screen and (min-width: 1279px) {
	.bubble-group-event-introduction-about {
		top: -750px;
		right: 0;
		width: 750px;
	}
}
