.button {
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 0 !important;
    display: inline-block;
    font-family: $font-poppins;
    font-weight: 700;
    text-decoration: none;
    padding: $spacing-8;

    &__solid--black {
        background-color: $black;
        color: $dcdw-2021-yellow;
    }

    &__border--black {
        border-color: $black;
        color: $black;
    }

    &__link--black {
        color: $black;
    }

    &__solid--yellow {
        background-color: $dcdw-2021-yellow;
        color: $black;
    }

    &__border--yellow {
        border-color: $dcdw-2021-yellow;
        color: $black;
    }

    &__link--yellow {
        color: $dcdw-2021-yellow;
    }
}
