.card {
	display: flex;
	flex-direction: column;
}

.card a {
	display: block;
	margin: 0;
}

.card.card--committee {
	padding-top: 2rem;
	flex-direction: column;
}

.card-image {
	position: relative;
	max-width: 100%;
}

.card.card--event figure img {
	height: 288px;
	width: 100%;
	width: 100vw;
	-o-object-fit: cover;
	object-fit: cover;
	filter: grayscale(1);
}

.card-details {
	color: $white;
	padding: $spacing-16 0;
}

.card-details h3 {
	font-size: $font-size-20;
}

.card-details p {
	font-size: $font-size-16;
	margin: 0 0 $spacing-8 0;
}

.card__sponsors .card-details,
.card__partners .card-details {
	padding: 0;
}

.card__sponsors--contributing {
	padding: 0 $spacing-16;
}

.card--committee .card-details h3 {
	margin-top: $spacing-32;
}

.past-event {
	opacity: 0.5;
}

/* ticker */

.ticker {
	background-color: $black;
	color: $black;
	letter-spacing: 1px;
	overflow: hidden;
	padding: $spacing-4;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.carnegie-layout .ticker p,
.home-layout .ticker p,
.events-layout .ticker p,
.events-single-layout .ticker p {
	display: inline-block;
	font-size: $font-size-20;
	margin: 0;
	text-align: left;
	white-space: nowrap;
	transform: translateX(100%);
	width: 100%;
}

.carnegie-layout .ticker p,
.home-layout .ticker p,
.events-layout .ticker p {
	-webkit-animation: ticker 10000ms linear infinite;
	animation: ticker 10000ms linear infinite;
}

.events-single-layout .ticker p {
	-webkit-animation: ticker 20000ms linear infinite;
	animation: ticker 20000ms linear infinite;
}

/* Move it (define the animation) */
@-webkit-keyframes ticker {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}

@keyframes ticker {
	0% {
		/* Firefox bug fix */
		/* Firefox bug fix */
		transform: translateX(100%);
	}
	100% {
		/* Firefox bug fix */
		/* Firefox bug fix */
		transform: translateX(-100%);
	}
}

/* diamond images */

.diamond-image-border {
	transform: rotate(45deg);
	width: 150px;
	height: 150px;
	border: solid 5px $black;
	margin: 0 auto;
}

.diamond {
	transform-origin: 50% 50%;
	width: 135px;
	height: 135px;
	transform: rotate(0deg) translateX(15px) translateY(-15px);
	transition: transform $timing-quick ease-in-out;
	overflow: hidden;
}

.diamond:hover {
	transform: rotate(0deg) translateX(2.5px) translateY(2.5px);
}

.diamond .diamond-los1 {
	width: 100%;
	height: 100%;
	transform: rotate(-45deg) translateY(-140px);
}

.diamond .diamond-los1 img {
	min-width: 155%;
	position: absolute;
	top: 100px;
	left: -40px;
}

@media screen and (min-width: 1023px) {
	.card {
		flex-direction: initial;
	}
	.card a {
		display: inline-block;
	}
}
