.site-footer {
    @include grid;
    align-items: center;
    border-top: solid 4px $black;
    color: $black;
    grid-template-columns: 1fr;
    padding: $spacing-16;
    position: relative;
    text-align: center;
    z-index: $index-4;
}

.site-footer {
    grid-gap: $spacing-16;
}

.site-footer__social {
    @include grid;
    align-items: center;
    grid-template-columns: 1fr;
    padding: $spacing-8;
}

.site-footer a {
    color: $black;
}

.site-footer .svg-inline--fa {
    font-size: $font-size-32;
}

.site-footer li {
    display: inline-block;
}

@media screen and (min-width: 1023px) {
    .site-footer {
        grid-template-columns: 0.75fr 1fr 0.75fr;
    }

    .site-footer a:first-of-type {
        text-align: left;
    }

    .site-footer .dcdw {
        text-align: right;
    }
}
