.site-footer {
	background-color: $white;
	display: grid;
	grid-gap: $spacing-16;
	grid-template-columns: 1fr;
	align-items: center;
	color: $black;
	justify-content: space-between;
	padding: $spacing-8;
}

.site-footer__social {
	align-items: center;
	background-color: $black;
	display: grid;
	grid-gap:$spacing-8;
	grid-template-columns: 1fr;
	padding: $spacing-8;
	text-align: center;
}

.site-footer a {
	color: $black;
	font-size: $font-size-16;
	text-decoration: none;
}

.site-footer a svg {
	font-size: $font-size-24;
}

.site-footer li {
	display: inline-block;
}

@media screen and (min-width: 962px) {
	.site-footer {
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
	}
	
	.site-footer a:first-of-type {
		text-align: left;
	}
	
	.site-footer a:last-of-type {
		text-align: right;
	}
}
