.grid,
.grid--hero {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: $spacing-32;
	max-width: 1440px;
	margin: auto;
	align-items: start;
	position: relative;
}

.grid-col,
.sub-grid-col {
	position: relative;
}

.grid-col {
	order: 4
}

.grid-col--hide {
	display: none;
}

.grid-col--order-1 {
	order: 1;
}

.grid-col--order-2 {
	order: 2;
}

.order-3 {
	order: 3;
}

.grid-col>*+*,
.wysiwyg>*+* {
	margin-top: $spacing-32;
}

.wysiwyg ul>*+* {
	margin-top: $spacing-16;
}

.grid-col--span-1,
.grid-col--span-2,
.grid-col--span-3,
.grid-col--span-4 {
	grid-column: span 1;
}

.grid-col--span-40,
.grid-col--span-50,
.grid-col--span-60,
.grid-col--span-70,
.grid-col--span-80 {
	width: 100%;
}


.grid-col--max-content {
	grid-column: max-content;
}

@media screen and (min-width: 799px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.grid-col--span-2 {
		grid-column: span 2;
	}

	.grid-col--span-3 {
		grid-column: span 3;
	}

	.grid-col--span-4 {
		grid-column: span 4;
	}
}

@media screen and (min-width: 1023px) {

	.grid,
	.sub-grid,
	.grid--hero {
		grid-template-columns: repeat(4, 1fr);
	}

	.sub-grid {
		display: grid;
		grid-gap: $spacing-32;
		grid-template-rows: 1fr;
		align-items: start;
		height: 100%;
	}

	.grid-col,
	.sub-grid>div {
		height: 100%;
	}

	.grid-col--hide {
		display: block;
	}

	.grid-col--order-1 {
		order: 2;
	}

	.grid-col--order-2 {
		order: 1;
	}

	.grid--hero {
		grid-template-rows: -webkit-max-content;
		grid-template-rows: max-content;
		grid-template-areas:
			"bubble bubble bubble bubble"
			"video video bubble bubble";
	}
}

@media screen and (min-width: 1279px) {
	.grid-col--span-40 {
		width: 40%;
	}

	.grid-col--span-50 {
		width: 50%;
	}

	.grid-col--span-60 {
		width: 60%;
	}

	.grid-col--span-70 {
		width: 70%;
	}

	.grid-col--span-80 {
		width: 80%;
	}
}
