.site-header {
    background-color: $black;
    border-bottom: solid 1px $white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: $index-4;
}

.site-header>.container {
    @include flex-row;
    @include flex-align-center;
    @include flex-justify-space-between;
    margin: auto;
    max-width: 1440px;
    padding: $spacing-16 $spacing-32;
}

// hide site navigation when screen is < 1023
.site-header__navigation {
    display: none;
}

.links {
    text-transform: uppercase;
}

.link {
    display: block;
}

@media screen and (min-width: 1023px) {

    // show site navigation when screen is > 1023
    .site-header__navigation {
        @include flex-row;
        @include flex-align-center;
        @include flex-justify-space-between;
        gap: $spacing-32;
    }

    // remove burger menu when screen is > 1023
    .site-header__menu {
        display: none;
    }

    .link {
        display: inline-block;
    }
}

@media screen and (min-width: 1539px) {
    .site-header>.container {
        padding-left: 0;
        padding-right: 0;
    }
}
