.site-header {
	@include flex-row;
	@include flex-align-center;
	@include flex-justify-space-between;
	@include sticky-top;
	background-color: $white;
	border-bottom: solid 2px $black;
	padding: $spacing-4 $spacing-16;
}

.site-header__navigation {
	@include flex-row;
	@include flex-align-center;
	@include flex-justify-space-between;
	gap: $spacing-32;
}

.site-header__logo {
	max-width: 120px;
}

.site-header__logo svg {
	display: block;
	max-height: 64px;
}

ul {
	margin: 0;
	padding: 0;
}

.site-header .links {
	text-align: right;
}

.site-header .link {
	display: inline-block;
}

.site-header .vertical-divider {
	border: solid 2px lightgray;
	border-radius: 0;
	height: 38px;
	width: auto;
	margin: 0;
}
.site-header__menu {
	display: block;
	text-align: right;
}

.active {
	border-bottom: 4px solid $black;
}

@media screen and (min-width: $break-3) {
	.site-header__links {
		display: block;
	}

	.site-header__menu {
		display: none;
	}
}
