.hero {
	@include flex-row;
	@include flex-align-center;
	background-color: $white;
	min-height: 700px;
	text-align: center;
}

.hero h1 {
	font-weight: 400;
	font-style: italic;
	font-family: $mono;
	margin-bottom: $spacing-40;
}

.hero p {
	font-family: $sans;
}
