.ornaments {
	text-align: right;
}

.dcdw-date-badge {
	display: flex;
	align-items: center;
}

.dcdw-date-badge .month {
	background-color: $green;
	color: $black;
	font-family: $brand-font-terminus;
	font-weight: 800;
	padding: $spacing-8;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 24px;
	grid-template-rows: 24px;
	grid-column-gap: 6px;
	grid-row-gap: 0px;
}

.dcdw-date-badge .month span {
	font-size: $font-size-16;
}

.dcdw-date-badge .day {
	padding: $spacing-16;
	font-size: $font-size-16;
	position: relative;
	z-index: $index-1;
	height: 48px;
	line-height: 1;
	left: -4px;
}

.dcdw-date-badge .day:last-child {
	left: $spacing-4;
}

.dcdw-date-badge .day::before {
	content: '';
	position: absolute;
	border: solid 1px #fff;
	border-radius: 1000px;
	width: 48px;
	height: 48px;
	top: 0;
	left: 0;
	background-color: $black;
	z-index: $index-1;
}

.dcdw-date-badge .day p {
	z-index: $index-1;
	position: relative;
}

.dcdw-date-badge .divider hr {
	border: solid 1px $white;
	width: 8px;
	padding-right: $spacing-4;
}

.ornaments>figure:not(:first-child) {
	margin-top: $spacing-16;
}
