.section {
    overflow: hidden;
    padding: $spacing-64 $spacing-16;
    position: relative;
}

.section__overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.section--partners,
.section--subscribe,
.section--volunteers {
    background-color: $black;
    color: $dcdw-2021-celeste;
}

@media screen and (min-width: 1023px) {
    .section {
        padding: $spacing-120 $spacing-32;
    }
}
