<section class="in-kind-donors mt5">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="fl w-100 w-90-ns">
      <h2 class="text-x-medium ma0">
        Partners
      </h2>
      <hr class="title-divider">
    </div>
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="fl w-100 w-90-ns mt4">
      <ul class="list ma0 pa0">
        {% for posts in site.sponsors %}
          {% if posts.is-featured-on-shops-galleries-page == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="fl w-100 w-10-ns pa1 dn db-l"></div>
    <div class="fl w-100 w-90-ns mt5 mt4-ns">
      <a href="mailto:{{page.third-tier-button-link}}" target="_top" class="text-default blue-underline ma0">
        See Full List
      </a>
    </div>
  </div>
</section>
