<section class="in-kind-donors pb4">
  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-1 py1"></div>
    <div class="sm-col sm-col-12 md-col-11">
      <h2 class="bbroller text-x-medium m0">
        Partners
      </h2>
      <hr class="title-divider">
    </div>
  </div>

  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-2 py1"></div>
    <div class="sm-col sm-col-12 md-col-10">
      <ul class="overflow-hidden">
        {% for posts in site.sponsors %}
          {% if posts.is-featured-on-shops-galleries-page == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="container clearfix p3">
    <div class="sm-col sm-col-12 md-col-3 py1"></div>
    <div class="sm-col sm-col-12 md-col-9">
      <a href="mailto:{{page.third-tier-button-link}}" target="_top" class="bbroller text-default blue-underline m0">
        See Full List
      </a>
    </div>
  </div>
</section>
