.script {
    font-family: $script;
}

body {
    color: $black;
    font-family: $sans;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.4rem;
}
a {
    font-weight: 700;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $script;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    text-rendering: optimizeLegibility;
}
.wysiwyg .headline {
    font-size: 32px;
}
.wysiwyg h1 {
    font-size: $font-size-40;
}
.wysiwyg h2 {
    font-size: $font-size-24;
}
.wysiwyg h3 {
    font-size: $font-size-20;
}
.wysiwyg p {
    font-size: $font-size-16;
    line-height: 1.6rem;
}
.wysiwyg small {
    font-size: $font-size-10;
    line-height: 0.4rem;
}
.wysiwyg .button {
    font-size: $font-size-16;
}
.wysiwyg hr, .page-introduction hr {
    max-width: 120px;
    margin: 0.5rem 0 2rem 0;
    border: solid 4px $crusta;
    border-radius: 50px;
}
.page-introduction hr {
    border: solid 4px $crusta;
}
@media screen and (min-width: 1024px) {
    .wysiwyg .headline {
        font-size: 80px;
        margin-top: -16px;
        margin-bottom: -36px;
    }
    .wysiwyg h1 {
        font-size: $font-size-48;
    }
    .wysiwyg h2,
        .wysiwyg h3 {
        font-size: $font-size-32;
    }
    .wysiwyg small {
        font-size: $font-size-12;
    }
    .wysiwyg p {
        font-size: $font-size-20;
        line-height: 2rem;
    }
    .wysiwyg .button {
        font-size: $font-size-20;
    }
}