body {
	color: $black;
	font-family: $sans;
	font-size: 1rem;
	font-weight: 300;
}

a {
	font-weight: 700;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $script;
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	margin: 0;
	text-rendering: optimizeLegibility;
}