@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700|Work+Sans:400,700');

$sans: 'Work Sans',
sans-serif;
$monospace: 'Roboto Mono',
monospace;
$cursive: 'House Slant',
cursive;

/* Generic Colors */
$white: #ffffff;
$black: #000000;
$charcoal: #5a5a5a;

/* Off-Season Brand */
$dcdw-buffered: #D7D7D7;

/* 2018 Brand */
$monte-carlo: #297B76;
$rose-bud: #FDAB96;
$mindaro: #d5e153;
$flamingo: #EF6546;
$loblolly: #B5B6BA;
$mint: #E1FDF8;
$cloud: #202653;

/* 2019 Brand */
$mauve: #c396ff;
$crusta: #fd813f;
$hot-pink: #ff76b8;
$lightning-yellow: #ffbd12;
$aquamarine: #70fdbf;

/* Primary Brand Variables */
$dcdw-primary: $monte-carlo;
$dcdw-secondary: $flamingo;

/* Spacing */
$spacing-0: 0;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;