@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');
@font-face {
    font-family: "House Slant";
    src: url('/assets/styles/fonts/HouseSlant.eot');
    src: url("/assets/styles/fonts/HouseSlant.eot?#iefix") format("embedded-opentype"), url("/assets/styles/fonts/HouseSlant.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

$sans: 'Work Sans', sans-serif;
$script: "House Slant", script;

$white: #ffffff;
$black: #000000;
$charcoal: #5a5a5a;

$monte-carlo: #297B76;
$rose-bud: #FDAB96;
$mindaro: #d5e153;
$flamingo: #EF6546;
$loblolly: #B5B6BA;
$mint: #E1FDF8;
$cloud: #202653;

$mauve: #c396ff;
$crusta: #fd813f;
$hot-pink: #ff76b8;
$lightning-yellow: #ffbd12;
$aquamarine: #70fdbf;
$mauve-light: rgba($mauve, 0.15);
$crusta-light: rgba($crusta, 0.15);
$hot-pink-light: rgba($hot-pink, 0.15);
$lightning-yellow-light: rgba($lightning-yellow, 0.15);
$aquamarine-light: rgba($aquamarine, 0.15);

$spacing-48: 48px;
$spacing-40: 40px;
$spacing-32: 32px;
$spacing-24: 24px;
$spacing-16: 16px;
$spacing-8: 8px;
$spacing-4: 4px;
$spacing-0: 0;

$font-size-48: 3rem; // 48px
$font-size-40: 2.5rem; // 40px
$font-size-32: 2rem; // 32px
$font-size-24: 1.5rem; // 24px
$font-size-20: 1.25rem; // 20px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem; // 12px