.wysiwyg ul {
	list-style-type: circle;
	padding-bottom: 24px;
}

.wysiwyg li {
	line-height: 1.6;
}

.wysiwyg hr {
	margin: 2em 0;
	max-width: 64px;
}

.wysiwyg hr {
	border: solid 4px $dcdw-primary;
}

.wysiwyg h1 {
	font-size: 1.5rem; /* 24px */
	line-height: 1.6;
}

.wysiwyg h2 {
	font-size: 1.25rem; /* 20px */
	line-height: 1.6;
}

.wysiwyg h3 {
	font-size: 1rem; /* 16px */
	line-height: 1.6;
}

.wysiwyg p,
.wysiwyg li {
	font-size: 1rem;/* 16px */
	line-height: 1.6;
}

@media screen and (min-width: 30em) {
	.wysiwyg h1 {
		font-size: 2.25rem; /* 36px */
	}

	.wysiwyg h2 {
		font-size: 1.5rem; /* 24px */
	}

	.wysiwyg h3 {
		font-size: 1.25rem; /* 20px */
	}

	.wysiwyg p,
	.wysiwyg li {
		font-size: 1.25rem; /* 20px */
	}
}