<section class="dc-is-design relative mt5 mb6 wysiwyg">
  <div class="mw8 center pa3">
    <h1 class="ma0">
      {{ page.dc-design-header | markdownify }}
    </h1>
    <hr class="title-divider">

    <div class="flex flex-column flex-row-l items-start mt4">
      <div class="w-100 w-50-l pr4">
        <span class="ma0 f4 f3-ns lh-copy dib">
          {{ page.dc-design-paragraph-text | markdownify }}
        </span>
      </div>
      <div class="w-100 w-50-l">
        <img class="br-100 overflow-hidden" src="{{ page.dc-is-design-image }}" alt="{{ page.dc-is-design-image-alt }}" />
      </div>
    </div>
  </div>
</section>