<section class="home-intro relative bg-white" style="opacity: 0.8;">
  <div class="container clearfix p3">
    <div class="paragraph-1 sm-col sm-col-12 md-col-4 lg-col-3">
      <h1 class="m0 text-large">
        {{ page.dc-design-header-text }}
      </h1>
      <hr class="title-divider">
    </div>
    <div class="sm-col sm-col-12">
      <div class="sm-col sm-col-12 md-col-6 pr2">
        <p class="m0 text-default">
          {{ page.dc-design-paragraph-1-text }}
        </p>
      </div>
      <div class="sm-col sm-col-12 md-col-6">
        <p class="m0 text-default">
          {{ page.dc-design-paragraph-2-text }}
        </p>
      </div>
    </div>
  </div>
</section>
