<section class="dc-is-design relativess fl w-100 pv4 gradient-overlay-blurred">
  <div class="mw8 center cf pa4 pa3-ns">
    <div class="paragraph-1 fl w-100 tl">
      <h2 class="bbroller ma0 f3 f2-ns f1-l">
        {{ page.dc-design-header-text }}
      </h2>
      <hr class="title-divider-blue">
    </div>

    <div class="w-100 dt dn db-l tl mv5 debug">
      <div class="w-100 w-30-l db dtc-ns v-mid-ns relative pr2">
        <hr class="title-divider-blue">
        <span class="sans ma0 f5 f4-ns fw3 lh-copy">{{ page.dc-design-paragraph-1-text }}</span>
      </div>
      <div class="w-100 w-70-l db dtc-ns v-mid-ns relative pr2 tc">
        <span class="sans ma0 f5 f4-ns fw3 lh-copy"><img class="br-100 overflow-hidden h5 w5" src="http://placecorgi.com/600" /></span>
      </div>
    </div>

    <div class="fl w-100 dn db-l tl mb5">
      <div class="fl w-100 w-40-m w-30-l relative pr2">
        <hr class="title-divider-blue">
        <span class="sans ma0 f5 f4-ns fw3 lh-copy">{{ page.dc-design-paragraph-2-text }}</span>
      </div>
    </div>

    <div class="fl w-100 dn db-l tl">
      <div class="fl w-100 w-40-m w-30-l relative pr2">
        <hr class="title-divider-blue">
        <span class="sans ma0 f5 f4-ns fw3 lh-copy">{{ page.dc-design-paragraph-3-text }}</span>
      </div>
    </div>
  </div>
</section>
