<!-- section 1: hero -->
<section class="hero vh-50 vh-75-l flex bg-monte-carlo relative" style="background-image: url('{{ page.hero-bg }}'); background-size: contain; background-position: center center;">
  <div class="flex-auto self-center relative" style="z-index: 100;">
    <div class="mw6 center">
<img class="hero-logo v-mid pa3 pa0-l lazyload blur-up v-mid" data-src="{{ page.hero-logo }}"  src="{{ page.hero-logo }}" alt="{{ page.hero-logo-alt }}">
    </div>
  </div>
  <div class="hero-overlay absolute top-0 right-0 bottom-0 left-0 bg-cloud" style="opacity: 0.5;"></div>
</section>