<!-- section 1: hero -->
<section class="hero vh-50 flex bg-dcdw-primary relative">
	<div class="flex-auto self-center relative mw8 center tc">
		<h1 class="f-headline lh-title white mb2">
			<a class="white bb bw2 pb0" href="https://www.instagram.com/explore/tags/dcdesignweek/"
				target="_blank">#DCDesignWeek</a>
			2018 was a success!
		</h1>
		<h2 class="f4 f3-l white lh-title mb4">{{ page.hero-closing-subheader }}</h2>
		<a href="{{ page.hero-closing-url }}" class="btn btn--secondary-solid white">{{ page.hero-closing-text }}</a>
	</div>
</section>