<!-- section 2: dc is design -->
<section class="dc-is-design pv5 mb5 mb6-l bg-mint cf relative">
  <div class="mw8 center pa3">
    <h1>{{ page.dc-design-header }}</h1>
    <hr>
    <div class="flex flex-row-l flex-wrap-reverse items-center mb3 mb0-l">
      <div class="w-100 w-50-l">
        {{ page.dc-design-paragraph-1 | markdownify }}
      </div>
      <div class="w-100 w-50-l">
        <img src="/uploads/dcdw-faces-group-01.png">
      </div>
    </div>
    <div class="flex flex-row-l flex-wrap items-center mb3 mb0-l">
      <div class="w-100 w-50-l">
        <img src="/uploads/dcdw-faces-group-02.png">
      </div>
      <div class="w-100 w-50-l">
        {{ page.dc-design-paragraph-2 | markdownify }}
      </div>
    </div>
    <div class="flex flex-row-l flex-wrap-reverse items-center mb3 mb0-l">
      <div class="w-100 w-50-l">
        {{ page.dc-design-paragraph-3 | markdownify }}
      </div>
      <div class="w-100 w-50-l">
        <img src="/uploads/dcdw-faces-group-03.png">
      </div>
    </div>
  </div>
</section>