<!-- section 2: team members -->
<section class="mb4 mb5-l relative cf">
    <h2>
        {{ page.team-header }}
    </h2>
    <hr/>
    <ul class="list ma0 mt6 pa0 relative cf tc">
        {% for member in site.data.members.2018-team %}
        <div class="fl w-100 w-third-l">
            <li class="list-none db dib-l">
                <div class="diamond-image-border">
                    <div class="diamond overflow-hidden">
                        <div class="diamond-los1">
                            <img alt="{{ member.image-alt }}" class="lazyload blur-up v-mid" data-src="{{ member.image }}" src="{{ member.image }}"/>
                        </div>
                    </div>
                </div>
                <div class="relative mv5 tc">
                    <h3>
                        {{ member.name }}
                    </h3>
                    <p>
                        {{ member.role }}
                    </p>
                    {% if member.link-url %}
                    <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                        {{ member.link-label }}
                    </a>
                    {% endif %}
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
</section>