<section class="mb4 mb5-l relative cf">
	<div class="mw8 center">
    <h2 class="committee__header">
        {{ page.team-header }}
    </h2>
    <hr class="committee__divider"/>
</div>
    <ul class="committee__members">
        {% assign members = site.data.members.2019-team %}
		{% for member in members %}
		{% if member.role-class == "executive-director" %}
        <li class="member {{ member.role-class }}">
            <div class="diamond-image-border">
                <div class="diamond overflow-hidden">
                    <div class="diamond-los1">
                        <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                    </div>
                </div>
            </div>
            <h3>
                {{ member.name }}
            </h3>
            <p>
                {{ member.role }}
            </p>
            {% if member.link-url %}
            <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                {{ member.link-label }}
            </a>
            {% endif %}
        </li>
        {% elsif member.role-class == "director" %}
        <li class="member {{ member.role-class }}">
            <div class="diamond-image-border">
                <div class="diamond overflow-hidden">
                    <div class="diamond-los1">
                        <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                    </div>
                </div>
            </div>
            <h3>
                {{ member.name }}
            </h3>
            <p>
                {{ member.role }}
            </p>
            {% if member.link-url %}
            <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                {{ member.link-label }}
            </a>
            {% endif %}
        </li>
        {% endif %}
		{% endfor %}

        <div class="individual-group-a">
            {% assign members = site.data.members.2019-team %}
			{% for member in members %}
			{% if member.role-class == "individual-a" %}
            <li class="member individual-a">
                <div class="diamond-image-border">
                    <div class="diamond overflow-hidden">
                        <div class="diamond-los1">
                            <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                        </div>
                    </div>
                </div>
                <h3>
                    {{ member.name }}
                </h3>
                <p>
                    {{ member.role }}
                </p>
                {% if member.link-url %}
                <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                    {{ member.link-label }}
                </a>
                {% endif %}
            </li>
            {% endif %}
			{% endfor %}
        </div>

        <div class="individual-group-b">
            {% assign members = site.data.members.2019-team %}
		{% for member in members %}
			{% if member.role-class == "individual-b" %}
            <li class="member individual-b">
                <div class="diamond-image-border">
                    <div class="diamond overflow-hidden">
                        <div class="diamond-los1">
                            <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                        </div>
                    </div>
                </div>
                <h3>
                    {{ member.name }}
                </h3>
                <p>
                    {{ member.role }}
                </p>
                {% if member.link-url %}
                <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                    {{ member.link-label }}
                </a>
                {% endif %}
            </li>
            {% endif %}
		{% endfor %}
        </div>
        <div class="individual-group-c">
            {% assign members = site.data.members.2019-team %}
		{% for member in members %}
			{% if member.role-class == "individual-c" %}
            <li class="member individual-c">
                <div class="diamond-image-border">
                    <div class="diamond overflow-hidden">
                        <div class="diamond-los1">
                            <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                        </div>
                    </div>
                </div>
                <h3>
                    {{ member.name }}
                </h3>
                <p>
                    {{ member.role }}
                </p>
                {% if member.link-url %}
                <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                    {{ member.link-label }}
                </a>
                {% endif %}
            </li>
            {% endif %}
		{% endfor %}
        </div>
        <div class="individual-group-d">
            {% assign members = site.data.members.2019-team %}
		{% for member in members %}
			{% if member.role-class == "individual-d" %}
            <li class="member individual-d">
                <div class="diamond-image-border">
                    <div class="diamond overflow-hidden">
                        <div class="diamond-los1">
                            <img alt="{{ member.image-alt }}" class="lazyload blur-up" data-src="{{ member.image }}" src="{{ member.image }}"/>
                        </div>
                    </div>
                </div>
                <h3>
                    {{ member.name }}
                </h3>
                <p>
                    {{ member.role }}
                </p>
                {% if member.link-url %}
                <a class="ma0 f6 dib" href="{{ member.link-url }}" target="_top">
                    {{ member.link-label }}
                </a>
                {% endif %}
            </li>
            {% endif %}
		{% endfor %}
        </div>
    </ul>
</section>