<section class="single-event--header overflow-hidden relative bg-dcdw-monte-carlo" style="background-image:url('/uploads/pattern_wide.jpg'); background-size: cover; background-position: center;">
  <div class="single-event--overlay absolute top-0 right-0 bottom-0 left-0 bg-dcdw-cloud" style="opacity: 0.75;"></div>
  <div class="mw8 mv6 center cf pa3 relative z5">
    <h1 class="single-event--title relative monospace ma0 f3 f2-m f1-l pr4 white lh-title">
      {{ page.title }}
    </h1>
    <h2 class="single-event--detials monospace ma0 f5 f4-m f3-l white lh-tight p3 db relative mb1 pb4">
      {{ page.event.date | date: "%A / %B %d / %l:%M %p" }}
    </h2>

    {% if page.buttons.has-left-button == true %}
      <a href="{{ page.buttons.button-left-url }}" class="monospace ma0 btn btn--blue-solid white mb3 dib">
        {{ page.buttons.button-left-text }}
      </a> 
    {% endif %} 
      
    {% if page.buttons.has-right-button == true %}
      <a href="{{ page.buttons.button-right-url }}" class="monospace ma0 btn btn--blue-solid white mb3 dib">
        {{ page.buttons.button-right-text }}
      </a>
    {% endif %}
  </div>
</section>

{% if page.is-sold-out == true %}
  <div class="sold-out">
    <marquee>
      <span>Sold Out!</span>
      <span>Sold Out!</span>
      <span>Sold Out!</span>
      <span>Sold Out!</span>
      <span>Sold Out!</span>
    </marquee>
  </div>
{% endif %}
