<!-- Section 1: Hero -->
{% if page.is-sold-out == true %}
<div class="sold-out-ticker white bg-flamingo tc ph3 pv2 fw9 db">
    <p>
        Sold Out! Sold Out! Sold Out! Sold Out! Sold Out! Sold Out!
    </p>
</div>
{% endif %}
<section class="overflow-hidden relative" style="background-image:url('{{ page.seo.og-image }}'); background-size: cover; background-position: center;">
    <div class="absolute top-0 right-0 bottom-0 left-0 bg-cloud" style="opacity: 0.5;">
    </div>
    <div class="mw7 mv6 center pa3 cf relative z5 white">
        <h1>
            {{ page.title }}
        </h1>
        <h2 class="mb4">
            {{ page.event.date | date: "%A / %B %d / %l:%M %p" }}
        </h2>
        {% if page.buttons.has-left-button == true %}
        <a class="btn btn--secondary-solid white mb3 dib" href="{{ page.buttons.button-left-url }}">
            {{ page.buttons.button-left-text }}
        </a>
        {% endif %}

		{% if page.buttons.has-right-button == true %}
        <a class="btn btn--secondary-solid white mb3 dib" href="{{ page.buttons.button-right-url }}">
            {{ page.buttons.button-right-text }}
        </a>
        {% endif %}
    </div>
</section>