<!-- section 2: details -->
{% if page.speaker-header %}
<section class="single-event bg-mint">
  {% else %}
  <section class="single-event bg-mint mb5">
    {% endif %}
    <div class="mw7 center cf pa3 pv5">
      <h2>Details</h2>
      <hr>
      <div class="flex items-center">
        <div class="flex flex-column flex-auto">
          <h3 class="mb3">Date &amp; Time</h3>
          <div class="flex items-center mb3">
            <div class="mr2">
              {% include icons/calendar-icon.svg %}
            </div>
            <div class="flex-auto fw4">
              {{ page.event.date | date: "%A, %B %d"}}
            </div>
          </div>
          <div class="flex items-center">
            <div class="mr2">
              {% include icons/time-icon.svg %}
            </div>
            <div class="flex-auto fw4">
              {{ page.event.start-time }} - {{ page.event.end-time }}
            </div>
          </div>
        </div>
        <div class="flex flex-column flex-auto">
          <h3 class="mb3">Venue</h3>
          <div class="flex items-center mb3">
            <div class="mr2">
              {% include icons/location-icon.svg %}
            </div>
            <div class="flex-auto fw4">
              {{ page.event.venue-name }}
            </div>
          </div>
          <div class="flex items-center">
            <div class="mr2">
              {% include icons/map-icon.svg %}
            </div>
            <div class="flex-auto fw4">
              <a href="{{ page.event.venue-directions }}" target="_blank">
                {{ page.event.venue-address }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>