{% if page.speaker-header %}
<section class="single-event-speakers mv5">
  <div class="mw8 center cf pa3">
  <div class="fl w-100">
      <h3 class="ma0 f5 f4-m f3-l fw4">
        {{page.speaker-header}}
      </h3>
      <hr class="title-divider">
      {% for speaker in page.speakers %}
        <div class="event-speaker-wrapper pv4">
          <div class="fl w-100 w-30-ns py3">
            <div class="diamond-image-border mt4 relative">
              <div class="diamond overflow-hidden">
               <div class="diamond-los1">
                 <a class="" href="{{speaker.link}}" target="_blank">
                   <div class="speaker-overlay gradient-overlay"></div>
                   <img class="speaker-portrait" src="{{ speaker.headshot-image }}"/>
                 </a>
               </div>
              </div>
            </div>
          </div>
          <div class="single-event-speaker-text fl w-100 w-70-ns text-center pa3 mt4 mt0-l">
            <span class="ma0 mb1 db f3">{{ speaker.name }}</span>
            <span class="ma0 db f4 ttu">{{ speaker.title }}</span>
            <span class="ma0 f5 lh-copy db"></span>{{ speaker.bio-text | markdownify }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}
