<section class="section section--landing-details">
	<div class="grid">
		<div class="grid-col grid-col--span-1">
			<h2>
				Details
			</h2>
			<div class="grid-item">
				<h3>
					Date & Time
				</h3>
				<p>
					<i class="fas fa-calendar-day"> </i>
					{{ page.event.date | date: "%A, %B %d"}}
				</p>
				<p>
					<i class="fas fa-clock"> </i>
					{{ page.event.start-time }} - {{ page.event.end-time }}
				</p>
			</div>
			<div class="grid-item">
				<h3>
					Venue
				</h3>
				<p>
					<i class="fas fa-map-marker-alt"> </i>
					{% if page.venue.is-tbd == true %}
					<a class="disabled">
						{{ page.venue.name }}
					</a>
					{% else %}
					<a href="{{ page.venue.directions }}" rel="noopener" target="_blank">
						{{ page.venue.name }}
					</a>
					{% endif %}
				</p>
				<p>
					{{ page.venue.address }}
				</p>
			</div>
		</div>
	</div>
</section>
