<section class="section section__event-landing-hero spacing-0">
	<div class="grid">
		<div class="grid-col grid-col--span-4 event-landing-hero__content"
			style="background-image:url('/uploads/Design-for-Cognitive-Bias.png');">
			<div class="event-landing-hero__details">
				<h1>
					{{ page.title }}
				</h1>
				<p>
					{{ page.event.date | date: "%A / %B %d / %l:%M %p" }}
				</p>
				<div class="event-landing-hero__tickets">
					{% if page.tickets.has-member-button == true %}
					<a class="button button__border button__border--white {% if page.status.has-occurred == true %} disabled {% endif %}%"
						href="{% if page.status.has-occurred == true %} {% else %} {{ page.tickets.member-button-url }} {% endif %}"
						rel="noopener" target="_blank">{{ page.tickets.member-button-label }}</a>
					{% endif %}
					{% if page.tickets.has-non-member-button == true %}
					<a class="button button__border button__border--white {% if page.status.has-occurred == true %} disabled {% endif %}%"
						href="{% if page.status.has-occurred == true %} {% else %} {{ page.tickets.member-button-url }} {% endif %}"
						rel="noopener" target="_blank">{{ page.tickets.non-member-button-label }}</a>
					{% endif %}
				</div>
			</div>
			<div class="event-landing-hero__overlay spacing-0"></div>
		</div>
	</div>
</section>

{% comment %}
{% if page.status.is-sold-out == true %}
<div class="ticker ticker--sold-out">
	<p>
		{{ page.status.sold-out-message }}
	</p>
</div>
{% endif %}
{% if page.status.is-coming-soon == true %}
<div class="ticker ticker--coming-soon">
	<p>
		{{ page.status.coming-soon-message }}
	</p>
</div>
{% endif %}
{% if page.status.is-featured-on-events == true %}
<div class="ticker ticker--featured">
	<p>
		{{ page.status.featured-event-message }}
	</p>
</div>
{% endif %}
{% if page.status.has-occurred == true %}
<div class="ticker ticker--past-event">
	<p>
		{{ page.status.has-occurred-message }}
	</p>
</div>
{% endif %}
{% endcomment %}
