<div class="committee">
	<h2>
		{{ page.team-header }}
	</h2>
	<hr />
	<ul class="listing__committee">
		{% for member in site.2019-team %}
		<li class="card card--committee">
			<div class="card__image">
				<div class="diamond-image-border">
					<div class="diamond">
						<div class="diamond-los1">
							<img alt="{{ member.image-alt }}" class="" data-src="{{ member.image }}"
								src="{{ member.image }}" />
						</div>
					</div>
				</div>
			</div>
			<div class="card-details">
				<h3>
					{{ member.name }}
				</h3>
				<p>
					{{ member.role }}
				</p>
				<hr />
				{% if member.website-url-1 %}
				<p>
					<i class="fab fa-linkedin"> </i>
					<a href="{{ member.website-url-1 }}" rel="noopener" target="_blank">
						{{ member.website-label-1 }}
					</a>
				</p>
				{% endif %} {% if member.website-url-2 %}
				<p>
					<i class="fab fa-instagram"> </i>
					<a href="{{ member.website-url-2 }}" rel="noopener" target="_blank">
						{{ member.website-label-2 }}
					</a>
				</p>
				{% endif %}
			</div>
		</li>
		{% endfor %}
	</ul>
</div>
