<div class="partners">
	{% for section in page.partners %}
	<h3>
		{{ section.header }}
	</h3>
	<p>
		{{ section.body | markdownify }}
	</p>
	{% endfor %}
	<ul class="listing__partners">
		{% for partner in site.2019-partners %}
		<li class="card card__partners">
			<div class="card-details">
				<a href="{{ partner.website }}" rel="noopener" target="_blank">
					<img alt="{{ partner.image-alt }}" class="" data-src="{{ partner.image }}"
						src="{{ partner.image }}">
					</img>
				</a>
			</div>
		</li>
		{% endfor %}
	</ul>
	{% if page.url == "/" or "/about/"%}
	{% for section in page.sponsors %}
	{% if section.has-button == true %}
	<a class="button button__{{ section.button-type }}--{{ section.button-class }}" href="{{ section.button-url }}"
		rel="noopener" style="margin-top: 32px;" target="_blank">
		{{ section.button-label }}
	</a>
	{% endif %}
	{% endfor %}
	{% endif %}
</div>
