<section class="[ staff ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-400 gap-padding-left-400 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-celeste color-dcdw-2021-black ] [ texture texture--paper ] [ flow-4 ]" id="staff">

    <div class="ornament ornament-purple-sticker-and-tape">
        <figure>
            <img src="/uploads/ornament-purple-sticker-and-tape.png" alt>
        </figure>
    </div>

    <div class="[ grid grid--four-column ]">
        <div class="[ grid--two-column-span ] [ flow-2 ]">
            <h2>{{ page.staff-header }}</h2>
            {% if page.staff-body %}
            <hr aria-hidden="true" class="[ divider divider--black ]">
            <div class="[ wysiwyg ] [ flow-2 ]">{{ page.staff-body  }}</div>
            {% endif %}
        </div>
        {% if page.show-staff-image == true %}
        <div class="[ grid--two-column-span ]">
            <figure>
                <img src="{{ page.staff-image }}" alt="{{ page.staff-imageAlt }}">
                <figcaption>{{ page.staff-imageAlt }}</figcaption>
            </figure>
        </div>
        {% endif %}
    </div>

    <ul class="[ grid grid--four-column ]">
        {% for member in site.staff %}
            {% include card-staff.html %}
        {% endfor %}
    </ul>
</section>
