<div class="call-for-artists">
	<figure class="column-1">
		<img
			alt="{{ page.call-for-artists-image-alt }}"
			class=" v-mid"
			data-src="{{ page.call-for-artists-image }}"
			src="{{ page.call-for-artists-image }}"
		/>
	</figure>
	<div class="column-2 border border--black shadow shadow--aquamarine">
		<h2>
			{{ page.call-for-artists-header }}
		</h2>
		<hr class="border border--black" />
		<p>
			{{ page.call-for-artists-body | markdownify }}
		</p>
		<a
			class="button button__border--lightning-yellow"
			href="{{ page.call-for-artists-button-url }}"
			rel="noopener"
			target="_blank"
		>
			{{ page.call-for-artists-button }}
		</a>
	</div>
</div>
