<header class="site-header">
	<a href="/" class="site-header__logo">
		<figure>
			<img src="/uploads/logo-sticker-black.png" alt="torn ticket with the DC Design Week logo">
		</figure>
	</a>
	<nav class="site-header__navigation">
		<ul class="links">
			{% for link in site.navigation-teaser %}
			<li class="link">
				<a class="button-square button-square__link button-square__link--white" href="{{ link.url }}">
					{{ link.label }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
	<!-- Off-canvas toggle button -->
	<button type="button" id="my-button">{% include icon/bars.svg %}</button>
</header>
