{% include partials/sponsors/tiers/first.html %}
{% include partials/sponsors/tiers/second.html %}
{% include partials/sponsors/tiers/third.html %}

<section class="pa3 bg-mint mb5 mb6-ns cf relative">
  <div class="idea-top-right absolute">
    <img class="w3 h3 w4-ns h4-ns " src="/uploads/idea-top-right.png">
  </div>
  <div class="flex flex-column flex-row-ns items-center">
    <div class="w-100 w-50-ns">
      <img class="mw6" src="/uploads/dcdw-faces-group-01.png">
    </div>
    <div class="w-100 w-50-ns pa3">
      <h2>Call for Sponsors</h2>
      <hr>
      <a href="mailto:{{page.sponsor-button-url}}" target="_top" class="btn btn--primary-border">{{page.sponsor-button-text}}</a>
    </div>
  </div>
  <div class="idea-bottom-left absolute">
    <img class="w3 h3 w4-ns h4-ns " src="/uploads/idea-bottom-left.png">
  </div>
</section>