<!-- third-tier: in-kind donors -->
<section class="third-tier mb4 mb5-l relative cf">
  <div class="fl w-100">
    <h2>{{ page.third-tier-header-text }}</h2>
    <hr>
    {{ page.third-tier-sub-header-text | markdownify }}

    <ul class="list ma0 pa0 flex flex-column flex-row-l flex-wrap">
      {% assign sorted_sponsors = site.sponsors %}
      {% for posts in sorted_sponsors %}
      {% if posts.is-third-tier == true %}
      {% include partials/sponsors/tiers/content.html %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>