/**
 * buttons
 */

/* global button + additional colors */
a.button {
  border-top: none;
  border-left: none;
  cursor: pointer;
  padding: 10px 17px;
  font-size: 18px;
  transition: all 100ms ease-in-out;
  box-shadow: 12px 14px black;

  &.button-white {
    background: white;
    color: blue;
  }

  &.button-blue {
    background: blue;
    color: white;
  }

  &.button-white:hover {
    box-shadow: none;
  }

  &.button-white:active {
    background-color: black;
    color: white;
  }
}

/* underline button */
a.blue-underline {
  border-bottom: 5px solid blue;
  color: blue;
  padding: 0.5em 0;
}

a.header-link {
  letter-spacing: 2px;
  transition: all 100ms ease-in-out;
}

a.header-link:hover {
  background-color: blue;
  padding: 0.5em 1em;
  color: white;
}
