/*
a.button {
  border: none;
  display: inline-block;
  border-radius: $default-radius;
  padding: 0.75em 2em;
  color: $white;
  font-size: $text-small;
  font-weight: 900;
}
*/

/* global button + additional colors */
a.button {
  border-top: none;
  box-shadow: 10px 10px $black;
  border-left: none;
  cursor: pointer;
  padding: 1em;

  &.button-white {
    background: white;
    color: blue;
  }

  &.button-blue {
    background: blue;
    color: white;
  }
}

/* underline button */
a.blue-underline {
  border-bottom: 5px solid blue;
  color: blue;
  padding: 0.5em 0;
}

a.schedule-link {
  border-bottom: 10px solid blue;
  color: blue;
}
