/**
 * buttons
 */

/* global button + additional colors */
a.button {
  border-top: none;
  border-left: none;
  cursor: pointer;
  padding: 10px 17px;
  font-size: 18px;
  transition: all $timing-200 ease-in-out;
  box-shadow: 12px 14px black;

  &.button-white {
    background: white;
    color: $dcdw-blue;
  }

  &.button-blue {
    background: $dcdw-blue;
    color: white;
  }

  &.button-white:hover {
    box-shadow: none;
  }

  &.button-white:active {
    background-color: black;
    color: white;
  }
}

/* underline button */
a.blue-underline {
  border-bottom: 6px solid $dcdw-blue;
  color: $dcdw-blue;
  padding-bottom: 3px;
  font-size: 25px;
}

a.header-link {
  transition: all $timing-200 ease-in-out;
}

a.header-link:hover {
  background-color: $dcdw-blue;
  color: white;
}


.btn {
  cursor: pointer;
  transition: all $timing-200 ease-out;
  font-size: 16px;
  padding: 12px 18px;

  // mobile nav links
  &--mobile-nav-link {
  
  }

  &--mobile-nav-link:hover {

  }

  // underline links
  &--underline-link {
    padding: 12px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: solid 5px $dcdw-blue;
  }

  &--underline-link:hover {
    border-bottom: solid 5px $dcdw-blue;
    padding-bottom: 8px;
    color: $dcdw-blue;
  }

  // header links
  &--header-link {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: solid 5px $white;
  }

  &--header-link:hover {
    border-bottom: solid 5px $dcdw-blue;
    padding-bottom: 8px;
    color: $dcdw-blue;
  }

  // email button
  &--email-list {
    border: solid 2px $dcdw-blue;
  }

  &--email-list:hover {
    border: solid 2px $dcdw-orange;
    background-color: $dcdw-orange;
    color: $white;
  }

  // blue button
  &--blue-border {
    border: solid 2px $dcdw-blue;
  }

  &--blue-border:hover {
    border: solid 2px $dcdw-orange;
    background-color: $dcdw-orange;
    color: $white;
  }
}
