.global-footer-content {
  z-index: 9999;
}

span.made-in-dc-heart {
  top: 1.5px;
  left: 4px;
}

.social-footer-links span {
  width: 40px;
  height: 40px;
}

.footer-content-header p {
  margin: 0;
}