<!-- Event Day of Week: Mobile | ex: Friday, October 21 -->
<span class="bbroller event-date-mobile absolute text-small p1 bg-black white m0 xs-show sm-hide md-hide lg-hide">{{ posts.event-date | date: "%A, %B %d"}}</span>

<!-- Event Day of Week | ex: Friday -->
<span class="bbroller event-day absolute text-small p1 bg-black white m0 xs-hide">{{ posts.event-date | date: "%A"}}</span>

<!-- Event Date | ex: October, 21 -->
<span class="bbroller event-date absolute text-small p1 bg-black white m0 xs-hide">{{ posts.event-date | date: "%B, %d"}}</span>

<a href="{{posts.url}}">
  <div class="event-image overflow-hidden">
    <img src="{{ posts.event-bg-image }}">
  </div>
</a>

<div class="event-details bg-white p2">
  <!-- Event Title -->
  <a href="{{posts.url}}">
    <h1 class="bbroller m0 black text-small">
      {{ posts.title }}
    </h1>
  </a>
  <hr class="title-divider">
  <!-- Event Time | ex: 06 PM -->
  <p class="bbroller m0 black text-small mb1">
    <i class="fa fa-clock-o mr1" aria-hidden="true"></i>{{ posts.event-date | date: "%I %p"}}
  </p>
  <!-- Event Venue  -->
  <a class="m0 black text-small" href="{{ posts.event-venue-directions }}" target="_blank">
    <i class="fa fa-map-marker mr1" aria-hidden="true"></i>{{posts.event-venue-name}}
  </a>
</div>
