<div class="ba bw2 dcdw-orange" data-right-height-content>
  <!-- event date -->
  <span class="bbroller event-date absolute f6 f5-ns pa2 bg-white ba bw2 dcdw-orange ma0 db" style="z-index: 2;">
    <span class="black">
      {{ posts.event-date | date: "%A, %B %d"}}
    </span>
  </span>

  <!-- event image -->
  <div class="event-image overflow-hidden relative gradient-overlay-solid h5" style="background-image: url('{{ posts.image }}'); background-size: cover; background-position: center center;">
  </div>

  {% if posts.is-sold-out == true %}
  <div class="sold-out">
    <marquee>Sold Out!</marquee>
  </div>
  {% endif %}

  <!-- event details -->
  <div class="event-details bg-white pa3">
    <span class="bbroller ma0 f6 f5-m f4-l fw4 db black">{{ posts.title }}</span>
    <hr class="title-divider-blue">
    <span class="bbroller ma0 f6 f5-m f4-l mb1 db black"><i class="fa fa-clock-o mr1" aria-hidden="true"></i>{{ posts.event-date | date:"%l:%M %p"}}</span>
    <span class="ma0 f6 f5-m f4-l db black"><i class="fa fa-map-marker mr1" aria-hidden="true"></i>{{posts.event-venue-name}}</span>
  </div>
</div>
