.site-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.site-header__logo img {
  max-width: 200px;
}

.menu-btn {
  cursor: pointer;
}

/*
a svg #D-1,
a svg #C,
a svg #D-2,
a svg #W,
a svg #bar {
  transition: all 200ms ease-out;
}

a svg:hover #D-1,
a svg:hover #C,
a svg:hover #D-2,
a svg:hover #W,
a svg:hover #bar {
  fill: $dcdw-secondary;
}
*/