.button {
    background-color: transparent;
    cursor: pointer;
    color: $black;
    display: inline-block;
    font-weight: 700;
    padding: 0 $spacing-8;
    &__solid,
    &__border,
    &__link {
        border: solid $spacing-4 transparent;
    }
    &__solid--mauve {
        background-color: $mauve;
    }
    &__border--mauve {
        border: solid $spacing-4 $mauve;
    }
    &__solid--crusta {
        background-color: $crusta;
    }
    &__border--crusta {
        border: solid $spacing-4 $crusta;
    }
    &__solid--hot-pink {
        background-color: $hot-pink;
    }
    &__border--hot-pink {
        border: solid $spacing-4 $hot-pink;
    }
    &__solid--lightning-yellow {
        background-color: $lightning-yellow;
    }
    &__border--lightning-yellow {
        border: solid $spacing-4 $lightning-yellow;
    }
    &__solid--aquamarine {
        background-color: $aquamarine;
    }
    &__border--aquamarine {
        border: solid $spacing-4 $aquamarine;
    }
    &__solid--black {
        background-color: $black;
    }
    &__border--black {
        border: solid $spacing-4 $black;
        color: $black;
    }
    &__link--black {
        color: $black;
    }
}
