.card {
    display: flex;
}
.card a {
    display: inline-block;
    margin: 0;
    max-width: 32rem;
}
.card.card--committee {
    padding-top: 2rem;
    flex-direction: column;
}
.card-image {
    position: relative;
    max-width: 100%;
}
.card.card--event figure img {
    height: 200px;
    width: 100vw;
    object-fit: cover;
}
.card-details {
    background-color: $white;
    color: $black;
    flex-grow: 1;
    padding: $spacing-16;
}
.card-details hr {
    border-color: $black;
}
.card-details h3 {
    font-size: $font-size-24;
}
.card-details p {
    font-size: $font-size-16;
    font-weight: 400;
    margin: 0 0 $spacing-8 0;
}
.card__sponsors .card-details, .card__partners .card-details {
    padding: 0;
}
.card--committee .card-details h3 {
    margin-top: $spacing-32;
}
/* ticker */

.ticker {
    background-color: $black;
    color: $black;
    font-family: $script;
    letter-spacing: 1px;
    overflow: hidden;
    padding: $spacing-4;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
.home-layout .ticker p, .events-layout .ticker p, .events-single-layout .ticker p {
    display: inline-block;
    font-size: $font-size-20;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    width: 100%;
}
.home-layout .ticker p, .events-layout .ticker p {
    -moz-animation: ticker 10000ms linear infinite;
    -webkit-animation: ticker 10000ms linear infinite;
    animation: ticker 10000ms linear infinite;
}
.events-single-layout .ticker p {
    -moz-animation: ticker 20000ms linear infinite;
    -webkit-animation: ticker 20000ms linear infinite;
    animation: ticker 20000ms linear infinite;
}
/* Move it (define the animation) */

@-moz-keyframes ticker {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}
@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}
@keyframes ticker {
    0% {
        -moz-transform: translateX(100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(100%);
        /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        /* Firefox bug fix */
        -webkit-transform: translateX(-100%);
        /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
/* diamond images */

.diamond-image-border {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 150px;
    height: 150px;
    border: solid 5px $black;
    margin: 0 auto;
}
.diamond {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 135px;
    height: 135px;
    -webkit-transform: rotate(0deg) translateX(15px) translateY(-15px);
    transform: rotate(0deg) translateX(15px) translateY(-15px);
    -webkit-transition: -webkit-transform $timing-quick ease-in-out;
    transition: -webkit-transform $timing-quick ease-in-out;
    transition: transform $timing-quick ease-in-out;
    transition: transform $timing-quick ease-in-out, -webkit-transform $timing-quick ease-in-out;
    overflow: hidden;
}
.diamond:hover {
    -webkit-transform: rotate(0deg) translateX(2.5px) translateY(2.5px);
    transform: rotate(0deg) translateX(2.5px) translateY(2.5px);
}
.diamond .diamond-los1 {
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-45deg) translateY(-140px);
    transform: rotate(-45deg) translateY(-140px);
}
.diamond .diamond-los1 img {
    min-width: 155%;
    position: absolute;
    top: 100px;
    left: -40px;
}