.component-event-filter>*, 
.component-event-filter__date>* {
    outline: dashed 1px red;
}
.component-event-filter {
	border: none;
    margin-bottom: $spacing-32;
}
/* date filter */

.component-event-filter__date {
    display: flex;
}
.component-event-filter__date .mixitup-control-active {
    background-color: $mauve;
}
.component-event-filter__date .control-text-1, 
.component-event-filter__date .control-text-2, 
.component-event-filter__date .control-text-3, {
    display: block;
    text-transform: uppercase;
}
/* additional filters */

.component-event-filter__additional {
    background-color: $mauve-light;
    padding: $spacing-8;
}
.control {
    background: none;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    padding: 8px;
    transition: background 150ms;
}
.mix-it-up-container {
    overflow: hidden;
    position: relative;
}
.mixitup-container {
    margin-bottom: $spacing-40;
    position: relative;
}
.mixitup-container-failed::after {
    content: 'No Result 😬';
    padding: 32px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
}