.site-footer {
	background-color: $black;
	display: flex;
	align-items: center;
	color: $white;
	justify-content: space-between;
	padding: $spacing-8;
}

.site-footer__mailchimp,
.site-footer__volunteer {
	padding: 0;
}

.site-footer__mailchimp {
	background-color: $mauve-light;
}

.site-footer__volunteer {
	text-align: center;
}

.site-footer__volunteer a {
	display: inline-block;
	font-size: $font-size-48;
	margin-top: $spacing-16;
	color: $black;
}

.site-footer__social {
	align-items: center;
	background-color: $black;
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: 1fr;
	padding: $spacing-8;
	text-align: center;
}

.site-footer a {
	color: $white;
	font-size: $font-size-16;
	text-decoration: none;
}

.site-footer a svg {
	font-size: $font-size-24;
}

.site-footer li {
	display: inline-block;
}

@media screen and (min-width: 962px) {
	.site-footer {
		grid-template-columns: repeat(3, 1fr);
	}
	
	.site-footer a:first-of-type {
		text-align: left;
	}
	
	.site-footer a:last-of-type {
		text-align: right;
	}
}
