/* 
Special thanks to Rachel Andrew:
https://rachelandrew.co.uk/css/cheatsheets/grid-fallbacks;
*/

/*.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}
.grid>* {
    flex: 1;
}*/

.grid {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 2rem;
    margin: 0;
    padding: 0;
}
.grid__1-column, .grid__2-column, .grid__3-column, .grid__4-column {
    grid-template-columns: 1fr;
}
@media screen and (min-width: 767px) {
    .grid {
        grid-auto-rows: 1fr;
    }
    .grid--items-center {
        align-items: center;
    }
    .grid__1-column, .grid__2-column, .grid__3-column, .grid__4-column {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1023px) {
    .grid__2-column {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid__3-column {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid__4-column {
        grid-template-columns: repeat(4, 1fr);
    }
    .mixitup-container .featured {
        grid-column: span 3;
    }
}