.site-header {
	background-color: $white;
	border-bottom: solid 2px $lightning-yellow;
	padding: $spacing-4 $spacing-8;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: $index-5;
}
.site-header__navigation {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.site-header__logo {
	max-width: 144px;
}
.site-header__logo svg {
	max-height: 72px;
}
.site-header ul {
	margin: 0 !important;
	padding: 0 !important;
}
.site-header__links {
	display: none;
	text-align: right;
}
.site-header__links li {
	display: inline-block;
}
.site-header .button {
	font-size: $font-size-16;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.site-header__menu {
	display: block;
	text-align: right;
}

.active {
	border-bottom: 4px solid $black;
}
@media screen and (min-width: $break-3) {
	.site-header__links {
		display: block;
	}
	.site-header__menu {
		display: none;
	}
}
