@font-face {
    font-family: "Bayard Regular";
    src: url("../../uploads/fonts/BAYARD-Regular.woff2") format("woff2"), url("../../uploads/fonts/BAYARD-Regular.woff") format("woff");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
