---
layout: base
---

<article>
    {% include section-hero.html %}
    <span id="skip-to-content">
        {% include section-hyperlocal.html %}
    </span>
    {% include listing-sponsors.html %}
    {% include listing-committee.html %}
    <section class="section-partners background-dcdw-2021-black color-dcdw-2021-celeste ">
        <div class="container grid grid--two-column grid--align-center">
            <div>
                Image
            </div>
            <div class="flow-2">
                <h2>
                    H2: Photo Title
                </h2>
                <hr class="divider divider--yellow" aria-hidden="true">
                <div class="wysiwyg">
                    P: Photo Body
                </div>
                <a class="button button-solid--yellow" href="#" rel="noopener nofollow" target="_blank">
                    Explore Photos
                </a>
            </div>
        </div>
    </section>
</article>
