<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />

        {%- seo -%}

        <!-- Theme Color for Chrome, Firefox OS and Opera -->
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="{{ site.theme-color }}" />
        <meta content="{{ site.theme-color }}" name="theme-color" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

        <!-- styles -->
        <link href="{{ site.asseturl }}styles/app.css" media="all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://use.typekit.net/dsv8drd.css">

        <!-- scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ site.asseturl }}scripts/offside.min.js"></script>
        <script src="{{ site.asseturl }}scripts/houdini.min.js"></script>
        <script src="{{ site.asseturl }}scripts/modals.min.js"></script>
        <script src="{{ site.asseturl }}scripts/mixitup.min.js"></script>
        <script src="{{ site.asseturl }}scripts/mixitup-multifilter.min.js"></script>
        <script src="https://kit.fontawesome.com/2b8780d76f.js" crossorigin="anonymous"></script>
        {% if page.url == "/events/self-guided/" %}
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet' />
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.js'></script>
        {% endif %}
    </head>

    <body>
        <main class="{{ page.layout }}-layout" id="my-content-container">
            {%- include block/site-header.html -%}
            {{ content | safe }}
            {%- include block/site-footer.html -%}
        </main>
        {% include 3rd-party/offside/menu.html %}
    </body>

</html>
