---
layout: compress
---

<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script type="module">
            document.documentElement.classList.remove('no-js');
            document.documentElement.classList.add('js');
        </script>
        <!-- styles -->
        <link href="{{ site.asseturl }}styles/app-min.css" media="all" rel="stylesheet" type="text/css" />
        {%- seo -%}
        <link rel="icon" href="/favicon.ico">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest" />
        <meta name="theme-color" content="{{ site.theme-color }}" />
        <!-- scripts -->
        <script src="{{ site.asseturl }}scripts/app-min.js"></script>
        <script src="https://kit.fontawesome.com/2b8780d76f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <main class="{{ page.layout }}-layout" id="main-content">
            {%- include site-header.html -%}
            {% if page.url == "/" %}
            {%- include section-hero-home.html -%}
            {% elsif page.layout == "events-single" %}
            {% include events-single-1-hero.html %}
            {% else %}
            {% include section-hero.html %}
            {% endif %}
            {{ content | safe }}
            {%- include site-footer.html -%}
        </main>
        {% include third-party/offside/menu.html %}
    </body>

</html>
