{% include global/head-open.html %}
{% include header.html %}

<header class="border bg-cover bg-center py4 overflow-hidden" style="background-image: url('{{ page.event-bg-image }}');">
  <div class="container clearfix relative py4">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide sm-hide"></div>
    <div class="sm-col sm-col-12 md-col-11 relative">
      <span class="event-title-header bg-white p2 block relative">
        <h2 class="m0 text-xx-large">Tedx MidAtlantic
        <span class="dcdw-logo absolute ml2 xs-hide"><img src="/uploads/dc-design-week.svg" style="max-width:75px; max-height: 75px;"></span>
        </h2>
      </span>
      <span class="p2 block relative">
        <h2 class="m0 text-large white">Friday-Saturday / October 21-22</h2>
      </span>
      <button class="ml2 mt3 button-white text-small courier">
        Grab Your Ticket
      </button>
    </div>
  </div>
</header>

<article class="article-events">
  <div class="container clearfix relative">
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
    <div class="sm-col sm-col-12 md-col-10 p3 py4 courier text-medium">
      {{ content }}
    </div>
    <div class="sm-col sm-col-12 md-col-1 py1 xs-hide"></div>
  </div>
</article>

{% include footer.html %}
{% include global/head-closed.html %}
