---
layout: default
---
<section class="event-hero" style="background-image:url('{{ page.event.image }}'); background-size: cover; background-position: center; position: relative;">
    <div class="bg-black" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.5;">
    </div>
    <div class="container white" style="z-index: 99; position: relative;">
        <h1>
            {{ page.title }}
        </h1>
        <p>
            {{ page.event.date | date: "%A / %B %d / %l:%M %p" }}
        </p>
        {% if page.tickets.has-member-button == true %}
        <a class="button button__border button__border--crusta bg-white" href="{{ page.tickets.member-button-left-url }}">
            {{ page.tickets.member-button-label }}
        </a>
        {% endif %}

        {% if page.tickets.has-non-member-button == true %}
        <a class="button button__border button__border--crusta bg-white" href="{{ page.tickets.non-member-button-url }}">
            {{ page.tickets.non-member-button-label }}
        </a>
        {% endif %}
    </div>
</section>
{% if page.status.is-sold-out == true %}
<div class="ticker">
    <p>
        {{ page.status.sold-out-message }}
    </p>
</div>
{% endif %}
<section class="bg-lightning-yellow-light">
    <div class="container">
        <h2>
            Details
        </h2>
        <hr/>
        <p>
            Date & Time
        </p>
        <p>
            <i class="fas fa-calendar-day">
            </i>
            {{ page.event.date | date: "%A, %B %d"}}
        </p>
        <p>
            <i class="fas fa-clock">
            </i>
            {{ page.event.start-time }} - {{ page.event.end-time }}
        </p>
        <p>
            Venue
        </p>
        <p>
            <i class="fas fa-map-marker-alt">
            </i>
            {{ page.venue.name }}
        </p>
        <p>
            {{ page.venue.address }}
        </p>
    </div>
</section>
<section class="container">
    <div class="event__content">
        <h2>Description</h2>
        <hr/>
        {{ content | markdownify }}
    </div>
    {% if page.event.has-speakers == true %}
    <div class="event__speakers">
        <h2>Speakers</h2>
        <hr/>
        {% for speaker in site.speakers %}
        <div class="speaker">
            <h3>{{ speaker.title }}</h3>
            <h4>{{ speaker.professional-title }}</h4>
            <p>{{ speaker | markdownify }}</p>
            <a href="{{ speaker.website }}" target="_blank" rel="noopener">{{ speaker.website }}</a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>
