---
layout: base
---

<article>
    {% include section-hero.html %}
    <span id="skip-to-content">
        {% include listing-events.html %}
    </span>
    {% include section-faqs.html %}

    <!-- mixitup -->
    <script>
        var containerEl = document.querySelector(".mixitup-container");
        var mixer = mixitup(containerEl, {
            multifilter: {
                enable: true,
            },
            animation: {
                enable: false,
            },
        });
    </script>

    <!-- houdini -->
    <script>
        var showHideButton = new Houdini("[data-houdini]");
        var accordion = new Houdini('[data-houdini-group="additional-filters"]', {
            isAccordion: true,
            collapseOthers: true,
            icon: 1, /* If true, include an expand/collapse icon */
            iconClass: 'houdini-toggle-icon', /* The class to use for the expand/collapse icon */
            iconAttribute: 'data-houdini-icon', /* The data attribute to use for the expand/collapse icon */
            iconShow: '<i class="fas fa-plus"></i>', /* The icon to expand an accordion */
            iconHide: '<i class="fas fa-minus"></i>', /* The icon to collapse an accordion */
        });
        var datalist = new Houdini("[data-houdini-dl] dd", {
            isAccordion: true,
        });
    </script>
</article>
