---
layout: default
---
<!-- section: hero -->
<section class="flex flex-column bg-black white pt3-l">
    <div class="fw9 tc relative pa3">
        <small>
            {{ page.home-section-1-tagline }}
        </small>
        <h1 class="headline lh-title">
            {{ page.home-section-1-header }}
        </h1>
        <p>
            {{ page.home-section-1-subheader }}
        </p>
        <img class="slider-lightbulb" src="/uploads/home-header-lightbulb.png">
        </img>
    </div>
    <!-- sub-section: slider -->
    <div class="relative bg-black">
        <span class="mask-left">
            <svg data-name="Layer 1" id="slider-mask" preserveaspectratio="none" viewbox="0 0 1566 641" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .cls-1{fill:none;fill-rule:evenodd;}.cls-2{fill:#000000;}
                    </style>
                </defs>
                <title>
                </title>
                <path class="cls-1" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0Z">
                </path>
                <path class="cls-2" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0V641">
                </path>
            </svg>
        </span>
        <span class="mask-right">
            <svg data-name="Layer 1" id="slider-mask" preserveaspectratio="none" viewbox="0 0 1566 641" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <style>
                        .cls-1{fill:none;fill-rule:evenodd;}.cls-2{fill:#000000;}
                    </style>
                </defs>
                <title>
                </title>
                <path class="cls-1" d="M0,641S89.14,442.94,355.21,359s359.13,7.35,673.35-72S1566,0,1566,0H0Z">
                </path>
                <path class="cls-2" d="M1566,641V0H0S223.22,207.65,537.44,287s407.29-11.94,673.35,72S1566,641,1566,641">
                </path>
            </svg>
        </span>
        <div class="slider">
            <div class="slider-cell slider-cell--fish-market bg-aquamarine pa3 flex" id="fish-market">
                <div class="mw7 center tc black flex-auto self-center">
                    <p class="fw9">
                        DC is facts-inating!
                    </p>
                    <h2 class="mv4 lh-title">
                        The Maine Avenue Fish Market is the oldest continuously operating fish market in the United States, and predates NYC's own Fulton Fish Market.
                    </h2>
                    <a class="button button__border--black dib tc script" href="#go-go">
                        <i class="fas fa-chevron-double-right">
                        </i>
                        Next Fact
                        <i class="fas fa-chevron-double-right">
                        </i>
                    </a>
                </div>
            </div>
            <div class="slider-cell slider-cell--gogo bg-lightning-yellow pa3 flex" id="go-go">
                <div class="mw7 center tc black flex-auto self-center">
                    <p class="fw9">
                        DC is facts-inating!
                    </p>
                    <h2 class="mv4 lh-title">
                        In the early 1970's, musical pioneer Chuck Brown began laying the foundation for a new and innovatinve sound in Washington, DC, called Go-Go music.
                    </h2>
                    <a class="button button__border--black dib tc script" href="#fish-market">
                        <i class="fas fa-chevron-double-right">
                        </i>
                        Next Fact
                        <i class="fas fa-chevron-double-right">
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section: featured events -->
<section class="pt5 bg-{{ page.home-section-3-background-color }}" id="events">
    <div class="mw8 center pa3">
        <h2>
            {{ page.home-section-3-header }}
        </h2>
        <hr class="border border--{{ page.home-section-3-divider-color }}">
            <ul class="list ma0 mb4 pa0 flex flex-column flex-row-l flex-wrap">
                {% assign sorted = site.events-carnegie %}
      {% for posts in sorted %}
      {% if posts.is-featured-on-home-page == true %}
      {% include partials/events/card/content.html %}
      {% endif %}
      {% endfor %}
            </ul>
            <a class="button button__{{ page.home-section-3-button-type }} button__{{ page.home-section-3-button-type }}--{{ page.home-section-3-button-color }} mt4" href="{{ page.home-section-3-button-url }}">
                Button Here
            </a>
        </hr>
    </div>
</section>
<!-- section: partners + sponsors -->
<section class="pt5 bg-{{ page.home-section-3-background-color }}" id="sponsor">
    <div class="mw8 center pa4">
        <h2>
            {{ page.home-section-3-header }}
        </h2>
        <hr class="border border--{{ page.home-section-3-divider-color }}">
            <p>
                {{ page.home-section-3-body | markdownify }}
            </p>
            <ul class="ma0 pa0 sponsor-grid">
                {% assign sorted_sponsors = site.sponsors %}
            {% for posts in sorted_sponsors %}
            {% if posts.is-second-tier == true %}
                <li class="list-none dim">
                    <a href="{{ posts.sponsor-url }}" rel="noopener" target="_blank">
                        <img alt="{{ posts.sponsor-image-alt }}" class="lazyload blur-up v-mid" data-src="{{ posts.sponsor-image }}" src="{{ posts.sponsor-image }}">
                        </img>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            <div class="tc">
                <a class="button button__{{ page.home-section-3-button-type }} button__{{ page.home-section-3-button-type }}--{{ page.home-section-3-button-color }} mt4" href="{{ page.home-section-3-button-url }}">
                    {{ page.home-section-3-button }}
                </a>
            </div>
        </hr>
    </div>
</section>
