---
layout: base
---

<article>
    {% include section-hero-home.html %}
    <span id="skip-to-content">
        {% include listing-events.html %}
    </span>
    {% include section-ghostnote.html %}
    {% include listing-sponsors.html %}
    <section class="section-shop background-dcdw-2021-black color-dcdw-2021-celeste ">
        <div class="container grid grid--two-column grid--align-center">
            <div class="flow-2">
                <h2>
                    Shop
                </h2>
                <hr class="divider divider--yellow" aria-hidden="true">
                <div class="wysiwyg">
                    P: Shop Body Text
                </div>
                <a class="button button-solid--yellow gap-margin-top-1000" href="{{ site.partner.button-url }}" rel="noopener nofollow" target="_blank">
                    {{ site.partner.button-label | markdownify }}
                </a>
            </div>
            <div>
                Image
            </div>
        </div>
    </section>
</article>
