---
layout: base
---

<section class="section buttons">
	<div class="wrapper wrapper-default">
		<h2>Buttons - Border</h2>
		<a href="#" class="button button__border button__border--mauve">
			Button
		</a>
		<a href="#" class="button button__border button__border--crusta">
			Button
		</a>
		<a href="#" class="button button__border button__border--hot-pink">
			Button
		</a>
		<a
			href="#"
			class="button button__border button__border--lightning-yellow"
		>
			Button
		</a>
		<a href="#" class="button button__border button__border--aquamarine">
			Button
		</a>
		<a href="#" class="button button__border button__border--black">
			Button
		</a>

		<h2>Buttons - Solid</h2>
		<a href="#" class="button button__solid button__solid--mauve">
			Button
		</a>
		<a href="#" class="button button__solid button__solid--crusta">
			Button
		</a>
		<a href="#" class="button button__solid button__solid--hot-pink">
			Button
		</a>
		<a
			href="#"
			class="button button__solid button__solid--lightning-yellow"
		>
			Button
		</a>
		<a href="#" class="button button__solid button__solid--aquamarine">
			Button
		</a>
		<a href="#" class="button button__solid button__solid--black">
			Button
		</a>

		<h2>Buttons - Link</h2>
		<a href="#" class="button button__link button__link--mauve">
			Button
		</a>
		<a href="#" class="button button__link button__link--crusta">
			Button
		</a>
		<a href="#" class="button button__link button__link--hot-pink">
			Button
		</a>
		<a href="#" class="button button__link button__link--lightning-yellow">
			Button
		</a>
		<a href="#" class="button button__link button__link--aquamarine">
			Button
		</a>
		<a href="#" class="button button__link button__link--black">
			Button
		</a>
	</div>
</section>
