<section class="[ hero-event ] [ gap-padding-top-1100 gap-padding-bottom-1100 gap-padding-right-400 gap-padding-left-400 md:gap-padding-top-1600 md:gap-padding-bottom-1600 md:gap-padding-right-1600 md:gap-padding-left-1600 ] [ background-dcdw-2021-black color-dcdw-2021-celeste ]" id="hero-event" style="background-image: url('{{ page.image }}'); background-size: 150%; background-repeat: no-repeat; background-position: center;">
    <div class="overlay"></div>
    {% include liquid/event-single-hero-status.html %}
    <div class="[ grid grid--align-center grid--four-column ]">

        <div class="column-one grid--four-column-span flow-2">
            <span id="skip-to-content">
                <h1>{{ page.title }}</h1>
            </span>
            <hr class=" divider divider--yellow" aria-hidden="true" />
            <p>{{ page.event-date | date: "%A / %B %d / %l:%M %p" }}</p>
            {% if content.subheader %}
            <div class="wysiwyg flow-3">{{ content.subheader  }}</div>
            {% endif %}

            <div class="[ landing-hero__tickets ]">
                {% if page.tickets.has-member-button == true %}
                <a class="button button-solid button-solid--yellow gap-margin-bottom-300 md:gap-margin-bottom-0 sm:gap-margin-right-300 {% if page.status.has-occurred == true %} disabled {% endif %}%" {% if page.status.has-occurred==true %} {% else %} href="{{ page.tickets.member-button-url }}" rel="noopener" target="_blank" {% endif %}>
                    {{ page.tickets.member-button-label }}
                </a>
                {% else %}
                <a class="button button-solid disabled button-solid--yellow">
                    Ticket Sales Have Ended
                </a>
                {% endif %}
                {% if page.tickets.has-non-member-button == true %}
                <a class="
                    button button-border button-border--yellow {% if page.status.has-occurred == true %} disabled {% endif %}" {% if page.status.has-occurred==true %} {% else %} href="{{ page.tickets.non-member-button-url }}" rel="noopener" target="_blank" {% endif %}>
                    {{ page.tickets.non-member-button-label }}
                </a>
                {% else %}
                <a class="button button-border disabled button-border--yellow">
                    Ticket Sales Have Ended
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
