.spacing-top-0 {
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.margin-top-16 {
	margin-top: $spacing-16 !important;
}

.margin-top-32 {
	margin-top: $spacing-32 !important;
}

.margin-top-60 {
	margin-top: $spacing-60 !important;
}

.margin-top-120 {
	margin-top: $spacing-120 !important;
}

.margin-bottom-32 {
	margin-bottom: $spacing-32 !important;
}

.margin-left-48 {
	margin-left: $spacing-48 !important;
}

.spacing-0 {
	margin: 0 !important;
	padding: 0 !important;
}

.margin-right-0 {
	margin-right: 0 !important;
}

.margin-right-48 {
	margin-right: $spacing-48;
}

.margin-left-48 {
	margin-left: $spacing-48;
}

.padding-bottom-80 {
	padding-bottom: $spacing-80 !important;
}
