<section class="section section__faqs">
	<div class="grid">
		<ul class="grid-col grid-col--span-3">
			{% for faq in page.faqs %}
			<li>
				<h2 aria-label="faq" class="" data-houdini-toggle="{{ faq.trigger }}">
					{{ faq.heading }}
				</h2>
				<div class="{% if faq.expanded == true %} is-expanded {% endif %} wysiwyg" data-houdini-group="faq"
					id="{{ faq.trigger }}">
					{{ faq.body | markdownify }}
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="grid-col grid-col--span-1">
			<h3>Have a Question? Concern? Reach out!</h3>
			<ul class="faq-contact">
				<li>
					<h4>Heading</h4>
					<a href="">Link</a>
				</li>
				<li>
					<h4>Heading</h4>
					<a href="">Link</a>
				</li>
				<li>
					<h4>Heading</h4>
					<a href="">Link</a>
				</li>
				<li>
					<h4>Heading</h4>
					<a href="">Link</a>
				</li>
			</ul>
		</div>
	</div>
</section>

<script src="/assets/scripts/houdini.min.js"></script>
<script>
	var disclosure = new Houdini('[data-houdini-group="faq"]', {
		isAccordion: true,
		collapseOthers: true,
		icon: 0
	});
</script>
