{% comment %}
If page frontmatter key "has-hero" is equal to true, display the hero section
{% endcomment %}

{% for content in page.hero %}
{% if content.has-hero == true %}
<section class="section hero--home"
	style="background-image: url('{{ content.image }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
	<div class="grid-four-col">
		<div class="grid-col grid-col--span-3">
			<h1>{{ content.header }}</h1>
		</div>
		<p>{{ content.subheader }}</p>
	</div>
	<div class="overlay"></div>
</section>
{% endif %}
{% endfor %}
