<section class="section section__committee">
	<div class="grid">
		<div class="grid-col grid-col--span-2 grid-col--order-2">
			<h2 class="grid-col--span-70"
				id="{{ page.team-header | downcase | remove: '<span>' | remove: '</span>' | replace: " ", "-" }}">
				{{ page.team-header }}</h2>
			<p>{{ page.team-body }}</p>
		</div>

		<div class="grid-col grid-col--span-2 grid-col--order-1">
			<div class="ornaments">
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="#4ae725" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="#4ae725" />
						<path d="M39.5 18H0.5L3 10H37L39.5 18Z" fill="#4ae725" />
						<path d="M0.5 22H39.5L36.6516 30H3L0.5 22Z" fill="#4ae725" />
					</svg>
				</figure>
				<figure>
					<svg width="40" height="40" viewBox="0 0 40 40" fill="#fff" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd"
							d="M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50659 1 1 9.50659 1 20C1 30.4934 9.50659 39 20 39ZM40 20C40 31.0457 31.0457 40 20 40C8.9543 40 0 31.0457 0 20C0 8.9543 8.9543 0 20 0C31.0457 0 40 8.9543 40 20Z"
							fill="#fff" />
						<path d="M9.83998 3.35999L8.22998 35.58" stroke="#fff" stroke-miterlimit="10" />
						<path d="M32.9999 34.5L26.4999 38.5L25.1099 1.16998L29.9999 3L32.9999 34.5Z" fill="#fff" />
					</svg>
				</figure>
			</div>
		</div>
	</div>

	<div class="grid" style="margin-top: 32px;">
		<div class="grid-col grid-col--span-1 order-3">
			<form class="events-filter">
				<!-- filters -->
				<div class="">
					<div class="">
						<span class="events-filter__additional-title">
							Categories
						</span>
						<div class="events-filter__reset control-group">
							<button class="control control-text" data-filter="all">
								Reset
							</button>
						</div>
					</div>
					<div class="events-filter__dates control-group" data-filter-group="">
						{% for control in site.data.makers-filter.tags %}
						<div class="radio">
							<label class="radio-label font-size-6">
								<input name="additional-filters" type="radio" data-filter="{{ control.filter }}" />
								{{ control.text-1 }}
							</label>
						</div>
						{% endfor %}
					</div>
				</div>
			</form>

		</div>
		<div class="grid-col grid-col--span-3 order-3">
			<ul class="grid  container mixitup-container">
				{% assign sorted_makers = site.data.makers.2020-makers | sort: "name"  %}
				{% for maker in sorted_makers %}
				<li class="card card--makers mix
				{% if maker.type.is-art-prints == true %} art-prints {% endif %}
				{% if maker.type.is-paper-goods == true %} paper-goods {% endif %}
				{% if maker.type.is-clothing-apparel == true %} clothing-apparel {% endif %}
				{% if maker.type.is-food == true %} food {% endif %}
				{% if maker.type.is-accessories == true %} accessories {% endif %}
				{% if maker.type.is-home-goods == true %} home-goods {% endif %}
				{% if maker.type.is-wild-card == true %} wild-card {% endif %}">
					<!-- Modal Trigger -->
					<a data-modal="#{{ maker.name | downcase | replace: " ", "-" | remove: '<span>' | remove: '</span>' }}"
						href="/makers/directory/#{{ maker.name | downcase | replace: " ", "-" | remove: '<span>' | remove: '</span>' }}">
						<div class="card__aside">
							<figure class="card__image">
								<img src="{{ maker.image }}" alt="{{ maker.image-alt }}" />
							</figure>
						</div>
					</a>
					<div class="card__body">
						<h3 class="card__title">{{ maker.name }}</h3>
						<p class="card__subtitle">{{ maker.description-short }}</p>
					</div>
					<!-- Modal -->
					<div class="modal modal-medium" data-modal-window
						id="{{ maker.name | downcase | replace: " ", "-" | remove: '<span>' | remove: '</span>' }}">
						<div class="modal-content">

							<div class="modal-content--left">

								<div class="modal__aside">
									<figure class="modal__image">
										<img src="{{ maker.image }}" alt="{{ maker.image-alt }}" />
									</figure>
								</div>

							</div>

							<div class="modal-content--right">

								<div class="modal-content-header">
									<button class="button button__link button__link--white" data-modal-close>Close</button>
								</div>

								<div class="modal-content-info">
									<h2 class="modal__title">{{ maker.name }}</h2>
									<h3 class="card__title">{{ maker.role }}</h3>
									<h3 class="card__title">{{ maker.pronouns }}</h3>
									<h3 class="card__title">{{ maker.price-point }}</h3>
								</div>

								<div class="modal__links">
									{% if maker.website-url-1 %}
									<p>
										<a aria-label="{{ maker.website-aria-label-1 }}" class="card__link" href="{{ maker.website-url-1 }}"
											rel="noopener noreferrer" target="_blank">{{ maker.website-label-1 }}</a>
									</p>
									{% endif %}
									{% if maker.website-url-2 %}
									<p>
										<a aria-label="{{ maker.website-aria-label-2 }}" class="card__link" href="{{ maker.website-url-2 }}"
											rel="noopener noreferrer" target="_blank">{{ maker.website-label-2 }}</a>
									</p>
									{% endif %}
									{% if maker.website-url-3 %}
									<p>
										<a aria-label="{{ maker.website-aria-label-3 }}" class="card__link" href="{{ maker.website-url-3 }}"
											rel="noopener noreferrer" target="_blank">{{ maker.website-label-3 }}</a>
									</p>
									{% endif %}
								</div>

								<div class="modal-content-body">
									<p class="card__subtitle">{{ maker.description-long }}</p>
								</div>

							</div>

						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>

<!-- mixitup -->
<script>
	var containerEl = document.querySelector(".mixitup-container");
	var mixer = mixitup(containerEl, {
		multifilter: {
			enable: false,
		},
		animation: {
			enable: false,
		},
	});
</script>

<script>
	modals.init({
		selectorToggle: '[data-modal]', // Modal toggle selector
		selectorWindow: '[data-modal-window]', // Modal window selector
		selectorClose: '[data-modal-close]', // Modal window close selector
		modalActiveClass: 'active', // Class applied to active modal windows
		modalBGClass: 'modal-bg', // Class applied to the modal background overlay
		preventBGScroll: true, // Boolean, prevents background content from scroll if true
		preventBGScrollHtml: true, // Boolean, adds overflow-y: hidden to <html> if true (preventBGScroll must also be true)
		preventBGScrollBody: true, // Boolean, adds overflow-y: hidden to <body> if true (preventBGScroll must also be true)
		backspaceClose: true, // Boolean, whether or not to enable backspace/delete button modal closing
		stopVideo: true, // Boolean, if true, stop videos when tab closes
		callbackOpen: function (toggle, modal) { }, // Functions to run after opening a modal
		callbackClose: function (toggle, modal) { } // Functions to run after closing a modal
	});
</script>
