<section class="in-kind-donors mb5">
    <div class="fl w-100 w-90-ns">
      <span class="ma0 f4 f3-ns">{{page.third-tier-header-text | markdownify}}</span>
      <hr class="title-divider">
      <span class="ma0 f5 f4-ns lh-copy">{{page.third-tier-sub-header-text | markdownify}}</span>

      <ul class="list ma0 pa0 mt5">
        {% for posts in site.sponsors %}
          {% if posts.is-third-tier == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
