<section class="in-kind-donors mb5">
    <div class="fl w-100 w-80-ns">
      <h2 class="bbroller text-x-medium m0">
        {{page.third-tier-header-text | markdownify}}
      </h2>
      <hr class="title-divider-blue">
      {{page.third-tier-sub-header-text | markdownify}}
    </div>

      <ul class="list ma0 pa0">
        {% for posts in site.sponsors %}
          {% if posts.is-third-tier == true %}
            {% include partials/sponsors/sponsors-contents.html %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
