<section class="partner-organizations mb5">
  <div class="fl w-100 w-80-ns">
    <h2 class="bbroller text-x-medium m0">
      {{ page.second-tier-header-text | markdownify }}
    </h2>
    <hr class="title-divider-blue">
    {{ page.second-tier-sub-header-text | markdownify }}

    <ul class="list ma0 pl0">
      {% for posts in site.sponsors %}
        {% if posts.is-second-tier == true %}
          {% include partials/sponsors/sponsors-contents.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>
