<section class="sustaining-partners mb5">
  <div class="fl w-100 w-80-ns">
    <h2 class="bbroller ma0">{{ page.first-tier-header-text | markdownify }}</h2>
    <hr class="title-divider-blue">
    <span class="ma0">{{ page.first-tier-sub-header-text | markdownify }}</span>

    <ul class="list ma0 pa0">
      {% for posts in site.sponsors %}
        {% if posts.is-first-tier == true %}
          {% include partials/sponsors/sponsors-contents.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>