<footer id="email-sign-up" class="global-footer white bg-black cover noise relative overflow-hidden gradient-overlay-solid">
    <div class="mw7 center cf pa3 relative" style="z-index: 100;">
      <div class="footer-content">
        {% for content in site.data.footer.holding-site-footer %}
          <span class="bbroller ma0 mb2 f4 f3-ns fw4 lh-copy tc">
            {{ content.header | markdownify }}
          </span>
          <span class="ma0 mb2 f5 f4-ns fw3 lh-copy tc">
            {{ content.text | markdownify }}
          </span>
        {% endfor %}
      </div>
      <div class="mailchimp-form">
        {% include mailchimp/sign-up-form.html %}
      </div>
    </div>
  </div>
  <div class="footer-contact-bar pa3 bg-black cf">
    <div class="fl w-100 w-third-l tc tc-m tl-l relative mt2" style="z-index: 100;">
      <a href="mailto:{{site.footer-contact-email}}" target="_top" class="aiga-email f6 f5-ns white dib dim">
        {{site.footer-contact-email}}
      </a>
    </div>
    <div class="fl w-100 w-third-l tc pv3 pv0-l relative" style="z-index: 100;">
      <ul class="social-icons list ma0 pl0">
        {% for link in site.data.navigation.social-nav %}
          <li class="dib link">
            <a href="{{ link.url }}" class="social-footer-links ph2 dim"><span class="dib v-mid">{{ link.icon }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="fl w-100 w-third-l tc tr-l mt2">
      <p class="aiga-copyright ma0 f6 f5-ns">
        {{site.footer-copyright}}
      </p>
    </div>
  </div>
</footer>