<footer class="site-footer white bg-dcdw-blue">
  <div class="mw7 center cf pa3 relative">
    {% for content in site.data.footer.landing-page-footer %}
    <span class="bbroller ma0 mb2 f4 f3-ns fw4 lh-copy tc">
      {{ content.header | markdownify }}
    </span>
    <span class="ma0 mb2 f5 f4-ns fw3 lh-copy tc">
      {{ content.text | markdownify }}
    </span>
    {% endfor %}
    <div class="mailchimp-form">
      {% include mailchimp/sign-up-form.html %}
    </div>
  </div>

  <!-- social media -->
  <div class="site-footer--social bg-black">
    <div class="">
      <a href="mailto:{{site.footer-contact-email}}" target="_top" class="aiga-email">
        {{site.footer-contact-email}}
      </a>
    </div>
    <div class="">
      <ul class="social-icons list ma0 pl0">
        {% for link in site.data.navigation.social-nav %}
        <li class="dib link">
          <a href="{{ link.url }}" class="social-footer-links ph2 dim"><span class="dib v-mid">{{ link.icon }}</span></a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="">
      <p class="aiga-copyright ma0 f6 f5-ns">
        {{site.footer-copyright}}
      </p>
    </div>
  </div>
</footer>