<div class="fl w-100 w-third-l pa3">
  <a class="border border--cloud shadow shadow-reverse--rose-bud db" href="{{posts.url}}">
    <li class="list-none bg-white">
      <div class="relative">
        <div class="h4 overflow-hidden relative">
          <!-- event sold out -->
          {% if posts.is-sold-out == true %}
          <div class="sold-out absolute top-0 right-0 bottom-0 left-0"></div>
          {% endif %}
          <img src="{{ posts.seo.og-image }}">
        </div>
      </div>

      <!-- event details -->
      <div class="cloud bg-white pa3 flex flex-column">
        <h3>{{ posts.title }}</h3>
        <hr>
        {% if page.url == "/" %}
        <div class="flex items-center mb2">
          <div class="mr2">
            <span>{% include icons/calendar-icon.svg %}</span>
          </div>
          <div class="flex-auto fw4">
            {{ posts.event.date | date: "%A, %B %d"}}
          </div>
        </div>
        {% endif %}
        <div class="flex items-center mb2">
          <div class="mr2">
            <span>{% include icons/time-icon.svg %}</span>
          </div>
          <div class="flex-auto fw4">
            {{ posts.event.start-time }} - {{ posts.event.end-time }}
          </div>
        </div>
        <div class="flex items-center">
          <div class="mr2">
            <span>{% include icons/location-icon.svg %}</span>
          </div>
          <div class="flex-auto fw4">
            {{ posts.event.venue-name }}
          </div>
        </div>
      </div>
    </li>
  </a>
</div>