<li class="card">
            {% if posts.event.is-coming-soon == true or posts.event.is-sold-out == true %}
            <a class="disabled border border--black">
            {% else %}
            <a class="border border--black shadow shadow-reverse--mauve" {% if posts.event.external-url %}href="{{ posts.event.external-url }}" target="_blank" rel="noopener" {% else %} href="{{posts.url}}" {% endif %}>
            {% endif %}
                <div class="card-image">
                    <figure>
                        <img src="{{ posts.image }}" alt="{{ posts.image-alt }}"/>
                    </figure>
                    {% if posts.event.is-coming-soon == true %}
                    <div class="ticker">
                        <p>
                            {{ posts.event.coming-soon-message }}
                        </p>
                    </div>
                    {% endif %}
                    {% if posts.event.is-sold-out == true %}
                    <div class="ticker">
                        <p>
                            {{ posts.event.sold-out-message }}
                        </p>
                    </div>
                    {% endif %}
                </div>
                <div class="card-details">
                    <h3>
                        {{ posts.title }}
                    </h3>
                    <hr/>
                    <p>
                        <i class="fas fa-calendar-day">
                        </i>
                        {{ posts.event.date | date: "%A, %B %d"}}
                    </p>
                    <p>
                        <i class="fas fa-clock">
                        </i>
                        {{ posts.event.start-time }} - {{ posts.event.end-time }}
                    </p>
                    <p>
                        <i class="fas fa-map-marker-alt">
                        </i>
                        {{ posts.event.venue-name }}
                    </p>
                    <hr/>
                    <p>
                        {{ posts.description }}
                    </p>
                </div>
            </a>
        </li>