   {% comment %}
<section class="kickoff-friday relative pb2">
  <div class="container clearfix">
 <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Friday</h1>
    </div>

    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-kickoff-friday == true %}
          {% include partials/events/events-page/kickoff-friday.html %}

              </div>
            </a>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>


<section class="sunday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Sunday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-sunday == true %}
          {% include partials/events/events-page/sunday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="monday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Monday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-monday == true %}
          {% include partials/events/events-page/monday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>


<section class="tuesday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Tuesday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-tuesday == true %}
          {% include partials/events/events-page/tuesday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>


<section class="wednesday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Wednesday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-wednesday == true %}
          {% include partials/events/events-page/wednesday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
    {% endcomment %}

<section class="thursday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Thursday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-thursday == true %}
          {% include partials/events/events-page/thursday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="friday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Friday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-friday == true %}
          {% include partials/events/events-page/friday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="saturday relative pb2">
  <div class="container clearfix">
    <div class="sm-col sm-col-12 md-col-12 lg-col-1 relative xs-hide sm-hide md-hide" style="min-height: 250px;">
      <h1 class="bbroller m0 text-large text-vertical absolute">Saturday</h1>
    </div>
    <div class="event-list-wrapper px3 sm-col sm-col-12 md-col-12 lg-col-11">
      <ul class="">
      {% for posts in site.events %}
        {% if posts.is-saturday == true %}
          {% include partials/events/events-page/saturday.html %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
