<section class="kickoff-friday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l">
      <h2 class="bbroller ma0 text-vertical relative">Friday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
        {% for posts in site.events %}
          {% if posts.is-kickoff-friday == true %}
            {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
            {% else %}
            <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
            {% endif %}
              <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
                {% include partials/events/events-card-contents.html %}
              </li>
            </a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="sunday relative mt5">
  <div class="mw8 center cf pa3">
    
    <div class="fl w-100 w-10-l">
      <h2 class="bbroller ma0 text-vertical relative">Sunday</h2>
    </div>
    <div class="fl w-100 mb4">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-sunday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="monday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-monday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="tuesday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l">
      <h2 class="bbroller ma0 text-vertical relative">Tuesday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-tuesday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="wednesday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l">
      <h2 class="bbroller ma0 text-vertical relative">Wednesday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-wednesday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="thursday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l">
      <h2 class="bbroller ma0 text-vertical relative">Thursday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-thursday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="friday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l relative">
      <h2 class="bbroller ma0 text-vertical relative">Friday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-friday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>

<section class="saturday relative mt5">
  <div class="mw8 center cf pa3">
    <div class="fl w-100 w-10-l relative">
      <h2 class="bbroller ma0 text-vertical relative">Saturday</h2>
    </div>
    <div class="event-list-wrapper fl w-100">
      <ul class="list ma0 pa0 cf" data-right-height>
      {% for posts in site.events %}
        {% if posts.is-saturday == true %}
          {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 w-100 relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% else %}
          <a class="fl w-100 w-50-l relative pa3 link" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-orange">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
