<!-- dcdw agenda filter -->
<div class="dcdw-agenda-filters fl w-100 relative tc dn db-ns">
  <div class="fl w-100 mb3">
    <!-- filter Cctegories -->
    <h6 class="ma0 mb1 f6 fw9 ttu black-40 db">Categories:</h6>
    <ul class="dcdw-agenda-filters ma0 pa0 list db">
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter="*">All</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-1 }}">{{ page.category-1-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-2 }}">{{ page.category-2-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-3 }}">{{ page.category-3-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-4 }}">{{ page.category-4-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-5 }}">{{ page.category-5-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.category-6 }}">{{ page.category-6-label }}</a></li>
    </ul>
  </div>

  <div class="fl w-100">
    <!-- filter days -->
    <h6 class="ma0 mb1 f6 fw9 ttu black-40 db">Days:</h6>
    <ul class="dcdw-agenda-filters ma0 pa0 list db">
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter="*">All</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-1 }}">{{ page.day-1-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-2 }}">{{ page.day-2-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-3 }}">{{ page.day-3-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-4 }}">{{ page.day-4-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-5 }}">{{ page.day-5-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-6 }}">{{ page.day-6-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-7 }}">{{ page.day-7-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-8 }}">{{ page.day-8-label }}</a></li>
      <li class="dib ma0 pa0"><a class="filter-button f7 fw4 link pa1" data-filter=".{{ page.day-9 }}">{{ page.day-9-label }}</a></li>
    </ul>
  </div>
</div>

<!-- dcdw agenda list -->
<div class="dcdw-agenda-list fl w-100 relative mt5">
  <!-- event message -->
  <div id="dcdw-agenda-empty" style="display:none; padding: 4em; text-align: center;">
    There are no events matching these filters
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-1-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-kickoff-friday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-1 }} {% if posts.category contains 'members-first' %} {% else %} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-1 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

<!-- adding saturday to line up dates  -->

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-2-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-kickoff-saturday == true %}
      <ul class="dcdw-event-list ma0 pa0 list">
        {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-2 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
        {% else %}
          <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-2 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
        {% endif %}
          <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
            {% include partials/events/events-card-contents.html %}
          </li>
        </a>
      </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-3-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-sunday == true %}
      <ul class="dcdw-event-list ma0 pa0 list">
        {% if posts.is-featured-on-events-page == true %}
          <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-3 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
        {% else %}
          <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-3 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
        {% endif %}
          <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
            {% include partials/events/events-card-contents.html %}
          </li>
        </a>
      </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-4-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-monday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-4 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-4 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-5-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-tuesday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-5 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-5 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-6-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-wednesday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-6 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-6 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-7-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-thursday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-7 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-7 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-8-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-friday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-8 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-8 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

  <div class="day fl w-100 mb3">
    <h2 class="dcdw-event-day pa0 pa3-ns mb3 mb0-ns ma0 f4 f2-ns fw9">{{ page.day-9-label }}</h2>
    {% for posts in site.events %}
      {% if posts.is-saturday == true %}
        <ul class="dcdw-event-list ma0 pa0 list">
          {% if posts.is-featured-on-events-page == true %}
            <a class="fl w-100 relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-9 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% else %}
            <a class="fl w-100 w-third-l relative pa0 pa3-ns mb3 mb0-ns link dcdw-event {{ page.day-9 }} {% if posts.category contains 'members-first' %} {% else %} {{ posts.category }} {% endif %}" href="{{posts.url}}" data-right-height-content>
          {% endif %}
            <li class="event-card ma0 pa0 ba bw2 dcdw-blue bg-white">
              {% include partials/events/events-card-contents.html %}
            </li>
          </a>
        </ul>
      {% endif %}
    {% endfor %}
  </div>

<!-- filter script -->
<script type="text/javascript">
  var filterAgenda = function () {
    // Show all days
    $('.day').show();

    // Show all events
    var events = $('.dcdw-event').show();

    // For every filter groupd, we want to hide events
    // not matching one of the selected filter values
    $('ul.dcdw-agenda-filters').each(function () {
      var filter = $(this).find('.is-checked')
        .map(function () {
          return $(this).data('filter');
        })
        .toArray()
        .join(',');
      if (filter != '') events.not(filter).hide();
    });

    // Hide any days that have no visible events
    $('.day').each(function () {
      if ($(this).find('.dcdw-event:visible').length == 0) $(this).hide();
    });

    $('#dcdw-agenda-empty').hide();
    if ($('.day:visible').length == 0) $('#dcdw-agenda-empty').show();
  };

  $('ul.dcdw-agenda-filters').on('click', 'a', function (event) {
    event.preventDefault();

    $(this).toggleClass('is-checked');

    // reset the filter for this group when clicking 'All'
    if ($(this).data('filter') == '*') {
      $(this).closest('ul').find('.is-checked').removeClass('is-checked');
    }

    filterAgenda();
  });
</script>
