/* Mailchimp */
#mc_embed_signup input {
  border: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#mce-responses {
  width: 100% !important;
  margin: 0 !important;
}

#mce-success-response {
  text-align: center;
  color: #ffffff !important;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400 !important;
  line-height: 1.6 !important;
  padding: 2em !important;
  margin: 0 !important;
  width: 100% !important;
  background-color: #3E07D0 !important;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #ffae84 !important;
}

#mc_embed_signup .button {
  background-color: #3E07D0 !important;
  border-radius: 0 !important;
  font-family: $bbroller !important;
  margin: 0 !important;
  height: 64px !important;
  padding: 0 64px !important;
}