$white: #fff;
$black: #000;
$charcoal: #5a5a5a;
$mauve: #c396ff;
$crusta: #fd813f;
$hot-pink: #fb7eb8;
$lightning-yellow: #f2c22e;
$aquamarine: #65ecb1;
$mauve-light: rgba($mauve, 0.15);
$crusta-light: rgba($crusta, 0.15);
$hot-pink-light: rgba($hot-pink, 0.15);
$lightning-yellow-light: rgba($lightning-yellow, 0.15);
$aquamarine-light: rgba($aquamarine, 0.15);
