$spacing-96: 6rem; // 96px
$spacing-64: 4rem; // 64px
$spacing-48: 3rem; // 48px
$spacing-40: 2.5rem; // 40px
$spacing-32: 2rem; // 32px
$spacing-24: 1.5rem; // 24px
$spacing-16: 1.25rem; // 20px
$spacing-8: 0.5rem; // 8px
$spacing-4: 0.25rem; // 4px
