@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700");
@font-face {
	font-family: "House Slant";
	src: url("/assets/styles/fonts/HouseSlant.eot");
	src: url("/assets/styles/fonts/HouseSlant.eot?#iefix")
			format("embedded-opentype"),
		url("/assets/styles/fonts/HouseSlant.woff") format("woff");
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
}
$sans: "Work Sans", sans-serif;
$script: "House Slant", script;
$font-size-64: 4rem; // 64px
$font-size-56: 3.5rem; // 56px
$font-size-48: 3rem; // 48px
$font-size-40: 2.5rem; // 40px
$font-size-32: 2rem; // 32px
$font-size-24: 1.5rem; // 24px
$font-size-20: 1.25rem; // 20px
$font-size-16: 1rem; // 16px
$font-size-14: 0.875rem; // 14px
$font-size-12: 0.75rem; // 12px
$font-size-10: 0.625rem; // 10px
